<form #referralForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center" style="text-transform: none;">How did you hear about us?</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6'>
              <div class="row">
                 <div class='col-xs-12 col-sm-12'>
                   <div class="form-group">
                        <label class="control-label" for="cname">Referral  Source</label>
                        <select  #refTypeId="ngModel"  (change)="setOtherDetail(Refral.refTypeId)" required [(ngModel)]="Refral.refTypeId" (change)="referralChange()" id="refTypeId" name="refTypeId" >
                          <option value="">Select Source</option>
                          <option *ngFor="let r of referralData;" value="{{r.ReferralTypeId}}">{{r.ReferralType}}</option>
                          <!-- <option value="2">TV</option>
                          <option value="1">News Paper</option>
                          <option value="1">Other</option> -->
                        </select>
                        <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required and must be valid</div> -->
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '1'">
                    <div class="form-group">
                         <label class="control-label" for="cname">Select Broker</label>
                         <select  #refBrokerId="ngModel" [(ngModel)]="Refral.refBrokerId" id="refBrokerId" name="refBrokerId" >
                           <option value="">Select Borker</option>
                           <option *ngFor="let b of borkers;" value="{{b.BrokerId}}">{{b.Name}}</option>
                           <option value="-1">Other</option>
                         </select>
                     </div>
                   </div>
                   <div class='col-xs-12 col-sm-6' *ngIf="Refral.refBrokerId == '-1' && Refral.refTypeId == '1'">
                       <div class="form-group">
                          <label class="control-label" for="cname">First Name</label>
                          <input class="form-control input-md" #refFName="ngModel"  [(ngModel)]="Refral.refFName" id="refFName" name="refFName" type="text" placeholder="First Name">
                        </div>
                    </div>

                    <div class='col-xs-12 col-sm-6' *ngIf="Refral.refBrokerId == '-1' && Refral.refTypeId == '1'">
                        <div class="form-group">
                           <label class="control-label" for="cname">Last Name</label>
                           <input class="form-control input-md" #refLName="ngModel"  [(ngModel)]="Refral.refLName" id="refLName" name="refLName" type="text" placeholder="Last Name">
                         </div>
                     </div>



                    <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '5'">
                      <div class="form-group">
                           <label class="control-label" for="cname">Select Social Media</label>
                           <select  #refSocialMedia="ngModel" (change)="setOtherDetail(Refral.refSocialMedia)" [(ngModel)]="Refral.refSocialMedia" id="refSocialMedia" name="refSocialMedia" >
                              <option value="">Select Media</option>
                               <option value="LinkedIn">LinkedIn</option>
                               <option value="Facebook">Facebook</option>
                               <option value="Instagram"> Instagram</option>
                               <option value="Twitter">Twitter</option>
                               <option value="Snapchat">Snapchat</option>
                               <option value="other">Other</option>
                           </select>
                           <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required and must be valid</div> -->
                       </div>
                     </div>
                     <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '4'">
                       <div class="form-group">
                          <label class="control-label">Select Newspaper </label>
                          <select  #refNewsPaper="ngModel" (change)="setOtherDetail(Refral.refNewsPaper)"  [(ngModel)]="Refral.refNewsPaper" id="refNewsPaper" name="refNewsPaper" >
                            <option value="">Select Newspaper</option>
                            <option value="The Globe and Mail"> The Globe and Mail</option>
                            <option value="Toronto Star"> Toronto Star</option>
                            <option value="The Wall Street Journal">The Wall Street Journal</option>
                            <option value="Financial Post">Financial Post</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                    </div>

                    <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '3'">
                        <div class="form-group">
                           <label class="control-label" for="cname">Select TV</label>
                           <select  #refTV="ngModel" (change)="setOtherDetail(Refral.refTV)" [(ngModel)]="Refral.refTV" id="refTV" name="refTV" >
                             <option value="">Select TV</option>
                             <option value="ET Now"> ET Now</option>
                             <option value="Fox Business Network">Fox Business Network</option>
                             <option value="Sky Business News">Sky Business News</option>
                             <option value="CP24">CP24</option>
                             <option value="other">Other</option>
                           </select>
                         </div>
                     </div>
                     <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '2'">
                       <div class="form-group">
                            <label class="control-label" for="cname">Select Radio</label>
                            <select  #refRadio="ngModel" (change)="setOtherDetail(Refral.refRadio)"  [(ngModel)]="Refral.refRadio" id="refRadio" name="refRadio" >
                              <option value=""> Select Radio</option>
                              <option value="98.7 FM"> 98.7 FM</option>
                              <option value="680 AM">680 AM</option>
                              <option value="530 AM"> 530 AM</option>
                              <option value="92.9 FM"> 92.9 FM</option>
                              <option value="other">Other</option>
                            </select>
                            <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required and must be valid</div> -->
                        </div>
                      </div>
                      <!-- *ngIf="Refral.refTypeId == '6' || Refral.refNewsPaper == 'other' || Refral.refTV == 'other' || Refral.refSocialMedia == 'other' || Refral.refRadio == 'other'" -->
                    <div class='col-xs-12 col-sm-12' *ngIf="isOtherDetail == true">
                        <div class="form-group">
                           <label class="control-label" for="cname">Other Detail</label>
                           <input class="form-control input-md" #refName="ngModel"  [(ngModel)]="Refral.refName" id="refName" name="refName" type="text" placeholder="Enter other detail">
                         </div>
                     </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-outline-rounded default-theme-previous" type="button" (click)="goToPrevious(referralForm)"> <span style="margin-right:10px;" class="fa fa-angle-left"></span> Previous</button>
                    <!-- <button class="btn btn-outline-rounded default-theme-next" type="button"(click)="goToNext(referralForm)"> Next <span style="margin-left:10px;" class="fa fa-angle-right"></span></button> -->

                    <button *ngIf="!isLoading" class="btn btn-outline-rounded default-theme-next" [disabled]="!referralForm.valid" (click)="goToNext(referralForm)">
                       Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
                     </button>
                    <button *ngIf="isLoading" class="btn btn-outline-rounded default-theme-next" type="button">
                      <span class="">Please wait</span>
                      <span aria-hidden="true">
                         <span class="button-loading">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                            <div class="bounce3"></div>
                            <div class="bounce3"></div>
                         </span>
                      </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
