

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <h1 class="profile__h1">
                          List of My Referral
                      </h1>
                  </div>
                </div>
              <div>
                <div class="panel panel-default">
                   <div class="transactions__tab pending-tab">
                     <a id="upcoming_trns" class="transactions__tab__heading">

                      </a>
                      <div class="table-responsive">
                        <table class="table" >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Company Name</th>
                                <th>Industry Type</th>
                                <th># of Employees</th>
                                <th>Contact Name</th>
                                <th>Email Address</th>
                                <th>Phone #</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of referralData; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{data.CompanyName}}</td>
                                <td>{{data.Industry}}</td>
                                <td>{{data.NoOfEmployees}}</td>
                                <td>{{data.ContactName}}</td>
                                <td>{{data.EmailAddress}}</td>
                                <td>{{data.Phone}}</td>
                                <td>
                                  <span *ngIf="data.Status == 0" class="text-danger">Pending </span>
                                  <span *ngIf="data.Status == 1" class="text-info">Confirmed</span>
                                  <span *ngIf="data.Status == 2" class="text-success">Completed</span>
                                </td>
                                <td>
                                  <button class="btn btn-sm btn-primary" (click)="viewTimeSlots(data)">Meeting Slots</button>
                                </td>
                              </tr>
                              <tr *ngIf="referralData.length < 1">
                                  <td colspan="9">No record found</td>
                              </tr>
                            </tbody>
                         </table>
                     </div>
                   </div>
                 </div>
              </div>
            </div>

          </div>
        </div>
   </div>
 </main>





  <div class="modal animated slideInDown"  [style.display]="isViewReferralModal ? 'block' : 'none'">
     <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="isViewReferralModal = false;">&times;</button>
              <span class="modal-title">Referral Meeting Date & Time Slots</span>
           </div>
           <div class="modal-body" style="height:300px; overflow:auto">
             <div class="popup table-responsive">
                <table class="table">
                 <th>#</th>
                 <th>Date & Time</th>
                 <th>Location</th>
                 <th>Attending</th>
                 <th>Confirmed</th>
                 <th>Notes</th>
                 <tbody>
                  <tr *ngFor="let item of referralDetail; let i=index">
                     <!-- <td class="right"><strong>State Date and Time</strong></td> -->
                     <td>{{i+1}}</td>
                     <td class="left" id="date">{{item.PreferredDateTime}}</td>
                     <td>{{item.Location}}</td>
                     <td>{{item.Attendents}}</td>
                     <td>{{item.IsFinal == false ?'No':'Yes'}}</td>
                     <td>{{item.Notes}}</td>
                   </tr>
                   <!-- <tr>
                   <td class="right"><strong>Claimed Amount</strong></td>
                   <td class="left" id="s_name">${{referralDetail.ClaimAmt | number:'2.2'}}</td>
                   </tr> -->
                 </tbody>
                 </table>
             </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="isViewReferralModal = false;" data-dismiss="modal">Close</button>
           </div>
        </div>
     </div>
  </div>
