
<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-12">
                      <h1 class="profile__h1 border--bottom">
                          e-Statement <!-- MESSAGE: Settings -->
                      </h1>

                        To view your eStatement, select a year and month. (PDF Format)

                      <form novalidate=""autocomplete="off" name="eStatement">


                        <div class="eStatements-records__container--form eStatements-records__form--padding">


                          <div class="dropdown dash-form__select--grey horizontal-left-col eStatements-records__dropdown">
                            <label class="records-dropdown__label black-grey text--bold">
                                YEAR
                            </label>
                              <select id="eStatementsYears"  class="" [(ngModel)]="year" name="year" (change)="getyearMonth()">
                                <option *ngFor="let y of yearArr" value="{{y.year}}">{{y.year}}</option>
                              </select>
                          </div>

                            <div class="dropdown dash-form__select--grey horizontal-left-col eStatements-records__dropdown">
                              <label class="records-dropdown__label black-grey text--bold">
                                  MONTH
                              </label>
                               <select id="eStatementsMonths" class="" [(ngModel)]="month" name="month">
                                 <option value="">Select Month</option>
                                 <option *ngFor="let m of yearMonths;" value="{{m.value}}"> {{m.name}} </option>
                                 <!-- <option value='1'>Janaury</option>
                                 <option value='2'>February</option>
                                 <option value='3'>March</option>
                                 <option value='4'>April</option>
                                 <option value='5'>May</option>
                                 <option value='6'>June</option>
                                 <option value='7'>July</option>
                                 <option value='8'>August</option>
                                 <option value='9'>September</option>
                                 <option value='10'>October</option>
                                 <option value='11'>November</option>
                                 <option value='12'>December</option> -->
                               </select>
                            </div>
                          <div class="vertical-bottom-row eStatements-records__container--button">
                              <button type="button" class="dash-button dash-button--affirm eStatements-records__button" (click)="downLoadEstatement()">
                                <span loading="eStatementRecordsCtrl.buttonLoading" default-text="View" loading-text="Loading" class="ng-isolate-scope">
                                    <span *ngIf="!loading" class="ng-binding" aria-hidden="false">View</span>
                                    <span *ngIf="loading" class="ng-binding ng-hide" aria-hidden="true">Loading</span>
                                   <span *ngIf="loading" aria-hidden="true" class="ng-hide"><span class="button-loading">
                                    <div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></span></span></span>
                              </button>
                          </div>
                      </div>
                  </form>
                    <p class="body-copy--medium  ng-scope" style="display:inline;margin-top:1rem;margin-bottom:1rem;">
                        <img src="//canadiantire.scene7.com/is/image/CanadianTire/adobe_reader_icon?qlt=100&amp;scl=1" alt="">
                          If you are having trouble viewing the PDFs, you can
                           <a href="https://get.adobe.com/uk/reader/otherversions/" target="_blank" title="Opens a new window">download Adobe Reader</a> from Adobe free of charge.
                           <!-- <br><br>Statements are also available in <a href="/content/dash/en/private/Accessibility1.html" target="_blank" title="Opens a new window" alt="estatements accessibility help page">alternate accessible formats</a>. You can call customer service at 1-800-459-6415 to request an alternate accessible statement format. -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>

    <div class="modal fade" style="padding-bottom:30px" class="modal" tabindex="-1" role="dialog"  tabindex="-1" role="dialog" style="display: block; background-color: rgba(99, 94, 94, 0.4)" [style.display]="pdfModal ? 'block' : 'none'" *ngIf="pdfModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content" >
            <div class="modal-header" style="background-color:#c8c0b1">
              <button type="button" class="close" data-dismiss="modal" (click)="pdfModal = false">&times;</button>
              <h4 class="modal-title">e-Statement for {{month}}/{{year}}</h4>
            </div>
            <div class="modal-body">
    					<iframe [src]="pdfSource" width="100%" height="450"></iframe>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="pdfModal = false">Close</button>
            </div> -->
          </div>

        </div>
    </div>
