
<main role="main" id="content">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                      <h1 class="profile__h1 border--bottom">
                        FAQ's
                      </h1>
                  </div>
                </div>

                <div class="row row-40">
                   <div class="col-sm-6 col-lg-6">

                     <ul class="list-xl wow fadeIn">
                       <li>
                         <h5>What is an eFlex Spending Account?</h5>
                         <p class="text-gray-600">eFlex is Canada’s most-flexible Health Spending Account. It’s a fund dedicated to health and wellness
        spending. It is CRA-recognized and 100% tax-deductible.</p>
                       </li>


                       <li>
                         <h5>I already have benefits can I still get an eFlex Spending Account?</h5>
                         <p class="text-gray-600">Sure can! eFlex is a great compliment to existing benefits. If your plan only covers a portion of your
        expenses you can use eFlex to cover the rest—saving money in the process.</p>
                       </li>

                       <li>
                         <h5>What can I pay for with my eFlex Account?</h5>
                         <p class="text-gray-600">Anything related to your health and well being. However, some products & services receive different treatment from the CRA and may not be accepted as tax-deductible expenses.
                           <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/lines-330-331-eligible-medical-expenses-you-claim-on-your-tax-return.html" target="_blank" style="color: #666869; font-weight: bold; text-decoration:underline"> Click here for a complete list of accepted services.</a></p>
                       </li>
                       <li>
                         <h5>Where can I use my eFlex card?</h5>
                         <p class="text-gray-600">You can use your card online, via phone, or in-person wherever Mastercard® is accepted.</p>
                       </li>

                     </ul>
                   </div>
                   <div class="col-sm-6 col-lg-6"  style="z-index: 999">

                     <ul class="list-xl wow fadeIn">
                       <li>
                         <h5>How do I save money with eFlex and what do you mean it’s tax deductible?</h5>
                         <p class="text-gray-600">Healthcare costs are eligible business expense, so you can use pre-tax dollars to fund your eFlex
        accounts and your savings are equal to the income tax you would have paid on those funds.</p>
                       </li>


                       <li>
                         <h5>Do I have to use the eFlex card, or can I still pay out-of-pocket and submit claims later?</h5>
                         <p class="text-gray-600">You have the option to submit claims after you pay for expenses yourself. Simply visit our online portal or open your smartphone app and take a picture of your receipt. Reimbursement typically occurs within 5 business days. </p>
                       </li>

                       <li>
                         <h5>What are the taxes and fees?</h5>
                         <p class="text-gray-600">There is a 10% administration fee on contributions, a 2% Provincial Premium Tax on admin fees &amp;
contributions, and an 8% Provincial Retail Sales tax on contributions. (These fees are applicable in
Ontario. Rates may vary across Canada).</p>
                       </li>
                     </ul>

                   </div>
                </div>
              </div>
            </div>
        </div>

    </main>
