<header class="header">
   <nav class="navbar navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" (click)="isMobileMenu = !isMobileMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="mobile-employer-header-buttons" class="headerButtonsColMobile hidden-md hidden-lg">
              <!-- <a class="openButton button standard-tertiary-blue employerX mobile-open">Open an Account</a> -->
               <!-- <a class="openButton button standard-tertiary-blue employerX" routerLink="/register">SignUp</a> -->
               <a class="loginButton button button-green" routerLink="/login">
              Account Login
               </a>
            </div>

            <div class="logoCol col-xs-4 col-sm-6 col-md-12">
               <a routerLink="/"><img class="logo" src="assets/images/logo.png" alt="Eflex"></a>
            </div>
         </div>
         <div class="collapse navbar-collapse js-navbar-collapse" [ngClass]="isMobileMenu == true ? 'in' : ''">
            <ul class="primaryNav nav navbar-nav col-lg-6">

                <li class="primaryNavItem" id="primaryNavItem-contact" routerLinkActive="active">
                    <a href="javascript:void(0)" class="" aria-expanded="false" routerLink="/faqs" tabindex="0">FAQ's</a>
                </li>
            </ul>
             <div id="default-header-buttons" class="headerButtonsCol col-xs-8 col-sm-7 col-lg-4 hidden-sm hidden-xs" style="display: block; position: relative; right: 0px; top:-8px;">

                 <a class="loginButton button" routerLink="/login">
                    Account Login
                 </a>
                 <a style="margin-left:10px" class="signupButton button"  routerLink="/register">
                   <span class="blinking-1">Open an Account</span>
                 </a>
               </div>
         </div>
      </div>
   </nav>
</header>
