
.custom-title{
	text-align: center;
}

@media (min-width: 1200px){
	.swiper-slider-1 .swiper-slide {
	    min-height: 500px !important;
	}
}

.footer-1 {
	background: #2b3e50;
	background: url('/assets/images/home/eflex-foter-image.jpg');
}
.bg-primary-dark .button-primary:before, .context-dark .button-primary:before, .footer-1 .button-primary:before {
	  background-color: #fa9619 !important;
}
.button-primary:before {
    color: #fff;
    background-color: #fa9619;
}
.progress-bar-circle{
		width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}
.bg-primary-dark, .section-negative {
    background-color: #2b3e50;
}
.footer-1 {
  padding:15px !important;
}
.footer-1 .rights {
  margin-top: 5px !important;
  color: #fff;
}
ul li{
	cursor: pointer;
}















@media only screen and (min-width: 769px) {
.login-footer .footer__content {

}
.login-footer.footer {

}
}
@media only screen and (max-width: 767px) {
.login-footer .footer__content {
padding-right: ;
padding-left: ;
}
.login-footer.footer {
padding-top: ;
padding-bottom: ;
}
}
.footer__section--ctfs:before {
/* background-image: url('/assets/images/logo.png'); */
height: 40px;
/* width: 124px; */
}
.footer__content {
/* background-image: url('/assets/images/logo.png'); */
/* height: 100%; */

}
@media (min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
.footer__section--ctfs:before {
/* background-image: url('https://canadiantire.scene7.com/is/image/CanadianTire/CTB_Logo_Horizontal_ColourWhite_EN2x?scl=1&fmt=png-alpha'); */
}
.footer__content {
/* background-image: url('https://canadiantire.scene7.com/is/image/CanadianTire/footer_triangle_graphic_en2x?fmt=png-alpha&scl=1'); */
}
}

.footer__content{
  background-color: #2c3e50;
  color: #fff;
  font-weight: bold;
}
.footer__sub-nav{
  text-align: right !important;
}

.footer__sub-nav__link{
  font-size: 16px;

}
small {
    font-size: 16px;
    font-weight: 600;
  }
  .footer__section {
      max-width: 100%;
    }
.bottom-line{
	border-bottom: 1px solid #314B62;
	width: 100%;
	float: left;
	padding-bottom: 35px;
	padding-top: 35px;
}
.bottom-line-2{
	width: 100%;
	float: left;
	padding-bottom: 35px;
	padding-top: 40px;
}
.footer-1 p, li{
	font-size: 14px; color: #e9e9e9;
}
.title{
	font-weight: 400
}
.contact-box div, a{
		font-size: 14px; color: #e9e9e9;
}
.button-lg {
     padding: 15px 25px 15px 25px;
     font-size: 16px;

	}
  .modal-header .close {
    margin-top: -5px;
  }
