
<footer class="section footer-1">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="bottom-line">
        <div class="col-md-6 col-lg-6">
          <p style="text-align:justify; font-size: 16px; color: #e9e9e9;">
          eclipse EIO empowers Canadian business owners to optimize the investments they make in their people.
          eFlex is just one of the many ways we can help you build a more productive and profitable business.
          For more on how (and why) we do it visit <a href="https://eclipseeio.com/about-us/" target="_blank"> eclipseEIO.com</a>
          </p>
        </div>
        <div class="col-md-6 col-lg-6 text-center">
          <button class="button button-lg button-primary" type="bhtton" routerLink="/register">Open an Account</button>
        </div>
      </div>

      <div class="bottom-line-2">
        <div class="col-md-6 col-lg-3">
          <a class="footer-logo" style="margin-top:0px !important" routerLink="/join-us">
            <img src="assets/images/home/logo2.png"/>
           </a>
           <p class="rights"><span>&nbsp;</span><span>All rights reserved</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
           <br>
           <span id="siteseal"></span>
        </div>
        <div class="col-md-6 col-lg-2 col-lg-offset-1">
          <h5 class="title">Privacy</h5>
         <ul>
             <li (click)="openTermCondition()">Term & Condition</li>
             <li (click)="openPrivacy()">Legal & Privacy</li>
          </ul>

          <br>
          <h5 class="title">Resources</h5>
          <ul>
              <li routerLink="/login">Employee Login</li>
              <li routerLink="/broker-login">Broker Login</li>
           </ul>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="container-custom-2">
              <h5  class="title">Contact Information</h5>
              <ul class="contact-box">
                <li>
                  <div class="unit unit-horizontal unit-spacing-xxs">
                    <div class="unit-body">644 MillWay Ave. Unit 12B
                     <br class="veil reveal-lg-inline">Vaughan, ON L4K4H</div>
                  </div>
                </li>
                <li>
                  <div class="unit unit-horizontal unit-spacing-xxs">
                    <div class="unit-body">
                      <a class="hover-light-text" href="tel:1-855-440-3993">1-855-440-3993 </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="unit unit-horizontal unit-spacing-xxs">
                    <div class="unit-body">
                      <a class="hover-light-text">eFlex@eclipseeio.com</a>
                    </div>
                  </div>
                </li>
              </ul>
              <img src="assets/images/eclipse-logo.png" width="145" height="39"/>
            </div>
        </div>
        <div class="col-md-10 col-lg-3">
          <h5 class="title">Get In Touch With eFlex</h5>
          <!-- RD Mailform-->
          <form class="rd-form rd-mailform" [formGroup]="contactForm">
            <div class="form-wrap">
              <input class="form-input"  formControlName="name" id="contact-name-footer" type="text" name="name" placeholder="Your Name">
            </div>
            <div class="form-wrap">
              <input class="form-input" id="contact-email-footer" formControlName="email"  type="email" placeholder="Email Address" name="email">
            </div>
            <div class="form-wrap">
              <textarea class="form-input" style="height:90px;"formControlName="message" maxlength="150"  id="contact-message-footer" placeholder="Enter message here" name="message"></textarea>
            </div>
            <button *ngIf="!isLoading" [disabled]="!contactForm.valid" (click)="saveGetInTuch()" class="button button-lg button-primary" type="bhtton">Send Message</button>
            <button *ngIf="isLoading" class="button button-lg button-primary" type="bhtton">Sending...</button>
          </form>
        </div>
      </div>
    </div>
    </div>
</footer>


<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="privacy ? 'block' : 'none'" >
  <div class="modal-dialog" style="top:10%">
       <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="privacy = false;">&times;</button>
           <span class="modal-title">Legal &amp; Privacy</span>
        </div>
        <div class="modal-body">
             <form class="forgot-your-password__form" style="font-size: 18px;">
                 <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em; text-align:justify">

                   Your privacy is important to us. It is eFlex's policy to respect your privacy regarding any information we may collect from you across our website, <a href="https://eflex.app" target="_blank" style="font-size: 20px;color: #fa9619;"> https://eFlex.app</a>, and other sites we own and operate.
                   We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
                   We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.
                   We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
                   <br>
                   <br>
                   Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
                   You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
                   Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
                   This policy is effective as of 1 January 2019.

              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="privacy = false;">Close</button>
        </div>
     </div>
  </div>
</div>


<div class="modal animated slideInDown" tabindex="-1"  [style.display]="term_conditions ? 'block' : 'none'" >
  <div class="modal-dialog" style="top:10%">
       <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="term_conditions = false;">&times;</button>
           <span class="modal-title">Term & Conditions</span>
        </div>
        <div class="modal-body">
           <form class="forgot-your-password__form" style="font-size: 18px;">
                 <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                   sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="term_conditions = false;">Close</button>
        </div>
     </div>
  </div>
</div>
