<form #personalForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active" style="min-height:500px">
          <div class='account-info'>
              <h3 class="head text-center account-part-head">Account Information</h3>
            <div class='col-xs-12 col-sm-offset-1 col-sm-10'>
                <h4 style="border-bottom: 2px solid #2b3e50; color: #000; font-size: 21px;"> Create Profile</h4>
                <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                   <div class="form-group">
                        <label class="control-label" for="cname">Legal Name of Company</label>
                        <input class="form-control input-md" #companyName="ngModel" required id="c_name" name="companyName" type="text" placeholder="Legal Name of Company" [(ngModel)]="personal.companyName">
                        <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required</div> -->
                    </div>
                  </div>
                    <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                           <label class="control-label" for="cname">Company Code</label>
                           <input class="form-control input-md" [disabled]="codeDisable" #companyCode="ngModel" (focusout)="validate($event)" id="companyCode" name="companyCode" type="text" placeholder="What is the code of your company" [(ngModel)]="personal.companyCode">

                       </div>
                     </div>
                </div>
                <div class="row">
                      <div class='col-xs-12 col-sm-6'>
                       <div class="form-group">
                           <label class="control-label" for="Company Email">Owner/Admin Email</label>
                           <input class="form-control input-md"
                           [readonly]="disabledFields" #email="ngModel" required
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"id="email"
                           name="email" type="text" placeholder="Owner/Admin Email"
                            [(ngModel)]="address.email">
                           <!-- <div class="alert alert-danger" [hidden]="email.valid">Company email is required</div> -->
                       </div>
                      </div>
                      <div class='col-xs-12 col-sm-6'>
                       <div class="form-group">
                           <label class="control-label" for="Company Email">Confirm Owner/Admin Email</label>
                           <input class="form-control input-md"
                           [readonly]="disabledFields" #confirm_email="ngModel" required
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"id="confirm_email"
                           name="email" type="text" placeholder="Confirm Owner/Admin Email"
                            [(ngModel)]="address.confirm_email">
                           <!-- <div class="alert alert-danger" [hidden]="email.valid">Company email is required</div> -->
                       </div>
                      </div>

                 </div>

                 <div class="row">
                   <div class='col-xs-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label" for="street">Owner/Admin Phone</label>
                          <input class="form-control input-md"  #phone="ngModel" maxlength="10" minlength="10" (keypress)="_keyPress($event)" required id="phone" name="phone" type="text" placeholder="Owner/Admin Phone" [(ngModel)]="address.phone">
                          <!-- <div class="alert alert-danger" [hidden]="phone.valid">Company phone is required</div> -->
                      </div>
                  </div>
                </div>

                 <div class="row">
                <div class='col-xs-12 col-sm-6'>
                   <div class="form-group">
                       <label class="control-label" for="firstName">Owner First Name</label>
                       <input class="form-control input-md" #firstName="ngModel"
                       required id="firstName" name="firstName" type="text" placeholder="First Name"
                        [(ngModel)]="address.firstName">
                       <!-- <div class="alert alert-danger" [hidden]="firstName.valid">First name is required</div> -->
                   </div>
                 </div>
                  <div class='col-xs-12 col-sm-6'>
                     <div class="form-group">
                         <label class="control-label" for="street">Owner Last Name</label>
                         <input class="form-control input-md" #lastName="ngModel"
                         required id="lastName" name="lastName" type="text" placeholder="Last Name"
                          [(ngModel)]="address.lastName">
                         <!-- <div class="alert alert-danger" [hidden]="lastName.valid">Last name is required</div> -->
                     </div>
                 </div>
               </div>
               <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="cname">Address</label>
                          <input class="form-control input-md" #companyAddress="ngModel" required id="companyAddress" name="companyAddress"  placeholder="Address" [(ngModel)]="personal.companyAddress"/>
                          <!-- <div class="alert alert-danger" [hidden]="address.valid">Address is required</div> -->
                      </div>
                   </div>
                   <div class='col-xs-12 col-sm-6'>
                     <div class="form-group">
                         <label class="control-label" for="cname">City</label>
                         <input class="form-control input-md" #city="ngModel" required id="city" name="city" type="text" placeholder="City" [(ngModel)]="personal.city">
                         <!-- <div class="alert alert-danger" [hidden]="city.valid">City name is required</div> -->
                     </div>
                    </div>
               </div>

               <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                   <div class="form-group">
                       <label class="control-label" for="cname">Province</label>
                       <select  #state="ngModel" id="state" [disabled]="disabledFields"  required  name="state" type="text" placeholder="Province" [(ngModel)]="personal.state" class="select-chosen" data-placeholder="Choose a Country..." >
                             <option value="">Choose a Province...</option>
                             <option *ngFor="let p of provienceData; trackBy:trackByFun" value="{{p.ProvinceId}}">{{p.Title}}</option>
                       </select>
                       <!-- <div class="alert alert-danger" [hidden]="state.valid">Province is required</div> -->
                     </div>
                   </div>

                   <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="zip">Postal Code</label>
                        <input class="form-control input-md" #zip="ngModel"  id="zip" required name="zip" type="text" placeholder="Postal Code" [(ngModel)]="personal.zip">
                        <!-- <div class="alert alert-danger" [hidden]="zip.valid">Postal code is required</div> -->
                      </div>
                    </div>
               </div>

                 <div class="row">
                   <div class='col-xs-12 col-sm-12'>
                      <div class="form-group">
                          <label class="control-label" for="street">Desired Username</label>
                          <div class="input-group" required>
                            <input class="form-control input-md" required #loginEmail="ngModel"
                               id="loginEmail" name="loginEmail" type="text" placeholder="User name"
                           [(ngModel)]="address.loginEmail">
                         </div>
                          <!-- <div class="alert alert-danger" [hidden]="loginEmail.valid">User name is required</div> -->
                      </div>
                    </div>
                </div>

                <h4 style="border-bottom: 2px solid #2b3e50; color: #000; font-size: 21px;"> Business Structure</h4>
                <div class='row'>
                    <div class='col-md-6'>
                          <h3 class="panel-heading custom-radio-box">What type of business is this?<span style="color:red">*</span> </h3>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" #business="ngModel" required name="businessType" (change)="businessChange('Sole Propreitorship')" [(ngModel)]="businessType" value="Sole Propreitorship">
                                    Sole Proprietorship
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" #business="ngModel" required name="businessType" (change)="businessChange('Corporation')" [(ngModel)]="businessType" value="Corporation">
                                    Corporation
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6' *ngIf="businessType == 'Corporation'">
                          <h3 class="panel-heading custom-radio-box">What type of plan is required? ?<span style="color:red">*</span></h3>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Personal">
                                    Personal
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Group">
                                    Group
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 style="border-bottom: 2px solid #2b3e50; color: #000; font-size: 21px;">Referral Source (Optional)</h4>
                 <div class="row">
                <div class='col-xs-12 col-sm-12'>
                 <div class="form-group">
                      <label class="control-label" for="cname">Referral  Source</label>
                      <select  #refTypeId="ngModel"  (change)="setOtherDetail(Refral.refTypeId)" [(ngModel)]="Refral.refTypeId" (change)="referralChange()" id="refTypeId" name="refTypeId" >
                        <option value="">Select Source</option>
                        <option *ngFor="let r of referralData;" value="{{r.ReferralTypeId}}">{{r.ReferralType}}</option>
                        <!-- <option value="2">TV</option>
                        <option value="1">News Paper</option>
                        <option value="1">Other</option> -->
                      </select>
                      <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required and must be valid</div> -->
                  </div>
                </div>
              <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '1'">
                <div class="form-group">
                     <label class="control-label" for="cname">Select Broker</label>
                     <select  #refBrokerId="ngModel" [(ngModel)]="Refral.refBrokerId" id="refBrokerId" name="refBrokerId" >
                       <option value="">Select Borker</option>
                       <option *ngFor="let b of borkers;" value="{{b.BrokerId}}">{{b.Name}}</option>
                       <option value="-1">Other</option>
                     </select>
                 </div>
               </div>
               <div class='col-xs-12 col-sm-6' *ngIf="Refral.refBrokerId == '-1' && Refral.refTypeId == '1'">
                   <div class="form-group">
                      <label class="control-label" for="cname">First Name</label>
                      <input class="form-control input-md" #refFName="ngModel"  [(ngModel)]="Refral.refFName" id="refFName" name="refFName" type="text" placeholder="First Name">
                    </div>
                </div>

                <div class='col-xs-12 col-sm-6' *ngIf="Refral.refBrokerId == '-1' && Refral.refTypeId == '1'">
                    <div class="form-group">
                       <label class="control-label" for="cname">Last Name</label>
                       <input class="form-control input-md" #refLName="ngModel"  [(ngModel)]="Refral.refLName" id="refLName" name="refLName" type="text" placeholder="Last Name">
                     </div>
                 </div>



                <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '5'">
                  <div class="form-group">
                       <label class="control-label" for="cname">Select Social Media</label>
                       <select  #refSocialMedia="ngModel" (change)="setOtherDetail(Refral.refSocialMedia)" [(ngModel)]="Refral.refSocialMedia" id="refSocialMedia" name="refSocialMedia" >
                          <option value="">Select Media</option>
                           <option value="LinkedIn">LinkedIn</option>
                           <option value="Facebook">Facebook</option>
                           <option value="Instagram"> Instagram</option>
                           <option value="Twitter">Twitter</option>
                           <option value="Snapchat">Snapchat</option>
                           <option value="other">Other</option>
                       </select>
                       <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required and must be valid</div> -->
                   </div>
                 </div>
                 <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '4'">
                   <div class="form-group">
                      <label class="control-label">Select Newspaper </label>
                      <select  #refNewsPaper="ngModel" (change)="setOtherDetail(Refral.refNewsPaper)"  [(ngModel)]="Refral.refNewsPaper" id="refNewsPaper" name="refNewsPaper" >
                        <option value="">Select Newspaper</option>
                        <option value="The Globe and Mail"> The Globe and Mail</option>
                        <option value="Toronto Star"> Toronto Star</option>
                        <option value="The Wall Street Journal">The Wall Street Journal</option>
                        <option value="Financial Post">Financial Post</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                </div>

                <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '3'">
                    <div class="form-group">
                       <label class="control-label" for="cname">Select TV</label>
                       <select  #refTV="ngModel" (change)="setOtherDetail(Refral.refTV)" [(ngModel)]="Refral.refTV" id="refTV" name="refTV" >
                         <option value="">Select TV</option>
                         <option value="ET Now"> ET Now</option>
                         <option value="Fox Business Network">Fox Business Network</option>
                         <option value="Sky Business News">Sky Business News</option>
                         <option value="CP24">CP24</option>
                         <option value="other">Other</option>
                       </select>
                     </div>
                 </div>
                 <div class='col-xs-12 col-sm-12' *ngIf="Refral.refTypeId == '2'">
                   <div class="form-group">
                        <label class="control-label" for="cname">Select Radio</label>
                        <select  #refRadio="ngModel" (change)="setOtherDetail(Refral.refRadio)"  [(ngModel)]="Refral.refRadio" id="refRadio" name="refRadio" >
                          <option value=""> Select Radio</option>
                          <option value="98.7 FM"> 98.7 FM</option>
                          <option value="680 AM">680 AM</option>
                          <option value="530 AM"> 530 AM</option>
                          <option value="92.9 FM"> 92.9 FM</option>
                          <option value="other">Other</option>
                        </select>
                    </div>
                  </div>
                  <div class='col-xs-12 col-sm-12' *ngIf="isOtherDetail == true">
                      <div class="form-group">
                         <label class="control-label" for="cname">Other Detail</label>
                         <input class="form-control input-md" #refName="ngModel"  [(ngModel)]="Refral.refName" id="refName" name="refName" type="text" placeholder="Enter other detail">
                       </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 form-group text-center">
                      <button *ngIf="!isLoading" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-bottom:10px" (click)="goToNext(personalForm)">
                          Register
                        <!-- [disabled]="!personalForm.valid"   <span style="margin-left:10px;" class="fa fa-angle-right"></span> -->
                      </button>
                      <button *ngIf="isLoading" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-bottom:10px" type="button">
                        <span class="">Please wait</span>
                        <span aria-hidden="true">
                           <span class="button-loading">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                              <div class="bounce3"></div>
                              <div class="bounce3"></div>
                           </span>
                        </span>
                      </button>
                    </div>
                </div>
            </div>
            <div class="custom-clear"></div>
        </div>

    </div>
</form>
