

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-xs-12">
                      <h1 class="profile__h1">
                          Clients
                          <button class="btn btn-default pull-right" routerLink="../add-company"> <i class="fa fa-plus"></i> Add New Client</button>
                      </h1>
                  </div>
                </div>
              <div>
                <div class="panel panel-default">
                   <div class="transactions__tab pending-tab">
                     <a id="upcoming_trns" class="transactions__tab__heading">

                      </a>
                      <div class="table-responsive">
                        <table class="table" >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Company Name</th>
                                <th>Owner</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Province</th>
                                <th>Registration Date</th>
                                <th>Fee (%)</th>
                                <!-- <th>Action</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="isLoader">
                                <td class="text-center" colspan="9"><i class="fa fa-spinner fa-spin" style="font-size:30px; color:#2b3e4f"></i><br>Loading.. </td>
                              </tr>
                              <ng-container *ngIf="companyData.length > 0">
                                <tr  *ngFor="let data of companyData; trackBy: trackByFn; let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{data.Name}}</td>
                                  <td>{{data.OwnerName}}</td>
                                  <td>{{data.Email}}</td>
                                  <td>{{data.Phone}}</td>
                                  <td>{{data.Province}}</td>
                                  <td>{{transformDate(data.CreationDt) }}</td>
                                  <td>{{data.CommissionCharges}}%</td>
                                  <!-- <td>
                                      <button *ngIf="data.IsApproved == 'False'"  class="btn btn-sm btn-danger" (click)="deleteCompany(data)">Delete</button>
                                      <span *ngIf="data.IsApproved != 'False'">-</span>
                                  </td> -->
                                </tr>
                              </ng-container>

                              <ng-container *ngIf="companyData.length < 1">
                                <tr>
                                  <td class="text-center" colspan="9">No record found </td>
                                </tr>
                              </ng-container>
                            </tbody>
                         </table>
                     </div>
                   </div>
                 </div>
              </div>
            </div>

          </div>
        </div>
   </div>
 </main>


 <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="deleteConfirmation ? 'block' : 'none'">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="deleteConfirmation = false;">&times;</button>
            <span class="modal-title">Confirmation</span>
         </div>

         <div class="modal-body">
            <b>Are you sure you want to delete {{name}} ?<br></b>
          </div>
          <div class="modal-footer">
            <button   type="button" (click)="yesDeleteCompany()" data-dismiss="modal" class="btn btn-primary" id="delete">
              <span *ngIf="!loading">Yes </span>
              <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
              <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-default" (click)="deleteConfirmation = false;">Cancel</button>
          </div>

      </div>
   </div>
 </div>
