.row-divider-right{
  border-right: 0px solid
}
.btn-activate{
    padding-left: 15px;
    background: #fa9619;
    padding: 8px;
    margin-top: -2px;
    border-radius: 5px;
}
.badge_count{
    position: absolute;
    margin-left: 18px;
    font-size: 13px;
    border-radius: 50%;
    background: red;
    padding: 4px;
}

.activate_card{
  background: rgba(12, 13, 13, 0.45);
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 50px;
  padding: 10px;
  animation: cssAnimation 0s 5s forwards;
  /* visibility: hidden; */
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}
.activate_card .text{
  /* animation:blinkingText 0.8s infinite; */
}
@keyframes blinkingText{
    0%{     color: #fff;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

@media screen and (max-width: 600px) {
  .activate_card{
    background: rgba(12, 13, 13, 0.45);
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: auto;
    padding: 10px;
    animation: cssAnimation 0s 5s forwards;
    /* visibility: hidden; */
  }

}

.navigation__menu > .active {
    font-weight: 900;
    border-bottom: 2px solid #fa9619
;
}
button:focus {
    outline: 0px solid !important;
    outline-color: #fff;
}
.navbuttons > .active{
  background: #fa9619
;
}


.field-astric {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}
