
<div>
   <header class="header member-header" role="header">
      <div class="secureHeaderPlaceholder iparsys parsys">
         <div class="section">
            <div class="new"></div>
         </div>
         <div class="iparys_inherited">
            <div class="secureHeaderPlaceholder iparsys parsys">
               <div class="glb-secure-header-top parbase section">
                  <header header-manager="" class="header">
                     <a id="top"></a>

                     <div class="header__wrap">

                       <div id="header__menu">
                          <div class="hamburger-menu__container slideSideAnimationHamburger slidLeftHamburger" style="" (click)="toggleMenu()">
                             <h2 class="hamburger-menu--message body-copy--large" tabindex="-1">
                                Main Menu <!-- MESSAGE: Main Menu -->
                             </h2>
                             <button type="button" id="hamMenu" class="hamburger-menu" aria-label="menu" aria-expanded="false" aria-controls="refHamMenu" hamburger-manager="#header__container--nav" hamburger-nav-anim-class="slidLeft" hamburger-container-anim-class="slidLeftHamburger" hamburger-container-anim-element=".hamburger-menu__container">
                                <span class="sr-only">Toggle navigation</span>
                                <div class="hamburger-menu__bar" data-ng-class="{'hamburger-menu__bar--opened' : mobileMenuToggle}" style=""></div>
                             </button>
                          </div>
                          <div class="logo glb-logo parbase">
                             <style>
                                .header__image--logo{
                                top: 0.225rem;
                                background-image: url('./assets/images/EclipseLogo.png');
                                background-position: 0rem;
                                background-repeat: no-repeat;
                                width: 215px;
                                height: 70px;
                                }
                                @media only screen and (-webkit-min-device-pixel-ratio: 2),
                                only screen and (min--moz-device-pixel-ratio: 2),
                                only screen and (-o-min-device-pixel-ratio: 2/1),
                                only screen and (min-device-pixel-ratio: 2),
                                only screen and (min-resolution: 192dpi),
                                only screen and (min-resolution: 2dppx) {
                                .header__image--logo{
                                background-image: url('./assets/images/EclipseLogo.png');
                                background-size: 60%;
                                margin-left: 0px;
                                }
                                }
                                @media only screen and (max-width: 899.999px){
                                .header__image--logo{
                                margin: auto;
                                }
                                }
                             </style>
                             <button class="header__image--logo confirm-changes-modal-link" routerLink="./dashboard">
                             </button>
                          </div>
                          <div id="header__menu--inbox-container">
                             <style>
                                .notificationButtonFocusIndicator:focus{
                                outline-color: black !important;
                                border-color: black !important;
                                }
                             </style>
                          </div>
                       </div>
                       <nav id="header__container--nav" [ngClass]="toggleMenuClass == true ? 'hide-on-desktop': 'hide-on-mobile'" class="slideSideAnimationNav"  role="navigation" tabindex="-1" (mouseleave)="hideSideBar()">
                           <ul id="refHamMenu" class="header__menu--list" role="menu">
                              <li id="header__menu--main-nav">
                                 <div class="navlinks glb-navigation parbase">
                                    <div main-nav="en" id="main-navigation-links" class="navigation hideOutline" tabindex="-1">
                                       <ul class="navigation__menu navigation__ul--main">
                                          <li class="navigation__item--main-menu" routerLinkActive="active">
                                             <button id="dashboard" class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./dashboard">Dashboard</button>
                                          </li>
                                          <li  routerLinkActive="active" class="navigation__item--main-menu">
                                             <button id="transactions" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./transactions">Transactions</button>
                                          </li>
                                          <li  routerLinkActive="active" class="navigation__item--main-menu">
                                             <button  class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./claims">Claims</button>
                                          </li>
                                          <li  routerLinkActive="active" class="navigation__item--main-menu">
                                             <button id="settings" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./account">Settings</button>
                                          </li>
                                          <li  routerLinkActive="active" class="navigation__item--main-menu">
                                             <button id="settings" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./general-faq">FAQ's</button>
                                          </li>

                                       </ul>
                                    </div>
                                 </div>
                              </li>

                              <li id="header__menu--logout">
                                 <button type="button" class="header-secured__log-out button log-out logoutButtonFocusIndicator" (click)="logOut()">
                                    <span default-text="Logout" loading-text="Loading" class="ng-isolate-scope">
                                       <span class="ng-binding" aria-hidden="false">Logout</span>
                                    </span>
                                 </button>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </header>
               </div>
            </div>
         </div>
      </div>
      <div class="secureSubheaderPlaceholder iparsys parsys">
         <div class="section">
            <div class="new"></div>
         </div>
         <div class="iparys_inherited">
            <div class="secureSubheaderPlaceholder iparsys parsys">
               <!--    col-lg-5 col-lg-offset-1-->
               <section class="sub-header">
                  <div class="container-fluid dark-bg padLeftRight0">
                     <div class="row marLeftRight0 sub-header-wrap">
                        <div class="card-container row-divider-right col-lg-6 col-sm-6 col-xs-12">
                           <div id="cardDropdown" role="menu">
                              <div class="dropdown card-selector productCode-OMC" style="position: relative;">
                                 <div style="position: relative;">
                                    <button class="btn btn-default dropdown-toggle btn-dropdown" type="button" (click)="toggleCardNav()">

                                          <div class="cardSelectorText cdd">
                                             <div class="cardTitle ng-binding">Welcome Back,  {{userName}}</div>
                                             <div class="cardNum ng-binding">
                                                <span class="ng-binding">{{companyCode}}</span>
                                                 <!-- <span class="pull-right header-secured__log-out button log-out logoutButtonFocusIndicator">Load Your Card</span> -->
                                             </div>
                                          </div>
                                         <div class="caret" style="float:right" *ngIf="cardData != ''">
                                           <!-- <i class="fa fa-credit-card fa-3x" style="color: #fa9619;" (click)="toggleCardNav()"></i> -->
                                         </div>
                                    </button>

                                    <ul class="dropdown-menu" *ngIf="cardData" [ngClass]="isCard == true ? 'show' : 'hide'" role="menu" >
                                      <li *ngFor="let data of cardData;">
                                          <a role="menuitem">
                                              <div class="cardSelectorImg">
                                                  <span *ngIf="data.CardStatus == 'Activate' || data.CardStatus == 'Unsuspend'" style="position: absolute; right: 12px; color: #088408;"><i class="fa fa-check"></i></span>
                                                  <span *ngIf="data.CardStatus != 'Activate' && data.CardStatus != 'Unsuspend'" style="position: absolute; right: 12px; color: red;"><i class="fa fa-close"></i></span>
                                                  <img class="small-icon" ng-src="assets/images/card.png" alt="" src="assets/images/eflex_card.png">
                                              </div>
                                              <div class="cardSelectorText cdd">
                                                   <div class="canTireText" style="color:#000">

                                                      <div class="cardTitle" style="color:#000"><span>****</span> {{data.AccountSummaryData.LastFourDigitOfCardNo}}</div>

                                                       <button type="button" (click)="gotoTransaction(data)" name="button" class="btn btn-primary" style="position:absolute;top:3px; right:10px; background:#ffbb33; border:1px solid">
                                                        <i class="fa fa-eye"></i> Transactions
                                                       </button>
                                                   </div>
                                                   <div class="cardNum" style="color:#000; padding:5px;">
                                                         <div style="color:#000"> {{data.FourthLine}}</div>
                                                      <!-- <span>****</span> {{data.AccountSummaryData.LastFourDigitOfCardNo}}-->

                                                      <b>Available Balance ${{data.AccountSummaryData.Balance | number:'1.1-2'}},  Expiration: {{data.AccountSummaryData.ExpiryDate | mydate}}</b>
                                                   </div>
                                               </div>
                                          </a>
                                        </li>
                                    </ul>
                                 </div>
                                 <!-- End loading overlay -->
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 activity-bar__container--right">
                           <div class="row marLeftRight0" role="option">
                              <div class="navbuttons parsys">
                                <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                   <!-- begin navbutton -->
                                   <div class="navButton">
                                      <button class="activityBarFocusindicator button-header" routerLink="notification">
                                         <div class="">
                                            <span>
                                                 <span class="badge_count" *ngIf="UnreadNotificationCount > 0"> {{UnreadNotificationCount}}</span>
                                                 <img class="img-desktop" src="assets/images/notify_icon.png" style="width:60px">
                                                 <img class="img-mobile" src="assets/images/notify_icon.png" style="width:60px">
                                            </span>
                                            <!-- all links except Optional Products -->
                                            <div class="indicator">
                                               <div class="nav-button-text">
                                                   Notification
                                               </div>
                                            </div>
                                         </div>
                                      </button>
                                   </div>
                                </div>
                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <!-- begin navbutton -->
                                    <div class="navButton" role="option">
                                       <button class="activityBarFocusindicator button-header confirm-changes-modal-link" routerLink="./add-claim">
                                        <div class="">
                                             <span>
                                               <img class="img-desktop"src="assets/images/add-claim.png" style="width:50px" >
                                                <img class="img-mobile"src="assets/images/add-claim.png" style="width:50px" >
                                              </span>
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   New Claim
                                                </div>
                                             </div>
                                          </div>
                                       </button>
                                    </div>
                                 </div>



                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <!-- begin navbutton -->
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./messages">
                                          <div class="">
                                             <span>
                                                 <span class="badge_count" *ngIf="MessageCount > 0"> {{MessageCount}}</span>
                                                 <img class="img-desktop" src="assets/images/envelope.png" style="width:50px">
                                                 <img class="img-mobile" src="assets/images/envelope.png" style="width:50px">
                                               </span>
                                              <div class="indicator">
                                                <div class="nav-button-text">
                                                   Help
                                                </div>
                                             </div>
                                             <!-- End loading overlay -->
                                          </div>
                                       </button>
                                       <!-- End button header -->
                                    </div>
                                    <!-- end navbutton -->
                                 </div>

                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./offers">
                                          <div class="">
                                            <img class="img-desktop" src="assets/images/offer_icon.png">
                                             <img class="img-mobile" src="assets/images/offer_icon.png">
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   Offers
                                                </div>
                                             </div>
                                          </div>
                                       </button>
                                    </div>

                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </header>
   <!-- End hide until angular init -->
</div>
<div class="col-md-12 activate_card animated fadeInLeft" *ngIf="isCardActive == false">
    <span class="fadeInLeft text">Your card did not activate</span>
    <button (click)="openCardModal()" class="fadeInLeft btn-activate" type="button">
         <span>Click to Activate</span>
   </button>
</div>

<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="openCardActivateModal ? 'block' : 'none'">
  <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="openCardActivateModal = false;">&times;</button>
           <span class="modal-title">Card Details</span>
        </div>
        <div class="modal-body">
           <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
           <form #cardForm="ngForm" class="forgot-your-password__form">
             <div class="row form-group">
               <div class="col-md-12">
                <label for="card number">Card Number</label>
                <input type="password" name="cardNumber" maxlength="16" minlength="16"   (keypress)="_keyPress($event)" value="" required [(ngModel)]="cardNumber" id="acc">
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('acc')"></span>
              </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label for="card number">CVV</label>
                  <input type="password" name="CVV" maxlength="3" minlength="3"  (keypress)="_keyPress($event)" value="" required [(ngModel)]="CVV" id="cvv">
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('cvv')"></span>
                </div>
                <div class="col-md-6">
                  <label for="card number">Access Code</label>
                  <input type="password" name="accessCode" maxlength="4" minlength="4"  (keypress)="_keyPress($event)" value="" required [(ngModel)]="accessCode" id="ac">
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('ac')"></span>
                </div>
              </div>
              <!-- <div class="row form-group">
                <div class="col-md-6">
                   <label for="card number">Month of Expiration</label>
                   <select class="form-control" name="expireMonth" required placeholder="month" value="" [(ngModel)]="expireMonth">
                     <option value="">Select Month</option>
                      <option value="01">(01) January</option>
                      <option value="02">(02) February</option>
                      <option value="03">(03) March</option>
                      <option value="04">(04) April</option>
                      <option value="05">(05) May</option>
                      <option value="06">(06) June</option>
                      <option value="07">(07) July</option>
                      <option value="08">(08) August</option>
                      <option value="09">(09) September</option>
                      <option value="10">(10) October</option>
                      <option value="11">(11) November</option>
                      <option value="12">(12) December</option>
                   </select>
                 </div>
                 <div class="col-md-6">
                   <label for="card number">Year of Expiration</label>
                   <select class="form-control" required name="expireYear" placeholder="year" value="" [(ngModel)]="expireYear">
                     <option class="extraneous" value="">Select Year</option>
                      <option class="extraneous" value="2018">18</option>
                      <option class="extraneous" value="2019">19</option>
                      <option class="extraneous" value="2020">20</option>
                      <option class="extraneous" value="2021">21</option>
                      <option class="extraneous" value="2022">22</option>
                      <option class="extraneous" value="2023">23</option>
                      <option class="extraneous" value="2024">24</option>
                      <option class="extraneous" value="2025">25</option>
                      <option class="extraneous" value="2026">26</option>
                      <option class="extraneous" value="2027">27</option>
                      <option class="extraneous" value="2028">28</option>
                      <option class="extraneous" value="2029">29</option>
                      <option class="extraneous" value="2030">30</option>
                      <option class="extraneous" value="2031">31</option>
                      <option class="extraneous" value="2032">32</option>
                      <option class="extraneous" value="2033">33</option>
                      <option class="extraneous" value="2034">34</option>
                      <option class="extraneous" value="2035">35</option>
                      <option class="extraneous" value="2036">36</option>
                      <option class="extraneous" value="2037">37</option>
                      <option class="extraneous" value="2038">38</option>
                      <option class="extraneous" value="2039">39</option>
                      <option class="extraneous" value="2040">40</option>
                   </select>
                  </div>
               </div> -->
               <div  class="row form-group">
                  <img src="assets/images/card_example.png"  class="img-responsive" style="text-align: center; margin: 0px auto; width:370px; height:249px;">
                </div>
           </form>
        </div>
        <div class="modal-footer">
          <button *ngIf="!isServiceCall" [disabled]="!cardForm.valid" (click)="activateCard(cardForm)" class="fadeInLeft header-secured__log-out button log-out" type="button">
               <span class="ng-binding">Submit</span>
         </button>
          <button *ngIf="isServiceCall" class="fadeInLeft header-secured__log-out button log-out" type="button">
              Please wait..
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="openCardActivateModal = false;">Close</button>
        </div>
     </div>
  </div>
</div>
