<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <h1 class="profile__h1">
               Company Detail
            </h1>
            <div class="backlink pull-left" *ngIf="step!=1" style="padding-top: 7%; left:5%; position:absolute">
               <a (click)="goToPrevStep(step)"><i class="fa fa-angle-left fa-3x"></i></a>
            </div>
            <div class="row">

               <form #basicDetailForm="ngForm" name="basicDetailForm" *ngIf="step==1">
                  <div class="col-md-6">
                     <div class="panel panel-default">
                        <div class="panel-heading" style="color: #09090999 !important"> Company Information  </div>
                        <div class="panel-body">
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputEmail4">Legal Name of Company</label>
                                 <input type="text"[(ngModel)]="companyName" name="companyName" required class="form-control" id="companyName" placeholder="">
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="inputZip">Company Code</label>
                                 <input type="text"[(ngModel)]="companyCode" name="companyCode" disabled id="companyCode" class="form-control"  placeholder="">
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputPassword4">Address</label>
                                 <input type="text"[(ngModel)]="address" name="address" required id="address" class="form-control"  placeholder="">
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="inputCity">City</label>
                                 <input type="text"[(ngModel)]="city" name="city" required id="city" class="form-control"  placeholder="">
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputState">Province</label>
                                 <select class="form-control"  required [(ngModel)]="province" name="province" >
                                 <option *ngFor="let p of provinceData" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                 </select>
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="inputZip">Postal Code</label>
                                 <input type="text"[(ngModel)]="postalCode" name="postalCode" required id="postalCode" class="form-control"  placeholder="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="panel panel-default">
                        <div class="panel-heading" style="color: #09090999 !important"> Contact Information  </div>
                        <div class="panel-body">
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputEmail4">Owner/Admin Email</label>
                                 <input type="email"[(ngModel)]="email"   pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" name="email" required id="email" class="form-control"  placeholder="">
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="inputPassword4">Owner/Admin Phone</label>
                                 <input type="text"[(ngModel)]="contact" (keypress)="_keyPress($event)" maxlength="10" minLength="10" name="contact" required id="contact" class="form-control"  placeholder="">
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputCity">Owner First Name</label>
                                 <input type="text"[(ngModel)]="fname" name="fname" required id="fname" class="form-control"  placeholder="">
                              </div>
                              <div class="form-group col-md-6">
                                 <label for="inputCity">Owner Last Name</label>
                                 <input type="text"[(ngModel)]="lname" name="lname" required id="lname" class="form-control"  placeholder="">
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="form-group col-md-12">
                                 <label for="inputZip">Desired Username</label>
                                 <input type="text"[(ngModel)]="username" name="username" required id="username" class="form-control"  placeholder="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="panel panel-default">
                        <div class="panel-heading" style="color: #09090999 !important"> Business Structure</div>
                        <div class="panel-body">
                           <div class="form-row">

                             <div class='row'>
                                 <div class='col-md-6'>
                                      <h3 class="panel-heading">What type of business is this? <span style="color:red">*</span> </h3>
                                     <div class="form-group" style="padding-left: 15px;">
                                         <div class="radio">
                                             <label>
                                                 <input type="radio" #business="ngModel" (change)="businessChange('Sole Propreitorship')" required name="businessType" [(ngModel)]="businessType" value="Sole Propreitorship">
                                                 Sole Proprietorship
                                             </label>
                                         </div>
                                         <div class="radio">
                                             <label>
                                                 <input type="radio" #business="ngModel" (change)="businessChange('Corporation')" required name="businessType" [(ngModel)]="businessType" value="Corporation">
                                                 Corporation
                                             </label>
                                         </div>
                                     </div>
                                 </div>
                                 <div class='col-md-6' *ngIf="businessType == 'Corporation'">
                                       <h3 class="panel-heading">What type of plan is required? <span style="color:red">*</span></h3>
                                     <div class="form-group" style="padding-left: 15px;">
                                         <div class="radio">
                                             <label>
                                                 <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Personal">
                                                 Personal
                                             </label>
                                         </div>
                                         <div class="radio">
                                             <label>
                                                 <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Group">
                                                 Group
                                             </label>
                                         </div>
                                     </div>
                                 </div>
                             </div>


                             <!-- <div class="form-group">
                                <div class="radio">
                                   <label>
                                   <input type="radio" #business="ngModel" required name="businessType" [(ngModel)]="businessType" value="Sole Propreitorship">
                                   Sole Propreitorship
                                   </label>
                                </div>
                                <div class="radio">
                                   <label>
                                   <input type="radio" #business="ngModel" required name="businessType" [(ngModel)]="businessType" value="Corporation">
                                   Corporation
                                   </label>
                                </div>
                             </div> -->

                             <!-- <div class="form-group">
                                <div class="radio">
                                   <label>
                                   <input type="radio"  required name="workType" [(ngModel)]="workType" value="Personal">
                                   Personal
                                   </label>
                                </div>
                                <div class="radio">
                                   <label>
                                   <input type="radio" required name="workType" [(ngModel)]="workType" value="Group">
                                   Group
                                   </label>
                                </div>
                             </div> -->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="panel panel-default">
                        <div class="panel-heading" style="color: #09090999 !important"> Commission Charges</div>
                        <div class="panel-body">
                           <div class="form-row">
                              <div class="form-group col-md-6">
                                 <label for="inputEmail4">Charge Fee (%)</label>
                                 <input type="text"[(ngModel)]="charges" (keypress)="_keyPress($event)" (change)="checkAmount()" name="charges" required id="charges" class="form-control">
                                 <b>  Note: You can set maximum fee {{brokerMaxFee}}%</b>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="text-center">
                    <!-- [disabled]="!basicDetailForm.valid" -->
                    <button   *ngIf="!isLoading" type="button" (click)="submitDetail(basicDetailForm)" type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-top:2px">
                      Submit
                    </button>

                    <button *ngIf="isLoading"class="btn btn-outline-rounded default-theme-next" type="button">
                       <span  class="">Please wait</span>
                       <span  aria-hidden="true">
                          <span class="button-loading">
                             <div class="bounce1"></div>
                             <div class="bounce2"></div>
                             <div class="bounce3"></div>
                          </span>
                       </span>
                    </button>
                  </div>
               </form>

               <div class="col-md-12" *ngIf="step==2">

                   <div class="panel panel-default">
                     <div class="panel-heading" style="color: #09090999 !important"> Business Ownership</div>
                     <div class="panel-body">
                       <div class="col-xs-offset-4 col-xs-10 col-sm-offset-5 col-sm-4">
                        <div class="form-group">
                           <div class="radio">
                              <label>
                              <input type="radio" #business="ngModel" required name="businessType" [(ngModel)]="businessType" value="Sole Propreitorship">
                              Sole Propreitorship
                              </label>
                           </div>
                           <div class="radio">
                              <label>
                              <input type="radio" #business="ngModel" required name="businessType" [(ngModel)]="businessType" value="Corporation">
                              Corporation
                              </label>
                           </div>
                        </div>
                        <button  type="button" (click)="saveBusinessDetail()" type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-top:2px">
                          Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
                        </button>
                     </div>
                  </div>
                 </div>
              </div>

               <div class="col-md-12" *ngIf="step==3">
                  <div class="panel panel-default">
                     <div class="panel-heading" style="color: #09090999 !important">What is the plan type ?</div>
                     <div class="panel-body">
                        <div class="col-xs-offset-4 col-xs-10 col-sm-offset-5 col-sm-4">
                        <div class="form-group">
                           <div class="radio">
                              <label>
                              <input type="radio"  required name="workType" [(ngModel)]="workType" value="Personal">
                              Personal
                              </label>
                           </div>
                           <div class="radio">
                              <label>
                              <input type="radio" required name="workType" [(ngModel)]="workType" value="Group">
                              Group
                              </label>
                           </div>
                        </div>
                        <button *ngIf="!isLoading" type="button" (click)="savePlanType()" type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-top:2px">
                          Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
                        </button>
                        <span *ngIf="isLoading" style="color:green; font-size:16px;">Saving detail please wait...</span>
                      </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-12" *ngIf="step==4">
                  <div class="panel panel-default">
                     <div class="panel-heading" style="color: #09090999 !important">Plan setup</div>
                     <div class="panel-body">
                        <div class="form-group">
                           <div class="narrow text-center-2">
                              <div class="col-md-8" >
                                 <div class="form-group">
                                    <div  class="col-md-6">
                                       <label>How many classes do you want ?</label>
                                    </div>
                                    <div  class="col-md-6" *ngIf="planType != 'Personal'">
                                       <select (change)="addClasses()" [(ngModel)]="classes" name="classes">
                                       <option value="">Select no of classes</option>
                                       <option value="1">1</option>
                                       <option value="2">2</option>
                                       <option value="3">3</option>
                                       <option value="4">4</option>
                                       <option value="5">5</option>
                                       <option value="6">6</option>
                                       <option value="7">7</option>
                                       <option value="8">8</option>
                                       <option value="9">9</option>
                                       <option value="10">10</option>
                                       </select>
                                       <!-- <input type="number" max="10" min="1"> -->
                                    </div>
                                    <div  class="col-md-6" *ngIf="planType == 'Personal'">
                                       <select (change)="addClasses()" [(ngModel)]="classes" name="classes">
                                       <option value="">Select no of classes</option>
                                       <option value="1">1</option>
                                       </select>
                                       <!-- <input type="number" max="10" min="1"> -->
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12" style="margin-top:30px">
                                 <form [formGroup]="planForm">
                                    <div formArrayName="Plans" *ngFor="let plan of planForm.get('Plans')['controls']; let i = index; let last=last;  let first=first;" style="border:1px solid #eee; float:left">
                                       <div [formGroupName]="i">
                                          <div style="margin-bottom:30px">
                                             <!-- <h4 class=""><strong>Classes {{pager.index+1}} of {{pager.count}}</strong></h4> -->
                                             <div class="col-md-12 checkbox" style="margin-left:24px !important;" *ngIf="!first">
                                                <input *ngIf="!first" type="checkbox" (change)="setPlanSameAsA($event, plan)">
                                                <h3 *ngIf="!first">Same as class A</h3>
                                             </div>
                                             <div class="col-md-4">
                                                <div class="panel panel-default" style="min-height: 515px;">
                                                   <div class="panel-heading" >{{plan.controls['Name'].value}}</div>
                                                   <div class="panel-body">
                                                      <div class="form-group">
                                                         <label for="email">Plan Start Date</label>
                                                         <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                                                            formControlName="PlanStartDt"  placeholder="MM/dd/yyyy"></my-date-picker>
                                                         <!-- <input type="text" class="form-control"   formControlName="PlanStartDt"  appDatePicker [options]="myOptions"> -->
                                                         <div class="alert alert-danger">
                                                            <div class="error" *ngIf="plan.get('PlanStartDt').touched &&plan.get('PlanStartDt').hasError('required')">
                                                               This field is required
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="form-group">
                                                         <label for="email">Initial Deposit</label>
                                                         <input type="text" (keypress)="_keyPress($event)" (change)="InitialDeposit(plan)" class="form-control" required id="InitialDeposit" placeholder="CAD" formControlName="InitialDeposit">
                                                         <div class="alert alert-danger">
                                                            <!-- <app-field-error-display [displayError]="isFieldValid(plan.get('PlanStartDt'))" errorMsg="Please Select date">
                                                               </app-field-error-display> -->
                                                            <div class="error" *ngIf="plan.get('InitialDeposit').touched &&plan.get('InitialDeposit').hasError('required')">
                                                               <!-- This field is required -->
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="form-group">
                                                         <label for="Contribution"><b>Contribution Schedule</b></label>
                                                      </div>
                                                      <div class="radio">
                                                         <label><input type="radio" [name]="plan.ContributionSchedule" value="1" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 1"> Monthly
                                                         <input  *ngIf="plan.controls['ContributionSchedule'].value == '1'"  (keypress)="_keyPress($event)" required  formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" id="" name="RecurringDeposit" type="text" style="position: absolute;left: 100px;top: 0px; width: 67%;">
                                                         </label>
                                                         <label><input type="radio" [name]="plan.ContributionSchedule"  value="2" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 2"> Annual
                                                         <input *ngIf="plan.controls['ContributionSchedule'].value == '2'" id="" (keypress)="_keyPress($event)" required formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" name="RecurringDeposit" type="text" style="position: absolute;left: 100px; top: 29px; width: 67%;"></label>
                                                         <div class="error" *ngIf="plan.get('RecurringDeposit').touched &&plan.get('RecurringDeposit').hasError('required')">
                                                            <!-- This field is required -->
                                                         </div>
                                                      </div>
                                                      <!-- <div class="form-group" style="margin-top:100px; border-top:1px solid;">
                                                         <label for="email">Total</label>

                                                         </div> -->
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-8">
                                                <div class="panel panel-default" style="min-height: 515px;">
                                                   <div class="panel-heading"> Plan Detail</div>
                                                   <div class="panel-body">
                                                      <ul class="media-list push">
                                                         <li class="media">
                                                            <!-- <a href="page_ready_user_profile.html" class="pull-left">
                                                               <img src="assets/images/todo.png" alt="Avatar" class="img-circle">
                                                               </a> -->
                                                            <div class="media-body">
                                                               <h4 >
                                                                  Plan Design
                                                                  <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                                     <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                        <div class="hiddenAODA">
                                                                           Tooltip
                                                                        </div>
                                                                        Pick the plan that best suits your needs :
                                                                     </span>
                                                                  </i>
                                                               </h4>
                                                               <div class="radio">
                                                                  <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 1" [name]="plan.PlanDesign" value="1"> A plan that covers medical health and dental expenses only</label>
                                                                  <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 2" [name]="plan.PlanDesign" value="2"> A plan that covers medical health, dental and wellness (ex: gym membership, vitamins, etc)</label>
                                                               </div>
                                                            </div>
                                                         </li>
                                                         <li class="media">
                                                            <div class="media-body">
                                                               <h4 >
                                                                  Rollover
                                                                  <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                                     <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                        <div class="hiddenAODA">
                                                                           Tooltip
                                                                        </div>
                                                                        <span style="margin-left:15px;">  Any unused funds at the plan year end will : </span>
                                                                     </span>
                                                                  </i>
                                                               </h4>
                                                               <div class="radio">
                                                                  <label><input type="radio" formControlName="RollOver"  (click)="setCarryForward($event, plan)"  [checked]="plan.controls['RollOver'].value == 3" [name]="plan.RollOver" value="3"> Revert to Plan sponsor</label>
                                                                  <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 4" [name]="plan.RollOver" value="4"> Carry Forward to the benefit of the account holder</label>
                                                               </div>
                                                            </div>
                                                         </li>
                                                         <li class="media" *ngIf="plan.controls['RollOver'].value == 4">
                                                            <div class="media-body">
                                                               <h4>
                                                                  Carry Forward Period
                                                                  <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                                     <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                        <div class="hiddenAODA">
                                                                           Tooltip
                                                                        </div>
                                                                        Funds revert back to the plan sponsor after :
                                                                     </span>
                                                                  </i>
                                                               </h4>
                                                               <div class="radio">
                                                                  <select formControlName="CarryForwardPeriod" [name]="plan.CarryForwardPeriod"  [attr.required]="plan.controls['RollOver'].value == 4" >
                                                                  <option value="">Select Period</option>
                                                                  <option value="12 Months">12 Months</option>
                                                                  <option value="24 Months">24 Months</option>
                                                                  <option value="Indefinite Rollover to the benefit of the account holder">Indefinite Rollover to the benefit of the account holder</option>
                                                                  </select>
                                                               </div>
                                                            </div>
                                                         </li>
                                                         <li class="media">
                                                            <div class="media-body">
                                                               <h4>
                                                                  Termination
                                                                  <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                                     <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                        <div class="hiddenAODA">
                                                                           Tooltip
                                                                        </div>
                                                                        Any unused funds in the terminated employee's account will :
                                                                     </span>
                                                                  </i>
                                                               </h4>
                                                               <div class="radio">
                                                                  <label><input type="radio" formControlName="Termination"  [checked]="plan.controls['Termination'].value == 5" [name]="plan.Termination" value="5">Revert back to the Employer</label>
                                                                  <label><input type="radio" formControlName="Termination" [checked]="plan.controls['Termination'].value == 6" [name]="plan.Termination" value="6"> Carry forward to the benefit of the account holder as per plan design</label>
                                                               </div>
                                                            </div>
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-12">
                                                <div class="panel panel-default">
                                                   <div class="panel-heading"> Fee and taxes applied per employee</div>
                                                   <div class="panel-body">
                                                      <div class="form-group">
                                                         <div class="row col-md-8">
                                                            <p> Administration Fee {{AdminFeePct}}%  fee on contributions  </p>
                                                         </div>
                                                         <div class="row col-md-4  pull-right"><b>CAD {{plan.controls['AdministrationInitialFee'].value + plan.controls['AdministrationMonthlyFee'].value | number : '1.2-2'}}</b> </div>
                                                      </div>
                                                      <div class="form-group">
                                                         <div class="row col-md-8">
                                                            <p *ngIf="HST !=0">HST {{HST}}% on admin fees   </p>
                                                            <p *ngIf="HST ==0">GST {{GST}}% on admin fees   </p>
                                                         </div>
                                                         <div class="row col-md-4 pull-right"><b>CAD {{plan.controls['HSTInitial'].value + plan.controls['HSTMonthly'].value | number : '1.2-2'}}</b></div>
                                                      </div>
                                                      <div class="form-group">
                                                         <div class="row col-md-8">
                                                            <p> Provincial Premium Tax {{PPTax}}% PPT on admin fee and contributions</p>
                                                         </div>
                                                         <div class="row col-md-4 pull-right">
                                                            <b>  CAD {{plan.controls['PremiumTaxInitial'].value + plan.controls['PremiumTaxMonthly'].value | number : '1.2-2'}}</b>
                                                         </div>
                                                      </div>
                                                      <div class="form-group" *ngIf="planType == 'Group'">
                                                         <div class="row col-md-8">
                                                            <p>Provincial Retail Sales Tax {{RSTax}}% RST on contribution</p>
                                                         </div>
                                                         <div class="row col-md-4 pull-right">
                                                            <b>CAD  {{plan.controls['RetailSalesTaxInitial'].value +   plan.controls['RetailSalesTaxMonthly'].value | number : '1.2-2'}}</b>
                                                         </div>
                                                      </div>
                                                      <div class="form-group">
                                                         <div class="row col-md-8">
                                                            <!-- <p> Gross Total Inclusive of fees and taxes  </p> -->
                                                            Total fees & taxes for a group plan
                                                         </div>
                                                         <div class="row col-md-4 pull-right">
                                                            <b>CAD {{plan.controls['GrossTotalInitial'].value + plan.controls['GrossTotalMonthly'].value | number : '1.2-2'}}</b>
                                                         </div>
                                                      </div>
                                                      <div class="form-group" >
                                                         <div class="row col-md-8" style="margin-top:10px">
                                                            <!-- <p> Gross Total Inclusive of fees and taxes  </p> -->
                                                            Gross Total(Total Contributions +Total fees and taxes)
                                                         </div>
                                                         <div class="row col-md-4 pull-right" style="margin-top:10px">
                                                            <b>CAD {{plan.controls['TotatFeeAndTaxes'].value | number : '1.2-2'}}</b>
                                                         </div>
                                                      </div>
                                                      <div class="form-group">
                                                         <div class="row col-md-8" style="margin-top:10px">
                                                            <p> Net Total Without any fees and taxes  </p>
                                                         </div>
                                                         <div class="row col-md-4 pull-right" style="margin-top:10px">
                                                            <b>CAD {{plan.controls['NetDeposit'].value | number : '1.2-2'}}</b>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <br>
                                 </form>
                              </div>
                              <div class="text-center">
                                 <!-- <button class="btn btn-outline-rounded default-theme-previous"(click)="goTo(pager.index-1)"> <span style="margin-right:10px;" class="fa fa-angle-left"></span></button>
                                    <button class="btn btn-success btn-outline-rounded default-theme-next" (click)="goTo(pager.index+1)"> <span style="margin-left:10px;" class="fa fa-angle-right"></span></button> -->
                                  <!-- <button class="btn btn-success btn-outline-rounded default-theme-next" (click)="goToNextStep(step+1)"> <span style="margin-left:10px;" class="fa fa-angle-right"></span></button> -->
                                 <button *ngIf="!isLoading"  class="btn btn-outline-rounded default-theme-next"  (click)="saveDetail(planForm)" [disabled]="!planForm.valid" type="button">
                                 Next<span style="margin-left:10px;" class="fa fa-angle-right"></span>
                                 </button>
                                 <button *ngIf="isLoading"class="btn btn-outline-rounded default-theme-next" type="button">
                                    <span  class="">Please wait</span>
                                    <span  aria-hidden="true">
                                       <span class="button-loading">
                                          <div class="bounce1"></div>
                                          <div class="bounce2"></div>
                                          <div class="bounce3"></div>
                                          <div class="bounce3"></div>
                                          <div class="bounce3"></div>
                                       </span>
                                    </span>
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-12" *ngIf="step==5">
                  <div class="panel panel-default">
                     <div class="panel-heading" style="color: #09090999 !important"> Member Detail</div>
                     <div class="panel-body">
                        <div class="narrow text-center-2">
                           <div class="col-md-12" style="margin-top:30px">
                              <form [formGroup]="employeeForm">
                                 <div class="col-md-12 checkbox" style="margin-left: 20px">
                                    <input type="checkbox" (change)="addAdmin($event)">
                                    <h3>Add plan admin if different than the owner</h3>
                                 </div>
                                 <div class="col-md-12" *ngIf="employeeForm.get('Admin')['controls'].length > 0">
                                    <div class="panel panel-default">
                                       <div class="panel-heading">Plan Admin</div>
                                       <div class="panel-body">
                                          <div formArrayName="Admin" *ngFor="let admin of employeeForm.get('Admin')['controls']; let k= index;">
                                             <div [formGroupName]="k" style="margin-left:-16px; margin-right:-16px;">
                                                <div class="form-group col-md-4">
                                                   <input type="text" class="form-control" required formControlName="FName" id="fname" placeholder="First Name" name="fname">
                                                </div>
                                                <div class="form-group col-md-4">
                                                   <input type="text" class="form-control" required formControlName="LName" id="lname" placeholder="Last Name" name="lname">
                                                </div>
                                                <div class="form-group col-md-4">
                                                   <input type="email" class="form-control" required formControlName="Email" id="email" placeholder="Email" name="email">
                                                </div>
                                             </div>
                                          </div>
                                          <!-- <div style="padding-top:10px;">
                                             <span><img src="assets/images/plus-icon.png"  (click)="addMoreEmployee()"> Add More </span>
                                             </div> -->
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-12" *ngIf="employeeForm.get('Employees')['controls'].length > 0">
                                    <div class="panel panel-default">
                                       <div class="panel-heading">Plan Members</div>
                                       <div class="panel-body">
                                          <div formArrayName="Employees" *ngFor="let employee of employeeForm.get('Employees')['controls']; let l = index;">
                                             <div [formGroupName]="l" style="margin-left:-16px; margin-right:-16px;">
                                                <div class="form-group col-md-3">
                                                   <input type="text" class="form-control" required formControlName="FName" id="fname" placeholder="First Name" name="fname">
                                                </div>
                                                <div class="form-group col-md-3">
                                                   <input type="text" class="form-control" required formControlName="LName" id="lname" placeholder="Last Name" name="lname">
                                                </div>
                                                <div class="form-group col-md-3">
                                                   <input type="email" class="form-control" required formControlName="Email" id="email" placeholder="Email" name="email">
                                                </div>
                                                <div class="form-group col-md-3">
                                                   <select formControlName="CompanyPlanId" required name="CompanyPlanId">
                                                      <option value="">Select Class</option>
                                                      <option *ngFor="let c of classesData" value="{{c.ClassId}}">{{c.Name}}</option>
                                                   </select>
                                                </div>
                                                <div class="col-md-12 form-group" *ngIf="employeeForm.controls.Employees.controls.length > 1" >
                                                   <button type="button"  class="btn btn-danger pull-right"  (click)="deleteEmployee(l)" style="margin-right: 5px; display:block"><i class="fa fa-remove"> </i> Remove</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div style="padding-top:10px;" *ngIf="planType !='Personal'">
                                       <span><img src="assets/images/plus-icon.png"  (click)="addMoreEmployee()"> Add More </span>
                                       <!-- <span style="margin-left:15px;"><img src="assets/images/upload-icon.png"> Upload a file </span> -->
                                    </div>
                                 </div>
                              </form>
                           </div>
                           <div class="text-center">
                             <!-- <button class="btn btn-success btn-outline-rounded default-theme-next" (click)="goToNextStep(step+1)"> <span style="margin-left:10px;" class="fa fa-angle-right"></span></button> -->

                              <button *ngIf="!isLoading" class="btn btn-outline-rounded default-theme-next" [disabled]="!employeeForm.valid" (click)="AddEmployee()"> Submit <span style="margin-left:10px;" class="fa fa-angle-right"></span></button>
                              <button *ngIf="isLoading" [disabled]="isLoading" class="btn btn-outline-rounded default-theme-next" type="button">
                              <span *ngIf="isLoading" class="">Please wait</span>
                              <span *ngIf="isLoading" aria-hidden="true">
                                 <span class="button-loading">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                    <div class="bounce3"></div>
                                    <div class="bounce3"></div>
                                 </span>
                              </span>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-12" *ngIf="step==6">
                  <div class="panel panel-default">
                     <div class="panel-heading" style="color: #09090999 !important">Payment Overview</div>
                     <div class="panel-body">
                       <div class="col-md-12" style="padding:20px" *ngIf="paymentData">
                           <div class="col-xs-12 col-md-6" *ngFor="let plan of paymentData">
                               <div class="panel panel-default">
                                   <div class="panel-heading">
                                       <h3 class="panel-title"> {{plan.PlanName}}</h3>
                                   </div>
                                   <div class="panel-body">
                                       <div class="the-price">
                                           <h1 style="margin-bottom:5px;">
                                             CAD {{plan.PlanGrossRecurring + plan.PlanGrossInitial | number : '1.2-2'}}<span class="subscript"><small> /1st month </small></span></h1>
                                           <!-- <small>1 month FREE trial</small> -->
                                       </div>
                                       <table class="table">
                                           <tr>
                                               <td>
                                                   No Of Employees
                                               </td>
                                               <td>
                                                   {{plan.NoOfEmployees}}
                                               </td>

                                           </tr>
                                           <tr class="active">
                                             <td>
                                               Plan Gross Initial Amount
                                             </td>
                                             <td>
                                                 {{plan.PlanGrossInitial | number : '1.2-2'}}
                                             </td>
                                           </tr>

                                           <tr class="">
                                             <td>
                                               Plan Gross Recurring Amount
                                             </td>
                                             <td>
                                                 {{plan.PlanGrossRecurring | number : '1.2-2'}}
                                             </td>
                                           </tr>
                                       </table>
                                   </div>
                                   <!-- <div class="panel-footer">
                                       <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">First Time Total {{plan.PlanGrossRecurring + plan.PlanGrossInitial}} </a>

                                   </div> -->
                               </div>
                           </div>
                           <br>
                           <h4 class="col-md-6">Net Gross Initial : CAD {{NetGrossInitial | number : '1.2-2'}}</h4>
                           <h4 class="col-md-6">Net Gross Recurring : CAD {{NetGrossRecurring | number : '1.2-2'}}</h4>
                           <br>
                           <div class="col-md-6">
                           <div class="form-group" >
                             <label>When would you like to pull the amount from your account?</label>
                              <my-date-picker name="PlanStartDt" [options]="myDatePickerOptionsPayment"
                               [(ngModel)]="paymentDate"  placeholder="MM/dd/yyyy" [disabled]="disabled"></my-date-picker>
                               <!-- <input type="text" class="form-control"   formControlName="PlanStartDt"  appDatePicker [options]="myOptions"> -->

                            </div>
                         </div>
                     </div>

                     <div class="col-xs-12 col-md-12" *ngIf="paymentData">
                       <div class="form-group text-center">
                           <!-- <button class="btn btn-success btn-outline-rounded btn-info default-theme-next"> Submit</button> -->
                           <button type="button"  class="dash-button dash-button--affirm loginFocusIndicator"
                            style="margin-bottom:10px" (click)="updatePaymenDate()">
                              <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                 <span *ngIf="!loading"  class="ng-binding" aria-hidden="false">Submit</span>
                                 <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                                 <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                    <span class="button-loading">
                                       <div class="bounce1"></div>
                                       <div class="bounce2"></div>
                                       <div class="bounce3"></div>
                                    </span>
                                 </span>
                              </span>
                           </button>
                           <br>
                         </div>
                       </div>

                     </div>
                  </div>
               </div>

               <div class="col-md-12 text-center" style="display:none">
                  <!-- <button type="button"  *ngIf="step < 5" name="button" class="dash-button dash-button--affirm loginFocusIndicator"  (click)="goToNextStep(step)" style="margin-top:2px">Next</button> -->
                  <button *ngIf="!isLoading" type="button" (click)="submitDetail(brokerForm)" class="dash-button dash-button--affirm loginFocusIndicator">
                  <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                  <span class="ng-binding" aria-hidden="false">Submit</span>
                  </span>
                  </button>
                  <button *ngIf="isLoading" type="button" class="dash-button dash-button--affirm loginFocusIndicator">
                  <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                     <span *ngIf="isLoading" class="" aria-hidden="true">Please wait</span>
                     <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                        <span class="button-loading">
                           <div class="bounce1"></div>
                           <div class="bounce2"></div>
                           <div class="bounce3"></div>
                        </span>
                     </span>
                  </span>
                  </button>
               </div>

            </div>
         </div>
      </div>
   </div>
</main>
