.required{
  color: red;
}
h1{
  margin-bottom: 5px;
  padding-bottom: 5px;
}
thead{
  background-color: #fa9619
;
  color: #fff;
}
thead:hover{
  background-color: #2b3e4f;
  color: #fff;
}
tbody tr:nth-child(odd){
  background-color: #ecf0f1;
  color: #000;
}

h4 {
	font-family: Roboto Condensed,sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #fa9619
;
	font-weight: 700;
  padding-top: 25px;
}
.modal-title {
	/* border-top: 13px solid #443f3c; */
  border-top:  none;
}
.modal {
	background-color: #0009;
}
.modal-header{
  background-color: #fa9619
;
  color: #ecf0f1;
}
.modal-header .close {
	margin-top: -2px;
	color: #ecf0f1;
}
.close{
  font-size: 21px;
}
@media only screen and (max-width: 768px) {
  .btn_margin_left{
    margin-top: 10px;
    margin-right: -35px
  }
  .btn_margin_right{
    margin-top: 10px;
    margin-right: -35px
  }
}
