

<div class="page animated">
      <app-header></app-header>
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <br>
          <h2>Frequently Asked Questions</h2>
          <ul class="breadcrumbs-custom">
            <li><a routerLink="/join-us">Home</a></li>
            <li><a routerLink="/faqs">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </section>

      <div class="container section-md">
        <div class="row row-40">

                     <div class="col-sm-6 col-lg-6">

                       <ul class="list-xl wow fadeIn">
                         <li>
                           <h5>What is an eFlex Spending Account?</h5>
                           <p class="text-gray-600">eFlex is Canada’s most-flexible Health Spending Account. It’s a fund dedicated to health and wellness
          spending. It is CRA-recognized and 100% tax-deductible.</p>
                         </li>


                         <li>
                           <h5>I already have benefits can I still get an eFlex Spending Account?</h5>
                           <p class="text-gray-600">Sure can! eFlex is a great compliment to existing benefits. If your plan only covers a portion of your
          expenses you can use eFlex to cover the rest—saving money in the process.</p>
                         </li>

                         <li>
                           <h5>What can I pay for with my eFlex Account?</h5>
                           <p class="text-gray-600">Anything related to your health and well being. However, some products & services receive different treatment from the CRA and may not be accepted as tax-deductible expenses.
                             <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/lines-330-331-eligible-medical-expenses-you-claim-on-your-tax-return.html" target="_blank" style="color: #666869; font-weight: bold; text-decoration:underline"> Click here for a complete list of accepted services.</a></p>
                         </li>
                         <li>
                           <h5>Where can I use my eFlex card?</h5>
                           <p class="text-gray-600">You can use your card online, via phone, or in-person wherever Mastercard® is accepted.</p>
                         </li>

                       </ul>
                     </div>
                     <div class="col-sm-6 col-lg-6"  style="z-index: 999">

                       <ul class="list-xl wow fadeIn">
                         <li>
                           <h5>How do I save money with eFlex and what do you mean it’s tax deductible?</h5>
                           <p class="text-gray-600">Healthcare costs are eligible business expense, so you can use pre-tax dollars to fund your eFlex
          accounts and your savings are equal to the income tax you would have paid on those funds.</p>
                         </li>


                         <li>
                           <h5>Do I have to use the eFlex card, or can I still pay out-of-pocket and submit claims later?</h5>
                           <p class="text-gray-600">You have the option to submit claims after you pay for expenses yourself. Simply visit our online portal or open your smartphone app and take a picture of your receipt. Reimbursement typically occurs within 5 business days. </p>
                         </li>

                         <li>
                           <h5>What are the taxes and fees?</h5>
                           <p class="text-gray-600">There is a 10% administration fee on contributions, a 2% Provincial Premium Tax on admin fees &amp;
contributions, and an 8% Provincial Retail Sales tax on contributions. (These fees are applicable in
Ontario. Rates may vary across Canada).</p>
                         </li>
                       </ul>

                     </div>

        </div>
        <!-- <div class="button-wrap-lg text-center"><a class="button button-lg button-primary" href="#">View All Asked Questions</a></div> -->
      </div>


      <section class="section section-lg bg-default" style="display:none">
        <div class="container">
          <div class="row row-50 justify-content-between">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                <h4>Address</h4>
                <div class="tab-content">
                  <div class="active show" id="tabs-1-1">
                    <ul class="contact-box">
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="icon fa fa-map-marker"></span></div>
                          <div class="unit-body"><a class="hover-text" >2130 Fulton Street, <br class="veil reveal-lg-inline">San Diego, CA 94117-1080 USA</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="fa fa-phone"></span></div>
                          <div class="unit-body">
                            <ul class="list-phones">
                              <li><a class="hover-text" href="tel:#">1-800-1234-567</a></li>
                              <li><a class="hover-text" href="tel:#">1-800-1234-567</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-spacing-xxs">
                          <div class="unit-left"><span class="fa fa-envelope"></span></div>
                          <div class="unit-body"><a class="hover-text" href="mailto:#">info@demolink.org</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="group group-middle social-items">
                <a class="icon icon-md icon-gray-400 novi-icon fa fa-facebook" ></a>
                <a class="icon icon-md icon-gray-400 novi-icon fa fa-twitter" ></a>
                <a class="icon icon-md icon-gray-400 novi-icon fa fa-instagram" ></a>
                <a class="icon icon-md icon-gray-400 novi-icon fa fa-facebook-messenger" ></a>
                <a class="icon icon-md icon-gray-400 novi-icon fa fa-linkedin" ></a>
                <a class="icon icon-md icon-gray-400 novi-icon fa fa-snapchat" ></a></div>
            </div>
            <div class="col-md-6 col-lg-4">
              <h4>Get in Touch</h4>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" novalidate="novalidate">
                <div class="form-wrap">
                  <input class="form-input form-control-has-validation" id="contact-name" type="text" name="name" data-constraints="@Required"><span class="form-validation"></span>
                  <label class="form-label rd-input-label" for="contact-name">Name</label>
                </div>
                <div class="form-wrap">
                  <input class="form-input form-control-has-validation" id="contact-email" type="email" name="email" data-constraints="@Email @Required"><span class="form-validation"></span>
                  <label class="form-label rd-input-label" for="contact-email">E-mail</label>
                </div>
                <div class="form-wrap">
                  <label class="form-label rd-input-label" for="contact-message">Message</label>
                  <textarea class="form-input form-control-has-validation form-control-last-child" id="contact-message" name="message" data-constraints="@Required"></textarea><span class="form-validation"></span>
                </div>
                <button class="button button-primary" type="submit">Send</button>
              </form>
            </div>
            <div class="col-md-12 col-lg-4">
              <iframe style="width:100%; height:350px" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=en&amp;q=644%20Millway%20Ave.%20Unit%2012B%20Vaughan%2C%20ON%20L4K%204H4+(Contat%20Us)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <style>#gmap_canvas img{max-width:none!important;background:none!important}   </style>
            </div>
          </div>
        </div>
      </section>

    </div>

<app-footer></app-footer>
