
.custom-title{
	text-align: center;
}

@media (min-width: 1200px){
	.swiper-slider-1 .swiper-slide {
	    min-height: 500px !important;
	}
}

.footer-1 {
	background: #2b3e50;
}
.bg-primary-dark .button-primary:before, .context-dark .button-primary:before, .footer-1 .button-primary:before {
	  background-color: #fa9619 !important;
}
.button-primary:before {
    color: #fff;
    background-color: #fa9619;
}
.progress-bar-circle{
		width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}
.bg-primary-dark, .section-negative {
    background-color: #2b3e50;
}
.section-bredcrumbs {
    padding-top: 75px;
}
*+.breadcrumbs-custom {
    margin-top: 60px;
}
.section-lg{
  padding: 10px !important;
}
