

<div class="page animated">
      <app-header></app-header>
      <section class="section section-bredcrumbs">
        <div class="container context-dark breadcrumb-wrapper">
          <br>
          <h2>About us</h2>
          <ul class="breadcrumbs-custom">
            <li><a routerLink="/join-us">Home</a></li>
            <li><a routerLink="/about-us">About</a></li>
          </ul>
        </div>
      </section>
      <!-- Join Our Team-->
      <section class="section section-lg custom-image-section">
        <div class="container relative-container">
          <div class="row row-30 row-md-60 justify-content-between">
            <div class="col-md-12">
              <h2>Overview</h2>
            </div>
            <div class="col-md-6">
              <div class="heading-6">
                eFlex is a division of eclipse EIO—a company dedicated to giving businesses more control of the investments
                made in their people.
              </div>
              <p>
                  With eFlex, we aim to give employees more of what they want—creating a happier, healthier, and more
                  productive workforce—while reducing money wasted on overpriced and undervalued group benefits.
              </p>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="progress-linear-wrap">
                <!-- Linear progress bar-->
                <article class="progress-linear animated-first">
                  <div class="progress-header">
                    <p>Easy of use</p><span class="progress-value">75</span>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" style="width: 75%;"></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear animated-first">
                  <div class="progress-header">
                    <p>Next Gen</p><span class="progress-value">50</span>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" style="width: 50%;"></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear animated-first">
                  <div class="progress-header">
                    <p>Client Satisfaction</p><span class="progress-value">75</span>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" style="width: 75%;"></div>
                  </div>
                </article>
                <!-- Linear progress bar-->
                <article class="progress-linear animated-first">
                  <div class="progress-header">
                    <p>24/7 Support</p><span class="progress-value">75</span>
                  </div>
                  <div class="progress-bar-linear-wrap">
                    <div class="progress-bar-linear" style="width: 75%;"></div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <!-- <img class="img-bordered image-item" src="assets/images/about-1-470x312.jpg" alt="" width="470" height="312"> -->
        </div>
      </section>
      <!-- Your Career Starts Here-->
      <section class="section section-lg bg-white">
          <div class="container">
            <div class="row row-40 justify-content-center">
              <div class="col-md-6 col-lg-6 inset-top-1">
                  <h2>Vision</h2>
                  <p>Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque, aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an. Dico apeirian qui ad, pri eu munere menandri maluisset. Ei has elit essent mentitum, sed ex vocent maluisset. Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id,
                    ne vis melius offendit appetere,</p>

              </div>

              <div class="col-md-6 col-lg-6 inset-top-1">
                  <h2>Mission</h2>
                  <p>Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere,
                    ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque,
                    aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an.
                    Dico apeirian qui ad, pri eu munere menandri maluisset. Ei has elit essent
                     mentitum, sed ex vocent maluisset. Lorem ipsum dolor sit amet, qui tollit
                      laoreet ocurreret id, ne vis melius offendit appetere,</p>

              </div>
            </div>
          </div>
      </section>

        <section class="section section-lg bg-default" style="display:none">
          <div class="container">
            <div class="row row-50 justify-content-between">
              <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                  <h4>Address</h4>
                  <div class="tab-content">
                    <div class="active show" id="tabs-1-1">
                      <ul class="contact-box">
                        <li>
                          <div class="unit unit-horizontal unit-spacing-xxs">
                            <div class="unit-left"><span class="icon fa fa-map-marker"></span></div>
                            <div class="unit-body"><a class="hover-text" >644 MillWay Ave. Unit 12B, <br class="veil reveal-lg-inline">Vaughan, ON L4K4H</a></div>
                          </div>
                        </li>
                        <li>
                          <div class="unit unit-horizontal unit-spacing-xxs">
                            <div class="unit-left"><span class="fa fa-phone"></span></div>
                            <div class="unit-body">
                              <ul class="list-phones">
                                <li><a class="hover-text" href="tel:1-855-440-3993">1-855-440-3993</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="unit unit-horizontal unit-spacing-xxs">
                            <div class="unit-left"><span class="fa fa-envelope"></span></div>
                            <div class="unit-body"><a class="hover-text" href="mailto:eflex@eclipseeio.com">eflex@eclipseeio.com</a></div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="group group-middle social-items">
                  <a class="icon icon-md icon-gray-400 novi-icon fa fa-facebook" ></a>
                  <a class="icon icon-md icon-gray-400 novi-icon fa fa-twitter" ></a>
                  <a class="icon icon-md icon-gray-400 novi-icon fa fa-linkedin" ></a>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <h4>Get in Touch</h4>
                <!-- RD Mailform-->
                <form class="rd-form rd-mailform">
                  <div class="form-wrap">
                    <input class="form-input form-control-has-validation" id="contact-name" type="text" name="name"><span class="form-validation"></span>
                    <label class="form-label rd-input-label" for="contact-name">Name</label>
                  </div>
                  <div class="form-wrap">
                    <input class="form-input form-control-has-validation" id="contact-email" type="email" name="email"><span class="form-validation"></span>
                    <label class="form-label rd-input-label" for="contact-email">Email</label>
                  </div>
                  <div class="form-wrap">
                    <label class="form-label rd-input-label" for="contact-message">Message</label>
                    <textarea class="form-input form-control-has-validation form-control-last-child" id="contact-message" name="message"></textarea>
                    <span class="form-validation"></span>
                  </div>
                  <button class="button button-lg button-primary" type="submit">Send</button>
                </form>
              </div>
              <div class="col-md-12 col-lg-4">
                <iframe style="width:100%; height:350px" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=en&amp;q=644%20Millway%20Ave.%20Unit%2012B%20Vaughan%2C%20ON%20L4K%204H4+(Contat%20Us)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>#gmap_canvas img{max-width:none!important;background:none!important}   </style>
              </div>
            </div>
          </div>
        </section>
    </div>

<app-footer></app-footer>
