
   <div class="page animated">
     <!-- Page Header-->
     <app-header></app-header>
     <section class="section swiper-container swiper-slider swiper-slider-1 custom-home-banner">
       <div class="swiper-wrapper">
         <!-- slider-1-1920x879 -->
         <div class="hidden-lg hidden-sm col-xs-12 hidden">
           <div class="col-md-10 col-xs-12 ">
             <h2 class="animated fadeInUp" id="headline">
               Cost-savings <br> Convenience<span style="padding:2px;">|</span>Flexibility
             </h2>
             <p  class="lead animated delay-1s fadeInUp" id="headline_p">
               eFlex lets you optimize investments in your health & wellness
             </p>
             <a  routerLink="/register" class="button btn_openacc animated delay-2s fadeInUp">
              Open an Account
             </a>
             <img src="assets/images/home/banner-sm.png" style="margin-top:-68px">
           </div>

          </div>
         <div class="swiper-slide context-dark hidden-xss" id="slide1" [ngStyle]="{'display': isSlideNo == '1' ? 'flex' : 'none' }">
         <div class="swiper-slide-caption">
             <div class="container">
               <div class="row">
                 <div class="col-md-6 col-lg-7 banner-cols">
                   <h2 class="animated fadeInUp" id="headline">
                     <!-- Cost-savings <br> Convenience<span style="padding:2px;">|</span>Flexibility -->
                     eFlex sets a new standard<br> for health benefits
                   </h2>
                   <p  class="lead animated delay-1s fadeInUp" id="headline_p">
                     <!-- eFlex lets you optimize investments in your health & wellness -->
                     The leading choice for small-business owners, self-employed individuals and employees alike
                   </p>
                   <a  routerLink="/register" class="button btn_openacc animated delay-2s fadeInUp">
                    Open an Account
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- <button  class="backBtn" title="previous"  (click)="preSlide()">
         <i class="fa fa-angle-left fa-2x"></i>
       </button>
        <button class="nextBtn" title="next" (click)="nextSlide()">
          <i class="fa fa-angle-right fa-2x"></i>
        </button> -->
     </section>


     <section class="section section-negative">

       <div class="section-md context-dark">
         <div class="container">
           <div class="row row-fix justify-content-center text-center">
             <div class="col-md-12 col-xl-7" id="top_section">
               <h2 class="custom-title" style="color:#fa9619">
                 <!-- <span>eFlex: The Best Solution for Health Spending</span> -->
                 <span>Cost-savings | Convenience | Flexibility</span>
               </h2>
               <p style="color:#585858">
                 <!-- More flexible than any health insurance plan | Cheaper than paying out-of-pocket -->
                 eFlex lets you optimize investments in your health & wellness
               </p>
             </div>
           </div>
           <div class="row row-40 align-items-lg-center">
             <div class="col-sm-6 col-lg-3 col-xs-12 module">
                 <div class="unit-body">
                  <img src="assets/images/home/cost-control.png">
                   <h6 class="title">Cost control</h6>
                   <p>You set the cost, then save up to 30% on your expenses by using pre-tax dollars</p>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 col-xs-12 module">
                  <div class="unit-body">
                     <img src="assets/images/home/claims-made-easy.png">
                    <h6 class="title">Claims Made Easy</h6>
                    <p>Use your eFlex Mastercard® to pay on the spot, then upload receipts later</p>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3 col-xs-12 module">
                   <div class="unit-body">
                    <img src="assets/images/home/complete-freedom.png">
                     <h6 class="title">Complete Freedom</h6>
                     <p>Dental checkups, yoga classes, or both? You choose how to use your money</p>
                   </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-xs-12 module">
                    <div class="unit-body">
                     <img src="assets/images/home/zero-wasted-money.png">
                      <h6 class="title">Zero Wasted Money</h6>
                      <p>Rollover any unused funds to the following year–it’s your money after all</p>
                    </div>
                 </div>
           </div>


          <div class="row row-40 align-items-lg-center" style="padding-top:10px">
              <div class="col-sm-6 col-lg-3 col-xs-12 module">
                  <div class="unit-body">
                   <img src="assets/images/home/simple-account-management.png">
                    <h6 class="title">Simple Account Management</h6>
                    <p>Mange your contributions, update dependents, and more on your online profile</p>
                  </div>
               </div>

              <div class="col-sm-6 col-lg-3 col-xs-12 module">
                  <div class="unit-body">
                   <img src="assets/images/home/security-and- -peace-of-mind.png">
                    <h6 class="title">Security and Peace of Mind</h6>
                    <p>The latest security features keep your funds safe and protect you from fraud</p>
                  </div>
               </div>
               <div class="col-sm-6 col-lg-3 col-xs-12 module">
                 <div class="unit-body">
                  <img src="assets/images/home/247-support.png">
                   <h6 class="title">24/7 Support</h6>
                   <p>Our team is on-call to help with claims, technical issues, account management and more</p>
                 </div>
               </div>

               <div class="col-sm-6 col-lg-3 col-xs-12 module">
                   <div class="unit-body">
                      <img src="assets/images/home/insaurance-when-needed.png">
                     <h6 class="title">Insurance When Needed It</h6>
                     <p>(Coming Soon) Cost-effective insurance products can be added for extra coverage</p>
                   </div>
                </div>
          </div>
         </div>
       </div>
     </section>


     <section class="section get-started custom-get-started">
       <div class="container text-center">
         <h2 class="custom-title-41"><span>Getting Started with eFlex</span></h2>

         <div class="row row-40 justify-content-center" style="visibility: visible; animation-name: fadeInUp;">
           <div class="col-sm-6 col-lg-4 col-xs-12 col-lg-offset-1 module">
               <div class="unit-body" routerLink="/register">
                  <img src="assets/images/home/create-your-account.png">
                 <h6 class="title">Create your account</h6>
                 <p>Enter basic details and create your own payment plan and we’ll set up accounts for you and your employees and send out your eFlex cards.</p>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12 col-lg-offset-2 module">
                <div class="unit-body" routerLink="/login">
                   <img src="assets/images/home/access-from-anywhere.png">
                  <h6 class="title">Access from Anywhere</h6>
                  <p>Login to your account from any device to activate your payment card, view your balance, modify your plan, and more.</p>
                </div>
              </div>
          </div>
          <br>
          <div class="row row-40 justify-content-center" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-sm-6 col-lg-4 col-xs-12 col-lg-offset-1 module">
                 <div class="unit-body">
                    <img src="assets/images/home/load-and-use-your-card.png">
                   <h6 class="title">Load & Use Your Card</h6>
                   <p>Add funds to your eFlex payment card from the eFlex app and use it to pay for products and services in seconds.</p>
                 </div>
              </div>

              <div class="col-sm-6 col-lg-4 col-xs-12 col-lg-offset-2 module">
                  <div class="unit-body">
                     <img src="assets/images/home/spread-the-world.png">
                    <h6 class="title">Spread the Word</h6>
                    <p>Why not show off? Your benefits are the best around, so tell a friend!</p>
                  </div>
               </div>
          </div>
       </div>
     </section>

     <!-- features-->
     <section class="section section-md bg-gray-100">
       <div class="container">
         <div class="row row-fix justify-content-center text-center" style="padding-bottom:80px">
           <div class="col-md-12 col-xl-7">
             <h2 class="custom-title-41" style="color:#fa9619"><span>eFlex Works for Everyone</span></h2>

           </div>
         </div>

         <div class="col-lg-5 col-xs-12 topNegative">
            <ul class="service-list-1">
                <li class="service-item-1 service-item-1-left unit wow fadeIn" [ngClass]="activeUserType  == 'e' ? 'active_service':''" (mouseenter)="toogelRightImg('e')">
                  <div class="unit-item">
                    <img src="assets/images/home/employess.png">
                  </div>
                  <div class="unit-body-1">
                    <h6 class="title">Employees</h6>
                    <p>You deserve to be happy & healthy, meaning you deserve benefits that empower you to take care of your wellbeing—whatever that means for you. That’s why we designed a benefits solution that puts you in charge how you use it.</p>
                  </div>
                </li>
                <li class="service-item-1 service-item-1-left unit wow fadeIn" [ngClass]="activeUserType  == 'em' ? 'active_service':''" (mouseenter)="toogelRightImg('em')">
                  <div class="unit-item">
                      <img src="assets/images/home/employers.png">
                  </div>
                  <div class="unit-body-1">
                    <h6 class="title">Employers</h6>
                    <p>Happy, healthy employees are more engaged, more productive, and more loyal. So, investing in your people is investing in your company’s success. Unlike many other health plans out there, eFlex gives you control of these investments, and gives your employees benefits they’ll actually enjoy</p>
                  </div>
                </li>

                <li class="service-item-1 service-item-1-left unit wow fadeIn" [ngClass]="activeUserType  == 'b' ? 'active_service':''" (mouseenter)="toogelRightImg('b')">
                  <div class="unit-item">
                      <img src="assets/images/home/brokers.png">
                  </div>
                  <div class="unit-body-1">
                    <h6 class="title">Brokers</h6>
                    <p>Traditional insurance isn’t working for small businesses: employees find the coverage lacking, and business owners find the cost too high—and it isn’t fun to sell something that isn’t working. eFlex, on the other hand, works for employees & employers alike—plus there are no annual renewals to worry about!</p>
                  </div>
                </li>
              </ul>
         </div>
         <div class="col-lg-7 col-xs-12 right-hover-img">
           <!-- <img src="assets/images/home/image2.png" *ngIf="selectedUserType == 'e'" class="img-responsive"> -->
           <img src="assets/images/home/employee-bg.jpg" style="width:567px; float:right;" *ngIf="selectedUserType == 'e'" class="img-responsive">
           <img src="assets/images/home/company-bg.jpg" style="width:567px; float:right;" *ngIf="selectedUserType == 'em'"  class="img-responsive">
           <img src="assets/images/home/broker-bg.jpg" style="width:567px; float:right;" *ngIf="selectedUserType == 'b'"  class="img-responsive">
         </div>
       </div>
     </section>


     <!-- Frequently Asked Questions-->
     <section class="section">
       <div class="container" style="color:#fff">

         <h2 class="custom-title-41 text-center">
           <span style="color:#fa9619; padding-bottom: 60px;">
           Have Any Questions?
         </span></h2>
         <div class="row row-40">
           <div class="col-sm-12 col-lg-6">
             <div class="faq-left">
                <!-- <h2 class="custom-title-41 qst"  style="color:#fa9619;">Have any questions?</h2> -->
                <p>
                We get it, choosing benefits for yourself or your employees is a big decision–you should
                ensure you make the right one. We've answered some of our most-frequent questions here,
                 but please reach out if you want to speak to an eFlex expert.
                </p>
                <br>
                <h4 class="qst hidden-xs" style="color:#fa9619;">
                  eFlex@eclipseEIO.com <span style="color:#2b3e50">|</span> 	1-855-440-3993
                </h4>
                <h4 class="qst hidden-lg" style="color:#fa9619;">
                  eFlex@eclipseEIO.com <br> 	1-855-440-3993
                </h4>
                <br>

              </div>
           </div>
           <div class="col-sm-12 col-lg-6" id="faqs">
             <ul class="list-xl wow fadeIn" style="width:100%; float:left; background: #eeeeee36; padding: 30px 20px 30px 20px;">
               <li style="width:100%; float:left">
                 <span class="pull-left"  [ngClass]="(selectedFaq==1)?'minus_icon':'plus_icon'" (click)="toggleFaq(1)">
                  <i [ngClass]="(selectedFaq==1)?'fa fa-minus':'fa fa-plus'" style="padding: 10px 0px 0px 12px;"></i>
                </span>
                <div class="pull-right ques">
                   <span>What is an eFlex Spending Account?</span>
                    <p class="text-gray-600" *ngIf="selectedFaq== 1">eFlex is Canada’s most-flexible Health Spending Account. It’s a fund dedicated to health and wellness
spending. It is CRA-recognized and 100% tax-deductible.</p>
                </div>
               </li>

                <li style="width:100%; float:left">
                 <span class="pull-left"  [ngClass]="(selectedFaq==2)?'minus_icon':'plus_icon'" (click)="toggleFaq(2)">
                  <i [ngClass]="(selectedFaq==2)?'fa fa-minus':'fa fa-plus'" style="padding: 10px 0px 0px 12px;"></i>
                </span>
                  <div class="pull-right ques">
                   <span>I already have benefits can I still get an eFlex Spending Account?</span>
                   <p class="text-gray-600" *ngIf="selectedFaq== 2">Sure can! eFlex is a great compliment to existing benefits. If your plan only covers a portion of your
  expenses you can use eFlex to cover the rest—saving money in the process.</p>
                </div>
               </li>

               <li style="width:100%; float:left">
                <span class="pull-left"   [ngClass]="(selectedFaq==3)?'minus_icon':'plus_icon'" (click)="toggleFaq(3)">
                 <i [ngClass]="(selectedFaq==3)?'fa fa-minus':'fa fa-plus'" style="padding: 10px 0px 0px 12px;"></i>
               </span>
                <div class="pull-right ques">
                   <span>What can I pay for with my eFlex Account?</span>
                   <p class="text-gray-600" *ngIf="selectedFaq== 3">Anything related to your health and wellbeing. However, some products & services receive different treatment from the CRA and may not be accepted as tax-deductible expenses.
                     <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/lines-330-331-eligible-medical-expenses-you-claim-on-your-tax-return.html" target="_blank" style="color: #fa9619
; font-weight: bold; text-decoration:underline"> Click here for a complete list of accepted services.</a></p>
                </div>
               </li>

               <li style="width:100%; float:left">
                  <span class="pull-left"  [ngClass]="(selectedFaq==4)?'minus_icon':'plus_icon'" (click)="toggleFaq(4)">
                   <i [ngClass]="(selectedFaq==4)?'fa fa-minus':'fa fa-plus'" style="padding: 10px 0px 0px 12px;"></i>
                 </span>
                 <div class="pull-right ques" >
                     <span>Where can I use my eFlex card?</span>
                     <p class="text-gray-600" *ngIf="selectedFaq== 4">You can use your card online, via phone, or in-person wherever Mastercard® is accepted.</p>
                  </div>
               </li>
               <li>
                 <a style="margin-top:30px" routerLink="/faqs" class="button btn_morequestion">
                     Read More FAQ’s
                 </a>
               </li>
             </ul>

           </div>

         </div>
         <!-- <div class="button-wrap-lg text-center"><a class="button button-lg button-primary" href="#">View All Asked Questions</a></div> -->
       </div>
     </section>

     <app-footer></app-footer>
   </div>
