.blinking{
	animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
	0%{		color: #fff;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #fff;	}
}
.swiper-container {
  margin: 79px auto;
}
.custom-title{
	text-align: center;
	font-size: 48px;
}
.custom-title-41{
	text-align: center;
	font-size: 41px;
}

@media (min-width: 1200px){
	.swiper-slider-1 .swiper-slide {
	    min-height: 352px !important;
	}
}


.row + .row {
    margin-top: 35px !important;
}
.row-30 {
    margin-bottom: -30px !important;
}
* + .row {
    margin-top: 30px !important;
}

.footer-1 {
	background: #2b3e50;
}
.bg-primary-dark .button-primary:before, .context-dark .button-primary:before, .footer-1 .button-primary:before {
	  /* background-color: #fff !important; */
		color: #fa9619;
}
/* .button-primary:before {
    color: #fff;
    background-color: #fa9619;
} */
.button-primary{
	color:#fff;
}
.button-primary:before {
    color: #fa9619;
    background-color: #fff;
}
.progress-bar-circle{
		width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
}
.bg-primary-dark, .section-negative {
	/* background-color: #2b3e50; */
    background-color: #fff;
}
.context-dark h6{
	color: #2b3e50 !important;
}
section  p{
	font-size: 16px !important;
	color: #585858;
}
.started-bordered *+.title {
    margin-top: 37px;
}
#faq .text-gray-600{
	font-size: 16px !important;
	color: #fff;
}
/*
#faq .custom-title>span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 1em;
    background: #ffffff;
} */
.service-item-1 .title {
    font-weight:600;
		color: #2b3e50;
}
.service-item-1 p {
		color: #585858;
}
h1, h2, h3, h5, h6{
	font-weight:600;
}
.blurb-boxed .title {
    font-weight:600;
}

.backBtn{
		position: absolute;
    left: 1vw;
    top: 42vh;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #fff;
    color: #f99619;
    z-index: 99;
}

.nextBtn{
		position: absolute;
    right: 1vw;
    top:42vh;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #fff;
    color: #f99619;
    z-index: 99;
}
.nextBtn:hover{
	background: #2b3e4f;
	color: #fff;
}
.backBtn:hover{
	background: #2b3e4f;
	color: #fff;
}

/* ---------------------- */
.swiper-slide{
	background-position:50% 50%;
	background-size: cover;
	opacity: 1;
	/* padding: 19vh 0 80px; */
}
.swiper-slide p{
	font-size: 18px !important;
	line-height: 40px;
	font-weight: 400;
	padding-right: 80px;
}
#faq_bg{
	background-position: 50% 20%;
}

 #slide1{
	 	background-image: url('/assets/images/banner.jpg');
 }
 #slide2{
	 	background-image: url('/assets/images/banner-1.jpg');
			background-position:50% -135%;
 }
 #slide3{
	 	background-image: url('/assets/images/banner-3.jpg');
	 background-position: 0% -70% !important;
 }
 @media screen and (min-width: 1920px) {
 	 #slide2{
 		 background-image: url('/assets/images/banner-1.jpg');
 			 background-position:50% -4%;
 	 }
 }
@media screen and (max-width: 768px) {
	.icon{
		background: none;
		border: none;
	}
	#slide1{
		/* background-image: url('/assets/images/banner-sm-1.jpg'); */
			 background-image: url('/assets/images/home/banner-sm.png');
	}
	#slide2{
		 background-image: url('/assets/images/banner-sm-2.jpg');
		 	background-position:50% 12%;
	}
	#slide3{
		 background-image: url('/assets/images/banner-sm-1.jpg');
	}
	.swiper-slide-caption p {
		display: block;
	}
	.swiper-slider-1 .swiper-slide {
    	min-height: calc(80vh - 50px);
	    padding: 5px;
	}

	.swiper-slide-caption .button-lg{
		margin-left: 15%;
	}
	.backBtn, .nextBtn{
		top: 30vh;
	}
	#faq_bg{
		   background-position: 10% 0%;
	}
	#faq_bg h5{
		text-align: center;
	}
	.swiper-slide p{
		font-size: 16px !important;
		line-height: 25px;
		font-weight: bold;
		padding-right: 37px;
	}
}

@media (min-width: 2560px) {
.swiper-slider-1 .swiper-slide {
		   background-position: 0% 50%;
			 padding: 210px 0 !important;
			 height: 650px !important;
	}
	#slide1, 	#slide2, #slide3{
		background-position:0% 0% !important
	}

}

.blurb-boxed{
	    background: #edeaea;
}
.bg-gray-100 {
    background-color: #fff;
}



.saturn {
    position: absolute;
		right: 46px;
		top: 10px;
    width: 100px;
    z-index: -99;
    height: 100px;
    -webkit-animation: myOrbit 6s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 6s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 6s linear infinite; /* Opera 12+ */
            animation: myOrbit 6s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
}
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(360px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(190px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(190px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(190px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
/* ------------- */


.saturn_2 {
    position: absolute;
		right: 30px;
		top: 30px;
    width: 50px;
    height: 50px;
    z-index: -99;
    -webkit-animation: smallCloud 6s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: smallCloud 6s linear infinite; /* Firefox 5-15 */
         -o-animation: smallCloud 6s linear infinite; /* Opera 12+ */
            animation: smallCloud 6s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
}
.saturn_3 {
    position: absolute;
    right:30px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    z-index: 99;

    -webkit-animation: smallCloud 10s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: smallCloud 10s linear infinite; /* Firefox 5-15 */
         -o-animation: smallCloud 10s linear infinite; /* Opera 12+ */
            animation: smallCloud 10s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
}
@-webkit-keyframes smallCloud {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(360px) rotate(-360deg); }
}

@-moz-keyframes smallCloud {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(-360deg) translateX(360px) rotate(360deg); }
}

@-o-keyframes smallCloud {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(360px) rotate(-180deg); }
}

@keyframes smallCloud {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(360px) rotate(-360deg); }
}
.unit-body img{
	padding-bottom: 10px;
}
.unit-body{
	padding-top: 70px;
	padding-bottom: 70px;
}
.module{
	padding: 0px 10px 0px 10px;
}
.module:hover{
	box-shadow: 0px 0px 15px 5px #eee;
	border-bottom: 10px solid #fa9619;
	border-radius: 10px;
}
.module:hover.title{
	color: #fa9619;
}
.service-list-1 li+li {
    margin-top: 30px !important;
}
.service-item-1:hover{
	box-shadow: 0px 0px 15px 5px #eee;
	border-left: 10px solid #fa9619;
	border-radius: 10px;
	padding:15px 5px 0 0;

}
.active_service{
	box-shadow: 0px 0px 15px 5px #eee;
	border-left: 10px solid #fa9619;
	border-radius: 10px;
	padding:15px 5px 0 0;
}
.faq-left{
	padding-top: 100px;
	padding-bottom: 40px;
}
.plus_icon{
	background: #2b3e50; width: 40px; height: 40px;border-radius: 50%;
}
.minus_icon{
	background: #fa9619; width: 40px; height: 40px;border-radius: 50%;
}
#faqs h4{
	font-weight: 600;
}
.ques{
	width: 90%;
}
#headline{
	font-size:49px; margin-left:-8px; color:#fa9619;
}
#headline_p{
	color:#595959;
}
.qst{
	text-align: left;
}

.section-negative{
	background: url('/assets/images/home/best-solution.jpg');
}
.get-started{
	background: url('/assets/images/home/get-started.jpg');
}

.mobile-bg{
	/* background:url('/assets/images/home/banner-sm.jpg'); */
	 background-image: url('/assets/images/home/banner-sm.jpg');
	background-position:50% 12%;
}

.topNegative{
	top:-35px
}
.topNegative p{
	font-size: 14px !important
}
.ques span{
	color: #2b3e5096;
	font-size: 21px;
	font-weight: 600;
}

.btn_morequestion{
	color: #fff;background: #2b3e4f;border: 1px solid;  padding: 15px 25px 15px 25px;
}
.btn_morequestion:hover{
	color: #fff;background: #fa9619;border: 1px solid;  padding: 15px 25px 15px 25px;
}
.btn_openacc{
	color: #595959;background: #fff;border: 1px solid;   padding: 15px 25px 15px 25px;
}
.btn_openacc:hover{
	color: #fff;background: #2b3e50;
}

@media screen and (max-width: 1199px) {

	.ques{
		width: 80%;
		width: calc(100% - 70px);
	}

	.faq-left{
		padding: 0px;
	}

	.right-hover-img img{
		width: 100% !important;
		float: none !important;
		max-width: 100%;
		margin-top: 40px;
	}

}

@media screen and (max-width: 991px) {
	.bottom-line button.button.button-lg.button-primary {
		margin: 30px 0 0;
	}

	.footer-1 .bottom-line p {
		text-align: center !important;
	}




}


@media screen and (max-width: 768px) {
	.custom-title{
		font-size: 28px
	}
	.custom-title-41{
		font-size: 24px
	}
	.module{
		width: 90%;
		margin: 25px 5%;
		text-align: center !important
	}
	.unit-body{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	#headline{
		font-size:28px; margin-left:-8px;
		/* color:#fff; */
	}
	#headline_p{
		font-size:20px !important; margin-left:-8px;
		/* color:#fff; */
	}
	.ques{
		width: 80%;
		width: calc(100% - 70px);
	}
	.qst{
		text-align: center;
	}
	#faqs{
		bottom: 30px;
	}
	.ques span{
		font-size: 16px
	}
	.faq-left{
		padding-top: 5px;
		padding-bottom: 10px;
	}
	/* .swiper-container{
		margin: 0px auto;
	} */

}




@media (min-width:769px) and (max-width:991px){

	#slide1 {
		background-image: url(/assets/images/banner.jpg);
		background-size: 150% auto;
		background-position: right top;
	}

}
