
   <div id="main">     

      <div align="center">
         <table style="border:1px solid #000" width="650" cellspacing="0" cellpadding="0" border="0" bgcolor="" align="center">
            <tbody>
               <tr>
                  <td width="650" valign="top" bgcolor="#FFFFFF" align="center">
                     <p style="margin:0px"><a href="https://eflex.app/" target="_blank"><img src="https://eflex.app/assets/email-img/email-header.png" alt="" title="" class="CToWUd" width="650" height="547" border="0"></a></p>
                     <table width="610" height="" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                           <tr>                            
                              <td style="font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:left;line-height:1.3">
                                 <p style="margin:0px;color:#000"> <strong>Welcome to eFlex, your very own health spending account set up by your employer,lstrCompanyName</strong> 
								 <br>
                                     This account lets you manage your health, your way with unparalleled flexibility. Plus, with our eFlex app
                                     and unique payment card, you never have to be out of pocket!</p>
								 
								 <p style="margin:0px;color:#000"> First things first, please login and complete your online account <a href="lstrUrl">Here</a></p>
															
								 <br>
								 <p style="margin:0px;color:#000"><strong>Company Code: </strong>lstrCompanyCode</p>
								 <p style="margin:0px;color:#000"><strong>Username: </strong>lstrUserName</p>
								 <p style="margin:0px;color:#000"><strong>Password: </strong>lstrPassword</p>
								 <br>
								 <p style="margin:0px;color:#000">Once you login, you can manage your account, view your balance, submit claims, and more.</p>
								 <p style="margin:0px;color:#000">For further convenience, we have SMS notifications to keep you up-to-date about your claims and other important aspects of your account.</p>
                                 <p style="margin:0px;color:#000">And be sure to download our eFlex app for on-the-go account management and point-of-purchase claim submission!</p>
                                  
                               </td>
                           </tr>
                        </tbody>
                     </table>
                     <table width="610" height="" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                           
                           <tr>
                             <!--  <td align="center">
                                 <p style="font-family:Arial,Helvetica,sans-serif;color:#08388d;margin-top:10px;margin-bottom:10px;font-size:15.5px;font-weight:bold">Contact your Financial Advisor | Call 1800 300 11111</p>
                              </td> -->
							   <td align="right">
                                 <a href="https://play.google.com/store/apps/details?id=com.eflex&hl=en" target="_blank" > <img src="https://eflex.app/assets/email-img/google-play.png"> </a>
                              </td>
							   <td align="left">
                                  <a href="https://play.google.com/store/apps/details?id=com.eflex&hl=en" target="_blank"> <img src="https://eflex.app/assets/email-img/apple-store.png"> </a>
                              </td>
                            
                           </tr>
                            <tr>
                                <td colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:left;line-height:1.3">

                                    <p style="margin:0px;color:#000">Enjoy your eFlex account!</p>

                                </td>
                               
                            </tr>
                            <tr>
                                <td colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:left;line-height:1.3">

                                    <p style="margin:0px;color:#000">The eFlex Team</p>
                                </td>
                              
                            </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
              
               <tr>
                  <td>
                     <p style="margin-bottom:10px"><img src="https://eflex.app/assets/email-img/email-footer.png" alt="" title="" width="650" border="0">
					 </p>
                  </td>
               </tr>
               <tr>
                  <td style="padding:12px;font:bold 13px Arial,Helvetica,sans-serif;color:#000;line-height:1!important;border-top:1px solid #333333" bgcolor="#FFFFFF" align="center">
                     <p>All Right Reserved by eflex</p>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>

   </div>



