<div class="board-inner" id="status-buttons" style="background:#fff; color:#000;">
    <div class="liner"></div>
    <ul class="nav nav-tabs" id="myTab">
        <li routerLinkActive="active-page" >
            <a routerLink="/register/personal"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  title="Account information">
                <span class="round-tabs one">
                    <i class="fa fa-info"></i>
                </span>
            </a>
            <span class="hidden-xs">  Account Information</span>
        </li>
        <li routerLinkActive="active-page">
            <a routerLink="/register/account-type" routerLinkActive="active"  title="Account Type">
                <span class="round-tabs two">
                    <i class="fa fa-tasks"></i>
                </span>
            </a>
              <span class="hidden-xs">Account Type</span>
        </li>
        <li routerLinkActive="active-page">
            <a routerLink="/register/plan" routerLinkActive="active"  title="Plan & Payment Structure">
                <span class="round-tabs two">
                    <i class="fa fa-tasks"></i>
                </span>
            </a>
              <span class="hidden-xs">Plan & Payment Structure</span>
        </li>
        <li routerLinkActive="active-page">
            <a routerLink="/register/member-detail" routerLinkActive="active"  title="Members Details">
                <span class="round-tabs three">
                    <i class="fa fa-users"></i>
                </span>
            </a>
            <span class="hidden-xs">  Members Details </span>
        </li>
        <li routerLinkActive="active-page">
           <a routerLink="/register/plan-review" routerLinkActive="active"  title="Plan Review">
               <span class="round-tabs four">
                   <i class="fa fa-search"></i>
               </span>
           </a>
            <span class="hidden-xs"> Plan Review </span>
       </li>
       <li routerLinkActive="active-page">
          <a routerLink="/register/payment-detail" routerLinkActive="active"  title="Payment Details">
              <span class="round-tabs five">
                    <i class="fa fa-credit-card"></i>
              </span>
          </a>
          <span class="hidden-xs">Payment Details </span>
      </li>
    </ul>
    <div class="clearfix"></div>
</div>
