<app-header></app-header>
<!-- <button class="btn side-button">Load Your Card</button> -->
<div [style.min-height.px]="screenHeight - minusHeight">
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
