<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div id="profileController"  class="ng-scope">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xs-12 profile__no-pad-mobile">
                        <h1 class="profile__h1 border--bottom">
                           Settings<!-- MESSAGE: Settings -->
                        </h1>
                     </div>
                  </div>
                  <div class="row">
                     <nav id="profile-tabs-container" class="col-sm-2 hidden-xs padBot50" style="position: relative;">
                        <span id="settings-menu" name="settings-menu" tabindex="-1" class="removeTabMinus1Outline hiddenAODA">Settings menu</span>
                        <!-- Begin loading overlay -->
                        <div class=""style="position: relative;">
                           <ul class="nav nav-pills nav-stacked"  role="tablist">
                              <li>
                                 <a (click)="setActiveTab(1)"   [ngClass]="activeTab == 1 ?'activeTab':''">
                                 Basic Information
                                 <span class="profile-inf__heading--personal-inf active">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(2)" [ngClass]="activeTab == 2 ?'activeTab':''">
                                 Change Password
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(3)" [ngClass]="activeTab == 3 ?'activeTab':''">
                                   Default Commission
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(4)" [ngClass]="activeTab == 4 ?'activeTab':''">
                                 PAP Detail
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </nav>

                     <div class="form-group show-mobile">
                       <select class="form-control" (change)="setActiveTabOnChange()" [(ngModel)]="menuOption" name="menuOption">
                         <option value="1">Basic Information </option>
                         <option value="2">Change Password </option>
                         <option value="3"> Default Commission </option>
                         <option value="4">PAP Detail</option>
                       </select>
                     </div>
                     <div class="col-sm-10 col-xs-12 profile__no-pad-mobile" style="border-left:1px solid #eee;">

                        <div [ngClass]="activeTab == '1' ? 'show': 'hide' " id="contact-information" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Basic Information <!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <form #brokerForm="ngForm" name="brokerForm">
                              <div class="col-md-12" *ngIf="isPersonalAccount == 'false'">
                                  <div class="panel panel-default">
                                      <div class="panel-heading" style="color: #09090999 !important"> Company Information  </div>
                                      <div class="panel-body">
                                          <div class="form-row">
                                              <div class="form-group col-md-6">
                                                  <label for="inputEmail4">Company Name</label>
                                                  <input type="text"[(ngModel)]="companyName" name="companyName" required class="form-control" id="companyName" placeholder="">
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <label for="inputPassword4">Address</label>
                                                  <input type="text"[(ngModel)]="address" name="address" required id="address" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="form-group col-md-4">
                                                  <label for="inputCity">City</label>
                                                  <input type="text"[(ngModel)]="city" name="city" required id="city" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="inputState">Province</label>
                                                  <select class="form-control"  required [(ngModel)]="province" name="province" >
                                                  <option *ngFor="let p of provinceData" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                                  </select>
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="inputZip">Postal Code</label>
                                                  <input type="text"[(ngModel)]="postalCode" name="postalCode" required id="postalCode" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-md-12">
                                  <div class="panel panel-default">
                                      <div class="panel-heading" style="color: #09090999 !important"> {{isPersonalAccount == 'true' ? 'Personal Detail':'Contact Information '}}</div>
                                      <div class="panel-body">
                                          <div class="form-row">
                                              <div class="form-group col-md-4">
                                                  <label for="inputCity">{{isPersonalAccount =='true' ? 'First Name': 'Owner First Name'}}</label>
                                                  <input type="text"[(ngModel)]="firstName" name="firstName" required id="firstName" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="inputCity">{{isPersonalAccount =='true' ? 'Last Name': 'Owner Last Name'}}</label>
                                                  <input type="text"[(ngModel)]="lastName" name="lastName" required id="lastName" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="inputEmail4">{{isPersonalAccount =='true' ? 'Email': 'Owner Email'}}</label>
                                                  <input type="email"[(ngModel)]="email" name="email" required id="email" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="form-group col-md-4">
                                                  <label for="inputZip">Username</label>
                                                  <input type="text"[(ngModel)]="userName" disabled name="userName" required id="userName" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="inputPassword4">Contact Number</label>
                                                  <input type="text"[(ngModel)]="contact"  (keypress)="_keyPress($event)" maxlength="10" minLength="10" name="contact" required id="contact" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-4" *ngIf="isPersonalAccount == 'false'">
                                                  <label for="inputEmail4">Company Email</label>
                                                  <input type="email"[(ngModel)]="companyEmail" name="companyEmail" id="companyEmail" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12" *ngIf="isPersonalAccount == 'true'">
                                  <div class="panel panel-default">
                                      <div class="panel-heading" style="color: #09090999 !important"> Contact Information  </div>
                                      <div class="panel-body">
                                          <div class="form-row">
                                              <div class="form-group col-md-6">
                                                  <label for="inputPassword4">Address</label>
                                                  <input type="text"[(ngModel)]="address" name="address" required id="address" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <label for="inputCity">City</label>
                                                  <input type="text"[(ngModel)]="city" name="city" required id="city" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="form-group col-md-6">
                                                  <label for="inputState">Province</label>
                                                  <select class="form-control"  required [(ngModel)]="province" name="province" >
                                                  <option *ngFor="let p of provinceData" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                                  </select>
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <label for="inputZip">Postal Code</label>
                                                  <input type="text"[(ngModel)]="postalCode" name="postalCode" required id="postalCode" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="panel panel-default">
                                      <div class="panel-heading" style="color: #09090999 !important">Direct Deposit Services Enrolment </div>
                                      <div class="panel-body">
                                          <div class="form-row">
                                              <div class="form-group col-md-4">
                                                  <label for="inputCity">Social Insurance Number</label>
                                                  <input type="text"[(ngModel)]="socialInsurance" name="socialInsurance" required id="socialInsurance" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="inputCity">Date of Birth</label>
                                                  <my-date-picker name="DOB" [options]="myDatePickerOptions"
                                                      [(ngModel)]="DOB"  placeholder="MM/dd/yyyy"></my-date-picker>
                                              </div>
                                              <div *ngIf="isPersonalAccount == 'false'" class="form-group col-md-4">
                                                  <label for="inputEmail4">Business Number (CRA)</label>
                                                  <input type="text"[(ngModel)]="businessNo" name="businessNo" required id="businessNo" class="form-control"  placeholder="">
                                              </div>
                                              <div class="form-group" [ngClass]="isPersonalAccount == 'false' ? 'col-md-12' : 'col-md-4'">
                                                  <label for="inputZip">GST No</label>
                                                  <input type="text"[(ngModel)]="GSTNo" name="GSTNo" required id="GSTNo" class="form-control"  placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                <div class="panel panel-default">
                                  <div class="panel-heading" style="color: #09090999 !important">  Upload Documents </div>
                                  <div class="panel-body">
                                      <div class="form-row">
                                          <div class="form-group col-md-6">
                                              <label for="inputPassword4">Upload Licence Front Copy</label>
                                              <div class="row col-md-6 pull-left">
                                                  <input class="form-control input-md" #file  id="licenceFile"  (change)="uploadInsurance($event,'licence')" name="licence" type="file">
                                              </div>
                                              <div class="pull-right" *ngIf="licenceFront !=''">
                                              <a href="{{hostUrl}}/Broker/{{licenceFront}}" target="_blank"> <i class="fa fa-file fa-3x"></i> Click here to view</a>
                                            </div>
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label class="control-label">Upload Licence Back Copy</label>
                                              <div class="row col-md-6 pull-left">
                                                <input class="form-control input-md" #file  id="licenceFileBack"  (change)="uploadInsurance($event,'licence-back')" name="licence-back" type="file">
                                              </div>
                                              <div class="pull-right" *ngIf="licenceBack !=''">
                                              <a href="{{hostUrl}}/Broker/{{licenceBack}}" target="_blank"> <i class="fa fa-file fa-3x"></i> Click here to view</a>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="form-group col-md-6">
                                              <label class="control-label">Upload E&O Insurance</label>
                                                <div class="row col-md-6 pull-left">
                                                  <input class="form-control input-md" #file  id="insuranceFile" (change)="uploadInsurance($event,'insurance')" name="insurance" type="file">
                                              </div>
                                              <div class="pull-right" *ngIf="insurance !=''">
                                              <a href="{{hostUrl}}/Broker/{{insurance}}" target="_blank"> <i class="fa fa-file fa-3x"></i> Click here to view</a>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="col-md-12 text-center">
                                <button *ngIf="!isLoadingProfile" type="button" (click)="submitDetail(brokerForm)" class="dash-button dash-button--affirm loginFocusIndicator"
                                [disabled]="!brokerForm.valid">
                                   <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                                      <span class="ng-binding" aria-hidden="false">Submit</span>
                                   </span>
                                </button>

                                <button *ngIf="isLoadingProfile" type="button" class="dash-button dash-button--affirm loginFocusIndicator"
                                [disabled]="brokerForm.valid">
                                   <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                                      <span *ngIf="isLoadingProfile" class="" aria-hidden="true">Please wait</span>
                                      <span *ngIf="isLoadingProfile" aria-hidden="true" class="ng-hide">
                                         <span class="button-loading">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                         </span>
                                      </span>
                                   </span>
                                </button>
                              </div>
                            </form>
                           </div>
                        </div>

                        <div [ngClass]="activeTab == '2' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Change Password <!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <form novalidate="" autocomplete="off" name="cpForm" #cpForm="ngForm"(ngSubmit)="changePwd(cpForm)" class="profile-inf__content">
                                 <div class="row" ng-show="cardInfoCtrl.showEditAddress" aria-hidden="true" style="background-color: #eeeeee; padding: 20px 10px;">
                                    <div class="col-xs-12">
                                       <label  class="body-copy--input-label">
                                          Old Password<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input required [(ngModel)]="oldPwd"  class="profile-inf__input" name="oldPwd" type="password" id="op">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('op')"></span>
                                    </div>
                                    <!-- addressLine1 input START -->
                                    <div class="col-xs-12 profile__input--spacing">
                                       <label  class="body-copy--input-label">
                                       New Password
                                       </label>
                                       <input class="profile-inf__input"  required [(ngModel)]="newPwd" name="newPwd" type="password" id="np">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('np')"></span>
                                    </div>
                                    <!-- addressLine1 input END -->
                                    <!-- addressLine2 input START -->
                                    <div class="col-xs-12 profile__input--spacing">
                                       <label for="addressLine2" class="body-copy--input-label">
                                       Confirm Password
                                       </label>
                                       <input required [(ngModel)]="newCPwd" name="newCPwd" type="password" class="profile-inf__input" id="cp">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('cp')"></span>
                                       <br>
                                       <p *ngIf="newPwd != newCPwd" style="color:red">Confirm password did not match.</p>
                                    </div>
                                    <div class="col-xs-12 profile__input--spacing">
                                       <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                          [disabled]="!cpForm.valid">
                                          <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                             <span *ngIf="!cploading" class="ng-binding" aria-hidden="false">Update</span>
                                             <span *ngIf="cploading" class="" aria-hidden="true">Please wait</span>
                                             <span *ngIf="cploading" aria-hidden="true" class="ng-hide">
                                                <span class="button-loading">
                                                   <div class="bounce1"></div>
                                                   <div class="bounce2"></div>
                                                   <div class="bounce3"></div>
                                                </span>
                                             </span>
                                          </span>
                                       </button>
                                    </div>
                                 </div>
                                 <!-- Edit Address Row End-->
                                 </form>
                              </div>
                           </div>
                        </div>

                        <div [ngClass]="activeTab == '3' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    My Default Commission Charges<!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <form novalidate="" autocomplete="off" name="cpForm" #feeForm="ngForm"(ngSubmit)="updateFeeCharges(feeForm)" class="profile-inf__content">
                                 <div class="row" style="background-color: #eeeeee; padding: 20px 10px;">
                                   <div class="col-xs-12 profile__input--spacing">
                                      <label  class="body-copy--input-label">
                                      Max Commission Set By eFlex Admin
                                      </label>
                                      <input class="profile-inf__input" disabled [(ngModel)]="brokerMaxFee" name="brokerMaxFee" type="text">
                                   </div>
                                    <div class="col-xs-12">
                                       <label  class="body-copy--input-label">
                                        Default Charges Per Company Registration ($)<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input [(ngModel)]="myCharges"  class="profile-inf__input" name="myCharges" type="text">
                                    </div>
                                    <!-- addressLine1 input START -->

                                    <div class="col-xs-12 profile__input--spacing">
                                       <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                          [disabled]="!feeForm.valid">
                                          <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                             <span *ngIf="!loading" class="ng-binding" aria-hidden="false">Update</span>
                                             <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                                             <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                <span class="button-loading">
                                                   <div class="bounce1"></div>
                                                   <div class="bounce2"></div>
                                                   <div class="bounce3"></div>
                                                </span>
                                             </span>
                                          </span>
                                       </button>
                                    </div>
                                 </div>
                                 <!-- Edit Address Row End-->
                                 </form>
                              </div>
                           </div>
                        </div>

                        <div [ngClass]="activeTab == '4' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    PAP Detail<!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <div class="profile-inf__content" >
                                    <form class="editForm"  novalidate #bankForm="ngForm"(ngSubmit)="updatePAPDetail(bankForm)" >
                                    <div class="tab-pane fade in active">
                                       <div class='row'  style="background-color: #eeeeee; padding: 20px 10px;">
                                          <div class='col-md-10'>
                                             <div class="row">
                                                <div class='col-xs-12 col-sm-12'>
                                                   <div class="form-group">
                                                      <label class="control-label" for="cname">Bank Name</label>
                                                      <input class="form-control input-md" required placeholder="Legal bank name" [(ngModel)]="bankname" name="bankname">
                                                   </div>
                                                </div>
                                             </div>
                                             <!-- <div class="row">
                                                <div class='col-xs-12 col-sm-6'>
                                                   <div class="form-group">
                                                      <label class="control-label" for="cname">Transit ID</label>
                                                      <input class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="5" minLength="5"  placeholder="12345 "required [(ngModel)]="transId" name="transId">
                                                   </div>
                                                </div>
                                                <div class='col-xs-12 col-sm-6'>
                                                   <div class="form-group">
                                                      <label class="control-label" for="cname">Institution ID Name</label>
                                                      <input class="form-control input-md" (keypress)="_keyPress($event)" placeholder="001"   maxlength="3" minLength="3" required [(ngModel)]="instId" name="instId">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="form-group">
                                                <label class="control-label" for="cname">Account Number</label>
                                                <input class="form-control input-md" (keypress)="_keyPress($event)" placeholder="123456789" required [(ngModel)]="accountNumber" name="accountNumber">
                                             </div> -->
                                             <div class="row">
                                                 <div class='col-xs-12 col-sm-6'>
                                                     <div class="form-group">
                                                         <label class="control-label" for="cname">Transit ID</label>
                                                         <input class="form-control input-md" type="password" (keypress)="_keyPress($event)"  maxlength="5" minLength="5"  placeholder="12345"required [(ngModel)]="transId" name="transId" id="ti">
                                                         <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('ti')"></span>
                                                     </div>
                                                 </div>
                                                 <div class='col-xs-12 col-sm-6'>
                                                     <div class="form-group">
                                                         <label class="control-label" for="cname">Institution ID</label>
                                                         <input class="form-control input-md" type="password" (keypress)="_keyPress($event)" placeholder="001"   maxlength="3" minLength="3" required [(ngModel)]="instId" name="instId" id="in">
                                                         <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('in')"></span>

                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="control-label" for="cname">Account Number</label>
                                                 <input class="form-control input-md" type="password" (keypress)="_keyPress($event)" required [(ngModel)]="accountNumber" name="accountNumber" id="acc">
                                                 <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('acc')"></span>
                                             </div>
                                             <!-- <div class="row">
                                                <div class='col-xs-12 col-sm-6'>
                                                   <div class="form-group">
                                                      <label class="checkbox-inline">
                                                      <input type="checkbox" [(ngModel)]="iagree" name="iagree" style="margin-top:10px">I agree term and conditions.
                                                      </label>
                                                   </div>
                                                </div>
                                                <div class='col-xs-12 col-sm-6'>
                                                   <span class="pull-right">
                                                   <a (click)="openModal()" *ngIf="!fileName">
                                                   <img src="assets/images/upload-icon.png"> Upload a void cheque
                                                   </a>
                                                   <br>
                                                   <span *ngIf="fileName"><a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank">View File </a>  <i class="fa fa-close" style="padding-left:25px" (click)="removeFile()"> Remove</i></span>
                                                   </span>
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class='col-lg-12 col-sm-12'>
                                                   <img src="assets/images/cheque-demo.png" style="width:100%">
                                                </div>
                                             </div> -->
                                             <div class="form-group text-center">
                                                <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                                   [disabled]="!bankForm.valid" style="margin-bottom:10px; margin-top:20px;">
                                                   <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                                      <span  class="ng-binding" aria-hidden="false">Update</span>
                                                      <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                                                      <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                         <span class="button-loading">
                                                            <div class="bounce1"></div>
                                                            <div class="bounce2"></div>
                                                            <div class="bounce3"></div>
                                                         </span>
                                                      </span>
                                                   </span>
                                                </button>
                                                <br>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Profile/Settings tab content END-->
                  </div>
                  <!-- row div end-->
               </div>
               <!-- container div end-->
            </div>
         </div>
      </div>
   </div>
</main>
