.profile-inf__heading{
  margin-bottom: 15px;
}
.activeTab{
  background: #fa9619
;
  color: #fff !important;
}
.show-mobile{
  display: none;
}
.myContent{
  padding: 10px !important
}
.activeTab:hover{
  background: #fa9619
;
  color: #fff !important;
}
#profileController .nav > li > a:hover {
	color: #fff;
	background: #2b3e4f;
}
#profileController .nav > li > a {
	position: relative;
	display: block;
	padding: 5px 5px 5px 5px;
	font-size: 0.9375rem;
	color: #2b3e4f;
	font-weight: 400;
}
.profile-inf__heading {
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding-left: 22px;
	line-height: 30px;
	color: #2b3e4f;
	border-bottom: none;
	font-size: 2.125rem;
	text-decoration: none;
	cursor: default;
}


* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #2b3e4f;
    color: white;
    font-size: 25px;
    padding: 7px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.modal-title {
	/* border-top: 13px solid #443f3c; */
  border-top:  none;
}
.modal {
	background-color: #0009;
}
.modal-header{
  background-color: #fa9619
;
  color: #ecf0f1;
}
.modal-header .close {
	margin-top: -2px;
	color: #ecf0f1;
}
ul{
margin-left: -3px
}

@media only screen and (max-width: 767px) {
  .profile-inf__heading{
    font-size: 20px !important;
    padding: 5px;
  }
  .show-mobile{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }
  .profile__no-pad-mobile{
    padding: 15px;
  }
}

.field-astric {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}
