#myStepWizard{
    position: relative;
    margin-top:30px;
    width: 60%;
    margin: 0px auto;
    /* border: 1px solid #eee */
}
.myContent{
  padding: 10px !important
}
.support{
  margin-top: 2%;
  color:#fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.support h2, h3{
  color:#fff;
}
h2{
  margin-top: 30px;
  padding-bottom: 30px;
}
/* .wrapper {
  background-color:rgba(132,40,89,0.6);
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
} */
.wrapper a{
  cursor: pointer;
}
input::placeholder {
    font-size: 12px !important;
    opacity: 1; /* Firefox */
}
select{
    font-size: 12px !important;
    opacity: 1; /* Firefox */
}

.btn {
	border-radius: 5px!important;
  background:transparent!important;
  border:1px solid #2035ac;
}

.btn:hover {
  background: #2035ac!important;
  color: #fff;
}
  .btn-form {
    background:#4789e9!important;
    color:white;
  }
  .mygroup {
    padding-left:30px;
    padding-right:30px;
  }
  .btn-group .btn{
    margin-left:20px;

  }
  .btn-group-xs .btn{
    margin-left:5px;

  }
  .mycards {
    background:white;
    padding-left:5px;

  }
  .backlink {
    padding-top:10px;
    padding-bottom:0;
    position:absolute;
    left:20px;
    z-index:10;

  }

  .skiplink {
    padding-top:10px;
    padding-bottom:0;
    position:absolute;
    right:20px;
    z-index:10;

  }

  .backlink a, .skiplink a {
    color:#ffbb35  !important;
    font-weight:700;
  }
