
  <section style="background:#449aba; display:block; height:100%;">
    <div class="col-md-12" style="background:#2b3e50; display:block; padding-right: 1px;
    padding-left: 1px;">

      <div class="col-md-2" style="background:#2b3e50; color:#fff;"  [style.min-height.px]="screenHeight - minusHeight">
        <img routerLink="/join-us" src="assets/images/eflex-logo-white.png"> <sup class="fa fa-lock" style="color:#fff"> Secure</sup><br>
        <div class="support">
           <br>
           <h3 style="color:#fff"> Support</h3>
           <p><i class="fa fa-phone"></i> 1-855-440-3993</p>
        </div>
      </div>

     <div  class="col-md-10"   style="background:#fff; padding-bottom:60px;" [style.min-height.px]="screenHeight - minusHeight">
        <div class="backlink pull-left" *ngIf="step!=2" style="padding-top: 7%; left:5%">
           <a (click)="goToPrevStep(step)"><i class="fa fa-angle-left fa-3x"></i></a>
        </div>
        <div id="myStepWizard">
           <div class="wrapper">
              <div class="mycontainer" >
                 <div class="wrapper1 fadeInDown">
                    <div id="formContent">
                       <div class="row">
                          <!-- <div class="backlink pull-left" *ngIf="step!=2">
                             <a (click)="goToPrevStep(step)">Back</a>
                             </div> -->
                          <!-- <div class="skiplink pull-right" *ngIf="step!=5">
                             <a (click)="goToNextStep(step)">Next</a>
                             </div>                     -->
                       </div>
                       <form  [formGroup]="brokerForm">
                       <div  class="myContent" *ngIf="step==2">
                          <div class="row">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center" style="margin-top:30px"><span>
                                      Select Account Type
                                      </span><br/>
                                   </h2>
                                </div>
                                <div class="form-group text-center" >
                                   <div class="radio" style="width: 35%; text-align: center; margin: 0px auto;">
                                      <label>
                                      <input type="radio" formControlName="accountType" required name="accountType"  value="Personal">
                                      Personal
                                        <i id="lgn-tooltip" class="dash-tooltip" style="width:50%; position:absolute;" tabindex="0" aria-describedby="ttlgn">
                                           <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                              <div class="hiddenAODA">
                                                 Tooltip
                                              </div>
                                              You can add new company
                                           </span>
                                        </i>
                                      </label>
                                   </div>
                                   <div class="radio" style="width: 35%; text-align: center; margin: 0px auto;">
                                      <label>
                                      <input type="radio" formControlName="accountType" required name="accountType" value="Agent">
                                      Company
                                        <i id="lgn-tooltip" class="dash-tooltip" style="width:50%; position:absolute;" tabindex="0" aria-describedby="ttlgn">
                                           <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                              <div class="hiddenAODA">
                                                 Tooltip
                                              </div>
                                              You can add borker and new company
                                           </span>
                                        </i>
                                      </label>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>

                       <div  class="myContent" *ngIf="step==3">

                          <div class="row" *ngIf="brokerForm.get('accountType').value == 'Personal'">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center " style="margin-top:30px"><span>
                                      Enter your personal information. Login detail will be sent on your entered email address
                                      </span><br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">First Name</label>
                                      <input class="form-control input-md" required formControlName="fname" id="fname" name="fname" type="text" placeholder="First name">
                                      <!-- <div class="alert  alert-danger" *ngIf="brokerForm.get('fname').hasError('required') && brokerForm.get('fname').touched">
                                           Phone Number is required
                                       </div> -->
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Last Name</label>
                                      <input class="form-control input-md" formControlName="lname"  required id="fname" name="fname" type="text" placeholder="Last name">
                                      <!-- <div class="alert alert-danger" [hidden]="phone.valid">Company phone is required</div> -->
                                   </div>
                                </div>

                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Email</label>
                                      <input class="form-control input-md" formControlName="emailAddress" id="emailAddress" name="emailAddress" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Username</label>
                                      <input class="form-control input-md" formControlName="username" required id="username" name="username" type="text">
                                      <!-- <div class="alert alert-danger" [hidden]="phone.valid">Company phone is required</div> -->
                                   </div>
                                </div>
                             </div>
                          </div>

                          <div class="row"  *ngIf="brokerForm.get('accountType').value == 'Agent'" style="margin-top:25px">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center" >
                                      Provide your company information
                                      <br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Company Name</label>
                                      <input class="form-control input-md" formControlName="companyName" id="companyName" name="companyName" type="text">
                                   </div>
                                </div>
                                <!-- <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Contact Person</label>
                                      <input class="form-control input-md" formControlName="contactPerson"id="contactPerson" name="contactPerson" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Contact Number</label>
                                      <input class="form-control input-md" (keypress)="_keyPress($event)" formControlName="companyContact" id="companyContact" name="companyContact" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Email</label>
                                      <input class="form-control input-md" formControlName="companyEmail" id="companyEmail" name="companyEmail" type="text">
                                   </div>
                                </div> -->
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Address</label>
                                      <input class="form-control input-md" formControlName="companyAddress" id="companyAddress" name="companyAddress" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">City</label>
                                      <input class="form-control input-md" formControlName="companyCity" id="companyCity" name="companyCity" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Province</label>
                                      <select formControlName="companyProvince" required id="companyProvince" name="companyProvince">
                                            <option value="">Choose a Province...</option>
                                            <option *ngFor="let p of provienceData; trackBy:trackByFun" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                      </select>
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Postal Code</label>
                                      <input class="form-control input-md" formControlName="companyPostal"  id="companyPostal" name="companyPostal" type="text">
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="myContent" *ngIf="step==4">
                          <div class="row" style="margin-top:25px">
                             <div class="col-md-12 col-lg-12 col-xs-12"  *ngIf="brokerForm.get('accountType').value == 'Personal'">
                                <div class="">
                                   <h2 class="text-center " style="margin-top:30px">
                                      What is your contact and mailing address?
                                      <br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Address</label>
                                      <input class="form-control input-md" formControlName="address" required id="address" name="address" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Contact Number</label>
                                      <input class="form-control input-md" (keypress)="_keyPress($event)" maxlength="10" minLength="10" formControlName="contact"  required id="contact" name="contact" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">City</label>
                                      <input class="form-control input-md" formControlName="city"  required id="city" name="city" type="text">
                                   </div>
                                </div>

                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Province</label>
                                      <!-- <input class="form-control input-md" formControlName="province" required id="province" name="province" type="text"> -->
                                      <select formControlName="province" required id="province" name="province">
                                            <option value="">Choose a Province...</option>
                                            <option *ngFor="let p of provienceData; trackBy:trackByFun" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                      </select>
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Postal Code</label>
                                      <input class="form-control input-md" formControlName="postal"  required id="postal" name="postal" type="text">
                                   </div>
                                </div>
                             </div>

                             <div class="col-md-12 col-lg-12 col-xs-12"  *ngIf="brokerForm.get('accountType').value == 'Agent'">
                               <div class="">
                                  <h2 class="text-center " style="margin-top:30px">
                                     What is your company contact information?
                                     <br/>
                                  </h2>
                               </div>

                               <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Owner First Name</label>
                                     <input class="form-control input-md" required formControlName="fname" id="fname" name="fname" type="text" placeholder="First name">
                                     <!-- <div class="alert  alert-danger" *ngIf="brokerForm.get('fname').hasError('required') && brokerForm.get('fname').touched">
                                          Phone Number is required
                                      </div> -->
                                  </div>
                               </div>
                               <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Owner Last Name</label>
                                     <input class="form-control input-md" formControlName="lname"  required id="fname" name="fname" type="text" placeholder="Last name">
                                     <!-- <div class="alert alert-danger" [hidden]="phone.valid">Company phone is required</div> -->
                                  </div>
                               </div>
                               <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Owner Email</label>
                                     <input class="form-control input-md" formControlName="emailAddress" id="emailAddress" name="emailAddress" type="text">
                                  </div>
                               </div>
                               <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Username</label>
                                     <input class="form-control input-md" formControlName="username" required id="username" name="username" type="text">
                                     <!-- <div class="alert alert-danger" [hidden]="phone.valid">Company phone is required</div> -->
                                  </div>
                               </div>

                               <!-- <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Contact Person</label>
                                     <input class="form-control input-md" formControlName="contactPerson"id="contactPerson" name="contactPerson" type="text">
                                  </div>
                               </div> -->
                               <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Contact Number</label>
                                     <input class="form-control input-md" (keypress)="_keyPress($event)" formControlName="companyContact" id="companyContact" name="companyContact" type="text">
                                  </div>
                               </div>
                               <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                     <label class="control-label">Company Email</label>
                                     <input class="form-control input-md" formControlName="companyEmail" id="companyEmail" name="companyEmail" type="text">
                                  </div>
                               </div>
                             </div>
                          </div>
                       </div>

                       <!-- <div class="myContent" *ngIf="step==5">
                          <div class="row" style="margin-top:25px">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center " style="margin-top:30px">
                                      Provide your company information
                                      <br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Company Name</label>
                                      <input class="form-control input-md" formControlName="companyName" id="companyName" name="companyName" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Contact Person</label>
                                      <input class="form-control input-md" formControlName="contactPerson"id="contactPerson" name="contactPerson" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Contact Number</label>
                                      <input class="form-control input-md" (keypress)="_keyPress($event)" formControlName="companyContact" id="companyContact" name="companyContact" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Email</label>
                                      <input class="form-control input-md" formControlName="companyEmail" id="companyEmail" name="companyEmail" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Address</label>
                                      <input class="form-control input-md" formControlName="companyAddress" id="companyAddress" name="companyAddress" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">City</label>
                                      <input class="form-control input-md" formControlName="companyCity" id="companyCity" name="companyCity" type="text">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Province</label>
                                      <select formControlName="companyProvince" required id="companyProvince" name="companyProvince">
                                            <option value="">Choose a Province...</option>
                                            <option *ngFor="let p of provienceData; trackBy:trackByFun" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                      </select>
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Postal Code</label>
                                      <input class="form-control input-md" formControlName="companyPostal"  id="companyPostal" name="companyPostal" type="text">
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div> -->

                       <div class="myContent" *ngIf="step==5">
                          <div class="row" style="margin-top:25px">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center " style="margin-top:30px">
                                    Direct Deposit Services Enrollment
                                      <br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Social Insurance Number</label>
                                      <input class="form-control input-md" formControlName="socialInsurance" id="socialInsurance" name="socialInsurance" type="text" >
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Date of Birth</label>
                                      <my-date-picker name="DOB" [options]="myDatePickerOptions"
                                       formControlName="DOB"  placeholder="MM/dd/yyyy"></my-date-picker>
                                      <!-- <input class="form-control input-md" formControlName="contactPerson"id="contactPerson" name="contactPerson" type="text"> -->
                                   </div>
                                </div>
                                <!-- <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Licence Number</label>
                                      <input class="form-control input-md" formControlName="licence" id="licence" name="licence" type="text" >
                                   </div>
                                </div> -->
                                <div class='col-xs-12 col-sm-6' *ngIf="brokerForm.get('accountType').value == 'Agent'">
                                   <div class="form-group">
                                      <label class="control-label">Business Number (CRA)</label>
                                      <input class="form-control input-md" formControlName="CRA" id="CRA" name="CRA" type="text" placeholder="00345 0789 RC 0034">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6' >
                                   <div class="form-group">
                                      <label class="control-label">GST Number</label>
                                      <input class="form-control input-md" formControlName="GSTNo" id="GSTNo" name="GSTNo" type="text" placeholder="">
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>


                       <div class="myContent" *ngIf="step==6">
                          <div class="row" style="margin-top:25px">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center " style="margin-top:30px">
                                      Upload  Documents
                                      <br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Upload Licence Front Copy</label>
                                      <input class="form-control input-md" #file  id="licenceFile"  (change)="uploadInsurance($event,'licence')" name="licence" type="file">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Upload Licence Back Copy</label>
                                      <input class="form-control input-md" #file  id="licenceFileBack"  (change)="uploadInsurance($event,'licence-back')" name="licence-back" type="file">
                                   </div>
                                </div>

                                <div class='col-xs-12 col-sm-6'>
                                   <div class="form-group">
                                      <label class="control-label">Upload E&O Insurance</label>
                                        <!-- <input type="file" style="display: none" id="chequeFile" #file (change)="uploadChequeFile($event)" /> -->
                                      <input class="form-control input-md" #file  id="insuranceFile" (change)="uploadInsurance($event,'insurance')" name="insurance" type="file">
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>

                       <div class="myContent" *ngIf="step==7">
                          <div class="row" style="margin-top:25px">
                             <div class="col-md-12 col-lg-12 col-xs-12">
                                <div class="">
                                   <h2 class="text-center " style="margin-top:30px">
                                        Pre-Authorized Payment (PAP)
                                      <br/>
                                   </h2>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="cname">Bank Name</label>
                                        <input class="form-control input-md" required formControlName="bankname" name="bankname">
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="cname">Account Number</label>
                                        <input  class="form-control input-md" (keypress)="_keyPress($event)" required formControlName="accountNumber" name="accountNumber">
                                    </div>
                                </div>

                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="cname">Transit ID</label>
                                        <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="5" minLength="5" required formControlName="transId" name="transId">
                                    </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                        <label class="control-label" for="cname">Institution ID</label>
                                        <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="3" minLength="3" required formControlName="instId" name="instId">
                                   </div>
                                </div>
                                <div class='col-xs-12 col-sm-6'>
                                    <div class="form-group">
                                      <label class="checkbox-inline">
                                         <input type="checkbox" required formControlName="iagree" name="iagree" style="margin-top:10px">I agree term and conditions.
                                       </label>
                                     </div>
                                </div>
                                <!-- <div class='col-xs-12 col-sm-6'>
                                    <span class="pull-right">
                                      <a  (click)="file.click()" *ngIf="!fileName">
                                        <img src="assets/images/upload-icon.png"> Upload a void cheque
                                      </a>
                                      <input type="file" style="display: none" id="chequeFile" #file (change)="uploadChequeFile($event)" />
                                      <br>
                                      <span *ngIf="fileName"><a  href="" target="_blank">View File </a>  <i class="fa fa-close" style="padding-left:25px" (click)="removeFile()"> Remove</i></span>
                                  </span>
                                </div> -->

                                <!-- <div class="row">
                                    <div class='col-lg-12 col-sm-12'>
                                      <img src="assets/images/cheque-demo.png" style="width:100%">
                                    </div>
                                </div> -->
                             </div>
                          </div>
                       </div>

                       <div id="formFooter" style="height:75px; text-align:center">
                          <!-- *ngIf="step<4 && selectedThemes.length == 3" -->
                          <button type="button"  *ngIf="step < 7" name="button" class="dash-button dash-button--affirm loginFocusIndicator"  (click)="goToNextStep(step)" style="margin-top:2px">Next</button>
                          <button type="button" name="button" [disabled]="!brokerForm.valid"  class="dash-button dash-button--affirm loginFocusIndicator" *ngIf="step==7" (click)="saveBrokerDetail(brokerForm)" style="margin-top:2px">
                            <span  loading-text="Loading" class="ng-isolate-scope">
                               <span  class="ng-binding" aria-hidden="false">Submit</span>
                               <span *ngIf="isLoading" class="" aria-hidden="true">Loading</span>
                               <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                                  <span class="button-loading">
                                     <div class="bounce1"></div>
                                     <div class="bounce2"></div>
                                     <div class="bounce3"></div>
                                  </span>
                               </span>
                            </span>
                          </button>
                       </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>
<!-- <div class="col-md-12" style="bottom:0px; background: #2c3e50;">
    <app-footer></app-footer>
</div> -->
</section>
