

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <h1 class="profile__h1">
                          List of Transactions
                      </h1>
                  </div>
                </div>
              <div>
                <div class="panel panel-default">
                   <div class="transactions__tab pending-tab">
                     <a id="upcoming_trns" class="transactions__tab__heading">

                      </a>
                      <div class="table-responsive">
                        <table class="table" >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Payment Type</th>
                                <th>Payment Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of transactionsData; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{data.TransactionDt | mydate}}</td>
                                <td>{{data.Description}}</td>
                                <td>${{data.Amount | number : '2.2-2'}}</td>
                                <td>{{data.PaymentType}}</td>
                                <td>
                                  <span *ngIf="data.PaymentStatus == 0"> Pending  </span>
                                  <span *ngIf="data.PaymentStatus == 1"> Over Due  </span>
                                  <span *ngIf="data.PaymentStatus == 2"> Partial Paid  </span>
                                  <span *ngIf="data.PaymentStatus == 3"> Deposited  </span>
                                </td>

                              </tr>
                              <tr *ngIf="transactionsData.length < 1">
                                  <td colspan="6">No record found</td>
                              </tr>                              
                            </tbody>
                         </table>
                     </div>
                   </div>
                 </div>
              </div>
            </div>

          </div>
        </div>
   </div>
 </main>
