<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div class="main-page">
               <div class="col_3">
                  <div class="col-md-3 widget widget1">
                     <div class="r3_counter_box">
                        <i class="pull-left fa fa-users fa-badge"></i>
                        <div class="stats">
                           <h5><strong>{{getCompDashboardFigures.TotalMembers}}</strong></h5>

                        </div>
                        <span style="font-weight: bold;">Plan Members</span>
                     </div>
                  </div>
                  <div class="col-md-3 widget widget1">
                     <div class="r3_counter_box">
                        <i class="pull-left fa fa-dollar user1 fa-badge"></i>
                        <div class="stats">
                           <h5><strong>${{getCompDashboardFigures.AmountDue | number : '1.2-2'}}</strong></h5>

                        </div>
                         <span style="font-weight: bold;">Due Payments</span>
                     </div>
                  </div>
                  <div class="col-md-3 widget widget1">
                     <div class="r3_counter_box">
                        <i class="pull-left fa fa-file user2 fa-badge"></i>
                        <div class="stats">
                           <h5><strong>${{getCompDashboardFigures.TotalClaimed | number : '1.2-2'}}</strong></h5>
                          </div>
                          <span style="font-weight: bold;">Claimed Amount</span>

                     </div>
                  </div>
                  <div class="col-md-3 widget widget1">
                     <div class="r3_counter_box">
                        <i class="pull-left fa fa-money dollar1 fa-badge"></i>
                        <div class="stats">
                           <h5><strong>${{getCompDashboardFigures.AvailableCredits | number : '1.2-2'}}</strong></h5>
                        </div>
                        <span style="font-weight: bold;">Available Credits</span>

                     </div>
                  </div>
                  <div class="col-md-3 widget">
                     <div class="r3_counter_box">
                        <i class="pull-left fa fa-user dollar2 fa-badge"></i>
                        <div class="stats">
                           <h5><strong>{{getCompDashboardFigures.TotalAdmin}}</strong></h5>

                        </div>
                           <span style="font-weight: bold;">Admins</span>
                     </div>
                  </div>
                  <div class="clearfix"> </div>
               </div>
               <div class="clearfix"> </div>
               <div class="row-one widgettable">
                  <div class="col-md-8 col-sm-12 content-top-2 card">
                     <div class="agileinfo-cdr-1">
                        <div class="card-header">
                           <h3 style="margin-left: -15px; padding: 15px; background: #fa9619
; color:#fff; margin-right: -15px;">Monthly Claims Overview</h3>
                        </div>
                        <div class="SimpleChart Line" [chart]="plansChart"></div>
                     </div>
                  </div>
                  <div class="col-md-4 stat col-sm-12">
                     <div class="activity_box activity_box2">
                        <h3> Services & claimed amount</h3>
                        <div class="scrollbar" id="style-2">
                           <div class="activity-row activity-row1">
                              <div class="">
                                 <ul id="myUL">
                                     <ng-container  *ngFor="let data of servicesClaimData">
                                        <li style="padding-bottom: 10px;">
                                          <a href="javascript:void(0)">{{data.ServiceName}}<br>
                                            <i class="badge badge-amt pull-right"> ${{data.Amount | number:'1.2-2'}}</i></a>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="servicesClaimData.length < 1">
                                         <label for="">No record found!</label>
                                    </ng-container>
                                  </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix"> </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="table-responsive">
                        <h4 style="padding:10px; background: #7cb5ec; color:#fff">Upcoming Transactions</h4>
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Date</th>
                                 <th>Description</th>
                                 <th>Type</th>
                                 <th>Amount</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let utrans of pendingTransaction; let i=index">
                                 <td>{{i+1}}</td>
                                 <td>{{utrans.Date | dateFormat}}</td>
                                 <td>{{utrans.Details}}</td>
                                 <td>{{utrans.TypeId}}</td>
                                 <td>${{utrans.Amount | number : '1.2-2'}}</td>
                              </tr>
                              <tr *ngIf="pendingTransaction.length < 1">
                                 <td colspan="5">
                                    No record found!
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="table-responsive">
                        <h4 style="padding:10px; background:#00ad45; color:#fff">Current Transactions</h4>
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Date</th>
                                 <th>Description</th>
                                 <th>Type</th>
                                 <th>Amount</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let utrans of currentTransaction; let i=index">
                                 <td>{{i+1}}</td>
                                 <td>{{utrans.Date | dateFormat}}</td>
                                 <td>{{utrans.Details}}</td>
                                 <td>{{utrans.TypeId}}</td>
                                 <td>${{utrans.Amount | number : '1.2-2'}}</td>
                              </tr>
                              <tr *ngIf="currentTransaction.length < 1">
                                 <td colspan="5">
                                    No record found!
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="clearfix"> </div>
               </div>
               <div class="clearfix"> </div>
               <div class="row chit-chat-layer1">
                  <div class="col-md-6">
                     <div class="table-responsive">
                        <h4 style="padding:10px; background: #fa9619
; color:#fff">
                           Recent Claims By Service Type
                           <div class="pull-right">
                              <select class="form-control" [(ngModel)]="serviceType" name="serviceType" (change)="setSelectedServiceType()">
                              <option value="1">Medical Health</option>
                              <option value="2">Dental</option>
                              <option value="3">Wellness</option>
                              <option value="4">Other</option>
                              </select>
                           </div>
                        </h4>
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Employee Name</th>
                                 <th>Claimed Amount ($)</th>
                                 <th>% of Premium</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let data of recentClaimsData; let i=index">
                                 <td scope="row">{{i+1}}</td>
                                 <td>{{data.EmpName}}</td>
                                 <td>{{data.ClaimAmt | number:'1.2-2'}}</td>
                                 <td>{{data.PctPremium | number:'1.2-2'}}%</td>
                              </tr>
                              <tr *ngIf="isServiceCall == true">
                                 <td colspan="4">
                                    <i class="fa fa-loader fa-2x fa-spin"></i><br>Loading...
                                 </td>
                              </tr>
                              <tr *ngIf="recentClaimsData.length < 1">
                                 <td colspan="4">
                                    No record found!
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>

                  <div class="col-md-6">
                      <h4 style="padding:10px; background: #aaaeaf; color:#fff">Plan Detail</h4>
                     <div id="container" style="width: 100%;">
                        <div class="pieChart" [chart]="pieChart"></div>
                     </div>
                  </div>

                  <!-- <div class="col-md-6">
                        <h4 style="padding:10px; background: #2b3e4f; color:#fff">Employees Detail</h4>
                        <div class="table-responsive">
                           <table class="table table-hover">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Plan Name</th>
                                    <th>Total Claimed ($)</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let data of empData; let i=index">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{data.EmpName}}</td>
                                    <td>{{data.PlanName}}</td>
                                    <td>{{data.TotalClaimed | number: '1.2-2'}}</td>
                                 </tr>
                                 <tr *ngIf="isServiceCall_2 == true">
                                    <td colspan="4">
                                       <i class="fa fa-loader fa-2x fa-spin"></i><br>Loading...
                                    </td>
                                 </tr>
                                 <tr *ngIf="empData.length < 1">
                                    <td colspan="4">
                                       No record found!
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                  </div> -->

               </div>
            </div>
         </div>
      </div>
   </div>
</main>
