
  <section style="background:#449aba; display:block; height:100%;">
    <div class="col-md-12" style="background:#2b3e50; display:block; padding-right: 0px;
    padding-left: 1px;">

        <div class="board-2">
            <div class="col-md-2" style="background:#2b3e50; color:#fff; min-height: inherit">
              <img src="assets/images/eflex-logo-white.png" routerLink="/">
              <sup class="fa fa-lock" style="margin-left:50px"> Secure</sup>
              <br>
              <h2 class="title">Support</h2>
              <div class="contact-box">
                 <a href="tel:1-855-440-3993" style="color: #fff; text-align:left; font-size:16px">
                   <i class="fa fa-phone"></i> 1-855-440-3993
                 </a>
              </div>
            </div>

            <div class="col-md-10" [style.min-height.px]="screenHeight - minusHeight" style="background:#fff; min-height:600px; text-align:center">
              <!-- <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10' style="margin-top:6%">
                <h3 class="head text-center" style="font-size:28px; font-weight:bold; padding-bottom:30px">Congratulations!</h3>
                <h4  style="font-size:26px; font-weight:bold; color: #2b3e50; line-height:1; margin-bottom:30px">Your eFlex account(s) have been registered.</h4>
                <hr style="border: 1px solid #fa9619;" align="center" width="30%" />
                <p>You will receive an email at {{ownerEmail}} with confirmation details on how to access your company's admin portal.</p>

                <p> {{worktype == 'Group' ? 'You and your employees':'You'}} will also receive individual email with separate login information for your personal eFlex accounts.</p>

                <p>If you have any questions or concerns about your new accounts, please contact our team</p>
                <p>at: <a href="mailto:info@eclipseEIO.com" style="color: #fa9619; font-weight:bold; font-size:21px"> eFlex@eclipseEIO.com </a> or <a href="tel:1-855-440-3993" style="color: #fa9619; font-weight:bold; font-size:21px">1-855-440-3993</a><p>
                <hr style="border: 1px solid #fa9619;" align="center" width="30%" />
                <h3 class="head text-center">We hope you enjoy your new benefits!</h3>
                <a routerLink="/"  type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; font-size: 18px; background-color: #2b3e50; border-radius:15px; margin:15px; padding:12px; width:300px">Exit to eFlex Homepage</a>
              </div> -->
              <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10' style="margin-top:6%">
                <h3 class="head text-center" style="font-size:28px; font-weight:bold; padding-bottom:30px">Check your email now!</h3>
                <h4 class="congrats-mail"  style="font-size:26px; font-weight:bold; color: #2b3e50; line-height:1; margin-bottom:30px">An email has been sent to {{ownerEmail}}</h4>
                <hr style="border: 1px solid #fa9619;" align="center" width="30%" />
                <p>We have sent the login credentials to your email account to verify your email. </p>

                <!-- <p> {{worktype == 'Group' ? 'You and your employees':'You'}} will also receive individual email with separate login information for your personal eFlex accounts.</p> -->

                <p>If you have any questions or concerns, please contact our team at:</p>
                <p><a href="mailto:info@eclipseEIO.com" style="color: #fa9619; font-weight:bold; font-size:21px"> eFlex@eclipseEIO.com </a> or <a href="tel:1-855-440-3993" style="color: #fa9619; font-weight:bold; font-size:21px">1-855-440-3993</a><p>
                <hr style="border: 1px solid #fa9619;" align="center" width="30%" />
                <h3 class="head text-center">We hope you enjoy your new benefits!</h3>
                <!-- <a routerLink="/"  type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; font-size: 18px; background-color: #2b3e50; border-radius:15px; margin:15px; padding:12px; width:300px">Exit to eFlex Homepage</a> -->
              </div>
            </div>
        </div>
        <!-- <div class="col-md-12" style="bottom:0px; background: #2c3e50;">
            <app-footer></app-footer>
        </div> -->
    </div>
  </section>
