p{
  font-size: 18px;
}
.title{
  font-size: 24px;
  font-weight: bold;
  color:#fff;
  margin-top: 20px
}
.contact-box {
    border-bottom: 1px solid #99958d;
    padding: 5px 0;
    margin-bottom: 20px;
    margin-top: 0px;
}
