
	<div class="limiter">
		<div class="container-login100" id="login_bg_outer">
			<div class="col-md-8" id="login_bg_inner">
			     <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
             <!-- <img src="assets/images/EclipseLogo.png"><br> -->
						 <!-- <div class="saturn"> <img src="assets/images/icon_cloud.png"> </div>

							 <div class="saturn_2"> <img src="assets/images/icon_cloud.png">
							 </div> -->
						 <div class="top30" style="">
             		<img routerLink="/join-us" src="assets/images/eflex-logo-white.png">
						 		<sup class="fa fa-lock" id="secure-setup" style="color:#fff"> Secure</sup><br>
						 </div>
						 <div class="support" style="">
							 <!-- <h4 >
									Want to know more about how eFlex works and how it can work for you?<br>
									Simply fill out the short form here and one of our experts will get in touch!
								</h4> -->
								<h4>
 									Convenience. Cost Savings. Flexibility.</h4>
 								<h3>
 										Three simple ways eFlex is redefining health benefits in Canada.
 								</h3>
								<br>
								<h3 style="color: #faaa23; font-size: 28px; font-weight: bold;"> Support</h3>
								<p><i class="fa fa-phone"></i> 1-855-440-3993</p>
						 </div>
						 <!-- <div class="saturn_3">
							<img src="assets/images/icon_cloud.png">
							</div> -->
           </div>
			</div>

			<div id="loginForm" class="col-md-4 wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form padding_form"  [style.min-height.px]="screenHeight-100"  #loginForm="ngForm"(ngSubmit)="login(loginForm)">
					<span class="login100-form-title p-b-59" style="padding-top: 10px; padding-bottom:22px;
					font-weight:bold; color:#263e58">
						Create your password
					</span>
					<!-- <p style="color:#b1a9a9;font-size:16px; margin-top:5px">Welcome to Eflex World!</p> -->
          <br>
					<br>

					<div class="form-group">
					 <input type="password" id="loginPassword" autocomplete="off" required [(ngModel)]="password" name="password">
					 <span class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword()"></span>
					 <span class="bar_line"></span>
					 <label>Password</label>
				 </div>

         <div class="form-group">
          <input type="password" id="loginConfirmPassword" autocomplete="off" required [(ngModel)]="confirm_password" name="confirm_password">
          <span class="fa fa-fw fa-eye field-astric toggle-password" (click)="toggleConfirmPassword()"></span>
          <span class="bar_line"></span>
          <label>Confirm Password</label>
        </div>
					<br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
              <button *ngIf="!loading" [disabled]="!loginForm.valid" class="dash-button dash-button--affirm" type="submit">
                    <span  aria-hidden="false" class="ng-binding">Submit</span>
              </button>

              <button *ngIf="loading" type="button" class="dash-button dash-button--affirm" [disabled]="!loginForm.valid">
                 <span class="ng-isolate-scope">
                    <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                    <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                       <span class="button-loading">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                       </span>
                    </span>
                 </span>
              </button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
