

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="iparys_inherited">

         <div class="glb-responsivegrid-container parbase section">
            <div class="landingBanner">
               <div class="container responsivegrid">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12  ">
                     <div class="name-component aem-GridColumn aem-GridColumn--default--12">
                        <section class="ncc-name" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div style="position: relative;">
                              <div>
                                Activity
                              </div>
                              <!-- End loading overlay -->
                           </div>
                        </section>
                     </div>
                     <div class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--12">
                        <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div style="position: relative;">
                              <div class="glb-rewards-div">
                                 <div class="container-fluid glb-rewards-div-content" >
                                    <div class="row">

                                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                         <div class="row rewardsValueADO">
                                            ${{payments | number : '1.2-2'}}
                                         </div>
                                         <div class="row rewardsTextADO">
                                              Payments
                            						</div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                         <div class="row rewardsValueADO">
                                           <!-- ${{adjustments | number : '1.2-2'}} -->
                                            ${{availableCredits | number : '1.2-2'}}
                                         </div>
                                         <div class="row rewardsTextADO">
                                                  <!-- Adjustments -->
                                                    Available Credits
                                        </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="page-background">
      <div class="site-content">
         <div class="container-fluid" style="position: relative;">
            <div class="row">
               <div class="col-sm-3">
                  <label for="selectBillingDates">
                  <span class="select-text">Statement Period</span>
                  </label>
                  <!-- Billing Dates Select Drop Down START -->
                  <select style="" [(ngModel)]="period" name="period" (change)="onPeriodChange()">
                     <option value="current">Current</option>
                     <option *ngFor="let p of periodData;" value="{{p.Period}}" selected="selected">{{p.Period}}</option>
                  </select>
                  <!-- Billing Dates Select Drop Down END -->
               </div>
               <div class="col-sm-9">
                  <div class="row">
                     <!--  Filter by type START   -->
                     <div class="col-sm-6">
                        <div class="type-filter-container">
                           <label for="filterByType">
                              <span class="select-text">
                                 Type of Transactions
                              </span>
                           </label>

                           <select [(ngModel)]="filterByType" (change)="onTypeChange()" name="filterByType" >
                              <option value="-1" selected="selected">All  </option>
                              <option value="1"> Payment</option>
                              <option value="2"> Adjustment</option>
                           </select>
                        </div>
                     </div>
                     <!--  Filter by type START   -->
                     <div class="col-sm-6">
                        <div class="search-container ng-scope">
                           <label for="selectBillingDates">
                           <span class="select-text"> &nbsp;</span>
                           </label>
                           <div class="input-group">
                              <input id="searchString" type="text" class="form-control" name="searchString" [(ngModel)]="searchString" (ngModelChange)="searchEmpety()" placeholder="Search for description..." type="text" (keyup.enter)="getTransaction()">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12" id="transactions" #transactions>
                 <div class="panel panel-default"  *ngIf="period == 'current' && filterByType == -1 && searchString == ''">
                    <div class="transactions__tab pending-tab">
                      <a id="upcoming_trns" class="transactions__tab__heading" (click)="isPending =!isPending" style="font-weight: bold;font-size: 18px;">
                          Upcoming Transactions <span class="pull-right"  [ngClass]="isPending == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span>
                       </a>
                       <div [ngClass]="isPending == true ? 'show': 'hide'" class="table-responsive">
                         <table class="table" *ngIf="pendingTransaction != ''" >
                             <thead>
                               <tr style="background-color:#eee;">
                                 <th (click)="sort('Date')">Transaction Date <i class="fa fa-fw fa-sort"></i></th>

                                 <th>Description</th>
                                 <th (click)="sort('TypeId')">Type <i class="fa fa-fw fa-sort"></i></th>

                                 <th (click)="sort('Amount')">Amount <i class="fa fa-fw fa-sort"></i></th>

                               </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor="let utrans of pendingTransaction | orderBy: sortingName: isDesc; ">
                                 <td>{{utrans.Date | dateFormat}}</td>
                                 <td>{{utrans.Details}}</td>
                                 <td>{{utrans.TypeId}}</td>
                                 <td>${{utrans.Amount | number : '1.2-2'}}</td>

                               </tr>
                               <!-- <tr *ngIf="!currentTransaction">
                                 <td colspan="4">No transactions</td>
                               </tr> -->
                             </tbody>
                          </table>
                          <span *ngIf="pendingTransaction == ''" style="padding:10px; padding-bottom: 10px; float: left; color:red;">
                            No transactions
                          </span>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                     <div class="transactions__tab pending-tab">
                       <span  style="font-weight: bold;font-size: 18px;" id="pending" class="transactions__tab__heading_yellow" (click)="isCurrent =!isCurrent">
                           Current Transactions <span class="pull-right"  [ngClass]="isCurrent == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span>
                        </span>
                         <div [ngClass]="isCurrent == true ? 'show': 'hide'" class="table-responsive">
                            <table class="table" *ngIf="currentTransaction !=''" >
                              <thead>
                                <tr style="background-color:#eee;">
                                  <th>Transaction Date</th>
                                  <th>Posted Date</th>
                                  <th>Description</th>
                                  <th (click)="sort('TypeId')">Type <i class="fa fa-fw fa-sort"></i></th>

                                  <th (click)="sort('Amount')">Amount <i class="fa fa-fw fa-sort"></i></th>

                                </tr>
                              </thead>
                                <tbody>
                                  <tr *ngFor="let utrans of  currentTransaction | orderBy: sortingName: isDesc; ">
                                    <td>{{utrans.TransactionDate | dateFormat}}</td>
                                    <td>
                                        <span *ngIf="utrans.PostedDate == '' || utrans.PostedDate  == 'null'">-</span>
                                        <span *ngIf="utrans.PostedDate != '' && utrans.PostedDate  != 'null'">{{utrans.PostedDate | mydate}}</span>
                                    </td>
                                    <td>{{utrans.Description}}</td>
                                    <td>{{utrans.TypeId}}</td>
                                    <td>${{utrans.Amount | number : '1.2-2'}}</td>
                                  </tr>
                                </tbody>
                             </table>
                             <span *ngIf="currentTransaction == '' " style="padding:10px; padding-bottom: 10px; float: left; color:red;">
                               No transactions
                             </span>
                         </div>
                      </div>
                   </div>
               </div>

               <div class="col-md-12" *ngIf="currentTransaction">
                 <div class="pull-right" *ngIf="currentTransaction.length > 0">
                    <!-- <button class="btn btn-default" (click)="downLoadPDF()">Download PDF</button> -->
                    <button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
