<form #addressForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head">Account Information</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
                <div class="row">
              <div class='col-xs-12 col-sm-6'>
                 <div class="form-group">
                     <label class="control-label" for="Company Email">Company Email</label>
                     <input class="form-control input-md"
                     [readonly]="disabledFields" #email="ngModel" required
                      pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"id="email"
                     name="email" type="text" placeholder="Company Email"
                      [(ngModel)]="address.email">
                     <div class="alert alert-danger" [hidden]="email.valid">Company email is required</div>
                 </div>
               </div>
                <div class='col-xs-12 col-sm-6'>
                   <div class="form-group">
                       <label class="control-label" for="street">Company Phone</label>
                       <!-- <input class="form-control input-md" [(ngModel)]="address.phone"  #phone="ngModel"  [textMask]="{mask: mask}"   required id="phone" name="phone" type="text" placeholder="Company Phone"> -->
                       <input class="form-control input-md"  #phone="ngModel" maxlength="10" minlength="10" (keypress)="_keyPress($event)" required id="phone" name="phone" type="text" placeholder="Company Phone" [(ngModel)]="address.phone">
                       <div class="alert alert-danger" [hidden]="phone.valid">Company phone is required</div>
                   </div>
               </div>
             </div>
               <div class="row">
              <div class='col-xs-12 col-sm-6'>
                 <div class="form-group">
                     <label class="control-label" for="firstName">Owner First Name</label>
                     <input class="form-control input-md" #firstName="ngModel"
                     required id="firstName" name="firstName" type="text" placeholder="First Name"
                      [(ngModel)]="address.firstName">
                     <div class="alert alert-danger" [hidden]="firstName.valid">First name is required</div>
                 </div>
               </div>
                <div class='col-xs-12 col-sm-6'>
                   <div class="form-group">
                       <label class="control-label" for="street">Owner Last Name</label>
                       <input class="form-control input-md" #lastName="ngModel"
                       required id="lastName" name="lastName" type="text" placeholder="Last Name"
                        [(ngModel)]="address.lastName">
                       <div class="alert alert-danger" [hidden]="lastName.valid">Last name is required</div>
                   </div>
               </div>
             </div>

               <div class="row">
               <div class='col-xs-12 col-sm-12'>
                  <div class="form-group">
                      <label class="control-label" for="street">User Name</label>
                      <div class="input-group" required>
                        <!-- <span class="input-group-addon" style="width:10%; padding-top: 13px;">{{personal.companyCode}} _</span> -->
                        <input class="form-control input-md" required #loginEmail="ngModel"
                           id="loginEmail" name="loginEmail" type="text" placeholder="User name"
                       [(ngModel)]="address.loginEmail">
                     </div>
                      <div class="alert alert-danger" [hidden]="loginEmail.valid">User name is required</div>
                  </div>
                </div>
              </div>
                <!-- <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="street">Confirm Email</label>
                        <input class="form-control input-md" #loginConfirmEmail="ngModel" required  pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="loginConfirmEmail" name="loginConfirmEmail" type="email" placeholder="Confirm Email"
                         [(ngModel)]="address.loginConfirmEmail">
                        <div class="alert alert-danger" [hidden]="loginConfirmEmail.valid">Confirm email is required</div>
                    </div>
                  </div> -->
               <!-- <div class='col-xs-12 col-sm-6'>
                  <div class="form-group">
                      <label class="control-label" for="street">Password</label>
                      <input class="form-control input-md" #pwd="ngModel" required  id="pwd" name="pwd" type="password" placeholder="Password"
                       [(ngModel)]="address.pwd">
                      <div class="alert alert-danger" [hidden]="pwd.valid">Password is required</div>
                  </div>
                </div>
                 <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="street">Confirm Password</label>
                        <input class="form-control input-md" #confirmPwd="ngModel" required id="confirmPwd" name="confirmPwd" type="password" placeholder="Confirm Password"
                         [(ngModel)]="address.confirmPwd">
                         <div class="alert alert-danger" [hidden]="confirmPwd.valid">Confirm password is required</div>
                         <div class="alert alert-danger" *ngIf="address.confirmPwd !='' ? address.confirmPwd != address.pwd : ''">Password amd confirm password did not match.</div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-outline-rounded default-theme-previous" (click)="goToPrevious(addressForm)"> <span style="margin-right:10px;" class="fa fa-angle-left"></span> Previous</button>
            <button *ngIf="!isLoading" class="btn btn-outline-rounded default-theme-next" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)">
               Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
             </button>
            <button *ngIf="isLoading" class="btn btn-outline-rounded default-theme-next" type="button">
              <span class="">Please wait</span>
              <span aria-hidden="true">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    <div class="bounce3"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>
        </div>

    </div>
</form>
