

.p-r-50 {
    padding-right: 50px;
}
.p-l-50 {
    padding-left: 50px;
}
.p-b-50 {
    padding-bottom: 20px;
}
.p-t-72 {
    padding-top: 15px;
}
.support{
  margin-top: 2%;
  color:#fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.support h2, h3{
  color:#fff;
}
.footer_add{
  margin-top: 5%;
  color:#fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.dash-button--affirm {
    padding: 0px 25px;
    background-color: #fa9619
;
    color: #ffffff;
    border-radius: 20px;
   text-transform: capitalize;
}

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-title {
	/* border-top: 13px solid #443f3c; */
  border-top:  none;
}
.modal {
	background-color: #0009;
}
.modal-header{
  background-color: #fa9619
;
  color: #ecf0f1;
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
	margin-top: -2px;
	color: #ecf0f1;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.field-astric {
  float: right;
  margin-left: -25px;
  margin-top: -33px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

/*---------------------------------------------*/


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: wrap;
}


.wrap-login100 {
  /* width: 520px; */
  min-height: 100vh;
  border-radius: 2px;
  position: relative;
  z-index: 999;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: calc(100% - 520px); */
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: #e8519e; */
  background: #606161;
  background: -webkit-linear-gradient(bottom, #e8519e, #c77ff2);
  background: -o-linear-gradient(bottom, #e8519e, #c77ff2);
  background: -moz-linear-gradient(bottom, #e8519e, #c77ff2);
  opacity: 0.8;
}

/*==================================================================
[ Form ]*/

.login100-form {
  /* width: 100%; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}
.padding_form{
  margin-left: -35vh;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 16px;
  margin-top: 30px;
  padding: 39px;
  min-height: 55vh;
  box-shadow: 7px -1px 13px 2px #d6d6d6;
}
.top30{
  margin-top:20vh; margin-left: 10%;
}
.support{
  margin-left: 10%;
}
.support h4{
  color:#fff; width:80%;
}
#login_bg_inner{
  background-position: 50% 39%;
  /* background-image: url('/assets/images/BG.png'); */
  background-image: url('/assets/images/login-bg.jpg');
  background-size: cover; opacity: 1;
}

@media (max-width:991px){

  #login_bg_outer{
    background-position: 50% 39%;
    background-image: url('/assets/images/login-bg-outer.jpg');
    background-size: cover; opacity: 1;
  }

  #login_bg_inner {
    background: none;
}



}

@media screen and (max-width: 768px) {
  .padding_form{
    margin-left: 0vh;
    padding: 15px;
  }
  .wrap-login100  h3{
    text-align: center;
  }

  .top30{
    margin-top:0vh;
    text-align: center;
    margin-left:0%;

  }
  .support{
    margin-left:0%;
    text-align: center;
  }
  .support h4{
    color:#fff; width:100%;
    font-size: 14px;
  }
  #login_bg_inner{
    background: none;
  }
  #login_bg_outer{
    background-position: 50% 39%;
    background-image: url('/assets/images/login-bg-outer.jpg');
    background-size: cover; opacity: 1;
  }
  .wrap-login100{
    min-height: 0vh;
  }
  .modal-dialog {
    width: 100%;
  }

  #loginForm {
    padding-left: 15px;
    padding-right: 15px;
}

}

@media screen and (min-width: 2560px) {
  .top30{
    margin-top:25vh; margin-left: 10%;
  }
}

#loginForm .form-group {
  position:relative;
  margin-bottom: 35px;
  width: 100%;
}
#loginForm input[type=text],[type=password]{
  border-radius: 0;
  border-width: 0 0 2px;
  border-style: solid;
  border-color: rgba(192, 192, 192, 0.26);
  -webkit-box-shadow: inset 0 -1px 0 transparent;
  box-shadow: inset 0 -1px 0 transparent;
  box-sizing: border-box;
  padding: 12px 4px;
  background: 0 0;
  width: 100%;
  display: block;
  max-height: 100px;
}
#loginForm input:focus{ outline:none; }

/* LABEL ======================================= */
#loginForm label{
  color:#263e58;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

#loginForm input:valid ~ label {
  top:-20px;
  font-size:14px;
  color: #b1a9a9;
}

/* active state */
#loginForm input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
  color: #b1a9a9;
}

/* BOTTOM BARS ================================= */
#loginForm .bar_line    { position:relative; display:block; width:100%; }
#loginForm .bar_line:before, .bar_line:after     {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#fa9619;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
#loginForm input:focus ~ .bar_line:before, input:focus ~ .bar_line:after {
  width:100%;
}

/* HIGHLIGHTER ================================== */
#loginForm .highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
#loginForm input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
 @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
 @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}


.saturn {
    position: absolute;
    left: 100px;
    top: 143px;
    width: 100px;
    z-index: -99;
    height: 100px;
    -webkit-animation: myOrbit 6s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 6s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 6s linear infinite; /* Opera 12+ */
            animation: myOrbit 6s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
}
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(360px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(190px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(190px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(190px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
/* ------------- */


.saturn_2 {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 50px;
    height: 50px;
    z-index: -99;
    -webkit-animation: smallCloud 6s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: smallCloud 6s linear infinite; /* Firefox 5-15 */
         -o-animation: smallCloud 6s linear infinite; /* Opera 12+ */
            animation: smallCloud 6s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
}
.saturn_3 {
    position: absolute;
    left: 400px;
    bottom: 280px;
    width: 40px;
    height: 40px;
    z-index: -99;

    -webkit-animation: smallCloud 10s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: smallCloud 10s linear infinite; /* Firefox 5-15 */
         -o-animation: smallCloud 10s linear infinite; /* Opera 12+ */
            animation: smallCloud 10s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
}
@-webkit-keyframes smallCloud {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(360px) rotate(-360deg); }
}

@-moz-keyframes smallCloud {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(-360deg) translateX(360px) rotate(360deg); }
}

@-o-keyframes smallCloud {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(360px) rotate(-180deg); }
}

@keyframes smallCloud {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(360px) rotate(-360deg); }
}

/* ------------------------ */
.element {
  height:80px;
  width: 80px;
  background-color: red;
  animation:
    pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

#login_bg_outer #login_bg_inner {
  padding-right: 30vh;
}





@media (max-width:991px){


  #login_bg_outer #login_bg_inner  {
      width: 100%;
      padding: 0;
  }

  #login_bg_outer #loginForm .padding_form  {
    margin-left: 0;
  }

  #login_bg_outer #login_bg_inner .top30 {
    margin-top: 0;
  }

  #login_bg_outer #login_bg_inner .wrap-login100{
      min-height: auto;
      padding: 100px 15px;
  }

}
