
	<div class="limiter">
		<div class="container-login100" id="login_bg_outer">
			<div class="col-md-8" id="login_bg_inner">
			     <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
             <!-- <img src="assets/images/EclipseLogo.png"><br> -->
						 <div class="saturn hidden-xs">
							 <img src="assets/images/icon_cloud.png">
							 </div>

							 <div class="saturn_2  hidden-xs">
								<img src="assets/images/icon_cloud.png">
								</div>
						 <div class="top30" style="">
             		<img routerLink="/join-us" src="assets/images/eflex-logo-white.png">
						 		<sup class="fa fa-lock" id="secure-setup" style="color:#fff"> Secure</sup><br>
						 </div>
						 <div class="support" style="">
							 <!-- <h4 >
									Want to know more about how eFlex works and how it can work for you?<br>
									Simply fill out the short form here and one of our experts will get in touch!
								</h4> -->
								<h4>
 									Convenience. Cost Savings. Flexibility.</h4>
 								<h3>
 										Three simple ways eFlex is redefining health benefits in Canada.
 								</h3>
								<br>
								<h3 style="color: #faaa23; font-size: 28px; font-weight: bold;"> Support</h3>
								<p><i class="fa fa-phone"></i> 1-855-440-3993</p>
						 </div>
						 <div class="saturn_3  hidden-xs">
							<img src="assets/images/icon_cloud.png">
							</div>
           </div>
			</div>

			<div id="loginForm" class="col-md-4 wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form padding_form"  [style.min-height.px]="screenHeight-100"  #loginForm="ngForm"(ngSubmit)="login(loginForm)">
					<span class="login100-form-title p-b-59" style="padding-top: 10px; padding-bottom:22px;
					font-weight:bold; color:#263e58">
						Login
					</span>
					<!-- <p style="color:#b1a9a9;font-size:16px; margin-top:5px">Welcome to Eflex World!</p> -->
          <br>
					<br>
					<div class="form-group">
			      <input type="text" id="company_code" autocomplete="off" name="company_code" [(ngModel)]="company_code" required>
			      <span class="bar_line"></span>
			      <label>Company Code</label>
			    </div>

			    <div class="form-group">
			      <input type="text" id="username" name="username" autocomplete="off" required [(ngModel)]="username">
			      <span class="bar_line"></span>
			      <label>Username</label>
			    </div>

					<div class="form-group">
					 <input type="password" id="loginPassword" autocomplete="off" required [(ngModel)]="password" name="password">
					 <span class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword()"></span>
					 <span class="bar_line"></span>
					 <label>Password</label>
					 <br>

					 <p class="body-copy--medium">
							<a class="dash-link-1"  (click)="openModal(1)" style="color: #fbb424;">
							Forgot Password ?
							</a>
					 </p>
				 </div>
					<br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
              <button *ngIf="!loading" [disabled]="!loginForm.valid" class="dash-button dash-button--affirm" type="submit">
                    <span  aria-hidden="false" class="ng-binding">Login</span>
              </button>

              <button *ngIf="loading" type="button" class="dash-button dash-button--affirm" [disabled]="!loginForm.valid">
                 <span class="ng-isolate-scope">
                    <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                    <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                       <span class="button-loading">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                       </span>
                    </span>
                 </span>
              </button>
						</div>
						<br>
						<p class="body-copy--medium"  style="padding-bottom: 20px;color:#b1a9a9; font-size:16px;">
							 Create an account ? <a class="dash-link" style="color:#fbb424" routerLink="/register">Click here</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>





  <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="modal = false;">&times;</button>
             <h4 class="modal-title">Forgot Your Password?</h4>
          </div>
          <div class="modal-body">
             <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
             <form class="forgot-your-password__form" #forgetForm="ngForm" (ngSubmit)="sendMail(forgetForm)">
                <div class="forgot-your-password__paragraph forgot-your-password__paragraph__content">
                   <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;"><b>
										 Enter your company code and username  below, and we'll send your password to your registered email.<br></b><br></div>
                </div>
                <div class="forgot-your-password__login-options">
                   <fieldset class="forgot-your-password__fieldset">
                     <div id="log-in__input-username--section" class="forgot-your-password__paragraph--label-wrapper">
                        <label class="dash-form__field-label" for="company_code">
                          Company Code :
                        </label>
                        <input class="form-control input-md" #fcompanyCode="ngModel" required id="fcompanyCode" name="fcompanyCode" type="text" placeholder="Your company code"
                         [(ngModel)]="forgetForm.fcompanyCode">
                         <div class="alert alert-danger" [hidden]="fcompanyCode.valid">Please enter your company code</div>
                       </div>
                      <div class="forgot-your-password__paragraph--label-wrapper">
                         <label for="forgot-your-password__text-input--email" class="global-form-label global-form-label--required">
                           Username :
                         </label>
                      </div>
                     <input class="form-control input-md" #fusername="ngModel" required id="fusername" name="fusername" type="text" placeholder="Your username"
                      [(ngModel)]="forgetForm.fusername">
                         <div class="alert alert-danger" [hidden]="fusername.valid">Please enter your username</div>

                   </fieldset>
                   <br>
                   <div class="forgot-your-password__button-wrapper clear">
                     <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                     [disabled]="!forgetForm.valid">
                        <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                           <span  class="ng-binding" aria-hidden="false">send password</span>
                           <span *ngIf="forgetLoading" class="" aria-hidden="true">Loading</span>
                           <span *ngIf="forgetLoading" aria-hidden="true" class="ng-hide">
                              <span class="button-loading">
                                 <div class="bounce1"></div>
                                 <div class="bounce2"></div>
                                 <div class="bounce3"></div>
                              </span>
                           </span>
                        </span>
                     </button>
                   </div>

                </div>
             </form>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal = false;">Close</button>
          </div>
       </div>
    </div>
  </div>

  <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="inactiveModal ? 'block' : 'none'" >
    <div class="modal-dialog" style="top:10%">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="inactiveModal = false;">&times;</button>
             <span class="modal-title">Account Status</span>
          </div>
          <div class="modal-body">
             <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
             <form class="forgot-your-password__form" style="text-align: center; color: red; font-weight: bold; font-size: 18px;">
                <div class="">
                   <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                    Your account has been marked inactive by the company owner.
                    <br>
                    Contact to eflex : Thanks
                  </div>
                </div>
             </form>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="inactiveModal = false;">Close</button>
          </div>
       </div>
    </div>
  </div>



  <div class="modal animated slideInDown" [style.display]="notificationConfrimationModal ? 'block' : 'none'">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <!-- <button type="button" class="close" data-dismiss="modal" (click)="notificationConfrimationModal = false;">&times;</button> -->
             <span class="modal-title">Confirmation </span>
          </div>
          <div class="modal-body">
             <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
             <form class="forgot-your-password__form">
                <div class="forgot-your-password__paragraph forgot-your-password__paragraph__content">
                   <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                     <b>Do you want to receive cell phone notification?<br></b><br></div>
                </div>
            </form>
          </div>
          <div class="modal-footer" style="text-align:center">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="yesConfirmNotify()">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="noConfirmNotify(2)">No</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="noConfirmNotify(3)">Ask Me Later</button>
          </div>
       </div>
    </div>
  </div>

  <div class="modal animated slideInDown" [style.display]="notificationModal ? 'block' : 'none'">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <span class="modal-title">Provide Detail</span>
          </div>
          <div class="modal-body">
             <form class="form-horizontal" #notifyForm="ngForm">
              <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Select Carriers:</label>
                <div class="col-sm-6">
									<select  class="form-control" required [(ngModel)]="carriers" name="carriers" >
										 <option value="">Select  Carriers</option>
										 <option *ngFor="let c of carrierData" value="{{c.CarrierId}}">{{c.Title}}</option>
									</select>
                  <!-- <select class="form-control" required [(ngModel)]="carriers" name="carriers">
                    <option value="">Select  Carriers</option>
                    <option value="txt.bell.ca">Bell Mobility (Canada)</option>
                    <option value="txt.bellmobility.ca">Bell Mobility</option>
                    <option value="fido.ca">Fido</option>
                    <option value="txt.bell.ca">President’s Choice</option>
                    <option value="pcs.rogers.com">Rogers Canada</option>
                    <option value="txt.bell.ca">Solo Mobile</option>
                    <option value="msg.telus.com">Telus</option>
                    <option value="vmobile.ca"> Virgin Mobile Canada</option>
                    <option value="msg.koodomobile.com"> Koodo</option>
                    <option value="pcs.rogers.com"> Chatr</option>
                    <option value="sms.Sasktel.com"> Sasktel</option>
                  </select> -->
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Cell Phone:</label>
                <div class="col-sm-6">
                  <input type="text" class="from-control" required [(ngModel)]="phone" name="phone" (keypress)="_keyPress($event)" placeholder="8662886046"   maxlength="10" minLength="10" >
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer"style="text-align:center">
              <button type="button" (click)="submitNotification(notifyForm)" class="btn-sm dash-button dash-button--affirm loginFocusIndicator">Submit</button>
              <!-- <button type="button" class="btn dash-button btn-danger" (click)="closeNotify()" style="background-color:#d9534f;" data-dismiss="modal">Cancel</button> -->
          </div>
       </div>
    </div>
  </div>

  <div class="modal animated slideInDown" [style.display]="otpModal ? 'block' : 'none'">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <span class="modal-title">Enter OTP that has been sent in your mobile number </span>
          </div>
          <div class="modal-body">
             <form class="form-horizontal" #otpForm="ngForm">

              <div class="form-group">
                <label class="control-label col-sm-3 col-xs-12" for="pwd">Enter OTP</label>
                <div class="col-sm-6 col-xs-12">
                  <input type="text" class="from-control" required [(ngModel)]="otpNumber" name="otpNumber">
                </div>
                <div class="col-sm-3">
                  <button [disabled]="isTimeLaps" *ngIf="!resend_loading" type="button" (click)="resendOTP()" name="button" class="btn btn-sm btn-primary" style="display:block"> <i class="fa fa-refresh"> </i>  Resend-OTP</button>
                  <button  *ngIf="resend_loading" type="button" name="button" class="btn btn-sm btn-primary" style="display:block">
                    <span aria-hidden="true">Loading</span>
                       <span class="button-loading">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                       </span>
                  </button>
                </div>
                  <div class="col-sm-12" *ngIf="isTimeLaps == true"><br>
                    <b><p style="text-align:center">A OTP has been sent to your phone it will take 25 to 30 seconds to be delivered. <br> Please wait <span id="countDown"> </span> seconds. </p></b>
                  </div>
              </div>
            </form>
          </div>
          <div class="modal-footer"style="text-align:center">
              <button  *ngIf="!loading" type="button" [disabled]="!otpForm.valid" (click)="verifyOTP(otpForm)" class="btn-sm dash-button dash-button--affirm loginFocusIndicator">Submit</button>
              <button *ngIf="loading" type="button" [disabled]="otpForm.valid"  class="btn-sm dash-button dash-button--affirm loginFocusIndicator">
                  <span aria-hidden="true">Loading</span>
                  <span aria-hidden="true" class="ng-hide">
                     <span class="button-loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                     </span>
                  </span>
                </button>
              <!-- <button type="button" class="btn dash-button btn-danger" (click)="closeNotify()" style="background-color:#d9534f;" data-dismiss="modal">Cancel</button> -->
          </div>
       </div>
    </div>
  </div>
