.rewardsValueADO {
  font-family: Lato;
  font-size: 3em;
  font-weight: 700; }

.rewardsTextADO {
  font-weight: 600;
  font-size: 1.25em;
  font-family: Lato; }
  .rewardsTextADO img {
    padding-right: 5px; }

.accountTextADO {
  font-size: 1.25em;
  font-family: Lato; }

.columnADO {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.tableADO {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.hideLabel {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.for-card-trans-button button.eStatements-records__button {
    max-width: 100%;
}

.custom-clear{
  clear:both;
}


@media (max-width:1199px){

  .for-card-trans-button button.eStatements-records__button {
      width: 100%;
  }



}


@media (max-width:767px){

  .for-card-trans-button > label{
      display: none;
  }

  .for-mob-marg{
    margin-bottom: 20px;
  }

  .for-card-trans-button button.eStatements-records__button  {
      width: 100%;
      min-width: auto;
      max-width: 270px;
      float: none !important;
      margin: auto;
      display: block;
  }
}
