

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="iparys_inherited">

         <div class="glb-responsivegrid-container parbase section">
            <div class="landingBanner">
               <div class="container responsivegrid">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12  ">
                     <div class="name-component aem-GridColumn aem-GridColumn--default--12">
                        <section class="ncc-name" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div class="" blur-loader="ncc.showLoadingOverlay" ball-position="55%" loader-ie-default-bgcolor="transparent" style="position: relative;">
                              <div data-ng-hide="ncc.showLoadingOverlay == 'on'" class="ng-binding" aria-hidden="false" style="">
                                Card Transactions
                              </div>
                              <!-- End loading overlay -->
                           </div>
                        </section>
                     </div>
                     <div class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--12">
                        <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div class="" blur-loader="gric.showLoadingOverlay" ball-position="55%" loader-default-bgcolor="transparent" loader-default-768px-bgcolor="transparent" loader-ie-default-bgcolor="transparent" loader-ie-768px-bgcolor="transparent" style="position: relative;">
                              <div class="glb-rewards-div">
                                 <!-- <div class="container-fluid glb-rewards-div-content" >
                                    <div class="row">
                                      <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">

                                      </div>
                                       <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">
                                         <div class="row rewardsValueADO ng-binding" aria-hidden="true">
                                            ${{claimedAmt | number : '1.2-2'}}
                                            $500
                                         </div>
                                         <div class="row rewardsTextADO" aria-hidden="true">
                                           Available Amount
                            						</div>
                                       </div>
                                       <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4">

                                       </div>
                                    </div>
                                 </div> -->
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="page-background">
      <div class="site-content">
         <div class="container-fluid" style="position: relative;">
            <div class="row">

              <div class="for-mob-marg">
                <div class="col-sm-6 col-lg-3">
                  <label class="records-dropdown__label black-grey text--bold" for="eStatementsMonths">
                    Select Transaction Type
                  </label>

                    <select class="form-control"  name="transType" [(ngModel)]="transType">
                      <option value="1">Monetary Transactions (Like Purchase)</option>
                      <option value="2">Non-Monetary Transactions(Like Card status change)</option>
                      <option value="3">All the Transactions.</option>
                    </select>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <label class="records-dropdown__label black-grey text--bold" for="eStatementsMonths">
                      Select No of days
                  </label>

                    <select class="form-control"  name="noOfDays" [(ngModel)]="noOfDays">
                      <option value="1">1 Day</option>
                      <option value="10">10 Days</option>
                      <option value="20">20 Days</option>
                      <option value="30">30 Days</option>
                      <option value="60">60 Days</option>
                    </select>
                </div>

                  <!-- <div class="dropdown dash-form__select--grey horizontal-left-col eStatements-records__dropdown"> -->
                  <div class="col-sm-6 col-lg-4">
                    <label class="records-dropdown__label black-grey text--bold" for="eStatementsMonths">
                        From when you want to get transaction
                    </label>
                    <my-date-picker name="fromDate" [options]="myDatePickerOptions"
                     [(ngModel)]="fromDate"  placeholder="MM/dd/yyyy"></my-date-picker>
                  </div>

                  <div class="col-sm-6 col-lg-2 for-card-trans-button">
                    <label class="records-dropdown__label black-grey text--bold" for="eStatementsMonths">
                      <br>
                    </label>
                    <button style="float:right;" (click)="getTransactionByType()" type="button" class="dash-button dash-button--affirm eStatements-records__button">

                          <span  class="ng-binding" aria-hidden="false">Submit</span>

                    </button>
                    <div class="custom-clear"></div>
                  </div>

            </div>

            </div>
            <div class="row">
               <div class="col-md-12" id="transactions" #transactions>
                 <div class="panel panel-default">
                    <div class="transactions__tab pending-tab">
                      <a id="upcoming_trns" class="transactions__tab__heading" >
                          Card Transactions
                          <!-- <span class="pull-right"  (click)="isPending =!isPending" [ngClass]="isPending == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span> -->
                       </a>
                       <div [ngClass]="isPending == true ? 'show': 'hide'" class="table-responsive no-mob-border">
                         <table class="table" >
                             <thead>
                                <tr style="background-color:#eee;">
                                  <th>#</th>
                                  <th>Reference</th>
                                  <th>Merchant Name</th>
                                  <th>Settlement Date</th>
                                  <th (click)="sort('TransactionAmount')">Transaction Amount <i class="fa fa-fw fa-sort"></i></th>
                                  <th>Transaction Code</th>
                                  <th>Transaction Date</th>
                                  <th>Transaction Description</th>
                                </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor="let data of transactionsData | orderBy:sortingName:isDesc; let i=index; let odd=odd; let even=even;"  [ngClass]=" odd == true ? 'table-success': 'table-active'">
                                  <td>{{i+1}}</td>
                                   <td>{{data.Reference}}</td>
                                   <td>{{data.MerchantName == '' ? '-' : data.MerchantName}}</td>
                                   <td>{{data.SettlementDate | mydate}}</td>
                                   <td>
                                     <span *ngIf="data.TransactionAmount != ''">$ </span>
                                     {{data.TransactionAmount == '' ? '-' : data.TransactionAmount | number:'1.2-2'}}
                                   </td>
                                   <td>{{data.TransactionCode}}</td>
                                   <td>{{data.TransactionDate | mydate}}</td>
                                   <td>{{data.TransactionDescription}}</td>
                              </tr>
                              <tr *ngIf="transactionsData == [] || transactionsData.length < 1">
                                 <td colspan="8"><span class="hvr-pulse text-center">No record found!</span></td>
                              </tr>
                              <tr *ngIf="isServiceCall">
                                <td class="text-center" colspan="8"><i class="fa fa-spinner fa-2x fa-spin"></i><br>Loading..</td>
                             </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
               </div>

               <div class="col-md-12">
                 <div class="pull-right" *ngIf="transactionsData !=''">
                   <!-- <button class="btn btn-default" (click)="downLoadPDF()">Download PDF</button> -->
                   <button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
