<form #businessForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}
          <i id="lgn-tooltip" class="dash-tooltip" style="width:27%; position:absolute; top: 3rem;" tabindex="0" aria-describedby="ttlgn">
             <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                <div class="hiddenAODA">
                   Tooltip
                </div>
                Is the plan sponsor company incorporated or self employed
             </span>
          </i>

        </h4>
        <br/>

        <div class='row'>
            <div class='col-xs-offset-4 col-xs-10 col-sm-offset-5 col-sm-4'>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" #business="ngModel" required name="businessType" [(ngModel)]="businessType" value="Sole Propreitorship">
                            Sole Propreitorship
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" #business="ngModel" required name="businessType" [(ngModel)]="businessType" value="Corporation">
                            Corporation
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-outline-rounded default-theme-previous" (click)="goToPrevious(businessForm)"> <span style="margin-right:10px;" class="fa fa-angle-left"></span> Previous</button>
            <button class="btn btn-outline-rounded default-theme-next" [disabled]="!businessForm.valid" (click)="goToNext(businessForm)"> Next <span style="margin-left:10px;" class="fa fa-angle-right"></span></button>
        </div>

    </div>
</form>
