/* //-----------new css 20 OCt 2018 */
.req{
  color:red;
}
/* //-----------new css 20 OCt 2018 */

.disabled {
    opacity: 1;
    cursor: not-allowed;
    background-color: rgba(255, 187, 53, 0.49) !important;
}
section.pricing {
  /* background: #9CECFB; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  /* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: #2b3e4f;
  color: #fff; */
  /* box-shadow: 0 0.5rem 1rem 6px rgba(0, 0, 0, 0.42); */
  box-shadow: 0 0.5rem 1rem 6px #fa9619;
  font-size: 18px;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 1.5rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.checbox_money{
  margin: 2px 0px 0px 0PX;
  height: 20px;
  width: 30px;
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}
.head5{
  font-size: 18px;
}

.pricing .check{
  max-height: 175px;
  overflow: auto;
}
.text_label{
  /* margin-left: 30px; */
}
.check .fa-li{
  left:  0px !important;
}

/* ----------------------- */
#container {
     /* width: 600px; */
     height: 250px;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     position: relative;
   }

   .circle {
     border-radius: 50%;
     /* background-color: deepskyblue; */
     background: #fa9619;
     width: 150px;
     height: 150px;
     position: absolute;
     opacity: 0;
     animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
   }

   .item {
     z-index: 100;
     padding: 5px;
     color: #fff;
   }

   @keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
.label_text{
  left: -2em;border-block-end: initial; border-left: 8px solid #fa9619;background: #2b3e4f;width: 100%; text-align: left; padding: 2px; color: hsl(0, 0%, 100%);
}

/* for service provider */
.profile-widget {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    height: 180px
}
.profile-img {
    cursor: pointer;
    height: 80px;
    margin: 0 auto;
    position: relative;
    width: 80px;
}
.profile-img .avatar {
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    margin: 0;
    width: 80px;
    background-color: #aaa;
    border-radius: 50%;
}

.chat-profile-img {
    padding: 30px;
    position: relative;
    text-align: center;
}
.edit-profile-img {
    /* height: 120px; */
    margin: 0 auto;
    position: relative;
    width: 120px;
    cursor: pointer;
}
/* .chat-profile-info {
    padding: 15px;
} */
.user-det-list {
    list-style: none;
    padding: 0;
}
.user-det-list > li {
    padding: 6px 15px;
    margin-bottom:1rem;
}
.avatar {
  border-radius: 50%;
  width: 70%;
}
.profile-widget h4{
  font-size: 16px;
}
.selected-provider{
    background: #fa9619;
    color: #fff;
}

/* services ul li */
#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 1px 0 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    margin-bottom: 10px;
}

#myUL li a:hover:not(.header) {
    background-color: #fa9619
; /* Add a hover effect to all links, except for headers */
    color:#fff;
}
.active-service{
  background-color: #fa9619
 !important; /* Add a hover effect to all links, except for headers */
  color:#fff !important;
}
.text-muted{
  font-size: 15px;
}

#formFooter {
  margin-top: 30px;
  text-align: center;
}

.custom-add-search {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  margin: 0 0 30px;
}

.custom-add-search .left-blk {
  flex-grow: 1;
  display: flex;
  padding: 0 15px;
}

.custom-add-search .rgt-blk {
  padding: 0 15px;
}

.custom-add-search .left-blk button ,
.custom-add-search .rgt-blk button {
    height: 38px;
    padding: 0 20px !important;
    margin: 0 !important;
}

.lft-provider{
  border-right: 2px solid #eee;
  height: 350px;
  overflow: auto;
}

.lft-provider #provider_section .profile-widget {
  cursor: pointer;
}

.lft-provider #provider_section .profile-widget .user-name{
  margin: 10px 0px 0px;
  font-size: 13px;
}

.rgt-provider .chat-profile-img {
  padding-top: 0;
}

.rgt-provider .chat-profile-info textarea{
  height: 120px;
  resize: none;
  font-size: 14px;
  width: 100%;
  min-width: 192px;
}

.lft-provider #provider_section .col-lg-12 {
  clear: both;
}





@media (max-width:1199px){

  .lft-provider[_ngcontent-c4] {
      border-bottom: 2px solid #eee;
      height: auto;
      overflow: auto;
      margin-bottom: 30px;
      border-right: none;
  }

  .lft-provider #provider_section .provider-parts {
    width: 50%;
  }

  .lft-provider #provider_section .provider-parts:nth-child(odd) {
    clear:left;
  }

}



@media (max-width: 768px) {
  #provider_section{
      float: left;
  }
}

@media (max-width: 767px) {

  .profile__h1 {
    padding: 30px 0px;
  }

  .custom-add-search .left-blk {
      width: 100%;
  }

  .custom-add-search .rgt-blk {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .custom-add-search .rgt-blk button{
    width:100%;
  }

  .divi-parts:nth-child(odd){
      clear:left;
  }

}

@media (max-width:540px){

  .lft-provider #provider_section .provider-parts {
    width: 100%;
  }

  .divi-parts{
    width:100%;
}



}
