<main role="main" id="content">
    <div class="bannerIParsys iparsys parsys">
        <div class="page-background">
            <div class="site-content">
                <h1 class="profile__h1">
                    Brokers Detail <!-- MESSAGE: Settings -->
                    <button class="btn btn-default pull-right" routerLink="../broker-list"> <i class="fa fa-arrow-left"></i> Back</button>
                </h1>
                <div class="row">
                <form #brokerForm="ngForm" name="brokerForm" >
                  <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading" style="color: #09090999 !important"> Basic Information  </div>
                      <div class="panel-body">
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label for="inputCity"> First Name</label>
                                  <input type="text"[(ngModel)]="fname" name="fname" required id="fname" class="form-control"  placeholder="">
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputCity"> Last Name</label>
                                  <input type="text"[(ngModel)]="lname" name="lname" required id="lname" class="form-control"  placeholder="">
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="inputEmail4">Email</label>
                                  <input type="email"[(ngModel)]="email" name="email"  pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" required id="email" class="form-control"  placeholder="">
                              </div>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputZip">Username</label>
                              <input type="text"[(ngModel)]="username" name="username" required id="username" class="form-control"  placeholder="">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Contact Number</label>
                              <input type="text" (keypress)="_keyPress($event)" maxlength="10" minLength="10" [(ngModel)]="contact" name="contact" required id="contact" class="form-control"  placeholder="">
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" style="color: #09090999 !important"> Contact Detail  </div>
                      <div class="panel-body">
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Address</label>
                              <input type="text"[(ngModel)]="address" name="address" required id="address" class="form-control"  placeholder="">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text"[(ngModel)]="city" name="city" required id="city" class="form-control"  placeholder="">
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputState">Province</label>
                                  <select class="form-control"  required [(ngModel)]="province" name="province" >
                                  <option *ngFor="let p of provinceData" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                  </select>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputZip">Postal Code</label>
                                  <input type="text"[(ngModel)]="postalCode" name="postalCode" required id="postalCode" class="form-control"  placeholder="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" style="color: #09090999 !important">   Direct Deposit Services Enrolment </div>
                      <div class="panel-body">
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Social Insurance Number</label>
                              <input type="text"[(ngModel)]="socialInsurance" name="socialInsurance" required id="socialInsurance" class="form-control"  placeholder="">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputCity">Date of Birth</label>
                              <my-date-picker name="DOB" [options]="myDatePickerOptions"
                                  [(ngModel)]="DOB"  placeholder="MM/dd/yyyy"></my-date-picker>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputZip">GST No</label>
                                  <input type="text"[(ngModel)]="GSTNo" name="GSTNo" required id="GSTNo" class="form-control"  placeholder="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" style="color: #09090999 !important">  Upload Documents </div>
                      <div class="panel-body">
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputPassword4">Upload Licence Front Copy</label>
                                  <input class="form-control input-md" #file  id="licenceFile"  (change)="uploadInsurance($event,'licence')" name="licence" type="file">
                              </div>
                              <div class="form-group col-md-6">
                                  <label class="control-label">Upload Licence Back Copy</label>
                                  <input class="form-control input-md" #file  id="licenceFileBack"  (change)="uploadInsurance($event,'licence-back')" name="licence-back" type="file">
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label class="control-label">Upload E&O Insurance</label>
                                  <input class="form-control input-md" #file  id="insuranceFile" (change)="uploadInsurance($event,'insurance')" name="insurance" type="file">
                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
                </div>
                  <!-- <center>
                    <button type="button" (click)="submitDetail(brokerForm)" class="btn btn-primary" style="display:block">Submit</button>
                  </center> -->
                  <div class="col-md-12 text-center">
                    <button *ngIf="!isLoading" type="button" (click)="submitDetail(brokerForm)" class="dash-button dash-button--affirm loginFocusIndicator"
                    [disabled]="!brokerForm.valid">
                       <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                          <span class="ng-binding" aria-hidden="false">Submit</span>
                       </span>
                    </button>

                    <button *ngIf="isLoading" type="button" class="dash-button dash-button--affirm loginFocusIndicator"
                    [disabled]="brokerForm.valid">
                       <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                          <span *ngIf="isLoading" class="" aria-hidden="true">Please wait</span>
                          <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                             <span class="button-loading">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                             </span>
                          </span>
                       </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</main>
