<form class="editForm" novalidate #bankForm="ngForm"(ngSubmit)="addBankDetail(bankForm)" >
  <div class="acc-payment-detail">
    <div class="tab-pane fade in active" style="min-height:500px">
        <h4 class="head text-center">Payment Details</h4>
        <br/>
        <div class=''>
            <div class='col-xs-12 col-lg-offset-1 col-lg-10'>
              <h4 style="border-bottom: 2px solid #2b3e50; color: #000; font-size: 21px;">Pre-Authorized Payment (PAP)</h4>

              <div class="row" *ngIf="userTypeId==1">
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="cname">Initial Payment ($)</label>
                          <input class="form-control input-md" [disabled]="true"  [(ngModel)]="initialPay" name="initialPay">
                      </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="cname">Recurring Payment ($)</label>
                          <input class="form-control input-md" [disabled]="true" [(ngModel)]="recuringPay" name="recuringPay">
                      </div>
                  </div>
              </div>
                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="cname">Bank Name</label>
                            <input class="form-control input-md" required placeholder="Legal bank name" [(ngModel)]="bankname" name="bankname">
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                          <label class="control-label" for="cname">Account Number</label>
                          <input class="form-control input-md" type="password" (keypress)="_keyPress($event)" required [(ngModel)]="accountNumber" name="accountNumber" id="acc">
                          <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('acc')"></span>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="cname">Transit ID</label>
                            <input class="form-control input-md" type="password" (keypress)="_keyPress($event)"  maxlength="5" minLength="5"  placeholder="12345"required [(ngModel)]="transId" name="transId" id="ti">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('ti')"></span>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="cname">Institution ID</label>
                            <input class="form-control input-md" type="password" (keypress)="_keyPress($event)" placeholder="001"   maxlength="3" minLength="3" required [(ngModel)]="instId" name="instId" id="in">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('in')"></span>

                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class='col-xs-12 col-sm-6'>
                      <div class="form-group">
                        <label class="checkbox-inline">
                           <input type="checkbox" required [(ngModel)]="iagree" name="iagree" style="margin-top:10px">
                            <a (click)="openConditionModal=true"> I agree term and conditions.</a>
                         </label>
                       </div>
                  </div>
                  <div class='col-xs-12 col-sm-6'>
                      <span class="pull-right">
                        <a (click)="openModal()" *ngIf="!fileName">
                          <img src="assets/images/upload-icon.png"> Upload a void cheque
                        </a>
                        <br>
                        <span *ngIf="fileName"><a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank">View File </a>  <i class="fa fa-close" style="padding-left:25px" (click)="removeFile()"> Remove</i></span>
                    </span>
                  </div>
                </div>
                <div class="row">
                    <div class='col-lg-12 col-sm-12'>
                      <img src="assets/images/cheque-demo.png" style="width:100%">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group text-center">
            <!--  <button class="btn btn-success btn-outline-rounded btn-info default-theme-next"> Submit</button> -->
            <button type="submit" [disabled]="!bankForm.valid" class="dash-button dash-button--affirm loginFocusIndicator"
             style="margin-bottom:10px; margin-top:20px;">
               <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                  <span  class="ng-binding" aria-hidden="false">Submit</span>
                  <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                  <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                     <span class="button-loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                     </span>
                  </span>
               </span>
            </button>
            <br>
        </div>
    </div>
    <div class="custom-clear"></div>
    </div>
  </form>

  <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="closeFileModal()">&times;</button>
             <span class="modal-title">Upload File</span>
          </div>
          <div class="modal-body">
             <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
             <form class="forgot-your-password__form" #forgetForm="ngForm">
                <div class="forgot-your-password__paragraph forgot-your-password__paragraph__content">
                   <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                     <b>File Format: (pdf, jpg, png, or gif file formats, 5MB maximum) .<br></b><br></div>
                </div>
                <div class="forgot-your-password__login-options">
                   <fieldset class="forgot-your-password__fieldset">

                     <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>
                     <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>

                    <!-- <div id="email-errors" class="global-form-error-message forgot-your-password__fieldset--email-invalid forgot-your-password__email-invalid">ERROR: Please enter a valid email address to continue</div> -->
                   </fieldset>
                   <br>


                </div>
             </form>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeFileModal()">Close</button>
          </div>
       </div>
    </div>
  </div>

  <div class="modal animated slideInDown" [style.display]="openConditionModal ? 'block' : 'none'" >
    <div class="modal-dialog" style="top:10%">
         <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="openConditionModal = false;">&times;</button>
             <span class="modal-title">Term & Conditions</span>
          </div>
          <div class="modal-body" style="max-height:350px; overflow:auto;">
               <form class="forgot-your-password__form" style="font-size: 18px;">
                   <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em; text-align:justify">

                  I certify that the information in this form is true and complete.
                  I acknowledge and agree that this Coverage or any portion of this Coverage,
                   and future claims thereunder may be denied as a result of the provisions of false,
                   incomplete, or misleading information. I authorize the collection, use and
                   disclosure of personal information relevant to this application for
                   the purpose of plan administration, audit, assessment, investigation,
                   claim management, underwriting and for determining plan eligibility.
                   Access to my information will be limited to: eclipse EIO, Plan Advisor,
                    reinsures and service providers in the performance of their jobs.
                    <br>
                    I authorize all future claim payments to be sent via electronic funds
                    transfer to the bank listed here. I recognize that it is my responsibility
                    to ensure that my file is kept up-to- date with my preferred bank
                     account information and personal information.
                     <br>
                     I agree that the Company will not be responsible for any payments that
                      are lost or misdirected due to incorrect banking information.
                       I authorize the deduction from my pay of any contributions
                       I must make towards the cost of these benefits.
                       <br>
                       I agree that a photocopy or electronic version of this authorization is valid.

                </div>
             </form>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal" (click)="openConditionModal = false;">Close</button>
          </div>
       </div>
    </div>
  </div>
