<main role="main" id="content">
    <div class="bannerIParsys iparsys parsys">
        <div class="page-background">
            <div class="site-content">
                <h1 class="profile__h1">
                    Referral Information
                    <button class="btn btn-default pull-right" routerLink="../my-referral"> <i class="fa fa-arrow-left"></i> Back</button>
                </h1>
                <div class="row">
                <form [formGroup]="employeeForm">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="color: #09090999 !important"> Company Information  </div>
                        <div class="panel-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputCity"> Company Name<span class="req"> *</span></label>
                                    <input type="text" formControlName="CompanyName" name="CompanyName" required id="fname" class="form-control"  placeholder="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCity"> Industry<span class="req"> *</span></label>
                                    <input type="text" formControlName="Industry"  name="industry" required id="industry" class="form-control"  placeholder="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4"># of Employees<span class="req"> *</span></label>
                                    <input type="text" formControlName="NoOfEmployees" name="noOfEmployees"  required id="noOfEmployees" class="form-control"  placeholder="">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Company Website<span class="req"> *</span></label>
                                    <input type="text" formControlName="CompanyWebsite" name="CompanyWebsite"  required id="noOfEmployees" class="form-control"  placeholder="">
                                </div>


                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Contact Name<span class="req"> *</span></label>
                                <input type="text" formControlName="ContactName" name="contactName" required id="contact" class="form-control"  placeholder="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputPassword4">Contact Title<span class="req"> *</span></label>
                                <input type="text" formControlName="ContactTitle"  name="contactTitle" required id="contactTitle" class="form-control"  placeholder="">
                            </div>
                            <div class="form-group col-md-4">
                                  <label for="inputEmail4">Currently Have Group Benefits?<span class="req"> *</span></label>

                                   <label class="radio-inline">
                                    <input type="radio" name="HaveGroupBenefits" formControlName="HaveGroupBenefits" value="yes">Yes
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" name="HaveGroupBenefits" formControlName="HaveGroupBenefits" value="no">No
                                  </label>
                            </div>
                          </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputCity"> Email Address<span class="req"> *</span></label>
                                    <input type="email" formControlName="EmailAddress"  name="email"  pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" required class="form-control"  placeholder="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCity"> Phone Number<span class="req"> *</span></label>
                                    <input type="text"  formControlName="Phone"  (keypress)="_keyPress($event)" maxlength="10" minLength="10" required class="form-control"  placeholder="">
                                </div>

                            </div>
                        </div>
                    </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" style="color: #09090999 !important">Discovery Meeting (1hr)</div>
                      <div class="panel-body">
                        <div formArrayName="Employees" *ngFor="let employee of employeeForm.get('Employees')['controls']; let l = index;">
                          <div [formGroupName]="l">
                            <br>
                            <div  class="row col-lg-12">
                                <div class="form-row" style="margin-bottom:10px; float:left; padding-bottom:10px;">
                                  <div class="form-group col-md-2">
                                      <label for="inputCity">Preferred Date<span class="req"> *</span></label>
                                      <my-date-picker name="DOB" [options]="myDatePickerOptions"
                                        formControlName="PreferredDateTime"  placeholder="MM/dd/yyyy"></my-date-picker>

                                  </div>
                                  <div class="form-group col-md-2">
                                      <label for="inputCity">Preferred Time<span class="req"> *</span></label>
                                      <input atp-time-picker formControlName="Time" name="Time" value="19:00" class="form-control" />
                                  </div>
                                  <div class="form-group col-md-4">
                                      <label for="inputPassword4">Location Address<span class="req"> *</span></label>

                                      <input type="text"formControlName="Location"  name="location" required id="location" class="form-control"  placeholder="">
                                    </div>


                                  <div class="form-row">
                                      <div class="form-group col-md-4">
                                          <label for="inputZip">Who Will be Attending?<span class="req"> *</span></label>
                                          <input type="text"formControlName="Attendents"  name="attending" required id="attending" class="form-control"  placeholder="">
                                      </div>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                      <label for="inputZip">Additional Notes<span class="req"> *</span></label>
                                      <input type="text" formControlName="Notes" name="Notes" required id="Notes" class="form-control"  placeholder="">
                                  </div>
                                </div>
                                <button type="button" *ngIf="employeeForm.get('Employees')['controls'].length > 1" class="btn btn-danger pull-right"  (click)="deleteEmployee(l)" style="margin-right: 5px; display:block"><i class="fa fa-remove"> </i> Remove</button>
                              </div>
                            </div>
                          <hr>
                        </div>
                        <br>
                        <br>

                        <div class="form-row" *ngIf="employeeForm.get('Employees')['controls'].length < 3">
                            <div class="form-group col-md-12">
                              <button type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator" (click)="addMoreEmployee()"> <i class="fa fa-plus">Add More </i></button>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading" style="color: #09090999 !important"> Documents </div>
                      <div class="panel-body">
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputPassword4">Upload Document</label>
                                  <input class="form-control input-md" #file  id="licenceFile"  (change)="uploadInsurance($event,'licence')" name="licence" type="file">
                              </div>
                          </div>

                      </div>
                  </div>
                  <br>
                </div>
                  <!-- <center>
                    <button type="button" (click)="submitDetail(brokerForm)" class="btn btn-primary" style="display:block">Submit</button>
                  </center> -->
                  <div class="col-md-12 text-center">
                    <button *ngIf="!isLoading" type="button" (click)="submitDetail()" class="dash-button dash-button--affirm loginFocusIndicator">
                       <span>
                          <span class="ng-binding" aria-hidden="false">Submit</span>
                       </span>
                    </button>

                    <button *ngIf="isLoading" type="button" class="dash-button dash-button--affirm loginFocusIndicator">

                          <span *ngIf="isLoading" class="" aria-hidden="true">Please wait</span>
                          <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                             <span class="button-loading">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                             </span>
                          </span>

                    </button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</main>
