<div class="footer_component iparsys parsys">
   <div class="iparys_inherited">
      <div class="footer_component iparsys parsys"></div>
   </div>
   <div class="lgn-footer section">

      <footer class="login-footer footer-12 member-footer" role="contentinfo">
         <div class="footer__content">
            <div class="footer__section footer__section--ctfs login-footer__bottom">
                <div class="col-md-3 part1">
                  <img src="assets/images/eclipse-logo.png"style="margin-left: -30px;">
                </div>
                <div class="col-md-6 part2" style="text-align:center">
                  <small class="login-footer__copyright"> © eFlex. All rights reserved.</small><br>
                  <small class="login-footer__copyright">644 MillWay Ave. Unit 12B</small><br>
                  <small class="login-footer__copyright">Vaughan, ON L4K4H</small><br>
                  <small class="login-footer__copyright">
                      <a href="tel:1-855-440-3993" style="color: #fa9619;">1-855-440-3993</a> | <a href="mailto:eflex@eclipseeio.com" style="color: #fa9619;">eFlex@eclipseeio.com</a>
                  </small>
                 </div>
                 <div class="col-md-3 part3">
                   <div class="footer__column footer__column--sub-nav">
                      <ul class="footer__sub-nav">
                        <li class="footer__sub-nav__item">
                           <a href="javascript:void(0)" class="footer__sub-nav__link" (click)="openPrivacy()" >Legal &amp; Privacy</a>
                        </li>
                        <li class="footer__sub-nav__item">
                           <a  href="javascript:void(0)" class="footer__sub-nav__link" (click)="openTermCondition()" style="outline-offset: -0.05em;">Terms &amp; Conditions</a>
                        </li>
                         <!-- <li class="footer__sub-nav__item">
                            <a href="" target="_blank" class="footer__sub-nav__link">Security Centre</a>
                         </li>
                         <li class="footer__sub-nav__item">
                            <a href="" target="_blank" class="footer__sub-nav__link">Site Map</a>
                         </li> -->
                      </ul>
                    </div>
               </div>
            </div>
         </div>
      </footer>
   </div>
</div>



<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="privacy ? 'block' : 'none'" >
  <div class="modal-dialog" style="top:10%">
       <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="privacy = false;">&times;</button>
           <span class="modal-title">Legal &amp; Privacy</span>
        </div>
        <div class="modal-body" style="max-height:350px; overflow:auto;">
             <form class="forgot-your-password__form" style="font-size: 18px;">
                 <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em; text-align:justify">

                   Your privacy is important to us. It is eFlex's policy to respect your privacy regarding any information we may collect from you across our website,
                    <a href="https://eflex.app" target="_blank" style="font-size:18px;"> https://eFlex.app</a>, and other sites we own and operate.
                   We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
                   We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.
                   We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
                   <br>
                   <br>
                   Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
                   You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
                   Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
                   This policy is effective as of 1 January 2019.

              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="privacy = false;">Close</button>
        </div>
     </div>
  </div>
</div>


<div class="modal animated slideInDown" tabindex="-1"  [style.display]="term_conditions ? 'block' : 'none'" >
  <div class="modal-dialog" style="top:10%">
       <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="term_conditions = false;">&times;</button>
           <span class="modal-title">Term & Conditions</span>
        </div>
        <div class="modal-body">
           <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
           <form class="forgot-your-password__form" style="font-size: 18px;">
                 <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                   sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="term_conditions = false;">Close</button>
        </div>
     </div>
  </div>
</div>
