.glbImageButtonFocusIndicator{
}

.glbImageButtonFocusIndicator:focus{
  outline: 1px solid !important;
  outline-color: black !important;
  border-color: black !important;
  outline-offset: -0.2em !important;
  filter: brightness(90%);

}
.glbImageButtonFocusIndicator:hover{
  filter: brightness(90%);
}

.estatement_button_view_stmts {
    text-align: center;
    width: 100%;
    height: 3.5rem;
    color: rgb(255, 255, 255);
    background-color: #443f3c;
    opacity: ;
    background-image: ;
    border-style: ;
    border-color: ;
    border-radius: 0px;
    border-width: ;
    padding-left: ;
    padding-right: ;
    padding-top: ;
    padding-bottom: ;
    font-family: Lato;
    font-size: .8rem;
    font-style: ;
    font-weight: ;
    text-align: center;
    margin: 50px 0px 45px 0px;
    float: ;
    vertical-align: ;
    box-shadow: ;
  }

  .estatement_button_view_stmts:hover {
    color: ;
    background-color: ;
    background-image: ;
  }

  .rewardsValueADO {
    font-family: Lato;
    font-size: 3em;
    font-weight: 700; }

  .rewardsTextADO {
    font-weight: 600;
    font-size: 1.25em;
    font-family: Lato; }
    .rewardsTextADO img {
      padding-right: 5px; }

  .accountTextADO {
    font-size: 1.25em;
    font-family: Lato; }

  .columnADO {
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  .tableADO {
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  .hideLabel {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }


  .estatement_button_view_stmts img {
    padding-top: ;
    padding-right: .4rem;
    padding-bottom: ;
    padding-left: ;
    color: ;
  }

  #textBefore, #textAfter {
    display: inline-block;
  }
  .c_margin{
    margin-top: 100px;
  }
  @media only screen and (max-width: 768px){
      .estatement_button_view_stmts {
          width: 100%;
          margin: 14px 0px 10px 0px;
          height: ;
          color: ;
          background-color: ;
          opacity: ;
          background-image: ;
          border-style: ;
          border-color: ;
          border-radius: ;
          border-width: ;
          padding-left: ;
          padding-right: ;
          padding-top: ;
          padding-bottom: ;
          font-family: ;
          font-size: ;
          font-style: ;
          font-weight: ;
          text-align: ;
          margin: ;
          float: ;
          vertical-align: ;
          box-shadow: ;
        }

        .estatement_button_view_stmts:hover {
          color: ;
          background-color: ;
          background-image: ;
        }

        .estatement_button_view_stmts img {
          padding-top: ;
          padding-right: ;
          padding-bottom: ;
          padding-left: ;
        }

      .c_margin{
        margin-top: 0px;
      }
  }

  .highcharts-data-labels{
    display: none !important;
  }
  .highcharts-credits{display :none !important
  }
