<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="iparys_inherited">


         <div class="glb-responsivegrid-container parbase section">
              <div class="landingBanner">
                 <div class="container responsivegrid">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12  ">
                       <div class="name-component aem-GridColumn aem-GridColumn--default--12">
                            <section class="ncc-name" style="position: relative;">
                              <!-- Begin loading overlay -->
                               <div class="" blur-loader="ncc.showLoadingOverlay" ball-position="55%" loader-ie-default-bgcolor="transparent" style="position: relative;">

                               <div data-ng-hide="ncc.showLoadingOverlay == 'on'"  aria-hidden="false" style="">
                                    Hi, {{companyName}}
                               </div>
                               <!-- End loading overlay -->
                               </div>
                             </section>
                       </div>


                       <div class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--12">
                          <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">
                             <!-- Begin loading overlay -->
                             <div class="" blur-loader="gric.showLoadingOverlay" ball-position="55%" loader-default-bgcolor="transparent" loader-default-768px-bgcolor="transparent" loader-ie-default-bgcolor="transparent" loader-ie-768px-bgcolor="transparent" style="position: relative;">
                                <div class="glb-rewards-div">
                                   <div class="container-fluid glb-rewards-div-content" >
                                      <div class="row">
                                         <!-- <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
                                            <div class="row">
                                               <div class="col-md-12 col-xs-6 rewardsTitle" role="heading" aria-level="2">
                                                  eflex Point
                                               </div>
                                               <div class="col-md-12 col-xs-6 rewards-card">
                                                  <span>**** **** ****</span>
                                                  123
                                               </div>
                                            </div>
                                         </div> -->
                                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                           <div class="row rewardsValueADO">
                                              ${{amountDue | number : '1.2-2'}}
                                           </div>
                                           <div class="row rewardsTextADO">
                                                      Due  Payments
                                         </div>
                                         </div>
                                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                           <div class="row rewardsValueADO">
                                              ${{availableCredits | number : '1.2-2'}}
                                           </div>
                                           <div class="row rewardsTextADO">
                                                        <!-- Adjustment -->
                                                      Available Credits
                                          </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </section>
                       </div>

                       <div style="display:none" class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6">
                          <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">

	                           <div class="" ball-position="55%"  style="position: relative;">
                                <div class="glb-rewards-div">
                              	   <div class="container-fluid glb-rewards-div-content" >
                                      <div class="row">
                                          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
                                              <div class="row">
                                                  <div class="col-md-12 col-xs-12 rewardsTitle" role="heading" aria-level="2">
                                                      eFlex Point
                                                  </div>
                                                  <div class="col-md-12 col-xs-12 rewards-card ng-binding">
                                                      <span>**** **** ****</span>
                                                      123
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="col-lg-5 col-md-5 col-sm-3 col-xs-4 rewardsValue ng-binding">
                                              ${{amountDue | number : '1.2-2'}}
                                          </div>
                                      </div>
                              	    </div>
                                  </div>
                  		       </div>
                          </section>
                      </div>

                    </div>
                 </div>
              </div>
         </div>
      </div>
   </div>

   <div class="page-background">
      <div class="site-content">
        <div class="row">
        <div class="col-md-12">
          <div class="row">
           <div class="col-md-6">
             <div class="col-md-12">
                <div class="pie-chart" [chart]="plansChart"></div>
             </div>

             <div class="col-md-12">
               <div class="transactions__tab pending-tab c_margin">
                 <a  style="font-weight: bold;font-size: 18px;" id="pending" class="transactions__tab__heading">
                     Contributions
                  </a>
                   <div [ngClass]="isContribution == true ? 'show': 'hide'" class="table-responsive">
                      <table class="table" *ngIf="contributionData">
                          <tbody>
                             <ng-container  *ngFor="let c of contributionData; let i=index;"  >

                                <tr (click)="toggleClass(c)"  [ngStyle]="{'background-color': c.Color, 'color':'#000'}" >
                                  <td>{{c.Plan}}</td>
                                  <td>${{c.GrossAmount | number : '1.2-2'}}</td>
                                  <td><i [ngClass]="planIndex == c.Plan ? 'fa fa-minus':'fa fa-plus'" class="pull-right"></i></td>
                                </tr>
                                <tr  [ngStyle]="{'background-color': c.Color, 'color':'#000'}" *ngFor="let emp of c.CompanyEmpData; let j=index;" [ngClass]="planIndex == c.Plan ? '':'hide'">
                                  <td>{{emp.EmpName}}</td>
                                  <td>${{emp.Contibution | number : '1.2-2'}}</td>
                                  <td></td>
                                </tr>
                            </ng-container>
                          </tbody>
                       </table>
                   </div>
               </div>
             </div>
           </div>
           <div class="col-md-6">
              <div class="col-md-6">
                 <button id="label-1" tabindex="0" type="button" class="estatement_button_view_stmts" routerLink="../activity">
                   <img class="image-button-display-type button_view_accnt_detailsIMAGETAG" src="assets/images/accnt-details.png" alt="">
                  VIEW ACCOUNT DETAILS
                  <!-- redirct to activity -->
                </button>
              </div>
              <div class="col-md-6">
                <button id="label-1" tabindex="0" type="button" class="estatement_button_view_stmts" routerLink="../e-statements">
                  <img class="image-button-display-type button_view_accnt_detailsIMAGETAG" src="assets/images/accnt-details.png" alt="">
                 VIEW YOUR STATEMENT
                 <!-- redirct to e Statements -->
               </button>
             </div>

             <div class="col-md-12">
               <div class="panel panel-default">
                  <div class="transactions__tab pending-tab">
                    <span  style="font-weight: bold;font-size: 18px;" id="upcoming_trns" class="transactions__tab__heading_yellow" (click)="isPending =!isPending">
                        Upcoming Transactions <span class="pull-right"  [ngClass]="isPending == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span>
                     </span>
                     <div [ngClass]="isPending == true ? 'show': 'hide'" class="table-responsive">
                       <table class="table">
                           <tbody>
                             <tr *ngFor="let utrans of pendingTransaction; ">
                               <td>{{utrans.Date | dateFormat}}</td>
                               <td>{{utrans.Details}}</td>
                               <td>{{utrans.TypeId}}</td>
                               <td>${{utrans.Amount | number : '1.2-2'}}</td>
                             </tr>
                             <tr *ngIf="pendingTransaction == ''">
                               <td colspan="3">No transactions</td>
                             </tr>
                           </tbody>
                        </table>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                   <div class="transactions__tab pending-tab">
                     <a   style="font-weight: bold;font-size: 18px;" id="pending" class="transactions__tab__heading" [ngClass]="isCurrent == true ? 'transactions__tab__heading--open-children' : 'transactions__tab__heading--has-children'" (click)="isCurrent =!isCurrent">
                         Current Transactions
                      </a>

                       <div [ngClass]="isCurrent == true ? 'show': 'hide'" class="table-responsive">
                          <table class="table">
                              <tbody>
                                <tr *ngFor="let utrans of currentTransaction; ">
                                  <td>{{utrans.Date | dateFormat}}</td>
                                  <td>{{utrans.Details}}</td>
                                  <td>{{utrans.TypeId}}</td>
                                  <td>${{utrans.Amount | number : '1.2-2'}}</td>
                                </tr>

                                <tr *ngIf="currentTransaction == ''">
                                  <td colspan="3">No transactions</td>
                                </tr>
                              </tbody>
                           </table>
                       </div>
                    </div>
                 </div>
             </div>
           </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</main>
