.glbImageButtonFocusIndicator{
}

.glbImageButtonFocusIndicator:focus{
  outline: 1px solid !important;
  outline-color: black !important;
  border-color: black !important;
  outline-offset: -0.2em !important;
  filter: brightness(90%);

}
.glbImageButtonFocusIndicator:hover{
  filter: brightness(90%);
}

.estatement_button_view_stmts {
    text-align: center;
    width: 90%;
    height: 3.5rem;
    color: rgb(255, 255, 255);
    background-color: #443f3c;
    opacity: ;
    background-image: ;
    border-style: ;
    border-color: ;
    border-radius: 0px;
    border-width: ;
    padding-left: ;
    padding-right: ;
    padding-top: ;
    padding-bottom: ;
    font-family: Lato;
    font-size: .8rem;
    font-style: ;
    font-weight: ;
    text-align: center;
    margin: 50px 0px 45px 0px;
    float: ;
    vertical-align: ;
    box-shadow: ;
  }

  .estatement_button_view_stmts:hover {
    color: ;
    background-color: ;
    background-image: ;
  }

  .estatement_button_view_stmts img {
    padding-top: ;
    padding-right: .4rem;
    padding-bottom: ;
    padding-left: ;
    color: ;
  }

  #textBefore, #textAfter {
    display: inline-block;
  }
  @media only screen and (max-width: 768px){
      .estatement_button_view_stmts {
          width: 90%;
          height: ;
          color: ;
          background-color: ;
          opacity: ;
          background-image: ;
          border-style: ;
          border-color: ;
          border-radius: ;
          border-width: ;
          padding-left: ;
          padding-right: ;
          padding-top: ;
          padding-bottom: ;
          font-family: ;
          font-size: ;
          font-style: ;
          font-weight: ;
          text-align: ;
          margin: ;
          float: ;
          vertical-align: ;
          box-shadow: ;
        }

        .estatement_button_view_stmts:hover {
          color: ;
          background-color: ;
          background-image: ;
        }

        .estatement_button_view_stmts img {
          padding-top: ;
          padding-right: ;
          padding-bottom: ;
          padding-left: ;
        }
  }
