
  <section style="background:#449aba; display:block; height:100%;">
    <div class="col-md-12" style="background:#2b3e50; display:block; padding-right: 1px;
    padding-left: 1px;">
        <div class="board-2">
          <div class="col-md-2" style="background:#2b3e50; color:#fff; min-height: inherit">
            <img src="assets/images/eflex-logo-white.png" routerLink="/">
            <sup class="fa fa-lock" style="margin-left:10px"> Secure</sup>
            <br>
            <h2 class="title">Support</h2>
            <div class="contact-box">
               <a href="tel:1-855-440-3993" style="color: #fff; text-align:left; font-size:16px">
                 <i class="fa fa-phone"></i> 1-855-440-3993
               </a>
            </div>
          </div>

            <div class="col-md-10" [style.min-height.px]="screenHeight - minusHeight" style="background:#fff;">

                <div style="box-shadow: 3px 4px 14px 0px #a9a5a5;">
                  <form class="editForm" novalidate #basicForm="ngForm" (ngSubmit)="submitDetail(basicForm)" >
                      <div class="tab-pane fade in active">
                        <!-- <h4 class="head text-center">Complete Your Basic Detail For Create Card</h4> -->
                          <h4 class="head text-center">Please review your details</h4>
                          <br/>
                          <div class='row'>
                              <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                                <div class="row">
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            <input class="form-control input-md" maxlength="10" required [(ngModel)]="firstName" name="firstName">
                                        </div>
                                    </div>
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            <input class="form-control input-md" required maxlength="10" [(ngModel)]="lastName" name="lastName">
                                        </div>
                                    </div>
                                </div>
                                  <div class="row">
                                      <div class='col-xs-12 col-sm-6'>
                                          <div class="form-group">
                                              <label class="control-label">Email</label>
                                              <input class="form-control input-md" required [(ngModel)]="email" name="email">
                                          </div>
                                      </div>
                                      <div class='col-xs-12 col-sm-6'>
                                          <div class="form-group">
                                              <label class="control-label">Mobile Number</label>
                                              <input class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="10" minLength="10" required [(ngModel)]="mobileNumber" name="mobileNumber">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label">Access Code <a (click)="infoModal = true"> <img src="assets/images/info_icon.png" alt=""></a></label>
                                            <!-- <password-input
                                              (keypress)="_keyPress($event)"  maxlength="4" minLength="4" required [(ngModel)]="sin" name="sin"
                                              behaviour="click">
                                            </password-input> -->
                                            <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="4" minLength="4" required [(ngModel)]="sin" name="sin">
                                        </div>
                                    </div>
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label">Confirm Access Code</label>
                                            <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"   maxlength="4" minLength="4" required [(ngModel)]="confirmSin" name="confirmSin">
                                            <span *ngIf="sin != confirmSin" style="color:red;">Confirm access code did not match</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3 style="color: #2b3e50; font-size: 1.2em; padding-left: 15px;">Note: Please remember your access code for future card authentication.</h3>
                                   </div>
                                  </div>

                                  <div class="row">
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label">Date of Birth</label>
                                            <my-date-picker class="input-md" name="dob" required [(ngModel)]="dob" [options]="myDatePickerOptions" placeholder="MM/dd/yyyy"></my-date-picker>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-6 ">
                                       <label for="" class="control-label">
                                          Gender
                                       </label>
                                       <select required [(ngModel)]="gender" name="gender">
                                         <option value="Male">Male</option>
                                         <option value="Female">Female</option>
                                         <option value="Other">Other</option>
                                       </select>
                                    </div>
                                  </div>

                                  <div class="row">
                                      <div class="col-xs-12 col-md-6">
                                        <label class="control-label">Province</label>
                                         <select id="province" required required [(ngModel)]="state" name="state" >
                                         <option value="">Choose a Province...</option>
                                         <option *ngFor="let p of provienceData;" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                         </select>
                                      </div>
                                      <div class='col-xs-12 col-sm-6'>
                                          <div class="form-group">
                                              <label class="control-label">City</label>
                                              <input class="form-control input-md" required [(ngModel)]="city" maxlength="50" name="city">
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row">
                                    <div class='col-xs-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="control-label">Postal Code </label>
                                            <input class="form-control input-md" required [(ngModel)]="postalCode" name="postalCode">

                                        </div>
                                    </div>
                                    <div class='col-xs-12 col-sm-6'>
                                          <div class="form-group">
                                              <label class="control-label">Address </label>
                                              <input class="form-control input-md" maxlength="49" required [(ngModel)]="address" name="address">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="form-group text-center">
                              <button *ngIf="!loading" type="submit" [disabled]="!basicForm.valid" class="dash-button dash-button--affirm loginFocusIndicator"
                               style="margin-bottom:10px; margin-top:20px;">
                                Submit
                              </button>

                              <button *ngIf="loading" type="button" [disabled]="basicForm.valid" class="dash-button dash-button--affirm loginFocusIndicator"
                               style="margin-bottom:10px; margin-top:20px;">
                                 <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                    <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                                    <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                       <span class="button-loading">
                                          <div class="bounce1"></div>
                                          <div class="bounce2"></div>
                                          <div class="bounce3"></div>
                                       </span>
                                    </span>
                                 </span>
                              </button>
                              <br>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-12" style="bottom:0px; background: #2c3e50;">
            <app-footer></app-footer>
        </div> -->
    </div>
  </section>


<section style="background:#ecf0f1; display:none;">
    <div class="container">
        <div class="text-center" style="padding-top:15px;">
            <img src="assets/images/EclipseLogo.png">
            <p *ngIf="loginUserName" style="font-size:18px; color: #2b3e4f; font-weight:bold"> Welcome, {{loginUserName}}</p>
            <button type="button" class="header-secured__log-out button log-out logoutButtonFocusIndicator" (click)="logOut()">
              Logout
            </button>
        </div>

        <div class="board">
          <form class="editForm" novalidate #basicForm="ngForm" (ngSubmit)="submitDetail(basicForm)" >
              <div class="tab-pane fade in active">
                  <h4 class="head text-center">Complete Your Basic Detail For Create Card</h4>
                  <br/>
                  <div class='row'>
                      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                        <div class="row">
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input class="form-control input-md" maxlength="10" [(ngModel)]="firstName" name="firstName">
                                </div>
                            </div>
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input class="form-control input-md" required maxlength="10" [(ngModel)]="lastName" name="lastName">
                                </div>
                            </div>
                        </div>
                          <div class="row">
                              <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                      <label class="control-label">Email</label>
                                      <input class="form-control input-md" required [(ngModel)]="email" name="email">
                                  </div>
                              </div>
                              <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                      <label class="control-label">Mobile Number</label>
                                      <input class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="10" minLength="10" required [(ngModel)]="mobileNumber" name="mobileNumber">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">Pin</label>
                                    <!-- <password-input
                                      (keypress)="_keyPress($event)"  maxlength="4" minLength="4" required [(ngModel)]="sin" name="sin"
                                      behaviour="click">
                                    </password-input> -->
                                    <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="4" minLength="4" required [(ngModel)]="sin" name="sin">
                                </div>
                            </div>
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">Confirm Pin</label>
                                    <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="4" minLength="4" required [(ngModel)]="confirmSin" name="confirmSin">
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <my-date-picker class="input-md" name="dob" required [(ngModel)]="dob" [options]="myDatePickerOptions" placeholder="MM/dd/yyyy"></my-date-picker>
                                </div>
                            </div>
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input class="form-control input-md" required [(ngModel)]="city" maxlength="50" name="city">
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class='col-xs-12 col-sm-6'>
                                <div class="form-group">
                                    <label class="control-label">PostalCode </label>
                                    <input class="form-control input-md" required [(ngModel)]="postalCode" name="postalCode">

                                </div>
                            </div>
                            <div class='col-xs-12 col-sm-6'>
                                  <div class="form-group">
                                      <label class="control-label">Address </label>
                                      <input class="form-control input-md" maxlength="49" required [(ngModel)]="address" name="address">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group text-center">
                      <!--  <button class="btn btn-success btn-outline-rounded btn-info default-theme-next"> Submit</button> -->
                      <button *ngIf="!loading" type="submit" [disabled]="!basicForm.valid" class="dash-button dash-button--affirm loginFocusIndicator"
                       style="margin-bottom:10px; margin-top:20px;">
                        Submit
                      </button>

                      <button *ngIf="loading" type="button" [disabled]="basicForm.valid" class="dash-button dash-button--affirm loginFocusIndicator"
                       style="margin-bottom:10px; margin-top:20px;">
                         <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                            <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                            <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                               <span class="button-loading">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                               </span>
                            </span>
                         </span>
                      </button>
                      <br>
                  </div>
              </div>
            </form>
        </div>
      </div>
</section>


<div class="modal animated slideInDown"  [style.display]="infoModal ? 'block' : 'none'">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" (click)="infoModal = false">&times;</button>
            <span class="modal-title">What is Access Code ?</span>
         </div>
         <div class="modal-body text-center">
            <h2 style="text-align:center; font-size:18px">
                It is a four digit pin that you will need to input as per your preference.
            </h2>
            <br>
            <div class="text-center" style="font-size:16px;">
               <button type="button" class="btn btn-primary" name="button" (click)="infoModal = false">Close</button>
            </div>
         </div>
      </div>
   </div>
</div>
