h4 {
	font-family: Roboto Condensed,sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #fa9619
;
	font-weight: 700;
  padding-top: 25px;
}
.title{
  font-size: 24px;
  font-weight: bold;
  color:#fff;
  margin-top: 20px
}
.contact-box {
    border-bottom: 1px solid #99958d;
    padding: 5px 0;
    margin-bottom: 20px;
    margin-top: 0px;
}
.modal-title {
	/* border-top: 13px solid #443f3c; */
  border-top:  none;
}
.modal {
	background-color: #0009;
}
.modal-header{
  background-color: #fa9619
;
  color: #ecf0f1;
}
.modal-header .close {
	margin-top: -2px;
	color: #ecf0f1;
}
