

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="iparys_inherited">

         <div class="glb-responsivegrid-container parbase section">
            <div class="landingBanner">
               <div class="container responsivegrid">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12  ">
                     <div class="name-component aem-GridColumn aem-GridColumn--default--12">
                        <section class="ncc-name" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div class="" blur-loader="ncc.showLoadingOverlay" ball-position="55%" loader-ie-default-bgcolor="transparent" style="position: relative;">
                              <div data-ng-hide="ncc.showLoadingOverlay == 'on'" class="ng-binding" aria-hidden="false" style="">
                                Claims
                              </div>
                              <!-- End loading overlay -->
                           </div>
                        </section>
                     </div>
                     <div class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--12">
                        <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div class="" blur-loader="gric.showLoadingOverlay" ball-position="55%" loader-default-bgcolor="transparent" loader-default-768px-bgcolor="transparent" loader-ie-default-bgcolor="transparent" loader-ie-768px-bgcolor="transparent" style="position: relative;">
                              <div class="glb-rewards-div">
                                 <div class="container-fluid glb-rewards-div-content" >
                                    <div class="row">
                                      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                      </div> -->
                                       <div class="col-xs-12">
                                         <div class="row rewardsValueADO ng-binding" aria-hidden="true">
                                            ${{claimedAmt | number : '1.2-2'}}
                                         </div>
                                         <div class="row rewardsTextADO" aria-hidden="true">
                                           Total Claimed Amount
                            						</div>
                                       </div>
                                       <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                       </div> -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="page-background">
      <div class="site-content">
         <div class="container-fluid" style="position: relative;">
            <div class="row">

              <div class="eStatements-records__container--form eStatements-records__form--padding">

                <div class="col-md-6" style="flex-grow:1;">
                  <label class="records-dropdown__label black-grey text--bold" for="eStatementsYears">
                    From Date
                  </label>
                  <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                   [(ngModel)]="paymentFromDate"  placeholder="MM/dd/yyyy"></my-date-picker>
                </div>

                  <!-- <div class="dropdown dash-form__select--grey horizontal-left-col eStatements-records__dropdown"> -->
                  <div class="col-md-6" style="flex-grow:1;">
                    <label class="records-dropdown__label black-grey text--bold" for="eStatementsMonths">
                        To Date
                    </label>
                    <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                     [(ngModel)]="paymentToDate"  placeholder="MM/dd/yyyy"></my-date-picker>
                  </div>

                <div style="padding-top:30px" class="for-btn-marg">
                    <button (click)="getClimByDate()" type="button" class="dash-button dash-button--affirm eStatements-records__button">
                      <span>
                          <span  class="ng-binding" aria-hidden="false">Submit</span>
                      </span>
                    </button>
                </div>
            </div>

            </div>
            <div class="row">
               <div class="col-md-12" id="transactions" #transactions>
                 <div class="panel panel-default">
                    <div class="transactions__tab pending-tab">
                      <a id="upcoming_trns" class="transactions__tab__heading" (click)="isPending =!isPending">
                          Claims Transactions <span class="pull-right"  [ngClass]="isPending == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span>
                       </a>
                       <div [ngClass]="isPending == true ? 'show': 'hide'" class="table-responsive no-mob-border">
                         <table class="table" >
                             <thead>
                                <tr style="background-color:#eee;">
                                  <th>Date Submitted</th>
                                  <th (click)="sort('IsManual')">Type <i class="fa fa-fw fa-sort"></i></th>
                                  <th>Status</th>
                                  <th>Dependant Name</th>
                                  <th (click)="sort('ClaimAmt')">Amount <i class="fa fa-fw fa-sort"></i></th>
                                  <!-- <th>Total Reimburseable</th> -->
                                  <th>Action</th>
                                </tr>
                             </thead>
                             <tbody>

                               <tr *ngFor="let utrans of currentTransaction | orderBy:sortingName:isDesc;" >
                                 <td  [ngClass]=" utrans.UploadFileName == '' ? 'receipt_pending': ''">{{utrans.ClaimDate | mydate}}</td>
                                 <td>{{utrans.IsManual == false ? 'Load Card' : 'Manual'}}</td>
                                  <td>{{utrans.ClainStatus}}</td>
                                 <td>{{utrans.Dependants == '' || utrans.Dependants == null  ? '-' : utrans.Dependants}}</td>
                                 <td>${{utrans.ClaimAmt | number : '1.2-2'}}</td>
                                 <!-- <td>${{utrans.ReimburseableAmt | number : '1.2-2'}}</td> -->
                                 <td>
                                   <!-- <a *ngIf="utrans.UploadFileName != ''"  href="{{hostUrl}}/{{companyId}}/{{utrans.UploadFileName}}" target="_blank">
                                     View Receipt
                                   </a> -->
                                   <a *ngIf="utrans.UploadFileName != ''"  href="{{hostUrl}}/{{companyId}}/{{utrans.UploadFileName}}" target="_blank" class="btn btn-primary dash-button" style="min-width:2rem; padding: 13px 8px;">
                                     <i class="fa fa-eye"></i> Receipt
                                   </a>
                                   <!-- <button *ngIf="utrans.UploadFileName == ''" (click)="openReceiptModal(utrans)" type="button" name="button" class="btn btn-sm dash-button" style="min-width:2rem; padding-left: 10px; padding-right: 10px;">
                                     <i class="fa fa-upload"></i> Receipt</button> -->
                                     <button *ngIf="utrans.UploadFileName == ''" routerLink="../update-claim-detail/{{utrans.EmpClaimId}}" type="button" name="button" class="btn btn-sm dash-button" style="min-width:2rem; padding-left: 10px; padding-right: 10px;">
                                     <i class="fa fa-upload"></i> Receipt</button>
                                   <button (click)="openClaimDetail(utrans)" type="button" name="button" class="btn btn-primary dash-button" style="min-width:2rem; background:#2b3e4f">
                                     <i class="fa fa-eye"></i> View</button>
                                 </td>
                               </tr>
                              </tbody>
                          </table>
                          <span *ngIf="currentTransaction == ''" style="padding:10px; padding-bottom: 10px; float: left; color:red;">
                            No transactions
                          </span>
                      </div>
                    </div>
                  </div>

               </div>

               <div class="col-md-12">
                 <div class="pull-right" *ngIf="currentTransaction !=''">
                   <!-- <button class="btn btn-default" (click)="downLoadPDF()">Download PDF</button> -->
                   <button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<!--
<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="receiptModal ? 'block' : 'none'">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="receiptModal = false;">&times;</button>
           <span class="modal-title">Upload Receipt</span>
        </div>
        <div class="modal-body">
           <form class="forgot-your-password__form">
              <div class="">
                 <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                   <b>File Format: (.jpg|.pdf|.png|.jpeg, 5 MB maximum) .<br></b><br></div>
              </div>
              <div class="forgot-your-password__login-options">

                 <fieldset class="forgot-your-password__fieldset">
                   <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>
                   <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                 </fieldset>
                 <br>
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="receiptModal = false;">Close</button>
        </div>
     </div>
  </div>
</div> -->



<div class="modal animated slideInDown" [style.display]="receiptModal ? 'block' : 'none'">
  <div class="modal-dialog">

     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="reciptModalClose()">&times;</button>
           <span class="modal-title"> Receipt Detail</span>
        </div>
        <div class="modal-body">
           <form class="forgot-your-password__form" #receiptForm="ngForm">
             <div style="text-align:left; padding:15px">
                <h5 class="head5" >Receipt Date <span class="required">*</span></h5>
                <my-date-picker [(ngModel)]="LC_ReceiptDate" name="LC_ReceiptDate" [options]="myDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
                <h5 class="head5" >Receipt Number <span class="required">*</span></h5>
                <div class="input-group">
                   <input type="text" [(ngModel)]="LC_ReceiptNo"  name="LC_ReceiptNo" id="LC_ReceiptNo">
                </div>

                <h5 class="head5" >Uplaod Receipt </h5>
                 <img src="assets/images/file.png" width="100"  (click)="fileInput.click()" title="upload receipt">
                 <input type="file" id="file" name="file"  (change)="uploadFile($event)"  #fileInput style="display: none">
                <br>
                <div>  <p>File Format:  .jpg |.pdf |.png |.jpeg 5 MB Maximum <br></p></div>
                <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>

                <div *ngIf="fileName"  style="margin-left:5px;">
                   <a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank"><br>View Receipt<br>  </a>
                </div>
             </div>

           </form>
        </div>
        <div class="modal-footer text-center">
            <button [disabled]="!receiptForm.valid" type="button" class="btn btn-default" (click)="submitLoadCardReceipt()">Submit</button>
           <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="reciptModalClose()">Close</button>
        </div>
     </div>
  </div>
</div>




 <div class="modal animated slideInDown"  [style.display]="isClaimDetailModal ? 'block' : 'none'">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content" *ngIf="claimDetails !=''">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="isClaimDetailModal = false;">&times;</button>
             <span class="modal-title">Claim Detail</span>
          </div>
          <div class="modal-body" style="height:400px; overflow:auto">
            <div class="popup">
              <table>
                <tbody>
                 <tr>
                  <td class="right"><strong>Claim Date</strong></td>
                  <td class="left" id="date">{{claimDetails.ClaimDate | mydate}}</td>
                  </tr>
                  <tr>
                  <td class="right"><strong>Claimed Amount</strong></td>
                  <td class="left" id="s_name">${{claimDetails.ClaimAmt | number:'2.2'}}</td>
                  </tr>
                  <tr>
                    <td class="right"><strong>Claim for Self/Dependant</strong></td>
                    <td class="left" id="buyer_name">{{claimDetails.Dependent == '' ? 'Self' :'Dependent'}}</td>
                  </tr>
                  <tr *ngIf="claimDetails.Dependent">
                    <td class="right"><strong>Dependant Name</strong></td>
                    <td class="left" id="buyer_name">{{claimDetails.Dependent}}</td>
                  </tr>

                  <tr *ngIf="claimDetails.ClaimServiceDetails">
                     <td class="right"><strong>Service Name</strong></td>
                     <td class="left" id="buyer_name">
                       <span *ngIf="claimDetails.ClaimServiceDetails.ServiceName">{{claimDetails.ClaimServiceDetails.ServiceName}}</span>
                        <span *ngIf="!claimDetails.ClaimServiceDetails.ServiceName">-</span>
                      </td>
                  </tr>

                  <tr>
                     <td class="right"><strong>CRA Covered (%)</strong></td>
                     <td class="left" id="buyer_name">{{claimDetails.CRA}}</td>
                  </tr>
                  <tr>
                     <td class="right"><strong>Non CRA Covered (%)</strong></td>
                     <td class="left" id="buyer_name">{{claimDetails.NonCRA}}</td>
                  </tr>

                  <tr *ngIf="claimDetails.ClaimServiceDetails">
                    <td class="right"><strong>Service Provider</strong></td>
                    <td class="left" id="payment_type">
                       <span *ngIf="claimDetails.ClaimServiceDetails.ServiceProvider">
                         {{claimDetails.ClaimServiceDetails.ServiceProvider}}<br>
                         <span *ngIf="claimDetails.ClaimServiceDetails.Email">, {{claimDetails.ClaimServiceDetails.Email}}</span>
                         <span *ngIf="claimDetails.ClaimServiceDetails.Address">,{{claimDetails.ClaimServiceDetails.Address}}</span>
                         <span *ngIf="claimDetails.ClaimServiceDetails.PhoneNo">,{{claimDetails.ClaimServiceDetails.PhoneNo}}</span>
                       </span>
                       <span *ngIf="!claimDetails.ClaimServiceDetails.ServiceProvider">
                        -
                       </span>
                    </td>
                  </tr>
                  <tr *ngIf="claimDetails.ReceiptDate">
                    <td class="right"><strong>Receipt Date </strong></td>
                    <td class="left" id="date">{{claimDetails.ReceiptDate | mydate}}</td>
                  </tr>
                  <tr>
                    <td class="right"><strong>Receipt No </strong></td>
                    <td class="left" id="date">{{claimDetails.ReceiptNo != '' ? claimDetails.ReceiptNo : '-'}}</td>
                  </tr>
                  <tr>
                    <td class="right"><strong>Note</strong></td>
                    <td class="left" id="payment_amount">{{claimDetails.Note}}</td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-danger" (click)="isClaimDetailModal = false;" data-dismiss="modal" (click)="planModal = false;">Close</button>
          </div>
       </div>
    </div>
 </div>
