<app-header></app-header>
<main role="main" id="content" style="margin-top:5%">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <h1 class="profile__h1">
              Confirm One of the Referral Date and Time
            </h1>
            <div class="row" *ngIf="referralData != ''">
               <div class="table-responsive">
                  <table class="table" >
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Date & Time</th>
                           <th>Location</th>
                           <th>Attending</th>
                           <th>Confirmed</th>
                           <th>Notes</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let item of referralData; let i=index">
                           <td>{{i+1}}</td>
                           <td class="left" id="date">{{item.PreferredDateTime}}</td>
                           <td>{{item.Location}}</td>
                           <td>{{item.Attendents}}</td>
                           <td>{{item.IsFinal == false ?'No':'Yes'}}</td>
                           <td>{{item.Notes}}</td>
                           <td>
                              <button *ngIf="item.Status == 0" class="btn btn-sm btn-primary" (click)="confirmDateTime(item)">Accept Time</button>
                              <span *ngIf="item.Status != 0" > - </span>
                           </td>
                        </tr>
                        <tr *ngIf="referralData.length < 1">
                           <td colspan="5">No record found</td>
                        </tr>
                     </tbody>
                  </table>
                  <button *ngIf="referralStatus == 0"  class="btn btn-default" (click)="isOtherTimeSlot = true"> Suggest your time </button>
               </div>
               <br>
               <form [formGroup]="employeeForm" *ngIf="isOtherTimeSlot && referralStatus == 0">
                  <div class="col-md-12">
                     <div class="row panel panel-default">
                        <div class="panel-heading" style="color: #09090999 !important">Suggest your available date and time </div>
                        <div class="panel-body">
                           <div  class="row col-lg-12">
                              <div class="form-row" style="margin-bottom:10px; float:left; padding-bottom:10px;">
                                 <div class="form-group col-md-2">
                                    <label for="inputCity">Preferred Date<span class="req"> *</span></label>
                                    <my-date-picker name="DOB" [options]="myDatePickerOptions"
                                       formControlName="PreferredDateTime"  placeholder="MM/dd/yyyy"></my-date-picker>
                                 </div>
                                 <div class="form-group col-md-2">
                                    <label for="inputCity">Preferred Time<span class="req"> *</span></label>
                                    <input  formControlName="Time" type="time" name="Time" value="19:00" class="form-control" />
                                    <!-- atp-time-picker -->
                                 </div>
                                 <div class="form-group col-md-4">
                                    <label for="inputPassword4">Location Address<span class="req"> *</span></label>
                                    <input type="text"formControlName="Location"  name="location" required id="location" class="form-control"  placeholder="">
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="inputZip">Who Will be Attending?<span class="req"> *</span></label>
                                       <input type="text"formControlName="Attendents"  name="attending" required id="attending" class="form-control"  placeholder="">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-md-6">
                                    <label for="inputZip">Additional Notes</label>
                                    <input type="text" formControlName="Notes" name="Notes" id="Notes" class="form-control"  placeholder="">
                                 </div>
                              </div>
                              <br>
                              <br>
                           </div>
                        </div>
                     </div>
                     <br>
                  </div>
                  <!-- <center>
                     <button type="button" (click)="submitDetail(brokerForm)" class="btn btn-primary" style="display:block">Submit</button>
                     </center> -->
                  <div class="col-md-12 text-center">
                     <button *ngIf="!isLoading" type="button" (click)="submitDetail()" class="dash-button dash-button--affirm loginFocusIndicator">
                     <span>
                     <span class="ng-binding" aria-hidden="false">Submit</span>
                     </span>
                     </button>
                     <button *ngIf="isLoading" type="button" class="dash-button dash-button--affirm loginFocusIndicator">
                        <span class="" aria-hidden="true">Please wait</span>
                        <span aria-hidden="true" class="ng-hide">
                           <span class="button-loading">
                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                           </span>
                        </span>
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</main>


<app-footer></app-footer>



  <div class="modal animated slideInDown"  [style.display]="dateConfirmation ? 'block' : 'none'">
    <div class="modal-dialog" style="margin-top:10%">
       <!-- Modal content-->
       <div class="modal-content" >
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="dateConfirmation = false;">&times;</button>
             <span class="modal-title">Confirmation</span>
          </div>

          <div class="modal-body">
             <b>Are you sure you want to confirm this date and time ?<br></b>
           </div>
           <div class="modal-footer">
             <button   type="button" (click)="yesConfirmDate()" data-dismiss="modal" class="btn btn-primary" id="delete">
               <span *ngIf="!loading">Yes </span>
               <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
               <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                  <span class="button-loading">
                     <div class="bounce1"></div>
                     <div class="bounce2"></div>
                     <div class="bounce3"></div>
                  </span>
               </span>
             </button>
             <button type="button" data-dismiss="modal" class="btn btn-default" (click)="dateConfirmation = false;">Cancel</button>
           </div>

       </div>
    </div>
  </div>
