

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-xs-12">
                      <h1 class="profile__h1">
                        {{memberTypeId == 3 ? 'Plan Members ' : 'Admins'}}
                      </h1>

                  </div>

                  <div class="col-md-12 col-xs-12" style="margin-top:10px; margin-bottom:5px;" id="empBtnRight">

                    <div class="col-md-3 col-xs-12 col-sm-12">
                      <select class="form-contro dash-form__select--grey" (change)="filterMembers()" [(ngModel)]="memberTypeId" name="memberTypeId">
                        <option value="3">Plan Members</option>
                        <option value="2">Admin</option>
                      </select>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-12 selectlblMargin" *ngIf="memberTypeId == 3">
                       <select class="form-contro dash-form__select--grey" (change)="filterEmp()" id="filterByType" [(ngModel)]="filterByType" name="filterByType">
                          <option value="-1">All Employee</option>
                          <option value="1">Active Employee</option>
                          <option value="0">In Active Employee</option>
                          <option value="2">Profile Not Updated</option>
                      </select>
                    </div>

                    <div class="row col-md-5 col-xs-12 col-sm-12 pull-right">
                      <ng-container  *ngIf="filterByType == 2 && memberTypeId == 3">
                          <button class="btn btn-primary btn_margin_right"  *ngIf="!sendMailLoading"  (click)="sendMailToSelected()"> <i class="fa fa-envelope"></i> Send Mail</button>
                          <button  class="btn btn-primary btn_margin_right" *ngIf="sendMailLoading">Sending Mail..</button>
                      </ng-container>
                      <button (click)="openAdminModal()" class="btn btn-default btn_margin_right"><i class="fa fa-plus"></i> <span class="hidden-xs">Add</span> Admin</button>
                      <button routerLink="../add-employee" class="btn btn-primary btn_margin_right" *ngIf="compnayPlanTypeId == '2' && isFreeze == false"><i class="fa fa-plus"></i> <span class="hidden-xs">Add</span> Member</button>
                    </div>
                  </div>
                </div>
              <div>
                <div class="panel panel-default">
                   <div class="transactions__tab pending-tab">
                      <div class="table-responsive">
                        <table class="table" >
                            <thead>
                              <tr>
                                <th style="width:65px">
                                  <span class="pull-left">#</span>
                                  <input *ngIf="filterByType == 2 && memberTypeId == 3 && empData.length > 0"  (change)="changeCheckbox($event, i)" type="checkbox" [(ngModel)]="Allchecked" [name]="Allchecked">

                               </th>
                                <th (click)="sort('FName')">Name <i class="fa fa-fw fa-sort"></i></th>

                                <th>Email</th>
                                <th>Username</th>
                                <th *ngIf="memberTypeId == 3">Active Plan</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="isLoader">
                                <td class="text-center" colspan="7"><i class="fa fa-spinner fa-spin" style="font-size:30px; color:#2b3e4f"></i><br>Loading.. </td>
                              </tr>
                              <ng-container *ngIf="empData.length > 0">
                                <tr  *ngFor="let emp of empData | orderBy:sortingName:isDesc; trackBy: trackByFn; let i=index">
                                  <td>
                                    <span>{{i+1}}.</span>
                                    <span class="pull-right">
                                      <input *ngIf="filterByType == 2 && memberTypeId == 3" type="checkbox" [(ngModel)]="emp.checked" [name]="emp.FName">
                                    </span>
                                  </td>
                                  <td>{{emp.FName}} {{emp.LName}}</td>
                                  <td>{{emp.Email}}</td>
                                  <td>{{emp.UserName}}</td>
                                  <td  *ngIf="memberTypeId == 3">{{emp.PlanName}}</td>
                                  <td  *ngIf="memberTypeId == 3">{{emp.InActive == 'True' ? 'Active' :'In active'}}</td>
                                  <td  *ngIf="memberTypeId == 2">Active</td>
                                  <td  class="text-center"  *ngIf="memberTypeId == 3">
                                    <span *ngIf="emp.InActive == 'True' && isFreeze == false">
                                        <button  class="btn btn-sm btn-danger" (click)="updateEmpStatus(emp,false)">Mark Inactive</button>
                                    </span>
                                    <button class="btn btn-sm btn-primary" type="button" routerLink="../claims/{{emp.CompanyUserId}}/{{emp.FName}}" name="button"><i class="fa fa-eye"></i> Claims</button>
                                  </td>
                                   <td  class="text-center" *ngIf="memberTypeId == 2">
                                      <button  class="btn btn-sm btn-danger" (click)="deleteAdmin(emp,'admin')">Delete</button>
                                  </td>
                                </tr>
                              </ng-container>

                              <ng-container *ngIf="empData.length < 1">
                                <tr>
                                  <td class="text-center" colspan="7">No record found </td>
                                </tr>
                              </ng-container>

                            </tbody>
                         </table>
                     </div>
                     <br>
                     <div class="col-md-12" *ngIf="empData !=''">
                       <div class="pull-right" *ngIf="memberTypeId == 3" style="margin-top:20px;">
                          <button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
                       </div>
                     </div>
                   </div>
                 </div>
              </div>
            </div>

          </div>
        </div>
   </div>
 </main>

 <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="modal = false;">&times;</button>
            <span class="modal-title">Confirmation</span>
         </div>

         <div class="modal-body">
            <b>Are you sure you want to {{status == false ? 'deactivate': 'Active'}} {{name}} ?<br></b>
          </div>
          <div class="modal-footer">
            <button   type="button" (click)="updateConfirm()" data-dismiss="modal" class="btn btn-primary" id="delete">
              <span *ngIf="!loading">Yes </span>
              <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
              <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-default" (click)="modal = false;">Cancel</button>
          </div>

      </div>
   </div>
 </div>


 <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="deleteConfirmation ? 'block' : 'none'">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="deleteConfirmation = false;">&times;</button>
            <span class="modal-title">Confirmation</span>
         </div>

         <div class="modal-body">
            <b>Are you sure you want to delete {{name}} ?<br></b>
          </div>
          <div class="modal-footer">
            <button  *ngIf="isDeleteEmp == 'admin'"  type="button" (click)="yesDeleteAdmin()" data-dismiss="modal" class="btn btn-primary" id="delete">
              <span *ngIf="!loading">Yes </span>
              <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
              <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>

            <button  *ngIf="isDeleteEmp == 'emp'" type="button" (click)="yesDeleteEmp()" data-dismiss="modal" class="btn btn-primary" id="delete">
              <span *ngIf="!loading">Yes </span>
              <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
              <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-default" (click)="deleteConfirmation = false;">Cancel</button>
          </div>

      </div>
   </div>
 </div>


  <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="adminModal ? 'block' : 'none'">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="adminModal = false;">&times;</button>
             <span class="modal-title">Add Admin</span>
          </div>
            <form #adminForm="ngForm" name="adminForm"  (ngSubmit)="saveAdmin(adminForm)">
            <div class="modal-body">
                  <div class="form-group">
                      <label for="email">First Name:</label>
                      <input type="text" required  name="adminFName" [(ngModel)]="adminFName" class="form-control" id="adminFName">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Last Name:</label>
                    <input type="text" required  name="adminLName" [(ngModel)]="adminLName" class="form-control" id="adminLName">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Email:</label>
                    <input type="email" required name="adminEmail" [(ngModel)]="adminEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  class="form-control" id="adminEmail">
                  </div>
           </div>
           <div class="modal-footer">
             <button  type="submit" data-dismiss="modal" class="dash-button"
             [disabled]="!adminForm.valid" id="submit">
               <span *ngIf="!loading">Submit </span>
               <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
               <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                  <span class="button-loading">
                     <div class="bounce1"></div>
                     <div class="bounce2"></div>
                     <div class="bounce3"></div>
                  </span>
               </span>
             </button>
           </div>
        </form>
       </div>
    </div>
  </div>
