

<div>
   <header class="header" role="header">
      <div class="secureHeaderPlaceholder iparsys parsys">
         <div class="section">
            <div class="new"></div>
         </div>
         <div class="iparys_inherited">
            <div class="secureHeaderPlaceholder iparsys parsys">
               <div class="glb-secure-header-top parbase section">
                  <header header-manager="" class="header">
                     <a id="top"></a>
                     <div class="skipNav"></div>
                     <div class="header__wrap">
                        <div id="header__menu">
                           <div class="hamburger-menu__container slideSideAnimationHamburger slidLeftHamburger" style="" (click)="toggleMenu()">
                              <h2 class="hamburger-menu--message body-copy--large" tabindex="-1">
                                 Main Menu <!-- MESSAGE: Main Menu -->
                              </h2>
                              <button type="button" id="hamMenu" class="hamburger-menu" aria-label="menu" aria-expanded="false" aria-controls="refHamMenu" hamburger-manager="#header__container--nav" hamburger-nav-anim-class="slidLeft" hamburger-container-anim-class="slidLeftHamburger" hamburger-container-anim-element=".hamburger-menu__container">
                                 <span class="sr-only">Toggle navigation</span>
                                 <div class="hamburger-menu__bar" data-ng-class="{'hamburger-menu__bar--opened' : mobileMenuToggle}" style=""></div>
                              </button>
                           </div>
                           <div class="logo glb-logo parbase">
                              <style>
                                 .header__image--logo{
                                 top: 0.225rem;
                                 background-image: url('./assets/images/EclipseLogo.png');
                                 background-position: 0rem;
                                 background-repeat: no-repeat;
                                 width: 215px;
                                 height: 70px;
                                 }
                                 @media only screen and (-webkit-min-device-pixel-ratio: 2),
                                 only screen and (min--moz-device-pixel-ratio: 2),
                                 only screen and (-o-min-device-pixel-ratio: 2/1),
                                 only screen and (min-device-pixel-ratio: 2),
                                 only screen and (min-resolution: 192dpi),
                                 only screen and (min-resolution: 2dppx) {
                                 .header__image--logo{
                                 background-image: url('./assets/images/EclipseLogo.png');
                                 background-size: 60%;
                                 margin-left: 0px;
                                 }
                                 }
                                 @media only screen and (max-width: 899.999px){
                                 .header__image--logo{
                                 margin: auto;
                                 }
                                 }
                              </style>
                              <button class="header__image--logo confirm-changes-modal-link" routerLink="./dashboard">
                              </button>
                           </div>
                           <div id="header__menu--inbox-container">
                              <style>
                                 .notificationButtonFocusIndicator:focus{
                                 outline-color: black !important;
                                 border-color: black !important;
                                 }
                              </style>
                           </div>
                        </div>
                        <nav id="header__container--nav" [ngClass]="toggleMenuClass == true ? 'hide-on-desktop': 'hide-on-mobile'" class="slideSideAnimationNav"  role="navigation" tabindex="-1">
                           <ul id="refHamMenu" class="header__menu--list" role="menu">
                              <li id="header__menu--main-nav">
                                 <div class="navlinks glb-navigation parbase">
                                    <div main-nav="en" id="main-navigation-links" class="navigation hideOutline" tabindex="-1">
                                       <ul class="navigation__menu navigation__ul--main">
                                         <li class="navigation__item--main-menu"  routerLinkActive="active">
                                            <button id="analytics" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./dashboard">Dashboard</button>
                                         </li>
                                          <li  class="navigation__item--main-menu"  routerLinkActive="active">
                                             <button id="Summary" class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./company-list">Clients</button>
                                          </li>
                                          <li class="navigation__item--main-menu"  routerLinkActive="active">
                                             <button id="Summary" class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./transactions">Transactions</button>
                                          </li>
                                          <!-- <li class="navigation__item--main-menu
                                             ">
                                             <button id="Activity" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./pap-detail">PAP Detail</button>
                                          </li> -->
                                          <li *ngIf="isPersonal == 'false'" class="navigation__item--main-menu"  routerLinkActive="active">
                                             <button id="Pay My Bill" class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./broker-list"> Brokers</button>
                                          </li>
                                          <li class="navigation__item--main-menu"  routerLinkActive="active">
                                             <button id="Settings" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./settings">Settings</button>
                                          </li>

                                      </ul>
                                    </div>
                                 </div>
                              </li>
                              <li id="header__menu--logout">
                                 <button type="button" class="header-secured__log-out button log-out logoutButtonFocusIndicator" (click)="logOut()">
                                    <span default-text="Logout" loading-text="Loading" class="ng-isolate-scope">
                                       <span class="ng-binding" aria-hidden="false">Logout</span>

                                    </span>
                                 </button>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </header>
               </div>
            </div>
         </div>
      </div>
      <div class="secureSubheaderPlaceholder iparsys parsys">
         <div class="section">
            <div class="new"></div>
         </div>
         <div class="iparys_inherited">
            <div class="secureSubheaderPlaceholder iparsys parsys">
               <!--    col-lg-5 col-lg-offset-1-->
               <section class="sub-header">
                  <div class="container-fluid dark-bg padLeftRight0">
                     <div class="row marLeftRight0 sub-header-wrap-1">
                        <div class="card-container row-divider-right col-lg-6 col-sm-6 col-xs-12">
                           <div id="cardDropdown">
                              <div class="dropdown card-selector productCode-OMC" style="position: relative;">
                                 <div [ngClass]="isSwitchToogle == true ? 'open':''" style="position: relative;">
                                    <button class="btn btn-default dropdown-toggle btn-dropdown">
                                       <div class="cardSelectorText cdd">
                                          <div class="cardTitle ng-binding">Welcome Back,  {{userName}}</div>
                                          <div class="cardNum ng-binding">
                                             <!-- <span class="ng-binding">{{companyCode}}</span> -->
                                          </div>
                                       </div>
                                       <!-- <div class="caret" (click)="setToggle()"></div> -->
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                      <li>
                                          <a role="menuitem">
                                              <!-- <div class="cardSelectorImg">
                                                  <img class="small-icon" ng-src="https://canadiantire.scene7.com/is/image/CanadianTire/settings-requestcard-icon_03?scl=1&amp;fmt=png-alpha" alt="" src="https://canadiantire.scene7.com/is/image/CanadianTire/settings-requestcard-icon_03?scl=1&amp;fmt=png-alpha">
                                              </div> -->
                                              <div class="cardSelectorText cdd_list marTop10">
                                                  <div class="cardTitle">Switch to Employee Account </div>
                                              </div>
                                          </a>
                                        </li><!-- end ngIf: cardDropdownCtrl.canAddCard -->
                                    </ul>
                                 </div>
                                 <!-- End loading overlay -->
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 activity-bar__container--right">
                           <div class="row marLeftRight0" role="option">
                              <div class="navbuttons parsys">
                                 <!-- <div class="glb-secure-nav-button parbase section">
                                    <div class="navButton" role="option">
                                       <button class="activityBarFocusindicator button-header" routerLink="./notifications">
                                          <div class="">
                                             <span>
                                             <span class="badge_count"> {{UnreadNotificationCount}}</span>
                                             <img class="img-desktop" src="assets/images/notify_icon.png">
                                             <img class="img-mobile" src="assets/images/notify_icon.png">
                                             </span>
                                               <div class="indicator">
                                                <div class="nav-button-text">
                                                   Notifications
                                                </div>
                                             </div>
                                          </div>
                                       </button>
                                    </div>
                                  </div>
                                 <div class="glb-secure-nav-button parbase section">
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./e-statements">
                                            <div class="">
                                             <span>
                                             <img class="img-desktop" src="assets/images/estatements_icon.png">
                                             <img class="img-mobile" src="assets/images/estatements_icon.png">
                                             </span>
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   eStatements
                                                </div>
                                             </div>
                                            </div>
                                       </button>
                                        </div>
                                   </div>
                                 <div class="glb-secure-nav-button parbase section">
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./messages">
                                          <div class="">
                                             <span>
                                             <span class="badge_count"> {{MessageCount}}</span>
                                             <img class="img-desktop" src="assets/images/envelope.png" style="width:50px" alt="messages">
                                             <img class="img-mobile" src="assets/images/envelope.png" style="width:50px" alt="messages">
                                             </span>
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   Messages
                                                </div>
                                             </div>
                                          </div>
                                       </button>
                                    </div>
                                   </div> -->
                                 <div class="glb-secure-nav-button parbase section">
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./my-referral">
                                          <div>
                                             <span>
                                             <img class="img-desktop" src="assets/images/offer_icon.png">
                                             <img class="img-mobile" src="assets/images/offer_icon.png">
                                             </span>
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   My Referral
                                                </div>
                                             </div>
                                          </div>
                                       </button>
                                    </div>
                                  </div>

                                  <div class="glb-secure-nav-button parbase section">
                                     <div class="navButton">
                                        <button routerLink="./add-referral" class="activityBarFocusindicator button-header confirm-changes-modal-link">
                                           <div>
                                              <span>
                                              <img class="img-desktop" src="assets/images/estatements_icon.png">
                                              <img class="img-mobile" src="assets/images/estatements_icon.png">
                                              </span>
                                              <div class="indicator">
                                                 <div class="nav-button-text">
                                                    Add New Referral
                                                 </div>
                                              </div>
                                           </div>
                                        </button>
                                     </div>
                                   </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </header>
   <!-- End hide until angular init -->
</div>
<div  [style.min-height.px]="screenHeight - minusHeight">
  <router-outlet></router-outlet>
</div>

<div class="footer_component iparsys parsys">
   <div class="iparys_inherited">
      <div class="footer_component iparsys parsys"></div>
   </div>
   <div class="lgn-footer section">

      <footer class="login-footer footer-12" role="contentinfo">
         <div class="footer__content">
            <div class="footer__section footer__section--ctfs login-footer__bottom">
                <div class="col-md-3">
                  <img src="assets/images/eclipse-logo.png" style="margin-left: -30px;">
                </div>
                <div class="col-md-6" style="text-align:center">
                  <small class="login-footer__copyright"> © eFlex. All rights reserved.</small><br>
                  <small class="login-footer__copyright">644 MillWay Ave. Unit 12B</small><br>
                  <small class="login-footer__copyright">Vaughan, ON L4K4H</small><br>
                  <small class="login-footer__copyright">
                      <a href="tel:1-855-440-3993" style="color: #fa9619;">1-855-440-3993</a> | <a href="mailto:info@eclipseEIO.com" style="color: #fa9619;">info@eclipseEIO.com</a>
                  </small>
                 </div>
                 <div class="col-md-3">
                   <div class="footer__column footer__column--sub-nav">
                      <ul class="footer__sub-nav">
                         <li class="footer__sub-nav__item">
                            <a href="javascript:void(0)" class="footer__sub-nav__link" (click)="openPrivacy()" >Legal &amp; Privacy</a>
                         </li>
                         <li class="footer__sub-nav__item">
                            <a  href="javascript:void(0)" class="footer__sub-nav__link" (click)="openTermCondition()" style="outline-offset: -0.05em;">Terms &amp; Conditions</a>
                         </li>
                         <!-- <li class="footer__sub-nav__item">
                            <a href="" target="_blank" class="footer__sub-nav__link">Security Centre</a>
                         </li>
                         <li class="footer__sub-nav__item">
                            <a href="" target="_blank" class="footer__sub-nav__link">Site Map</a>
                         </li> -->
                      </ul>
                    </div>
               </div>
            </div>
         </div>
      </footer>
   </div>
</div>

<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="privacy ? 'block' : 'none'" >
  <div class="modal-dialog" style="top:10%">
       <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="privacy = false;">&times;</button>
           <span class="modal-title">Legal &amp; Privacy</span>
        </div>
        <div class="modal-body">
           <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
           <form class="forgot-your-password__form" style="font-size: 18px;">
                 <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                   sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="privacy = false;">Close</button>
        </div>
     </div>
  </div>
</div>


<div class="modal animated slideInDown" tabindex="-1"  [style.display]="term_conditions ? 'block' : 'none'" >
  <div class="modal-dialog" style="top:10%">
       <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" (click)="term_conditions = false;">&times;</button>
           <span class="modal-title">Term & Conditions</span>
        </div>
        <div class="modal-body">
           <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
           <form class="forgot-your-password__form" style="font-size: 18px;">
                 <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                   sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (click)="term_conditions = false;">Close</button>
        </div>
     </div>
  </div>
</div>
