@media only screen and (min-width: 769px) {
.login-footer .footer__content {

}
.login-footer.footer {

}
}
@media only screen and (max-width: 767px) {
.login-footer .footer__content {
padding-right: ;
padding-left: ;
}
.login-footer.footer {
padding-top: ;
padding-bottom: ;
}
}
.footer__section--ctfs:before {
/* background-image: url('/assets/images/logo.png'); */
height: 40px;
/* width: 124px; */
}
.footer__content {
/* background-image: url('/assets/images/logo.png'); */
/* height: 100%; */

}
@media (min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
.footer__section--ctfs:before {
/* background-image: url('https://canadiantire.scene7.com/is/image/CanadianTire/CTB_Logo_Horizontal_ColourWhite_EN2x?scl=1&fmt=png-alpha'); */
}
.footer__content {
/* background-image: url('https://canadiantire.scene7.com/is/image/CanadianTire/footer_triangle_graphic_en2x?fmt=png-alpha&scl=1'); */
}
}

.footer__content{
  background-color: #2c3e50;
  color: #fff;
  font-weight: bold;
}
.footer__sub-nav{
  text-align: right !important;
}



.navigation__menu > .active {
    font-weight: 900;
    border-bottom: 2px solid #fa9619
;
}
button:focus {
    outline: 0px solid !important;
    outline-color: #fff;
}
.navbuttons > .active{
  background: #fa9619
;
}
.footer__sub-nav__link{
  font-size: 14px;
}
small {
    font-size: 14px;
  }
