.question{
    border: 1px solid #f7d2d2;
    margin-bottom: 15px;
    padding: 20px;
}

.rankingDragDropRight {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px dashed;
    min-width: 200px;
    list-style-type: none;
    padding-left: 10px;
}
.sortable li {
    padding: 0.4em;
    margin: 3px;
    cursor: move;
    border: 1px dotted;
    list-style: none;
}
.rankingDragDropLeft {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    min-width: 200px;
    margin-left: 20px;
}

#div1, #div2 {
    float: left;
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.arrow_img{
  float: right;
   margin-left: 20px;
    padding-top: 85px;
}
