<app-header></app-header>

<section id="hp-content-boxes-section">
        <div class="container">
            <div id="content-box" class="col-md-12" style="margin-top:100px">
                <!-- <h2 class="row">RTQ</h2> -->
               <h2>Complete the Request-to-Quote (RTQ) 5 simple questions on given your answer.</h2>

               <div class="question" *ngFor="let q of questions; let i=index;">
                  <h2>{{i+1}}. {{q.question}}</h2>
                  <div class="col-md-5"  id="drag">
                    <!-- (drop)="drop($event)" (dragover)="allowDrop($event)" -->
                    <ul id="DragDropQuestion-q0-2"  class="sortable rankingDragDropLeft" style="min-height: 200px;">
                       <li *ngFor="let option of q['options']" id="{{q.question_id}}_{{option.id}}"  draggable="true" (dragstart)="drag($event, q.question_id, option.id)"  class="ui-state-default">
                        {{option.name}}
                       </li>
                       <!-- <li id="{{option.id}}"  draggable="true" (dragstart)="drag($event,2)"  class="ui-state-default"></li> -->
                       </ul>
                  </div>
                  <div class="col-md-1">
                    <img src="assets/images/right-arrow.png"class="arrow_img">
                  </div>
                  <div class="col-md-6"  id="drop_{{q.question_id}}" (drop)="drop($event, q.question_id)" (dragover)="allowDrop($event)">
                    <ul id="dropul_{{q.question_id}}"   class="sortable rankingDragDropRight" style="min-height: 200px;">
                    </ul>
                </div>
                <br style="clear:both;">
              </div>

              <!-- <div class="question">
                 <h2>2. How Much Does It Cost to Provide Small Business Health Insurance?</h2>
                 <div class="col-md-5"  id="drag2">
                   <ul id="DragDropQuestion-q0-2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="sortable rankingDragDropLeft" style="min-height: 200px;">
                      <li id="21"  draggable="true" (dragstart)="drag($event,1)"  class="ui-state-default"><span>The Godfather: Part II (1974)</span></li>
                      <li id="22"  draggable="true" (dragstart)="drag($event,2)"  class="ui-state-default"><span>The Godfather (1972)</span></li>
                      <li id="23"  draggable="true" (dragstart)="drag($event,3)" class="ui-state-default"><span>The Good, the Bad and the Ugly (1966) </span></li>
                      <li id="24"  draggable="true" (dragstart)="drag($event,4)" class="ui-state-default"><span>12 Angry Men (1957)</span></li>
                      <li id="25"  draggable="true" (dragstart)="drag($event,5)" class="ui-state-default"><span>Schindler's List (1993)</span></li>
                   </ul>
                 </div>
                 <div class="col-md-1">
                   <img src="assets/images/right-arrow.png"class="arrow_img">
                 </div>
                 <div class="col-md-6" id="drop2" (drop)="drop($event)" (dragover)="allowDrop($event)">
                   <ul id="DragDropQuestion-q0-1"   class="sortable rankingDragDropRight" style="min-height: 200px;">

                   </ul>
               </div>
               <br style="clear:both;">
             </div>

             <div class="question">
                <h2>3. What Are the Different Kinds of Health Insurance for Small Business Plans?</h2>
                <div class="col-md-5"  id="drag3">
                  <ul id="DragDropQuestion-q0-2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="sortable rankingDragDropLeft" style="min-height: 200px;">
                     <li id="3_1"  draggable="true" (dragstart)="drag($event,1)"  class="ui-state-default">PPO</li>
                     <li id="3_2"  draggable="true" (dragstart)="drag($event,2)"  class="ui-state-default">HMO</li>
                     <li id="3_3"  draggable="true" (dragstart)="drag($event,3)" class="ui-state-default">POS plan</li>
                     <li id="3_4"  draggable="true" (dragstart)="drag($event,4)" class="ui-state-default">HDHP</li>
                     <li id="3_5"  draggable="true" (dragstart)="drag($event,5)" class="ui-state-default">FSA</li>
                  </ul>
                </div>
                <div class="col-md-1">
                  <img src="assets/images/right-arrow.png"class="arrow_img">
                </div>
                <div class="col-md-6" id="drop3" (drop)="drop($event)" (dragover)="allowDrop($event)">
                  <ul id="DragDropQuestion-q0-1"   class="sortable rankingDragDropRight" style="min-height: 200px;">

                  </ul>
              </div>
              <br style="clear:both;">
            </div>

            <div class="question">
               <h2>4. How Much Can Your Employees Afford?</h2>
               <div class="col-md-5"  id="drag4">
                 <ul id="DragDropQuestion-q0-2" (drop)="drop($event)" (dragover)="allowDrop($event)" class="sortable rankingDragDropLeft" style="min-height: 200px;">
                    <li id="4_1"  draggable="true" (dragstart)="drag($event,1)"  class="ui-state-default">PPO</li>
                    <li id="4_2"  draggable="true" (dragstart)="drag($event,2)"  class="ui-state-default">HMO</li>
                    <li id="4_3"  draggable="true" (dragstart)="drag($event,3)" class="ui-state-default">POS plan</li>
                    <li id="4_4"  draggable="true" (dragstart)="drag($event,4)" class="ui-state-default">HDHP</li>
                    <li id="4_5"  draggable="true" (dragstart)="drag($event,5)" class="ui-state-default">FSA</li>
                 </ul>
               </div>
               <div class="col-md-1">
                 <img src="assets/images/right-arrow.png"class="arrow_img">
               </div>
               <div class="col-md-6" id="drop4" (drop)="drop($event)" (dragover)="allowDrop($event)">
                 <ul id="DragDropQuestion-q0-1"   class="sortable rankingDragDropRight" style="min-height: 200px;">

                 </ul>
             </div>
             <br style="clear:both;">
           </div> -->

           </div>
        </div>
</section>

<app-footer></app-footer>
