<div class="tab-pane fade in active" style="min-height:500px">
  <div class="member-account">
    <h3 class="head text-center">Member Details</h3>
    <!-- <h4 class="text-center">
        Made with <i class="fa fa-heart heart" style="color:#f48260;"></i> by <a href="https://www.cc28tech.com" target="_blank">Cathy Wun</a>. Check out the tutorials <a href="https://www.cc28tech.com/angular-multi-step-part-1" target="_blank">here.</a>
    </h4> -->
    <div class="narrow text-center-2">

        <div class="col-md-12" style="margin-top:10px">

            <form [formGroup]="employeeForm" class="row">
                <div class="col-md-12 checkbox" style="margin-left: 20px">
                    <input type="checkbox" (change)="addAdmin($event)" [checked]="employeeForm.get('Admin')['controls'].length > 0">
                    <h3>Add plan admin if different than the owner</h3>
                </div>

                <div class="col-md-12" *ngIf="employeeForm.get('Admin')['controls'].length > 0">
                       <div class="panel panel-default">
                         <div class="panel-heading">Plan Admin</div>
                          <div class="panel-body">

                          <div formArrayName="Admin" *ngFor="let admin of employeeForm.get('Admin')['controls']; let k= index;">
                              <div [formGroupName]="k" style="margin-left:-16px; margin-right:-16px;">

                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" required formControlName="FName" id="fname" placeholder="First Name" name="fname">
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="text" class="form-control" required formControlName="LName" id="lname" placeholder="Last Name" name="lname">
                                </div>
                                <div class="form-group col-md-4">
                                  <input type="email" class="form-control" required formControlName="Email" id="email" placeholder="Email" name="email">
                                </div>
                              </div>
                            </div>
                            <!-- <div style="padding-top:10px;">
                                <span><img src="assets/images/plus-icon.png"  (click)="addMoreEmployee()"> Add More </span>
                            </div> -->
                          </div>
                      </div>
                  </div>

                <div class="col-md-12" *ngIf="employeeForm.get('Employees')['controls'].length > 0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Plan Members
                            <button class="btn btn-primary pull-right" (click)="openModal()" style="display:block"><i class="fa fa-upload"></i> UPLOAD MEMBER LIST</button>
                            <div class="custom-clear"></div>
                        </div>
                        <div class="panel-body">
                            <div formArrayName="Employees" *ngFor="let employee of employeeForm.get('Employees')['controls']; let l = index;">
                                  <div [formGroupName]="l" style="margin-left:-16px; margin-right:-16px;">
                                      <div class="form-group col-md-3">
                                          <input type="text" class="form-control" required formControlName="FName" id="fname" placeholder="First Name" name="fname">
                                      </div>
                                      <div class="form-group col-md-3">
                                          <input type="text" class="form-control" required formControlName="LName" id="lname" placeholder="Last Name" name="lname">
                                      </div>
                                      <div class="form-group col-md-3">
                                          <input type="email" class="form-control" required formControlName="Email" id="email" placeholder="Email" name="email">
                                      </div>
                                      <div class="form-group col-md-3">
                                          <select formControlName="CompanyPlanId" required name="CompanyPlanId">
                                              <option value="">Select Class</option>
                                              <option *ngFor="let c of classesData" value="{{c.ClassId}}">{{c.Name}}</option>
                                          </select>
                                      </div>
                                      <div class="col-md-12 form-group" *ngIf="employeeForm.controls.Employees.controls.length > 1" >
                                        <button type="button"  class="btn btn-danger pull-right"  (click)="deleteEmployee(l)" style="margin-right: 5px; display:block"><i class="fa fa-remove"> </i> Remove</button>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                    <div style="padding-top:10px;" *ngIf="planTypeId =='2'">
                        <span><img src="assets/images/plus-icon.png"  (click)="addMoreEmployee()"> Add More </span>
                        <!-- <span style="margin-left:15px;"><img src="assets/images/upload-icon.png"> Upload a file </span> -->
                    </div>
                </div>

            </form>
        </div>

        <div class="text-center for-member-btns">
            <button *ngIf="!isLoading" style="margin-bottom:10px"  class="dash-button dash-button--affirm loginFocusIndicator" [disabled]="!employeeForm.valid" (click)="AddEmployee()">
              Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
            </button>
            <button *ngIf="isLoading" [disabled]="isLoading" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-bottom:10px" type="button">
              <span *ngIf="isLoading" class="">Please wait</span>
              <span *ngIf="isLoading" aria-hidden="true">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    <div class="bounce3"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>
        </div>
    </div>


        <div class="modal animated slideInDown"  [style.display]="modal ? 'block' : 'none'">
          <div class="modal-dialog">

             <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" (click)="modal = false;">&times;</button>
                   <span class="modal-title">Upload Member List</span>
                </div>
                <div class="modal-body">
                   <form class="forgot-your-password__form">
                      <div class="">
                         <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                           <b>Format required: .xlsx, 5mb maximum.<br></b><br></div>
                      </div>
                      <div class="forgot-your-password__login-options">
                        <fieldset class="forgot-your-password__fieldset">
                          <a class="btn btn-primary" href="{{hostUrl}}/plan-members.xlsx" target="download"><i class="fa fa-download"> </i> Download Template</a>
                          <br>
                        </fieldset>
                        <br>
                         <fieldset class="forgot-your-password__fieldset">

                           <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>

                           <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                         </fieldset>
                         <br>
                      </div>
                   </form>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal = false;">Close</button>
                </div>
             </div>
          </div>
        </div>


        <div class="modal animated slideInDown"  [style.display]="importLoaderModal ? 'block' : 'none'" >
          <div class="modal-dialog" style="top:10%">
             <!-- Modal content-->
             <div class="modal-content">
                <div class="modal-body">
                   <form class="forgot-your-password__form" style="text-align: center; color: #000; font-size: 18px;">
                      <div class="">
                         <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                          <i class="fa fa-spinner fa-spin" style="font-size:60px; color:#000"></i><br>Please wait system importing members...
                        </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
        </div>
      </div>