.profile-inf__heading{
  margin-bottom: 15px;
}
.show-mobile{
  display: none;
}
.myContent{
  padding: 10px !important
}
.activeTab{
  background: #fa9619
;
  color: #fff !important;
}
.activeTab:hover{
  background: #fa9619
;
  color: #fff !important;
}
#profileController .nav > li > a:hover {
	color: #fff;
	background: #2b3e4f;
}
#profileController .nav > li > a {
	position: relative;
	display: block;
	padding: 5px 5px 5px 5px;
	font-size: 0.9375rem;
	color: #2b3e4f;
	font-weight: 400;
}
.profile-inf__heading {
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding-left: 22px;
	line-height: 30px;
	color: #2b3e4f;
	border-bottom: none;
	font-size: 2.125rem;
	text-decoration: none;
	cursor: default;
}


* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #2b3e4f;
    color: white;
    font-size: 25px;
    padding: 7px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.modal-title {
	/* border-top: 13px solid #443f3c; */
  border-top:  none;
}
.modal {
	background-color: #0009;
}
.modal-header{
  background-color: #fa9619
;
  color: #ecf0f1;
}
.modal-header .close {
	margin-top: -2px;
	color: #ecf0f1;
}
ul{
margin-left: -3px
}


#myStepWizard{

    position: relative;
    margin-top:30px;

}

.mycards {
  background:white;
  padding-left:5px;

}
.backlink {
  padding-top:10px;
  padding-bottom:0;
  position:absolute;
  left:20px;
  z-index:10;

}

.skiplink {
  padding-top:10px;
  padding-bottom:0;
  position:absolute;
  right:20px;
  z-index:10;

}

.backlink a, .skiplink a {
  color:#ffbb35  !important;
  font-weight:700;
  font-size: 16px;
}

/* Harkamal Singh 2 Feb 2018 : Css of forms wizard */
.bs-wizard {margin-top: 40px;}

@media only screen and (max-width: 767px) {
  .profile-inf__heading{
    font-size: 20px !important;
    padding: 5px;
  }
  .show-mobile{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }
  .profile__no-pad-mobile{
    padding: 15px;
  }
}

.field-astric {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

.dd-arrow{
  position: relative;
}

.dd-arrow:after{
    content: '';
    position: absolute;
    right: 12px;
    top: 13px;
    border-top: 8px solid #cccccc;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.for-account-check{
    margin: 0;
    clear: both;
    padding: 20px 35px 0;
}


@media (min-width: 320px) and (max-width: 767px) {

  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    position: relative !important;
    top:20px;
  }

  .for-account-check{
      padding-top: 0;
  }

}
