<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div id="profileController"  class="ng-scope">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xs-12 profile__no-pad-mobile">
                        <h1 class="profile__h1 border--bottom">
                          My Account
                        </h1>
                     </div>
                  </div>
                  <div class="row">
                     <nav id="profile-tabs-container" class="col-sm-3 col-md-2 hidden-xs padBot50" style="position: relative;">
                        <span id="settings-menu" name="settings-menu" tabindex="-1" class="removeTabMinus1Outline hiddenAODA">Settings menu</span>

                        <div class=""style="position: relative;">
                           <ul class="nav nav-pills nav-stacked"  role="tablist">
                              <li>
                                 <a (click)="setActiveTab(1)"   [ngClass]="activeTab == 1 ?'activeTab':''">
                                 Personal Information
                                 <span class="profile-inf__heading--personal-inf active">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(2)" [ngClass]="activeTab == 2 ?'activeTab':''">
                                 Change Password
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(4)" [ngClass]="activeTab == 4 ?'activeTab':''">
                                 Dependants
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                              <!-- <li>
                                 <a (click)="setActiveTab(3)" [ngClass]="activeTab == 3 ?'activeTab':''">
                                 Add New Dependant
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li> -->
                              <li>
                                 <a (click)="setActiveTab(5)" [ngClass]="activeTab == 5 ?'activeTab':''">
                                 PAP Detail
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                     <div class="form-group show-mobile dd-arrow">
                       <select class="form-control" (change)="setActiveTabOnChange()" [(ngModel)]="menuOption" name="menuOption">
                         <option value="1"> Personal Information </option>
                         <option value="2"> Change Password </option>
                         <option value="4"> Dependants </option>
                         <option value="3"> Add New Dependant</option>
                         <option value="5"> PAP Detail</option>
                       </select>
                     </div>
                     <div class="col-sm-9 col-md-10 col-xs-12 profile__no-pad-mobile" style="border-left:1px solid #eee;">
                        <div [ngClass]="activeTab == '1' ? 'show': 'hide' " id="contact-information" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Personal Information <!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <form novalidate="" autocomplete="off" name="companyForm"   #companyForm="ngForm" (ngSubmit)="updateBasicDetail(companyForm)" class="profile-inf__content">
                                 <div class="row"  style="background-color: #eeeeee; padding: 20px 10px;">
                                   <span class="text-center" *ngIf="isLoading">
                                   Loading.. </span>
                                   <div class="col-xs-12 col-md-6  profile__input--spacing">
                                      <label for="" class="body-copy--input-label">
                                         First Name
                                      </label>
                                      <input name="firstName" required [(ngModel)]="firstName" id="firstName"  class="profile-inf__input" type="text">
                                   </div>
                                   <div class="col-xs-12 col-md-6  profile__input--spacing">
                                      <label for="" class="body-copy--input-label">
                                         Last Name
                                      </label>
                                      <input name="lastName" required [(ngModel)]="lastName"  id="lastName" class="profile-inf__input" type="text">
                                   </div>
                                   <div class="col-xs-12 col-md-6  profile__input--spacing">
                                      <label for="" class="body-copy--input-label">
                                        Date of Birth
                                      </label>
                                      <my-date-picker style="border-left:1px solid #eee;" name="dob" required [(ngModel)]="dob" [options]="myDatePickerOptions" placeholder="MM/dd/yyyy"></my-date-picker>
                                   </div>
                                   <div class="col-xs-12 col-md-6  profile__input--spacing">
                                      <label for="" class="body-copy--input-label">
                                         Gender
                                      </label>
                                      <select id="gender" name="gender" required [(ngModel)]="gender" >
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                      </select>
                                   </div>

                                    <div class="col-xs-12  profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Email
                                       </label>
                                       <input name="email" required [(ngModel)]="email"  id="email"  class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          User Name
                                       </label>
                                       <input name="userName" required [(ngModel)]="userName"  [disabled]="true" id="userName" class="profile-inf__input" type="text">
                                    </div>
                                    <!-- <div class="col-xs-12  profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Phone
                                       </label>
                                       <input name="phone"  id="phone" class="profile-inf__input" type="text" [textMask]="{mask: mask}"  required [(ngModel)]="phone" >
                                    </div> -->

                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="addressLine1" class="body-copy--input-label">
                                       Address
                                       </label>
                                       <input class="profile-inf__input" name="address" required [(ngModel)]="address" type="text">
                                    </div>

                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="city" class="body-copy--input-label">
                                       City
                                       </label>
                                       <input id="city" name="city" required [(ngModel)]="city" class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="city" class="body-copy--input-label">
                                       Province
                                       </label>
                                       <select id="province" name="state" [(ngModel)]="state" >
                                       <option value="">Choose a Province...</option>
                                       <option *ngFor="let p of provienceData;" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 profile__input--spacing">
                                       <label for="postalCode" class="body-copy--input-label">
                                          Postal Code
                                       </label>
                                       <input class="profile-inf__input" name="zip" required [(ngModel)]="zip" type="text">
                                    </div>

                                    <!-- <div class="col-sm-6 col-xs-12 profile__input--spacing">
                                       <label for="postalCode" class="body-copy--input-label">

                                       </label>
                                       <label >
                                         <input type="checkbox" required [(ngModel)]="sms" name="sms"value="">   Notify on cell phone:
                                       </label>
                                    </div> -->

                                    <div class="col-md-12 checkbox profile__input--spacing for-account-check">
                                       <input type="checkbox" [(ngModel)]="sms" name="sms"value="">
                                        <h3>Do you want to receive cell phone notification?</h3>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-xs-12 profile__input--spacing">
                                       <label for="postalCode" class="body-copy--input-label">
                                          Select Carriers
                                       </label>
                                       <select  class="form-control" required [(ngModel)]="carriers" name="carriers" >
                                          <option value="">Select  Carriers</option>
                                          <option *ngFor="let c of carrierData" value="{{c.CarrierId}}">{{c.Title}}</option>
                                       </select>

                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12 profile__input--spacing">
                                       <label for="postalCode" class="body-copy--input-label">
                                        Cell Phone
                                       </label>
                                        <input type="text" class="from-control" [(ngModel)]="cell_phone" name="cell_phone" (keypress)="_keyPress($event)" placeholder="8662886046"   maxlength="10" minLength="10" >
                                    </div>
                                    <br>
                                    <div class="col-sm-12 col-md-6 col-xs-12 profile__input--spacing">
                                       <div class="form-group text-left">
                                          <button type="submit" class="dash-button dash-button--affirm"
                                             style="margin-bottom:10px; margin-top:20px;" [disabled]="!companyForm.valid">
                                             <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                                <span *ngIf="!loading" aria-hidden="false">Update</span>
                                                <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                                                <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                   <span class="button-loading">
                                                      <div class="bounce1"></div>
                                                      <div class="bounce2"></div>
                                                      <div class="bounce3"></div>
                                                   </span>
                                                </span>
                                             </span>
                                          </button>
                                          <br>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Edit Address Row End-->
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div [ngClass]="activeTab == '2' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Change Password <!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <form novalidate="" autocomplete="off" name="cpForm" #cpForm="ngForm"(ngSubmit)="changePwd(cpForm)" class="profile-inf__content">
                                 <div class="row" ng-show="cardInfoCtrl.showEditAddress" aria-hidden="true" style="background-color: #eeeeee; padding: 20px 10px;">
                                    <div class="col-xs-12">
                                       <label  class="body-copy--input-label">
                                          Old Password<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input required [(ngModel)]="oldPwd"  class="profile-inf__input" name="oldPwd" type="password" id="op">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('op')"></span>
                                    </div>
                                    <!-- addressLine1 input START -->
                                    <div class="col-xs-12 profile__input--spacing">
                                       <label  class="body-copy--input-label">
                                       New Password
                                       </label>
                                       <input class="profile-inf__input"  required [(ngModel)]="newPwd" name="newPwd" type="password" id="np">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('np')"></span>
                                    </div>

                                    <div class="col-xs-12 profile__input--spacing">
                                       <label for="addressLine2" class="body-copy--input-label">
                                       Confirm Password
                                       </label>
                                       <input required [(ngModel)]="newCPwd" name="newCPwd" type="password" class="profile-inf__input" id="cp">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('cp')"></span>
                                       <br>
                                       <p *ngIf="newPwd != newCPwd" style="color:red">Confirm password did not match.</p>
                                    </div>
                                    <div class="col-xs-12 profile__input--spacing">
                                       <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                          [disabled]="!cpForm.valid">
                                          <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                             <span *ngIf="!cploading" class="ng-binding" aria-hidden="false">Update</span>
                                             <span *ngIf="cploading" class="" aria-hidden="true">Please wait</span>
                                             <span *ngIf="cploading" aria-hidden="true" class="ng-hide">
                                                <span class="button-loading">
                                                   <div class="bounce1"></div>
                                                   <div class="bounce2"></div>
                                                   <div class="bounce3"></div>
                                                </span>
                                             </span>
                                          </span>
                                       </button>
                                    </div>
                                 </div>

                                 </form>
                              </div>
                           </div>
                        </div>

                        <div [ngClass]="activeTab == '3' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                   Tell us about your dependants
                                 </h3>
                                 <p style="margin-left:23px">A dependant is an individual related by blood, marriage or law who is financially dependent upon you. Common-law spouses must have resided with you for the past 12 consecutive months.</p>
                              </div>

                              <div id="myStepWizard">
                                 <div class="wrapper" >
                                    <div class=" mycontainer" >
                                       <div class="wrapper1 fadeInDown">
                                          <div id="formContent">

                                             <div class="panel panel-default">
                                               <div class="panel-heading" style="color: #09090999 !important">Add Dependant

                                               </div>
                                               <div class="row">
                                                  <div class="backlink pull-left" *ngIf="step!=2">
                                                     <a (click)="goToPrevStep(step)">Back</a>
                                                  </div>
                                                  <div class="skiplink pull-right" *ngIf="step!=4">
                                                     <a (click)="goToNextStep(step)">Next</a>
                                                  </div>
                                                  <div class="skiplink pull-right" *ngIf="step==4">
                                                     <a *ngIf="!loading" (click)="addDependent(dependantForm, true)">Submit and Add New</a>
                                                  </div>
                                               </div>
                                                <form novalidate="" autocomplete="off" name="dependantForm"   #dependantForm="ngForm" (ngSubmit)="addDependent(dependantForm, false)" >
                                                   <div  class="myContent" *ngIf="step==2">
                                                      <div class="row">
                                                         <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                                                            <div class="">
                                                               <h3 class="text-center " style="margin-top:30px"><span></span><br/></h3>
                                                            </div>
                                                            <div class="text-center">
                                                               <div class="form-group row">
                                                                  <label class=" col-sm-12">Dependant Type</label>
                                                                  <div class="col-sm-10 col-sm-offset-1">
                                                                     <select   required [(ngModel)]="dependantType" name="dependantType" class="form-control">
                                                                        <option value="">Select</option>
                                                                        <option value="1">Spouse</option>
                                                                        <option value="2">Son</option>
                                                                        <option value="3">Daughter</option>
                                                                        <option value="4">Other</option>
                                                                        <!-- <option value="4">Father</option>
                                                                        <option value="5">Mother</option>
                                                                        <option value="6">Grandchild</option>
                                                                        <option value="7">Brother</option>
                                                                        <option value="8">Sister</option>
                                                                        <option value="9">Niece</option>
                                                                        <option value="10">Nephew</option>
                                                                        <option value="11">Grandmother</option>
                                                                        <option value="12">Grandfather</option> -->

                                                                     </select>
                                                                  </div>
                                                               </div>
                                                               <div class="form-group row" *ngIf="dependantType == '4'">
                                                                  <label class=" col-sm-12">Relationship</label>
                                                                  <div class="col-sm-10 col-sm-offset-1">
                                                                     <!-- required [(ngModel)]="dependentFq" name="dependentFq" -->
                                                                     <input type="text" [(ngModel)]="dependantRelationship" name="dependantRelationship" class="text-center"  placeholder="Relationship" id="dependantRelationship">
                                                                  </div>
                                                               </div>
                                                               <div class="form-group row" *ngIf="dependantType == '2' || dependantType =='3'" style="display:none">
                                                                  <label class=" col-sm-12">No of Frequency</label>
                                                                  <div class="col-sm-10 col-sm-offset-1">
                                                                     <!-- required [(ngModel)]="dependentFq" name="dependentFq" -->
                                                                     <select   class="form-control">
                                                                        <option value="">Select</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                     </select>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="myContent" *ngIf="step==3">
                                                      <div class="row" style="margin-top:25px">
                                                         <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                                                            <div class="container-fluid">
                                                               <div class="row" style="margin-top:5px">
                                                                  <div class="text-center">
                                                                     <div class="form-group row">
                                                                        <label class="col-sm-12">First Name</label>
                                                                        <div class="col-sm-10 col-sm-offset-1">
                                                                           <input type="text"   required [(ngModel)]="dependantFName" name="dependantFName" class="text-center"  placeholder="First name" id="dependantFName">
                                                                        </div>
                                                                     </div>
                                                                     <div class="form-group row">
                                                                        <label class=" col-sm-12">Last Name</label>
                                                                        <div class="col-sm-10 col-sm-offset-1">
                                                                           <input type="text" class="text-center"  [(ngModel)]="dependantLName" name="dependantLName"  placeholder="Last name" id="member">
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="myContent" *ngIf="step==4">
                                                      <div class="row" style="margin-top:25px">
                                                         <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                                                            <!-- <h4 class="" style="padding-top:20px;">Didn’t we tell you we will make it quick. This is the last step…</h4> -->
                                                            <div class="container-fluid">
                                                               <div class="row" style="margin-top:30px">
                                                                  <div class="text-center">

                                                                        <div class="form-group row">
                                                                           <label class="col-sm-12">Date of Birth</label>
                                                                           <div class="col-sm-12 col-sm-offset-0">
                                                                             <my-date-picker name="dependantDob" required [(ngModel)]="dependantDob" [options]="myDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
                                                                           </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                           <label class=" col-sm-12">Gender</label>
                                                                           <div class="col-sm-12 col-sm-offset-0">
                                                                              <label class="radio-inline">
                                                                                  <input type="radio" value="Female" required [(ngModel)]="dependantGender" name="dependantGender"><img src="assets/images/woman.png">
                                                                              </label>
                                                                              <label class="radio-inline">
                                                                                  <input type="radio" value="Male" name="dependantGender" required [(ngModel)]="dependantGender"><img src="assets/images/man-user.png">
                                                                              </label>
                                                                              <label class="radio-inline">
                                                                                  <input type="radio" value="Other" name="dependantGender" required [(ngModel)]="dependantGender"> Other
                                                                              </label>
                                                                           </div>
                                                                        </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div id="formFooter" style="height:75px" class="text-center">
                                                      <!-- *ngIf="step<4 && selectedThemes.length == 3" -->
                                                      <button type="button"  *ngIf="step<4" name="button" class="dash-button dash-button--affirm loginFocusIndicator"  (click)="goToNextStep(step)" style="margin-top:2px">Next</button>
                                                      <button *ngIf="step==4 && !loading"  type="submit" name="submit"  [disabled]="!dependantForm.valid" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-top:2px">Submit</button>
                                                      <button *ngIf="loading"  type="button" class="dash-button dash-button--affirm"
                                                         style="margin-bottom:10px; margin-top:20px;" [disabled]="!dependantForm.valid">
                                                         <span  loading-text="Loading">
                                                            <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                                                            <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                               <span class="button-loading">
                                                                  <div class="bounce1"></div>
                                                                  <div class="bounce2"></div>
                                                                  <div class="bounce3"></div>
                                                               </span>
                                                            </span>
                                                         </span>
                                                      </button>

                                                   </div>
                                               </form>
                                           </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>


                        <div [ngClass]="activeTab == '4' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <div aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                   List of Dependants
                                   <button class="btn btn-default pull-right" (click)="newDependant(3)" type="button"  style="margin-right:15px"> <i class="fa fa-plus"></i> Add Dependant</button>
                                 </h3>
                                    <div class="panel panel-default" style="margin:15px">
                                 <div class="table-responsive">
                                   <table class="table" >
                                       <thead>
                                          <tr style="background-color:#2b3e4f; color:#fff">
                                            <th>Name</th>
                                            <th>Relationship</th>
                                            <th>Date of Birth</th>
                                            <th>Gender</th>
                                            <th>Action</th>
                                          </tr>
                                       </thead>
                                        <tbody>
                                          <tr *ngFor="let d of dependantData;">
                                              <td>{{d.FName}} {{d.LName}}</td>
                                              <td>{{d.Relationship}} <span *ngIf="d.Relationship == 'Other'">( {{d.OtherRelation}} )</span></td>
                                              <td>{{d.DOB | date: 'MMM-dd-yyyy'}}</td>
                                              <td>{{d.Gender}}</td>
                                              <td class="l-textright">
                                                <button class="btn btn-sm btn-primary" (click)="editDepandent(d)"> Edit</button>
                                                <button class="btn btn-sm btn-danger" (click)="deleteDependant(d)"> Remove</button>

                                              </td>
                                          </tr>
                                          <!-- <tr>
                                            <td>ABC</td>
                                            <td>Son</td>
                                            <td>July,20,2000</td>
                                            <td class="l-textright">Male</td>
                                            <td class="l-textright">
                                              <button class="btn btn-sm btn-danger"> Remove</button>
                                            </td>
                                          </tr> -->
                                        </tbody>
                                      </table>
                                      <span *ngIf="dependantData == ''" style="padding:10px; padding-bottom: 10px; float: left;">
                                        No record found. Click on add dependant button
                                      </span>
                                    </div>
                                  </div>
                                  </div>
                            </div>
                        </div>

                        <div [ngClass]="activeTab == '5' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                             <div class=""style="position: relative;">
                                <!-- On desktop a tag is not needed.-->
                                <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                   <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                      PAP Detail<!-- MESSAGE: Contact Information -->
                                   </h3>
                                </div>
                                <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                   <div class="profile-inf__content" >
                                      <form class="editForm"  novalidate #bankForm="ngForm"(ngSubmit)="updatePAPDetail(bankForm)" >
                                      <div class="tab-pane fade in active">
                                         <div class='row'  style="background-color: #eeeeee; padding: 20px 10px;">
                                            <div class='col-md-12'>
                                               <div class="row">
                                                  <div class='col-xs-12 col-sm-12'>
                                                     <div class="form-group">
                                                        <label class="control-label" for="cname">Bank Name</label>
                                                        <input class="form-control input-md" required placeholder="Legal bank name" [(ngModel)]="bankname" name="bankname">
                                                     </div>
                                                  </div>
                                               </div>
                                               <div class="row">
                                                  <div class='col-xs-12 col-sm-6'>
                                                     <div class="form-group">
                                                        <label class="control-label" for="cname">Transit ID</label>
                                                        <input type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="5" minLength="5"  placeholder="12345 "required [(ngModel)]="transId" name="transId" id="ti">
                                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('ti')"></span>
                                                     </div>
                                                  </div>
                                                  <div class='col-xs-12 col-sm-6'>
                                                     <div class="form-group">
                                                        <label class="control-label" for="cname">Institution ID Name</label>
                                                        <input type="password" class="form-control input-md" (keypress)="_keyPress($event)" placeholder="001"   maxlength="3" minLength="3" required [(ngModel)]="instId" name="instId" id="in">
                                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('in')"></span>
                                                     </div>
                                                  </div>
                                               </div>
                                               <div class="form-group">
                                                  <label class="control-label" for="cname">Account Number</label>
                                                  <input class="form-control input-md" (keypress)="_keyPress($event)" required [(ngModel)]="accountNumber" name="accountNumber">
                                               </div>
                                               <div class="row">
                                                  <div class='col-xs-12 col-sm-6'>
                                                     <div class="form-group">
                                                        <label class="checkbox-inline">
                                                        <input type="checkbox" [(ngModel)]="iagree" name="iagree" style="margin-top:10px">
                                                        <a (click)="openConditionModal = true">I agree term and conditions.</a>
                                                        </label>
                                                     </div>
                                                  </div>
                                                  <div class='col-xs-12 col-sm-6'>
                                                     <span class="pull-right">
                                                     <a (click)="openModal()" *ngIf="!fileName">
                                                     <img src="assets/images/upload-icon.png"> Upload a void cheque
                                                     </a>
                                                     <br>
                                                     <span *ngIf="fileName"><a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank">View File </a>  <i class="fa fa-close" style="padding-left:25px" (click)="removeFile()"> Remove</i></span>
                                                     </span>
                                                  </div>
                                               </div>
                                               <div class="row">
                                                  <div class='col-lg-12 col-sm-12'>
                                                     <img src="assets/images/cheque-demo.png" style="width:100%">
                                                  </div>
                                               </div>
                                               <div class="form-group text-center">
                                                  <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                                     [disabled]="!bankForm.valid" style="margin-bottom:10px; margin-top:20px;">
                                                     <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                                        <span  class="ng-binding" aria-hidden="false">Update</span>
                                                        <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                                                        <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                           <span class="button-loading">
                                                              <div class="bounce1"></div>
                                                              <div class="bounce2"></div>
                                                              <div class="bounce3"></div>
                                                           </span>
                                                        </span>
                                                     </span>
                                                  </button>
                                                  <br>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                      </form>
                                   </div>
                                </div>
                             </div>
                          </div>

                     </div>
                     <!-- Profile/Settings tab content END-->
                  </div>
                  <!-- row div end-->
               </div>
               <!-- container div end-->
            </div>
         </div>
      </div>
   </div>
</main>


<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
   <div class="modal-dialog">

      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
            <span class="modal-title">Upload File</span>
         </div>
         <div class="modal-body">
            <form class="forgot-your-password__form" #forgetForm="ngForm">
               <div class="forgot-your-password__paragraph forgot-your-password__paragraph__content">
                  <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                     <b>File Format: (pdf, jpg, png, or gif file formats, 5MB maximum) .<br></b><br>
                  </div>
               </div>
               <div class="forgot-your-password__login-options">
                  <fieldset class="forgot-your-password__fieldset">
                     <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>
                     <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                  </fieldset>
                  <br>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
         </div>
      </div>
   </div>
</div>

 <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="deleteConfirmation ? 'block' : 'none'">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="deleteConfirmation = false;">&times;</button>
            <span class="modal-title">Confirmation</span>
         </div>

         <div class="modal-body">
            <b>Are you sure you want to delete {{name}} ?<br></b>
          </div>
          <div class="modal-footer">
            <button   type="button" (click)="yesDelete()" data-dismiss="modal" class="btn btn-primary" id="delete">
              <span *ngIf="!loading">Yes </span>
              <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
              <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="deleteConfirmation = false;">Cancel</button>
          </div>

      </div>
   </div>
 </div>




   <div class="modal animated slideInDown" [style.display]="openConditionModal ? 'block' : 'none'" >
     <div class="modal-dialog" style="top:10%">
          <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="openConditionModal = false;">&times;</button>
              <span class="modal-title">Term & Conditions</span>
           </div>
           <div class="modal-body" style="max-height:350px; overflow:auto;">
                <form class="forgot-your-password__form" style="font-size: 18px;">
                    <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em; text-align:justify">

                   I certify that the information in this form is true and complete.
                   I acknowledge and agree that this Coverage or any portion of this Coverage,
                    and future claims thereunder may be denied as a result of the provisions of false,
                    incomplete, or misleading information. I authorize the collection, use and
                    disclosure of personal information relevant to this application for
                    the purpose of plan administration, audit, assessment, investigation,
                    claim management, underwriting and for determining plan eligibility.
                    Access to my information will be limited to: eclipse EIO, Plan Advisor,
                     reinsures and service providers in the performance of their jobs.
                     <br>
                     I authorize all future claim payments to be sent via electronic funds
                     transfer to the bank listed here. I recognize that it is my responsibility
                     to ensure that my file is kept up-to- date with my preferred bank
                      account information and personal information.
                      <br>
                      I agree that the Company will not be responsible for any payments that
                       are lost or misdirected due to incorrect banking information.
                        I authorize the deduction from my pay of any contributions
                        I must make towards the cost of these benefits.
                        <br>
                        I agree that a photocopy or electronic version of this authorization is valid.

                 </div>
              </form>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="openConditionModal = false;">Close</button>
           </div>
        </div>
     </div>
   </div>



     <div class="modal animated slideInDown" [style.display]="editDepandentModal ? 'block' : 'none'">
       <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="editDepandentModal = false;">&times;</button>
                <span class="modal-title">Update Dependant Detail</span>
             </div>
               <form #editDepForm="ngForm" name="editDepForm"  (ngSubmit)="updateDepandent(editDepForm)">
               <div class="modal-body">
                 <div class="form-group row">
                    <label class=" col-sm-12">Dependant Type</label>
                    <div class="col-sm-12 col-sm-offset-0">
                       <select   required [(ngModel)]="dependantType" name="dependantType" class="form-control">
                          <option value="">Select</option>
                          <option value="1">Spouse</option>
                          <option value="2">Son</option>
                          <option value="3">Daughter</option>
                          <option value="4">Other</option>
                       </select>
                    </div>
                 </div>
                 <div class="form-group row" *ngIf="dependantType == '4'">
                    <label class=" col-sm-12">Relationship</label>
                    <div class="col-sm-12 col-sm-offset-0">
                         <input type="text" [(ngModel)]="dependantRelationship" name="dependantRelationship" class="text-center"  placeholder="Relationship" id="dependantRelationship">
                    </div>
                 </div>
                 <div class="form-group row">
                    <label class="col-sm-12">First Name</label>
                    <div class="col-sm-12 col-sm-offset-0">
                       <input type="text"   required [(ngModel)]="dependantFName" name="dependantFName"  placeholder="First name" id="dependantFName">
                    </div>
                 </div>
                 <div class="form-group row">
                    <label class=" col-sm-12">Last Name</label>
                    <div class="col-sm-12 col-sm-offset-0">
                       <input type="text" [(ngModel)]="dependantLName" name="dependantLName"  placeholder="Last name" id="member">
                    </div>
                 </div>
                 <div class="form-group row">
                    <label class="col-sm-12">Date of Birth</label>
                    <div class="col-sm-12 col-sm-offset-0">
                      <my-date-picker name="dependantDob" required [(ngModel)]="dependantDob" [options]="myDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
                    </div>
                 </div>
                 <div class="form-group row">
                    <label class=" col-sm-12">Gender</label>
                    <div class="col-sm-12 col-sm-offset-0">
                       <label class="radio-inline">
                           <input type="radio" value="Female" required [(ngModel)]="dependantGender" name="dependantGender"><img src="assets/images/woman.png">
                       </label>
                       <label class="radio-inline">
                           <input type="radio" value="Male" name="dependantGender" required [(ngModel)]="dependantGender"><img src="assets/images/man-user.png">
                       </label>
                       <label class="radio-inline">
                           <input type="radio" value="Other" name="dependantGender" required [(ngModel)]="dependantGender"> Other
                       </label>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                <button  type="submit" data-dismiss="modal" class="dash-button"
                [disabled]="!editDepForm.valid" id="submit">
                  <span *ngIf="!loading">Update </span>
                  <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                  <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                     <span class="button-loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                     </span>
                  </span>
                </button>
              </div>
           </form>
          </div>
       </div>
     </div>
