<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div id="profileController"  class="ng-scope">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xs-12 profile__no-pad-mobile">
                        <h1 class="profile__h1 border--bottom">
                           Settings<!-- MESSAGE: Settings -->
                        </h1>
                     </div>
                  </div>
                  <div class="row">
                     <nav id="profile-tabs-container" class="col-sm-2 hidden-xs padBot50" style="position: relative;">
                        <span id="settings-menu" name="settings-menu" tabindex="-1" class="removeTabMinus1Outline hiddenAODA">Settings menu</span>
                        <!-- Begin loading overlay -->
                        <div class=""style="position: relative;">
                           <ul class="nav nav-pills nav-stacked"  role="tablist">
                              <li>
                                 <a (click)="setActiveTab(1)"   [ngClass]="activeTab == 1 ?'activeTab':''">
                                 Company Information
                                 <span class="profile-inf__heading--personal-inf active">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(2)" [ngClass]="activeTab == 2 ?'activeTab':''">
                                 Change Password
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(3)" [ngClass]="activeTab == 3 ?'activeTab':''">
                                 Plan Information
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                              <li>
                                 <a (click)="setActiveTab(4)" [ngClass]="activeTab == 4 ?'activeTab':''">
                                 PAP Detail
                                 <span class="profile-inf__heading--personal-inf" aria-hidden="false">
                                 </span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </nav>

                     <div class="form-group show-mobile">
                       <select class="form-control" (change)="setActiveTabOnChange()" [(ngModel)]="menuOption" name="menuOption">
                         <option value="1">Company Information </option>
                         <option value="2">Change Password </option>
                         <option value="3">Plan Information </option>
                         <option value="4">PAP Detail</option>
                       </select>
                     </div>
                     <div class="col-sm-10 col-xs-12 profile__no-pad-mobile" style="border-left:1px solid #eee;">
                        <div [ngClass]="activeTab == '1' ? 'show': 'hide' " id="contact-information" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Company Information <!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <form novalidate="" autocomplete="off" name="companyForm"   #companyForm="ngForm" (ngSubmit)="updatecompanyInfo(companyForm)" class="profile-inf__content">
                                 <div class="row"  style="background-color: #eeeeee; padding: 20px 10px;">
                                    <!-- marBot20 darkbg -->
                                      <span class="text-center" *ngIf="isLoading">
                                      Loading.. </span>
                                    <div class="col-xs-12  col-md-6 profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Company Name<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="companyName" required [(ngModel)]="companyName" id="companyName"  class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12  col-md-6 profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Company Code<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="companyCode" required [(ngModel)]="companyCode"  [disabled]="true" id="companyCode" class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Company Email<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="email" required [(ngModel)]="email" [disabled]="true"  id="email"  class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6  profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Company Phone<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="phone" required [(ngModel)]="phone"  id="phone" [textMask]="{mask: mask}"  class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12  col-md-6 profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Owner First Name<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="firstName" required [(ngModel)]="firstName" id="firstName"  class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12  col-md-6 profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          Owner Last Name<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="lastName" required [(ngModel)]="lastName"  id="lastName" class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6  profile__input--spacing">
                                       <label for="" class="body-copy--input-label">
                                          User Name<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input name="userName" required [(ngModel)]="userName"  id="userName" class="profile-inf__input" type="text">
                                    </div>
                                    <!-- addressLine1 input START -->
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="addressLine1" class="body-copy--input-label">
                                       Address Line 1
                                       </label>
                                       <input class="profile-inf__input" name="address" required [(ngModel)]="address" type="text">
                                    </div>
                                    <!-- <div class="col-xs-12 profile__input--spacing">
                                       <label for="addressLine2" class="body-copy--input-label">
                                       Address Line 2
                                       </label>
                                       <input class="profile-inf__input" name="street" required [(ngModel)]="street" id="addressLine2" placeholder="Address Line 2"  data-ng-pattern="/^[a-zA-Z0-9\u00C0-\u017F-'.\s]+$/" maxlength="40" type="text">
                                       </div> -->
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="city" class="body-copy--input-label">
                                       City
                                       </label>
                                       <input id="city" name="city" required [(ngModel)]="city" class="profile-inf__input" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="city" class="body-copy--input-label">
                                       Province
                                       </label>
                                       <select id="province" name="state" [(ngModel)]="state"  [disabled]="true">
                                          <option value="">Choose a Province...</option>
                                          <option *ngFor="let p of provienceData;" value="{{p.ProvinceId}}">{{p.Title}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12 profile__input--spacing">
                                       <label for="postalCode" class="body-copy--input-label">
                                          Postal Code <!-- MESSAGE: Postal Code-->
                                       </label>
                                       <input class="profile-inf__input" name="zip" required [(ngModel)]="zip" type="text">
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12 profile__input--spacing">
                                       <label for="postalCode" class="body-copy--input-label">
                                          Selected Plan Type <!-- MESSAGE: Postal Code-->
                                       </label>
                                       <input class="profile-inf__input" [disabled]="true" name="planType" value="{{planTypeId == '1' ? 'Personal' : 'Group'}}" type="text">
                                    </div>
                                    <div class="col-xs-12 col-md-6 profile__input--spacing">
                                       <label for="city" class="body-copy--input-label">
                                       Referral  Source
                                       </label>
                                       <select   [(ngModel)]="refTypeId" id="refTypeId" [disabled]="true" name="refTypeId">
                                         <option value="">Select Source</option>
                                         <option *ngFor="let r of referralData;" value="{{r.ReferralTypeId}}">{{r.ReferralType}}</option>
                                      </select>
                                    </div>

                                    <div class="col-xs-12 col-md-6 profile__input--spacing" *ngIf="refTypeId == '1'">
                                       <label for="city" class="body-copy--input-label">
                                         Broker
                                       </label>
                                      <select [(ngModel)]="refBrokerId" id="refBrokerId" name="refBrokerId"  [disabled]="true">
                                        <option value="">Selected Borker</option>
                                        <option *ngFor="let b of borkers;" value="{{b.BrokerId}}">{{b.Name}}</option>
                                        <option value="-1">Other</option>
                                      </select>
                                    </div>

                                    <div class='col-xs-12 col-sm-6  col-md-6 profile__input--spacing' *ngIf="refTypeId == '5'">
                                      <div class="form-group">
                                           <label class="body-copy--input-label" for="cname">Social Media Name</label>
                                           <select  [(ngModel)]="refName" id="refName" [disabled]="true" name="refName" >
                                              <option value="">Select Media</option>
                                               <option value="LinkedIn">LinkedIn</option>
                                               <option value="Facebook">Facebook</option>
                                               <option value="Instagram"> Instagram</option>
                                               <option value="Twitter">Twitter</option>
                                               <option value="Snapchat">Snapchat</option>
                                               <option value="other">Other</option>
                                           </select>
                                         </div>
                                     </div>
                                     <div class='col-xs-12 col-sm-6 col-md-6  profile__input--spacing' *ngIf="refTypeId == '4'">
                                       <div class="form-group">
                                          <label class="body-copy--input-label">Newspaper Name</label>
                                          <select  [(ngModel)]="refName" id="refName" [disabled]="true" name="refName" >
                                            <option value="">Select Newspaper</option>
                                            <option value="The Globe and Mail"> The Globe and Mail</option>
                                            <option value="Toronto Star"> Toronto Star</option>
                                            <option value="The Wall Street Journal">The Wall Street Journal</option>
                                            <option value="Financial Post">Financial Post</option>
                                            <option value="other">Other</option>
                                          </select>
                                        </div>
                                    </div>

                                    <div class='col-xs-12 col-sm-6 col-md-6  profile__input--spacing' *ngIf="refTypeId == '3'">
                                        <div class="form-group">
                                           <label class="body-copy--input-label" for="cname"> TV Name</label>
                                           <select [(ngModel)]="refName" id="refName" [disabled]="true" name="refName" >
                                             <option value="">Select TV</option>
                                             <option value="ET Now"> ET Now</option>
                                             <option value="Fox Business Network">Fox Business Network</option>
                                             <option value="Sky Business News">Sky Business News</option>
                                             <option value="CP24">CP24</option>
                                             <option value="other">Other</option>
                                           </select>
                                         </div>
                                     </div>
                                     <div class='col-xs-12 col-sm-6 col-md-6 profile__input--spacing' *ngIf="refTypeId == '2'">
                                       <div class="form-group">
                                            <label class="body-copy--input-label" for="cname">Radio Name</label>
                                            <select [(ngModel)]="refName" id="refName" name="refName" [disabled]="true">
                                              <option value=""> Select Radio</option>
                                              <option value="98.7 FM"> 98.7 FM</option>
                                              <option value="680 AM">680 AM</option>
                                              <option value="530 AM"> 530 AM</option>
                                              <option value="92.9 FM"> 92.9 FM</option>
                                              <option value="other">Other</option>
                                            </select>
                                            <!-- <div class="alert alert-danger" [hidden]="companyName.valid">Company name is required and must be valid</div> -->
                                        </div>
                                      </div>

                                    <div class="col-xs-12 col-md-6 profile__input--spacing" *ngIf="isOtherName == true">
                                       <label for="city" class="body-copy--input-label">
                                         Other Name
                                       </label>
                                      <input class="form-control input-md"  [disabled]="true" [(ngModel)]="refName" id="refName" name="refName" type="text">
                                    </div>

                                    <div class="col-xs-12 col-md-6 profile__input--spacing" *ngIf="OtherDetails !=''">
                                       <label for="city" class="body-copy--input-label">
                                         Other Detail
                                       </label>
                                      <input class="form-control input-md"  [disabled]="true" [(ngModel)]="OtherDetails" id="OtherDetails" name="OtherDetails" type="text">
                                    </div>
                                    <br>
                                    <div class="col-sm-12  col-xs-12 profile__input--spacing">
                                       <div class="form-group text-left">
                                          <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                             style="margin-bottom:10px; margin-top:20px;" [disabled]="!companyForm.valid">
                                             <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                                <span *ngIf="!loading" aria-hidden="false">Update</span>
                                                <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                                                <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                   <span class="button-loading">
                                                      <div class="bounce1"></div>
                                                      <div class="bounce2"></div>
                                                      <div class="bounce3"></div>
                                                   </span>
                                                </span>
                                             </span>
                                          </button>
                                          <br>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Edit Address Row End-->
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div [ngClass]="activeTab == '2' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Change Password <!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <form novalidate="" autocomplete="off" name="cpForm" #cpForm="ngForm"(ngSubmit)="changePwd(cpForm)" class="profile-inf__content">
                                 <div class="row" ng-show="cardInfoCtrl.showEditAddress" aria-hidden="true" style="background-color: #eeeeee; padding: 20px 10px;">
                                    <div class="col-xs-12">
                                       <label  class="body-copy--input-label">
                                          Old Password<!-- MESSAGE: Address Lookup-->
                                       </label>
                                       <input required [(ngModel)]="oldPwd"  class="profile-inf__input" name="oldPwd" type="password" id="op">
                                         <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('op')"></span>
                                    </div>
                                    <!-- addressLine1 input START -->
                                    <div class="col-xs-12 profile__input--spacing">
                                       <label  class="body-copy--input-label">
                                       New Password
                                       </label>
                                       <input class="profile-inf__input"  required [(ngModel)]="newPwd" name="newPwd" type="password" id="np">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('np')"></span>
                                    </div>
                                    <!-- addressLine1 input END -->
                                    <!-- addressLine2 input START -->
                                    <div class="col-xs-12 profile__input--spacing">
                                       <label for="addressLine2" class="body-copy--input-label">
                                       Confirm Password
                                       </label>
                                       <input required [(ngModel)]="newCPwd" name="newCPwd" type="password" class="profile-inf__input" id="cp">
                                         <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('cp')"></span>
                                       <br>
                                       <p *ngIf="newPwd != newCPwd" style="color:red">Confirm password did not match.</p>
                                    </div>
                                    <div class="col-xs-12 profile__input--spacing">
                                       <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                          [disabled]="!cpForm.valid">
                                          <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                             <span *ngIf="!cploading" class="ng-binding" aria-hidden="false">Update</span>
                                             <span *ngIf="cploading" class="" aria-hidden="true">Please wait</span>
                                             <span *ngIf="cploading" aria-hidden="true" class="ng-hide">
                                                <span class="button-loading">
                                                   <div class="bounce1"></div>
                                                   <div class="bounce2"></div>
                                                   <div class="bounce3"></div>
                                                </span>
                                             </span>
                                          </span>
                                       </button>
                                    </div>
                                 </div>
                                 <!-- Edit Address Row End-->
                                 </form>
                              </div>
                           </div>
                        </div>

                        <div [ngClass]="activeTab == '3' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    Plans Detail <!-- MESSAGE: Contact Information -->
                                    <button *ngIf="planTypeId == 2" class="btn btn-default pull-right" (click)="openAddPlan()" style="margin-right:15px"><i class="fa fa-plus"></i> Add Plan</button>
                                 </h3>
                              </div>
                              <form [formGroup]="planForm">
                                 <div formArrayName="Plans" *ngFor="let plan of planForm.get('Plans')['controls']; let i = index; let last=last;  let first=first;">
                                    <div [formGroupName]="i">
                                      <div class="col-md-5">
                                         <div class="panel panel-default" [ngStyle]="{'min-height':plan.controls['RollOver'].value == 4 ? '680px' : '575px' }" style="">

                                           <div class="panel-heading" >{{plan.controls['Name'].value}}</div>


                                            <div class="panel-body">
                                                <div class="form-group" >
                                                  <label for="email">Plan Start Date</label>
                                                   <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                                                    formControlName="PlanStartDt"  placeholder="MM/dd/yyyy" [disabled]="disabled"></my-date-picker>
                                                    <!-- <input type="text" class="form-control"   formControlName="PlanStartDt"  appDatePicker [options]="myOptions"> -->
                                                   <div class="alert alert-danger">
                                                     <div class="error" *ngIf="plan.get('PlanStartDt').touched &&plan.get('PlanStartDt').hasError('required')">
                                                        This field is required
                                                      </div>
                                                   </div>
                                              </div>
                                              <div class="form-group">
                                                <label for="email">Initial Deposit</label>
                                                <input type="text" (keypress)="_keyPress($event)" disabled (change)="InitialDeposit(plan)" class="form-control" required id="InitialDeposit_{{plan.controls['Name'].value}}" placeholder="CAD" formControlName="InitialDeposit">
                                                <div class="">
                                                  <!-- This amount will be billed in addition to your recurring deposits -->
                                                  <div class="error" *ngIf="plan.get('InitialDeposit').touched &&plan.get('InitialDeposit').hasError('required')">
                                                   </div>
                                                </div>

                                              </div>
                                              <div class="form-group">
                                                <label for="Contribution"><b>Recurring Deposits</b></label>
                                              </div>

                                              <div class="radio">
                                                <label><input type="radio" [name]="plan.ContributionSchedule" value="1" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 1"> Monthly
                                                  <input  *ngIf="plan.controls['ContributionSchedule'].value == '1'"  (keypress)="_keyPress($event)" required  formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" id="Monthly_ {{plan.controls['Name'].value}}" name="RecurringDeposit" type="text" style="position: absolute;left: 100px;top: 0px; width: 67%;">
                                                </label>
                                                <label><input type="radio" [name]="plan.ContributionSchedule"  value="2" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 2"> Annually
                                                  <input *ngIf="plan.controls['ContributionSchedule'].value == '2'" id="Annual_ {{plan.controls['Name'].value}}" (keypress)="_keyPress($event)" required formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" name="RecurringDeposit" type="text" style="position: absolute;left: 100px; top: 29px; width: 67%;"></label>

                                                  <div class="error" *ngIf="plan.get('RecurringDeposit').touched &&plan.get('RecurringDeposit').hasError('required')">

                                                   </div>
                                              </div>
                                            </div>
                                          </div>
                                      </div>

                                      <div class="col-md-7">
                                        <div class="panel panel-default" style="min-height: 515px;">
                                          <div class="panel-heading"> Plan Detail</div>
                                           <div class="panel-body">
                                             <ul class="media-list push">
                                                 <li class="media">
                                                   <!-- <a href="page_ready_user_profile.html" class="pull-left">
                                                       <img src="assets/images/todo.png" alt="Avatar" class="img-circle">
                                                   </a> -->
                                                     <div class="media-body">
                                                        <h4 >Plan Design
                                                          <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                             <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                <div class="hiddenAODA">
                                                                   Tooltip
                                                                </div>
                                                                Pick the plan that best suits your needs :
                                                             </span>
                                                          </i>
                                                        </h4>
                                                         <div class="radio">
                                                           <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 1" [name]="plan.PlanDesign" value="1"> A plan that covers medical health and dental expenses only</label>
                                                           <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 2" [name]="plan.PlanDesign" value="2"> A plan that covers medical health, dental and wellness (ex: gym membership, vitamins, etc)</label>
                                                         </div>
                                                     </div>
                                                 </li>

                                                 <li class="media">
                                                     <div class="media-body">
                                                       <h4 >Rollover
                                                         <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                            <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                               <div class="hiddenAODA">
                                                                  Tooltip
                                                               </div>
                                                              <span style="margin-left:15px;">  Any unused funds at the plan year end will : </span>
                                                            </span>
                                                         </i>
                                                       </h4>
                                                         <div class="radio">
                                                           <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 3" [name]="plan.RollOver" value="3" (click)="setCarryForward($event, plan)"> Revert to plan sponsor</label>
                                                           <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 4" [name]="plan.RollOver" value="4"> Carry Forward to the benefit of the account holder</label>
                                                         </div>
                                                     </div>
                                                 </li>

                                                 <li class="media" *ngIf="plan.controls['RollOver'].value == 4">
                                                     <div class="media-body">
                                                         <h4>Carry Forward Period
                                                           <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                              <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                 <div class="hiddenAODA">
                                                                    Tooltip
                                                                 </div>
                                                                Funds revert back to the plan sponsor after :
                                                              </span>
                                                           </i>
                                                         </h4>
                                                         <div class="radio">
                                                           <select formControlName="CarryForwardPeriod" [name]="plan.CarryForwardPeriod">
                                                              <option value="">Select Period</option>
                                                              <option value="12 Months">12 Months</option>
                                                              <option value="24 Months">24 Months</option>
                                                              <option value="Indefinite Rollover to the benefit of the account holder">Indefinite Rollover to the benefit of the account holder</option>
                                                           </select>
                                                         </div>
                                                     </div>
                                                 </li>

                                                 <li class="media">
                                                     <div class="media-body">
                                                         <h4>Termination
                                                           <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                                              <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                                                 <div class="hiddenAODA">
                                                                    Tooltip
                                                                 </div>
                                                                 Any unused funds in the terminated employee's account will :
                                                              </span>
                                                           </i>
                                                         </h4>
                                                         <div class="radio">

                                                           <label><input type="radio" formControlName="Termination"  [checked]="plan.controls['Termination'].value == 5" [name]="plan.Termination" value="5">Revert back to the employer</label>
                                                           <label><input type="radio" formControlName="Termination" [checked]="plan.controls['Termination'].value == 6" [name]="plan.Termination" value="6"> Carry forward to the benefit of the account holder as per plan design</label>
                                                         </div>
                                                     </div>
                                                 </li>
                                             </ul>
                                           </div>
                                       </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="panel panel-default">
                                          <div class="panel-heading"> Fees and Taxes Per Member ({{plan.controls['Name'].value}})</div>

                                          <div class="panel-body">
                                            <div class="form-group" style="font-size:16px">
                                              <div class="row col-md-8" style="margin-top:10px;"><p> Subtotal (before fees and taxes)  </p></div>
                                              <div class="row col-md-4 pull-right" style="margin-top:10px">
                                                <b>$ {{plan.controls['NetDeposit'].value | number : '1.2-2'}}</b>
                                              </div>
                                            </div>
                                             <div class="form-group" style="font-size:16px">
                                               <div class="row col-md-8"><p> Administration fee ({{AdminFeePct}}% on contributions)  </p></div>
                                               <div class="row col-md-4  pull-right"><b>$ {{plan.controls['AdministrationInitialFee'].value + plan.controls['AdministrationMonthlyFee'].value | number : '1.2-2'}}</b> </div>
                                             </div>
                                             <div class="form-group" style="font-size:16px">
                                               <div class="row col-md-8" style="font-size:16px"><p>Taxes on contributions and fees</p></div>
                                             </div>
                                             <div style="margin-left:15px; font-size:16px">
                                                 <div class="form-group">
                                                   <div class="row col-md-8">
                                                     <p *ngIf="HST !=0">HST ({{HST}}% on admin fees)   </p>
                                                     <p *ngIf="HST ==0">GST ({{GST}}% on admin fees)   </p>
                                                   </div>
                                                   <div class="row col-md-4 pull-right"><b>$ {{plan.controls['HSTInitial'].value + plan.controls['HSTMonthly'].value | number : '1.2-2'}}</b></div>
                                                 </div>
                                                 <div class="form-group">
                                                   <div class="row col-md-8"><p> Premium Tax ({{PPTax}}% on admin fee and contributions)</p></div>
                                                   <div class="row col-md-4 pull-right">
                                                   <b>  $ {{plan.controls['PremiumTaxInitial'].value + plan.controls['PremiumTaxMonthly'].value | number : '1.2-2'}}</b>
                                                    </div>
                                                 </div>
                                                 <div class="form-group" *ngIf="planType == 'Group'">
                                                   <div class="row col-md-8"><p>RST ({{RSTax}}% on contributions)</p></div>
                                                   <div class="row col-md-4 pull-right">
                                                     <b>$ {{plan.controls['RetailSalesTaxInitial'].value +   plan.controls['RetailSalesTaxMonthly'].value | number : '1.2-2'}}</b>
                                                   </div>
                                                 </div>
                                             </div>

                                             <div class="form-group" style="font-size:16px">
                                               <div class="row col-md-8" style="margin-top:10px">
                                                 Total (after fees and taxes)
                                               </div>
                                               <div class="row col-md-4 pull-right" style="margin-top:10px">
                                                 <b>$ {{plan.controls['TotatFeeAndTaxes'].value | number : '1.2-2'}}</b>
                                               </div>
                                             </div>
                                           </div>


                                           <div class="panel-body" style="display:none">
                                              <div class="form-group">
                                                <div class="row col-md-8"><p> Administration fee ({{AdminFeePct}}%  fee on contributions)  </p></div>
                                                <div class="row col-md-4  pull-right"><b>CAD {{plan.controls['AdministrationInitialFee'].value + plan.controls['AdministrationMonthlyFee'].value | number : '1.2-2'}}</b> </div>
                                              </div>
                                              <div class="form-group">
                                                <div class="row col-md-8">
                                                  <p *ngIf="HST !=0">HST ({{HST}}% on admin fees)   </p>
                                                  <p *ngIf="HST ==0">GST ({{GST}}% on admin fees)   </p>
                                                </div>
                                                <div class="row col-md-4 pull-right"><b>CAD {{plan.controls['HSTInitial'].value + plan.controls['HSTMonthly'].value | number : '1.2-2'}}</b></div>
                                              </div>
                                              <div class="form-group">
                                                <div class="row col-md-8"><p>Premium Tax ({{PPTax}}% on admin fee and contributions)</p></div>
                                                <div class="row col-md-4 pull-right">
                                                <b>  ${{plan.controls['PremiumTaxInitial'].value + plan.controls['PremiumTaxMonthly'].value | number : '1.2-2'}}</b>
                                                 </div>
                                              </div>
                                              <div class="form-group" *ngIf="planType == 'Group'">
                                                <div class="row col-md-8"><p>RST ({{RSTax}}% on contributions)</p></div>
                                                <div class="row col-md-4 pull-right">
                                                  <b> ${{plan.controls['RetailSalesTaxInitial'].value +   plan.controls['RetailSalesTaxMonthly'].value | number : '1.2-2'}}</b>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <div class="row col-md-8">
                                                  <!-- <p> Gross Total Inclusive of fees and taxes  </p> -->
                                                  Total fees & taxes for a group plan
                                                </div>
                                                <div class="row col-md-4 pull-right">
                                                  <b>${{plan.controls['GrossTotalInitial'].value + plan.controls['GrossTotalMonthly'].value | number : '1.2-2'}}</b>
                                                </div>
                                              </div>

                                              <div class="form-group" >
                                                <div class="row col-md-8" style="margin-top:10px">
                                                  Total (after fees and taxes)
                                                </div>
                                                <div class="row col-md-4 pull-right" style="margin-top:10px">
                                                  <b>${{plan.controls['TotatFeeAndTaxes'].value | number : '1.2-2'}}</b>
                                                </div>
                                              </div>

                                              <div class="form-group">
                                                <div class="row col-md-8" style="margin-top:10px"><p>Subtotal (before fees and taxes) </p></div>
                                                <div class="row col-md-4 pull-right" style="margin-top:10px">
                                                  <b>${{plan.controls['NetDeposit'].value | number : '1.2-2'}}</b>
                                                </div>
                                              </div>
                                              <div class="form-group">
                                                <div class="row col-md-8" style="margin-top:10px; font-weight:bold"><p> Total Contributions for {{plan.controls['ContributionSchedule'].value == '1' ? 'Monthly': 'Annually'}} (Admin Fee + {{HST ==0 ? 'GST': 'HST'}} + PPTax + RSTax)</p></div>
                                                <div class="row col-md-4 pull-right" style="margin-top:10px; font-weight:bold">
                                                  <b  *ngIf="HST !=0">CAD  {{ plan.controls['RecurringAmount'].value | number : '1.2-2'}}</b>
                                                  <!-- <b  *ngIf="HST ==0">CAD {{plan.controls['RecurringDeposit'].value + plan.controls['RecurringDeposit'].value * (AdminFeePct+ GST +PPTax + RSTax) / 100 | number : '1.2-2'}}</b> -->
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                       <div class=""style="display:none">
                                          <div class="columns">
                                             <ul class="price">
                                                <li class="header">{{plan.PlanName}}</li>
                                                <li class="grey">$ {{plan.PlanGrossRecurring}} / month</li>
                                                <li> {{plan.NoOfEmployees}} No Of Employees </li>
                                                <li> {{plan.PlanGrossInitial}} Plan Gross Initial Amount</li>
                                                <li> {{plan.PlanGrossRecurring}}  Plan Gross Recurring Amount</li>
                                                <li></li>
                                                <!-- <li class="grey"><a  class="button">Edit</a></li> -->
                                             </ul>
                                          </div>
                                       </div>

                                      <div class="col-md-12" style="border-bottom:2px solid; margin-bottom:10px; padding:5px">
                                       <div class="text-center" *ngIf="isFreeze == false">
                                          <button *ngIf="!isLoading" class="dash-button dash-button--affirm loginFocusIndicator"  (click)="updatePlanDetail(plan)" [disabled]="!planForm.valid" type="button">
                                            Update {{plan.controls['Name'].value}}</button>
                                         <button *ngIf="updateBtnId == plan.controls['TempPlanId'].value"class="dash-button dash-button--affirm loginFocusIndicator" type="button">
                                           <span class="">Please wait</span>
                                           <span aria-hidden="true">
                                              <span class="button-loading">
                                                 <div class="bounce1"></div>
                                                 <div class="bounce2"></div>
                                                 <div class="bounce3"></div>
                                                 <div class="bounce3"></div>
                                                 <div class="bounce3"></div>
                                              </span>
                                           </span>
                                         </button>
                                       </div>
                                       </div>

                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div [ngClass]="activeTab == '4' ? 'show': 'hide' " id="change-pwd" class="profile-inf__item profile-inf__item--active profile-inf__item--personal-inf removeTabMinus1Outline" role="tabpanel" tabindex="-1" style="position: relative;">
                           <div class=""style="position: relative;">
                              <!-- On desktop a tag is not needed.-->
                              <div data-ng-show="screenWidth >= 768" aria-hidden="false" class="">
                                 <h3 class="profile-inf__heading profile-inf__heading--personal-inf removeTabMinus1Outline" id="contact-information__heading" tabindex="-1">
                                    PAP Detail<!-- MESSAGE: Contact Information -->
                                 </h3>
                              </div>
                              <div id="contact-information-collapse" class="panel-collapse collapse in accordion-item-container" style="">
                                 <div class="profile-inf__content" >
                                    <form class="editForm"  novalidate #bankForm="ngForm"(ngSubmit)="updatePAPDetail(bankForm)" >
                                    <div class="tab-pane fade in active">
                                       <div class='row'  style="background-color: #eeeeee; padding: 20px 10px;">
                                          <div class='col-md-10'>
                                             <div class="row">
                                                <div class='col-xs-12 col-sm-12'>
                                                   <div class="form-group">
                                                      <label class="control-label" for="cname">Bank Name</label>
                                                      <input class="form-control input-md" required placeholder="Legal bank name" [(ngModel)]="bankname" name="bankname">
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class='col-xs-12 col-sm-6'>
                                                   <div class="form-group">
                                                      <label class="control-label" for="cname">Transit ID</label>
                                                      <input  type="password" class="form-control input-md" (keypress)="_keyPress($event)"  maxlength="5" minLength="5" id="ti" placeholder="12345 "required [(ngModel)]="transId" name="transId">
                                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('ti')"></span>
                                                   </div>
                                                </div>
                                                <div class='col-xs-12 col-sm-6'>
                                                   <div class="form-group">
                                                      <label class="control-label" for="cname">Institution ID Name</label>
                                                      <input type="password" class="form-control input-md" (keypress)="_keyPress($event)" placeholder="001" id="in"  maxlength="3" minLength="3" required [(ngModel)]="instId" name="instId">
                                                      <span toggle="#password-field" class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword('in')"></span>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="form-group">
                                                <label class="control-label" for="cname">Account Number</label>
                                                <input class="form-control input-md" (keypress)="_keyPress($event)" required [(ngModel)]="accountNumber" name="accountNumber">
                                             </div>
                                             <div class="row">
                                                <div class='col-xs-12 col-sm-6'>
                                                   <div class="form-group">
                                                      <label class="checkbox-inline">
                                                      <input type="checkbox" [(ngModel)]="iagree" name="iagree" style="margin-top:10px">
                                                        <a (click)="openConditionModal = true">I agree term and conditions.</a>
                                                      </label>
                                                   </div>
                                                </div>
                                                <div class='col-xs-12 col-sm-6'>
                                                   <span class="pull-right">
                                                   <a (click)="openModal()" *ngIf="!fileName">
                                                   <img src="assets/images/upload-icon.png"> Upload a void cheque
                                                   </a>
                                                   <br>
                                                   <span *ngIf="fileName"><a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank">View File </a>  <i class="fa fa-close" style="padding-left:25px" (click)="removeFile()"> Remove</i></span>
                                                   </span>
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class='col-lg-12 col-sm-12'>
                                                   <img src="assets/images/cheque-demo.png" style="width:100%">
                                                </div>
                                             </div>
                                             <div class="form-group text-center">
                                                <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                                                   [disabled]="!bankForm.valid" style="margin-bottom:10px; margin-top:20px;">
                                                   <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                                      <span  class="ng-binding" aria-hidden="false">Update</span>
                                                      <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                                                      <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                                         <span class="button-loading">
                                                            <div class="bounce1"></div>
                                                            <div class="bounce2"></div>
                                                            <div class="bounce3"></div>
                                                         </span>
                                                      </span>
                                                   </span>
                                                </button>
                                                <br>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Profile/Settings tab content END-->
                  </div>
                  <!-- row div end-->
               </div>
               <!-- container div end-->
            </div>
         </div>
      </div>
   </div>
</main>


<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="closeFileModal()">&times;</button>
            <span class="modal-title">Upload File</span>
         </div>
         <div class="modal-body">
            <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
            <form class="forgot-your-password__form" #forgetForm="ngForm">
               <div class="forgot-your-password__paragraph forgot-your-password__paragraph__content">
                  <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                     <b>File Format: (pdf, jpg, png, or gif file formats, 5MB maximum) .<br></b><br>
                  </div>
               </div>
               <div class="forgot-your-password__login-options">
                  <fieldset class="forgot-your-password__fieldset">
                     <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>
                     <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                     <!-- <div id="email-errors" class="global-form-error-message forgot-your-password__fieldset--email-invalid forgot-your-password__email-invalid">ERROR: Please enter a valid email address to continue</div> -->
                  </fieldset>
                  <br>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeFileModal()">Close</button>
         </div>
      </div>
   </div>
</div>



<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="planModal ? 'block' : 'none'">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="planModal = false;">&times;</button>
            <span class="modal-title">Add Plan</span>
         </div>
         <div class="modal-body" style="height:500px; overflow:auto">
            <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->



            <form [formGroup]="addPlanForm">
               <div formArrayName="Plans" *ngFor="let plan of addPlanForm.get('Plans')['controls']; let i = index; let last=last;  let first=first;">
                  <div [formGroupName]="i">
                    <div class="col-md-12">
                       <div class="panel panel-default" [ngStyle]="{'min-height':plan.controls['RollOver'].value == 4 ? '' : '' }" style="">

                         <!-- <div class="panel-heading" >{{plan.controls['Name'].value}}</div> -->
                          <div class="panel-heading" >
                            <span *ngIf="isPlanEdit != i">{{plan.controls['Name'].value}}</span>
                            <span *ngIf="i == isPlanEdit" >
                              <input type="text" name="Name" style="width:90%;" formControlName="Name" required value="">
                            </span>
                            <span>
                              <i  *ngIf="i != isPlanEdit"class="pull-right fa fa-pencil" (click)="isPlanEdit = i"></i>
                              <i style="margin-top:-10%" *ngIf="i == isPlanEdit" class="pull-right fa fa-check" (click)="isPlanEdit = -1"></i>
                            </span>
                          </div>
                          <div class="panel-body">


                              <div class="form-group" >
                                <label for="email">Plan Start Date</label>
                                 <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                                  formControlName="PlanStartDt"  placeholder="MM/dd/yyyy"></my-date-picker>
                                 <div class="alert alert-danger">
                                   <div class="error" *ngIf="plan.get('PlanStartDt').touched &&plan.get('PlanStartDt').hasError('required')">
                                      This field is required
                                    </div>
                                 </div>
                            </div>
                            <div class="form-group">
                              <label for="email">Initial Deposit</label>
                              <input type="text" (keypress)="_keyPress($event)"  (change)="InitialDepositV2(plan)" class="form-control" required id="InitialDeposit" placeholder="CAD" formControlName="InitialDeposit">
                              <div class="alert alert-danger">
                                <div class="error" *ngIf="plan.get('InitialDeposit').touched &&plan.get('InitialDeposit').hasError('required')">

                                 </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="Contribution"><b>Recurring Deposits</b></label>
                            </div>

                            <div class="radio">
                              <label><input type="radio" [name]="plan.ContributionSchedule" value="1" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 1"> Monthly
                                <input  *ngIf="plan.controls['ContributionSchedule'].value == '1'"  (keypress)="_keyPress($event)" required  formControlName="RecurringDeposit" (change)="RecurringDepositV2(plan)" id="" name="RecurringDeposit" type="text" style="position: absolute;left: 100px;top: 0px; width: 67%;">
                              </label>
                              <label><input type="radio" [name]="plan.ContributionSchedule"  value="2" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 2"> Annually
                                <input *ngIf="plan.controls['ContributionSchedule'].value == '2'" id="" (keypress)="_keyPress($event)" required formControlName="RecurringDeposit" (change)="RecurringDepositV2(plan)" name="RecurringDeposit" type="text" style="position: absolute;left: 100px; top: 29px; width: 67%;"></label>

                                <div class="error" *ngIf="plan.get('RecurringDeposit').touched &&plan.get('RecurringDeposit').hasError('required')">

                                 </div>
                            </div>
                          </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading"> Plan Detail</div>
                         <div class="panel-body">
                           <ul class="media-list push">
                               <li class="media">
                                   <div class="media-body">
                                      <h4 >Plan Design
                                        <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                           <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                              <div class="hiddenAODA">
                                                 Tooltip
                                              </div>
                                              Pick the plan that best suits your needs :
                                           </span>
                                        </i>
                                      </h4>
                                       <div class="radio">
                                         <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 1" [name]="plan.PlanDesign" value="1"> A plan that covers medical health and dental expenses only</label>
                                         <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 2" [name]="plan.PlanDesign" value="2"> A plan that covers medical health, dental and wellness (ex: gym membership, vitamins, etc)</label>
                                       </div>
                                   </div>
                               </li>

                               <li class="media">
                                   <div class="media-body">
                                     <h4 >Rollover
                                       <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                          <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                             <div class="hiddenAODA">
                                                Tooltip
                                             </div>
                                            <span style="margin-left:15px;">  Any unused funds at the plan year end will : </span>
                                          </span>
                                       </i>
                                     </h4>
                                       <div class="radio">
                                         <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 3" [name]="plan.RollOver" value="3" (click)="setCarryForward($event, plan)"> Revert to plan sponsor</label>
                                         <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 4" [name]="plan.RollOver" value="4"> Carry Forward to the benefit of the account holder</label>
                                       </div>
                                   </div>
                               </li>

                               <li class="media" *ngIf="plan.controls['RollOver'].value == 4">
                                   <div class="media-body">
                                       <h4>Carry Forward Period
                                         <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                            <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                               <div class="hiddenAODA">
                                                  Tooltip
                                               </div>
                                              Funds revert back to the plan sponsor after :
                                            </span>
                                         </i>
                                       </h4>
                                       <div class="radio">
                                         <select formControlName="CarryForwardPeriod" [name]="plan.CarryForwardPeriod">
                                            <option value="">Select Period</option>
                                            <option value="12 Months">12 Months</option>
                                            <option value="24 Months">24 Months</option>
                                            <option value="Indefinite Rollover to the benefit of the account holder">Indefinite Rollover to the benefit of the account holder</option>
                                         </select>
                                       </div>
                                   </div>
                               </li>

                               <li class="media">
                                   <div class="media-body">
                                       <h4>Termination
                                         <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                            <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                               <div class="hiddenAODA">
                                                  Tooltip
                                               </div>
                                               Any unused funds in the terminated employee's account will :
                                            </span>
                                         </i>
                                       </h4>
                                       <div class="radio">

                                         <label><input type="radio" formControlName="Termination"  [checked]="plan.controls['Termination'].value == 5" [name]="plan.Termination" value="5">Revert back to the employer</label>
                                         <label><input type="radio" formControlName="Termination" [checked]="plan.controls['Termination'].value == 6" [name]="plan.Termination" value="6"> Carry forward to the benefit of the account holder as per plan design</label>
                                       </div>
                                   </div>
                               </li>
                           </ul>
                         </div>
                     </div>
                    </div>


                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading"> Fees and Taxes Per Member ({{plan.controls['Name'].value}})</div>

                        <div class="panel-body">
                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8" style="margin-top:10px;">
                              <p>Subtotal (before fees and taxes) </p>
                            </div>
                            <div class="row col-md-4 pull-right" style="margin-top:10px">
                              <b>$ {{plan.controls['NetDeposit'].value | number : '1.2-2'}}</b>
                            </div>
                          </div>
                           <div class="form-group" style="font-size:16px">
                             <div class="row col-md-8"><p> Administration fee ({{AdminFeePct}}% on contributions)  </p></div>
                             <div class="row col-md-4  pull-right"><b>$ {{plan.controls['AdministrationInitialFee'].value + plan.controls['AdministrationMonthlyFee'].value | number : '1.2-2'}}</b> </div>
                           </div>
                           <div class="form-group" style="font-size:16px">
                             <div class="row col-md-8" style="font-size:16px"><p> Taxes on contributions and fees</p></div>
                           </div>
                           <div style="margin-left:15px; font-size:16px">
                               <div class="form-group">
                                 <div class="row col-md-8">
                                   <p *ngIf="HST !=0">HST ({{HST}}% on admin fees)   </p>
                                   <p *ngIf="HST ==0">GST ({{GST}}% on admin fees)   </p>
                                 </div>
                                 <div class="row col-md-4 pull-right"><b>$ {{plan.controls['HSTInitial'].value + plan.controls['HSTMonthly'].value | number : '1.2-2'}}</b></div>
                               </div>
                               <div class="form-group">
                                 <div class="row col-md-8"><p>Premium Tax ({{PPTax}}% on admin fee and contributions)</p></div>
                                 <div class="row col-md-4 pull-right">
                                 <b>  $ {{plan.controls['PremiumTaxInitial'].value + plan.controls['PremiumTaxMonthly'].value | number : '1.2-2'}}</b>
                                  </div>
                               </div>
                               <div class="form-group" *ngIf="planType == 'Group'">
                                 <div class="row col-md-8"><p>RST ({{RSTax}}% on contributions)</p></div>
                                 <div class="row col-md-4 pull-right">
                                   <b>$ {{plan.controls['RetailSalesTaxInitial'].value +   plan.controls['RetailSalesTaxMonthly'].value | number : '1.2-2'}}</b>
                                 </div>
                               </div>
                           </div>
                           <!-- <div class="form-group">
                             <div class="row col-md-8">
                               Total fees & taxes for a group plan
                             </div>
                             <div class="row col-md-4 pull-right">
                               <b>$ {{plan.controls['GrossTotalInitial'].value + plan.controls['GrossTotalMonthly'].value | number : '1.2-2'}}</b>
                             </div>
                           </div> -->

                           <div class="form-group" style="font-size:16px">
                             <div class="row col-md-8" style="margin-top:10px">
                               Total (after fees and taxes)
                             </div>
                             <div class="row col-md-4 pull-right" style="margin-top:10px">
                               <b>$ {{plan.controls['TotatFeeAndTaxes'].value | number : '1.2-2'}}</b>
                             </div>
                           </div>
                         </div>
                        </div>
                      </div>

                    <div class="col-md-12" style="border-bottom:2px solid; margin-bottom:10px; padding:5px">
                     <div class="text-center">
                       <button *ngIf="!isLoading" class="dash-button dash-button--affirm loginFocusIndicator"  (click)="submitNewPlan(plan)" [disabled]="!addPlanForm.valid" type="button">
                          Submit
                        </button>
                       <button *ngIf="isLoading"class="dash-button dash-button--affirm loginFocusIndicator" type="button">
                         <span class="">Please wait</span>
                         <span aria-hidden="true">
                            <span class="button-loading">
                               <div class="bounce1"></div>
                               <div class="bounce2"></div>
                               <div class="bounce3"></div>
                               <div class="bounce3"></div>
                               <div class="bounce3"></div>
                            </span>
                         </span>
                       </button>
                     </div>
                     </div>

                  </div>
               </div>
            </form>





         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="planModal = false;">Close</button>
         </div>
      </div>
   </div>
</div>



 <div class="modal animated slideInDown" [style.display]="openConditionModal ? 'block' : 'none'" >
   <div class="modal-dialog" style="top:10%">
        <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="openConditionModal = false;">&times;</button>
            <span class="modal-title">Term & Conditions</span>
         </div>
         <div class="modal-body" style="max-height:350px; overflow:auto;">
              <form class="forgot-your-password__form" style="font-size: 18px;">
                  <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em; text-align:justify">

                 I certify that the information in this form is true and complete.
                 I acknowledge and agree that this Coverage or any portion of this Coverage,
                  and future claims thereunder may be denied as a result of the provisions of false,
                  incomplete, or misleading information. I authorize the collection, use and
                  disclosure of personal information relevant to this application for
                  the purpose of plan administration, audit, assessment, investigation,
                  claim management, underwriting and for determining plan eligibility.
                  Access to my information will be limited to: eclipse EIO, Plan Advisor,
                   reinsures and service providers in the performance of their jobs.
                   <br>
                   I authorize all future claim payments to be sent via electronic funds
                   transfer to the bank listed here. I recognize that it is my responsibility
                   to ensure that my file is kept up-to- date with my preferred bank
                    account information and personal information.
                    <br>
                    I agree that the Company will not be responsible for any payments that
                     are lost or misdirected due to incorrect banking information.
                      I authorize the deduction from my pay of any contributions
                      I must make towards the cost of these benefits.
                      <br>
                      I agree that a photocopy or electronic version of this authorization is valid.

               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="openConditionModal = false;">Close</button>
         </div>
      </div>
   </div>
 </div>
