
<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-12">
                      <h1 class="profile__h1 border--bottom">
                        Add Members
                        <button class="btn btn-primary pull-right" (click)="openModal()"><i class="fa fa-upload"></i> Import Member XLSX File</button>
                      </h1>
                  </div>

                  <form [formGroup]="employeeForm">

                    <div formArrayName="Employees" *ngFor="let employee of employeeForm.get('Employees')['controls']; let l = index;">
                        <div [formGroupName]="l" style="margin-left:-16px; margin-right:-16px;">
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" required formControlName="FName" id="fname" placeholder="First Name" name="fname">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" formControlName="LName" id="lname" placeholder="Last Name" name="lname">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="email" class="form-control" required formControlName="Email" id="email" placeholder="Email" name="email">
                            </div>
                            <div class="form-group col-md-3">
                                <select formControlName="CompanyPlanId" required name="CompanyPlanId">
                                    <option value="">Select Class</option>
                                    <option *ngFor="let c of classesData" value="{{c.ClassId}}">{{c.Name}}</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group" *ngIf="employeeForm.controls.Employees.controls.length > 1" >
                              <button type="button"  class="btn btn-danger pull-right"  (click)="deleteEmployee(l)" style="margin-right: 5px; display:block"><i class="fa fa-remove"> </i> Remove</button>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top:10px; cursor:pointer">
                        <span  (click)="addMoreEmployee()"><img src="assets/images/plus-icon.png" > Add More </span>
                        <!-- <span style="margin-left:15px;"><img src="assets/images/upload-icon.png"> Upload a file </span> -->
                    </div>

                    <div class="text-center">
                      <button *ngIf="!isLoading" type="submit" (click)="AddEmployee()"  class="dash-button dash-button--affirm loginFocusIndicator"
                      [disabled]="!employeeForm.valid">
                         <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                            <span class="ng-binding" aria-hidden="false">Submit</span>
                            <!-- <span *ngIf="isLoading" class="" aria-hidden="true">Please wait</span>
                            <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                               <span class="button-loading">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                               </span>
                            </span> -->
                         </span>
                      </button>

                      <button *ngIf="isLoading" type="button" class="dash-button dash-button--affirm loginFocusIndicator"
                      [disabled]="employeeForm.valid">
                         <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                            <span *ngIf="isLoading" class="" aria-hidden="true">Please wait</span>
                            <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                               <span class="button-loading">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                               </span>
                            </span>
                         </span>
                      </button>
                    </div>
                  </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>


    <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" (click)="modal = false;">&times;</button>
               <span class="modal-title">Upload plan members xlsx file</span>
            </div>
            <div class="modal-body">
               <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
               <form class="forgot-your-password__form">
                  <div class="">
                     <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                       <b>File Format: (xlsx file formats, 5MB maximum) .<br></b><br></div>
                  </div>
                  <div class="forgot-your-password__login-options">
                    <fieldset class="forgot-your-password__fieldset">
                      <a class="btn btn-primary" href="{{hostUrl}}/plan-members.xlsx" target="download"><i class="fa fa-download"> </i> Download File Format</a>
                      <br>
                    </fieldset>
                    <br>
                     <fieldset class="forgot-your-password__fieldset">

                       <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>

                       <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                      <!-- <div id="email-errors" class="global-form-error-message forgot-your-password__fieldset--email-invalid forgot-your-password__email-invalid">ERROR: Please enter a valid email address to continue</div> -->
                     </fieldset>
                     <br>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal = false;">Close</button>
            </div>
         </div>
      </div>
    </div>


    <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="importLoaderModal ? 'block' : 'none'" >
      <div class="modal-dialog" style="top:10%">
         <!-- Modal content-->
         <div class="modal-content">
            <!-- <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" (click)="importLoaderModal = false;">&times;</button>
               <span class="modal-title">Importing plan members</span>
            </div> -->
            <div class="modal-body">
               <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
               <form class="forgot-your-password__form" style="text-align: center; color: #000; font-size: 18px;">
                  <div class="">
                     <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                      <i class="fa fa-spinner fa-spin" style="font-size:60px; color:#000"></i><br>Please wait system importing members...
                    </div>
                  </div>
               </form>
            </div>
            <!-- <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" (click)="importLoaderModal = false;">Close</button>
            </div> -->
         </div>
      </div>
    </div>
