<app-header></app-header>

   <div class="page animated">
     <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
       <div class="swiper-wrapper">
         <!-- slider-1-1920x879 -->
         <div class="swiper-slide context-dark" data-slide-bg="assets/images/home-slide-2.png"
         style="background-position: 50% 50%; background-image: url('assets/images/home-slide-2.png');background-size: cover; opacity: 1;">
         <div class="swiper-slide-caption">
             <div class="container">
               <div class="row">
                 <div class="col-md-10 col-lg-7">
                   <h2 data-caption-animate="fadeInUp" data-caption-delay="100">Taking care of your health & wellness is key to living well. </h2>
                   <p class="lead fadeInUp">
                     Productivity, happiness, success—everything is tied to how you feel. That’s why we’re striving to empower employees to take care of anything that contributes to their wellbeing.
                   </p>
                   <a  routerLink="/register" class="button button-lg button-primary button-icon button-icon-left fadeInUp">
                    Sign Up as an Individual
                   </a>
                   <a  routerLink="/login" class="button button-lg button-default button-icon button-icon-left fadeInUp">
                    Login Now
                   </a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>

     <section class="section section-lg bg-white">
         <div class="container">
           <div class="row row-40 justify-content-center">
             <div class="col-md-12 col-lg-12 inset-top-1">
                 <h3>eFlex for Employees </h3>
                 <p>
                   Taking care of your health & wellness is key to living well.
                   <br>
                   Productivity, happiness, success—everything is tied to how you feel. That’s why we’re striving to empower employees to take care of anything that contributes to their wellbeing.
                   <br>
                   Whether that meansdealing with a nagging issue or taking a proactive approach to stay healthy–they deserve it, and we make it possible.

                 </p>

             </div>
           </div>
         </div>
     </section>
   </div>
<app-footer></app-footer>
