
<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div id="profileController"  class="ng-scope">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xs-12 profile__no-pad-mobile">
                        <h1 class="profile__h1 border--bottom">
                          Notifications<!-- MESSAGE: Settings -->
                        </h1>
                     </div>
                  </div>
                  <div class="row-1">
                    <div style="text-align:center" *ngIf="isLoader">
                      <span class="text-center"><i class="fa fa-spinner fa-spin" style="font-size:30px; color:#2b3e4f; text-align:center"></i><br>Loading.. </span>
                    </div>
                    <ng-container  *ngFor="let notification of notificationData; let i=index">
                      <div class="alert alert-info alert-close" >
                        <a *ngIf="notification.NotifyType == 'Claim'" class="notify_text" routerLink="../claims"> {{notification.NotifyText}} </a>

                        <a *ngIf="notification.NotifyType == 'Message'" class="notify_text" routerLink="../messages"> {{notification.NotifyText}} </a>
                        <a *ngIf="notification.NotifyType == 'Payment'" class="notify_text" routerLink="../transactions"> {{notification.NotifyText}} </a>
                        <a *ngIf="notification.NotifyType == 'Adjustment'" class="notify_text" routerLink="../transactions"> {{notification.NotifyText}} </a>
                        <span *ngIf="notification.NotifyType == 'Password'" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <span *ngIf="notification.NotifyType == 'Card'" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <span *ngIf="notification.NotifyType == 'Account'" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <span *ngIf="notification.NotifyType == 'Plan'" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <span *ngIf="notification.NotifyType == 'Employee'" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <span *ngIf="notification.NotifyType == 'Dependant'" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <a *ngIf="notification.NotifyType == 'Load'" class="notify_text" routerLink="../claims"> {{notification.NotifyText}} </a>
                        <span *ngIf="notification.NotifyType == null" class="notify_text_normal"> {{notification.NotifyText}} </span>
                        <span class="close">&times;</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="notificationData.length < 1" style="text-align:center">
                      <div style="text-align:center">
                        <span class="text-center" style="text-align:center">No notification found </span>
                      </div>
                    </ng-container>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
