.alert-close {
    position: relative;
    padding-right: 40px;
}
.alert-close .close{
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: absolute;
    top: 5px;
    right: 10px;
}
.alert-close .close:hover{
    opacity:0.5;
}
