

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div class="main-page">

                 <div class="clearfix"> </div>
               <div class="row-one widgettable">

                  <div class="col-md-9 col-sm-12 content-top-2 card">
                     <div class="agileinfo-cdr-1">
                        <div class="card-header">
                           <h3 style="margin-left: -15px; padding: 15px; background: #fa9619
; color:#fff; margin-right: -15px;">Monthly Overview</h3>
                        </div>
                        <div class="SimpleChart Line" [chart]="plansChart"></div>
                     </div>
                  </div>

                  <div class="col-md-3 col-sm-12 stat" *ngIf="figureData">
            				<div class="content-top-1">
            				<div class="col-md-12 top-content">
            					<h5>Company Registration </h5>
            					<label>{{figureData.TotalCompany}}</label>
            				</div>
            				<!-- <div class="col-md-6 top-content1">
            					<div id="demo-pie-1" class="pie-title-center" data-percent="45"> <span class="pie-value"></span> </div>
            				</div> -->
            				 <div class="clearfix"> </div>
            				</div>
            				<div class="content-top-1">
            				<div class="col-md-12 top-content">
            					<h5>Amount Receive</h5>
            					<label>${{figureData.TotalAmtReceived}}</label>
            				</div>
            				<!-- <div class="col-md-12 top-content1">
            					<div id="demo-pie-2" class="pie-title-center" data-percent="75"> <span class="pie-value"></span> </div>
            				</div> -->
            				 <div class="clearfix"> </div>
            				</div>
            				<div class="content-top-1" *ngIf="isPersonal == 'false'">
            				<div class="col-md-6 top-content">
            					<h5>Total Broker</h5>
            					<label>{{figureData.TotalBroker}}</label>
            				</div>
            				<!-- <div class="col-md-6 top-content1">
            					<div id="demo-pie-3" class="pie-title-center" data-percent="90"> <span class="pie-value"></span> </div>
            				</div> -->
            				 <div class="clearfix"> </div>
            				</div>
            			</div>
                  <div class="clearfix"> </div>
               </div>



                 <div class="row" >
                   <div class="col-md-12">
                       <div class="table-responsive">
                        <h4 style="padding:10px; background: #7cb5ec; color:#fff">Commission Overview </h4>
                        <table class="table table-bordered">

                          <thead>
                              <tr>
                               <th>#</th>
                               <th>Company Name</th>
                               <th>Contribution ($)</th>
                               <th>Month</th>
                               <th>Your Fee (%)</th>
                               <th>Total</th>
                             </tr>
                           </thead>
                             <tbody>
                                <tr *ngFor="let data of companyData; let i=index">
                                   <td scope="row">{{i+1}}</td>
                                   <td>{{data.CompanyName}}</td>
                                   <td>${{data.Contribution |  number:'1.2-2'}}</td>
                                   <td>{{data.Month | mydate}}</td>
                                   <td>{{data.YourFee}}%</td>
                                    <td>${{data.TotalComission |  number:'1.2-2'}}</td>
                                 </tr>
                                  <tr *ngIf="companyData.length < 1">
                                    <td colspan="6">No record found</td>
                                   </tr>
                              </tbody>
                             </table>
                      </div>
                     </div>
                     <div class="clearfix"> </div>
               </div>

               <div class="row"  *ngIf="isPersonal == 'false'">
                 <div class="col-md-12">
                     <div class="table-responsive" *ngIf="otherBrokers">
                      <h4 style="padding:10px; background: #00ad45; color:#fff">My Brokers </h4>
                      <table class="table table-hover">
                        <thead>
                          <tr>
                           <th>#</th>
                           <th>Name</th>
                           <th>No of Company Register</th>
                           <th>Total Commission ($)</th>
                         </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let data of otherBrokers; let i=index">
                      <td scope="row">{{i+1}}</td>
                       <td>{{data.BrokerName}}</td>
                       <td>{{data.NoOfCompanies}}</td>
                       <td>{{data.TotalComission}} </td>
                     </tr>
                     <tr *ngIf="otherBrokers.length < 1">
                       <td colspan="4">No record found</td>
                      </tr>


                </tbody>
            </table>
                    </div>
                   </div>
                   <div class="clearfix"> </div>
             </div>

            </div>
         </div>
      </div>
   </div>
</main>
