

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="iparys_inherited">

         <div class="glb-responsivegrid-container parbase section">
            <div class="landingBanner">
               <div class="container responsivegrid">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12  ">
                     <div class="name-component aem-GridColumn aem-GridColumn--default--12">
                        <section class="ncc-name" style="position: relative;">
                           <div class="" style="position: relative;">
                            Transactions
                           </div>
                        </section>
                     </div>
                     <div class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--12">
                        <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div style="position: relative;">
                              <div class="glb-rewards-div">
                                 <div class="container-fluid glb-rewards-div-content" >
                                    <div class="row">
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="row rewardsValueADO ng-binding" aria-hidden="true">
                                           ${{contributionAmt | number: '1.2-2'}}
                                        </div>
                                        <div class="row rewardsTextADO" aria-hidden="true">
                                            Contributions
                                      </div>
                                      </div>
                                       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                         <div class="row rewardsValueADO ng-binding" aria-hidden="true">
                                            ${{withdrawalsAmt | number:'1.2-2'}}
                                         </div>
                                         <div class="row rewardsTextADO" aria-hidden="true">
                                              Total Claimed Amount
                            						</div>
                                       </div>
                                       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                         <div class="row rewardsValueADO ng-binding" aria-hidden="true">
                                            ${{currentAmt | number: '1.2-2'}}
                                         </div>
                                         <div class="row rewardsTextADO" aria-hidden="true">
                                              Current Balance
                                        </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="page-background">
      <div class="site-content">
         <div class="container-fluid" style="position: relative;">
            <div class="row">
               <div class="col-sm-3">
                  <label for="selectBillingDates">
                  <span class="select-text">Statement Period</span>
                  </label>
                  <!-- Billing Dates Select Drop Down START -->
                  <select   [(ngModel)]="period" name="period" (change)="onPeriodChange()">
                    <option value="current">Current</option>
                    <option *ngFor="let p of periodData;" value="{{p.Period}}">{{p.Period}}</option>
                  </select>
                  <!-- Billing Dates Select Drop Down END -->
               </div>
               <div class="col-sm-9">
                  <div class="row">
                     <!--  Filter by type START   -->
                     <div class="col-sm-6">
                        <div class="type-filter-container">
                           <label for="filterByType">
                              <span class="select-text">
                                 Type of Transaction
                              </span>
                           </label>

                           <select [(ngModel)]="filterByType" (change)="onTypeChange()" name="filterByType">
                              <option value="-1" selected="selected">All  </option>
                              <option value="5"> Withdrawals</option>
                              <option value="6"> Contributions</option>
                              <option value="4"> Adjustments</option>
                           </select>
                        </div>
                     </div>
                     <!--  Filter by type START   -->
                     <div class="col-sm-6">
                        <div class="search-container ng-scope">
                           <label for="selectBillingDates">
                           <span class="select-text"> &nbsp;</span>
                           </label>
                           <div class="input-group">
                              <input id="searchString" type="text" class="form-control" [(ngModel)]="searchString" (ngModelChange)="searchEmpety()" placeholder="Search for description..." type="text" (keyup.enter)="getTransaction()" >
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12" id="transactions" #transactions>
                 <div class="panel panel-default">
                    <div class="transactions__tab pending-tab">
                      <a id="upcoming_trns" class="transactions__tab__heading" (click)="isPending =!isPending">
                          Transactions <span class="pull-right"  [ngClass]="isPending == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span>
                       </a>
                       <div [ngClass]="isPending == true ? 'show': 'hide'" class="table-responsive no-mob-border">

                          <!-- infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="getTransaction()" [scrollWindow]="true" -->
                         <table class="table" >
                             <thead>
                               <tr style="background-color:#eee;">
                                 <th>Transaction Date</th>
                                  <!-- <th>ID</th> -->
                                  <th>Description</th>
                                  <th (click)="sort('TypeId')">Type <i class="fa fa-fw fa-sort"></i></th>
                                  <th>Status</th>
                                  <th (click)="sort('Amount')"> Withdrawals/Claims <i class="fa fa-fw fa-sort"></i></th>
                                  <th>Contributions</th>
                               </tr>
                             </thead>
                             <tbody>

                               <tr *ngFor="let utrans of  currentTransaction | orderBy:sortingName:isDesc;">
                                 <td>{{utrans.TransactionDate | mydate}}</td>
                                  <td>{{utrans.Description}}</td>
                                  <td>{{utrans.TypeId}}</td>
                                  <td>
                                      <span *ngIf="utrans.PaymentStatus == 0"> Pending  </span>
                                      <span *ngIf="utrans.PaymentStatus == 1"> Over Due  </span>
                                      <span *ngIf="utrans.PaymentStatus == 2"> Partial Paid  </span>
                                      <span *ngIf="utrans.PaymentStatus == 3"> Deposited  </span>
                                 </td>
                                 <td>
                                   <span *ngIf="utrans.ContributionType == 'WDR' || utrans.ContributionType == 'ADJ' ">${{utrans.Amount | number : '1.2-2'}}</span>
                                   <!-- <span *ngIf="utrans.ContributionType != 'WDR' &&  utrans.ContributionType == 'ADJ' ">-</span> -->
                                 </td>
                                 <td>
                                   <span *ngIf="utrans.ContributionType != 'WDR' && utrans.ContributionType != 'ADJ'">${{utrans.Amount | number : '1.2-2'}}</span>
                                    <!-- <span *ngIf="utrans.ContributionType == 'WDR' || utrans.ContributionType == 'ADJ'">-</span> -->
                                   <!-- ${{utrans.Amount | number : '1.2-2'}} -->
                                 </td>

                               </tr>
                             </tbody>
                          </table>
                          <span *ngIf="currentTransaction == ''" style="padding:10px; padding-bottom: 10px; float: left; color:red;">
                            No transactions
                          </span>
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-md-12" *ngIf="currentTransaction !=''">
                 <div class="pull-right">
                    <!-- <button class="btn btn-default">Download PDF</button> -->
                    <button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
