#account-details-shown h1 {
  margin-bottom: 5px;
  font-weight: 200;
  padding: 10px 0px; }

#account-details-shown-container {
  min-height: 130px; }
  @media only screen and (max-width: 767px) {
    #account-details-shown-container {
      min-height: 100px; } }

.activityBanner {
  background-image: url("https://canadiantire.scene7.com/is/image/CanadianTire/triangle_activity_background?scl=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding: 15px 0px 0px 0px; }
  @media only screen and (max-width: 767px) {
    .activityBanner {
      background-image: url("https://canadiantire.scene7.com/is/image/CanadianTire/summary_header_bg_image_mobile_640x460?scl=1");
      background-size: cover; } }

.rewardsValueADO {
  font-family: Lato;
  font-size: 3em;
  font-weight: 700; }

.rewardsTextADO {
  font-weight: 600;
  font-size: 1.25em;
  font-family: Lato; }
  .rewardsTextADO img {
    padding-right: 5px; }

.accountTextADO {
  font-size: 1.25em;
  font-family: Lato; }

.columnADO {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.tableADO {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.hideLabel {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

@media only screen and (max-width: 767px) {
  .mobileUnderline {
    border-bottom: 1px solid #dedfe0; } }

@media only screen and (max-width: 767px) {
  .mobileSpacing {
    padding-top: 15px;
    padding-bottom: 15px; } }

.noMarBot {
  margin-bottom: 0px !important; }

.account-details-bg {
  width: 100%; }

.heading-center {
  text-align: center !important; }

.ct-money-text {
  padding: 10px 0px 0px 10px;
  text-align: left; }
