.row-divider-right{
  border-right: 0px solid
}
.badge_count{
    position: absolute;
    margin-left: 18px;
    font-size: 13px;
    border-radius: 50%;
    background: red;
    padding: 4px;
}

.navigation__menu > .active {
    font-weight: 900;
    border-bottom: 2px solid #fa9619
;
}
button:focus {
    outline: 0px solid !important;
    outline-color: #fff;
}
.navbuttons > .active{
  background: #fa9619
;
}
