

<div>
   <header class="header" role="header">
      <div class="secureHeaderPlaceholder iparsys parsys">
         <div class="section">
            <div class="new"></div>
         </div>
         <div class="iparys_inherited">
            <div class="secureHeaderPlaceholder iparsys parsys">
               <div class="glb-secure-header-top parbase section">
                  <header header-manager="" class="header">
                     <a id="top"></a>
                     <div class="skipNav"></div>
                     <div class="header__wrap">
                        <div id="header__menu">
                           <div class="hamburger-menu__container slideSideAnimationHamburger slidLeftHamburger" style="" (click)="toggleMenu()">
                              <h2 class="hamburger-menu--message body-copy--large" tabindex="-1">
                                 Main Menu <!-- MESSAGE: Main Menu -->
                              </h2>
                              <button type="button" id="hamMenu" class="hamburger-menu" aria-label="menu" aria-expanded="false" aria-controls="refHamMenu" hamburger-manager="#header__container--nav" hamburger-nav-anim-class="slidLeft" hamburger-container-anim-class="slidLeftHamburger" hamburger-container-anim-element=".hamburger-menu__container">
                                 <span class="sr-only">Toggle navigation</span>
                                 <div class="hamburger-menu__bar" data-ng-class="{'hamburger-menu__bar--opened' : mobileMenuToggle}" style=""></div>
                              </button>
                           </div>
                           <div class="logo glb-logo parbase">
                              <style>
                                 .header__image--logo{
                                 top: 0.225rem;
                                 background-image: url('./assets/images/EclipseLogo.png');
                                 background-position: 0rem;
                                 background-repeat: no-repeat;
                                 width: 215px;
                                 height: 70px;
                                 }
                                 @media only screen and (-webkit-min-device-pixel-ratio: 2),
                                 only screen and (min--moz-device-pixel-ratio: 2),
                                 only screen and (-o-min-device-pixel-ratio: 2/1),
                                 only screen and (min-device-pixel-ratio: 2),
                                 only screen and (min-resolution: 192dpi),
                                 only screen and (min-resolution: 2dppx) {
                                 .header__image--logo{
                                 background-image: url('./assets/images/EclipseLogo.png');
                                 background-size: 60%;
                                 margin-left: 0px;
                                 }
                                 }
                                 @media only screen and (max-width: 899.999px){
                                 .header__image--logo{
                                 margin: auto;
                                 }
                                 }
                              </style>
                              <button class="header__image--logo confirm-changes-modal-link" routerLink="./summary">
                              </button>
                           </div>
                           <div id="header__menu--inbox-container">
                              <style>
                                 .notificationButtonFocusIndicator:focus{
                                 outline-color: black !important;
                                 border-color: black !important;
                                 }
                              </style>
                           </div>
                        </div>
                        <nav id="header__container--nav" [ngClass]="toggleMenuClass == true ? 'hide-on-desktop': 'hide-on-mobile'" class="slideSideAnimationNav"  role="navigation" tabindex="-1" (mouseleave)="hideSideBar()">
                           <ul id="refHamMenu" class="header__menu--list" role="menu">
                              <li id="header__menu--main-nav">
                                 <div class="navlinks glb-navigation parbase">
                                    <div main-nav="en" id="main-navigation-links" class="navigation hideOutline" tabindex="-1">
                                       <ul class="navigation__menu navigation__ul--main">
                                         <li class="navigation__item--main-menu" routerLinkActive="active">
                                            <button id="analytics" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./analytics">Home</button>
                                         </li>
                                          <li routerLinkActive="active" class="navigation__item--main-menu
                                             ">
                                             <button id="Summary" class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./summary">Summary</button>
                                          </li>
                                          <li routerLinkActive="active" class="navigation__item--main-menu
                                             ">
                                             <button id="Activity" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./activity">Activity</button>
                                          </li>
                                          <li routerLinkActive="active" class="navigation__item--main-menu
                                             ">
                                             <button id="" class="navigation__link confirm-changes-modal-link body-copy--large" routerLink="./employees">Members</button>
                                          </li>
                                          <li routerLinkActive="active" class="navigation__item--main-menu
                                             ">
                                             <button id="Settings" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./settings">Settings</button>
                                          </li>
                                          <li routerLinkActive="active" class="navigation__item--main-menu
                                             ">
                                             <button id="faq" class="navigation__link confirm-changes-modal-link body-copy--large"  routerLink="./general-faq">FAQ's</button>
                                          </li>

                                      </ul>
                                    </div>
                                 </div>
                              </li>
                              <li id="header__menu--logout">
                                 <button type="button" class="header-secured__log-out button log-out logoutButtonFocusIndicator" (click)="logOut()">
                                    <span default-text="Logout" loading-text="Loading" class="ng-isolate-scope">
                                       <span class="ng-binding" aria-hidden="false">Logout</span>

                                    </span>
                                 </button>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </header>
               </div>
            </div>
         </div>
      </div>
      <div class="secureSubheaderPlaceholder iparsys parsys">
         <div class="section">
            <div class="new"></div>
         </div>
         <div class="iparys_inherited">
            <div class="secureSubheaderPlaceholder iparsys parsys">
               <!--    col-lg-5 col-lg-offset-1-->
               <section class="sub-header">
                  <div class="container-fluid dark-bg padLeftRight0">
                     <div class="row marLeftRight0 sub-header-wrap">
                        <div class="card-container row-divider-right col-lg-6 col-sm-6 col-xs-12">
                           <div id="cardDropdown">
                              <div class="dropdown card-selector productCode-OMC" style="position: relative;">
                                 <div [ngClass]="isSwitchToogle == true ? 'open':''" style="position: relative;">
                                    <button class="btn btn-default dropdown-toggle btn-dropdown">
                                       <div class="cardSelectorText cdd">
                                          <div class="cardTitle ng-binding">Welcome Back,  {{userName}}</div>
                                          <div class="cardNum ng-binding">
                                             <span class="ng-binding">{{companyCode}}</span>
                                          </div>
                                       </div>
                                       <!-- <div class="caret" (click)="setToggle()"></div> -->
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                      <li>
                                          <a role="menuitem">
                                              <!-- <div class="cardSelectorImg">
                                                  <img class="small-icon" ng-src="https://canadiantire.scene7.com/is/image/CanadianTire/settings-requestcard-icon_03?scl=1&amp;fmt=png-alpha" alt="" src="https://canadiantire.scene7.com/is/image/CanadianTire/settings-requestcard-icon_03?scl=1&amp;fmt=png-alpha">
                                              </div> -->
                                              <div class="cardSelectorText cdd_list marTop10">
                                                  <div class="cardTitle">Switch to Employee Account </div>
                                              </div>
                                          </a>
                                        </li><!-- end ngIf: cardDropdownCtrl.canAddCard -->
                                    </ul>
                                 </div>
                                 <!-- End loading overlay -->
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 activity-bar__container--right">
                           <div class="row marLeftRight0" role="option">
                              <div class="navbuttons parsys">
                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <!-- begin navbutton -->
                                    <div class="navButton" role="option">
                                       <button class="activityBarFocusindicator button-header" routerLink="./notifications">
                                          <div class="">
                                             <span>
                                             <span class="badge_count" *ngIf="UnreadNotificationCount > 0"> {{UnreadNotificationCount}}</span>
                                             <img class="img-desktop" src="assets/images/notify_icon.png">
                                             <img class="img-mobile" src="assets/images/notify_icon.png">
                                             </span>
                                             <!-- all links except Optional Products -->
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   Notifications
                                                </div>
                                             </div>
                                             <!-- End loading overlay -->
                                          </div>
                                       </button>
                                       <!-- End button header -->
                                    </div>
                                    <!-- end navbutton -->
                                 </div>
                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <!-- begin navbutton -->
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./e-statements">
                                          <!-- Begin button header -->
                                          <!-- title needs to be "enrolled" or "not enrolled" -->
                                          <div class="">
                                             <span>
                                             <img class="img-desktop" src="assets/images/estatements_icon.png">
                                             <img class="img-mobile" src="assets/images/estatements_icon.png">
                                             </span>
                                             <!-- all links except Optional Products -->
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   eStatements
                                                </div>
                                             </div>
                                             <!-- End loading overlay -->
                                          </div>
                                       </button>
                                       <!-- End button header -->
                                    </div>
                                    <!-- end navbutton -->
                                 </div>
                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <!-- begin navbutton -->
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header" routerLink="./messages">
                                          <div class="">
                                             <span>
                                             <span class="badge_count" *ngIf="MessageCount > 0"> {{MessageCount}}</span>
                                             <img class="img-desktop" src="assets/images/envelope.png" style="width:50px" alt="messages">
                                             <img class="img-mobile" src="assets/images/envelope.png" style="width:50px" alt="messages">
                                             </span>
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   Help
                                                </div>
                                             </div>
                                             <!-- End loading overlay -->
                                          </div>
                                       </button>
                                       <!-- End button header -->
                                    </div>
                                    <!-- end navbutton -->
                                 </div>
                                 <div class="glb-secure-nav-button parbase section" routerLinkActive="active">
                                    <!-- begin navbutton -->
                                    <div class="navButton">
                                       <button class="activityBarFocusindicator button-header confirm-changes-modal-link" routerLink="./offers">
                                          <!-- Begin button header -->
                                          <!-- title needs to be "enrolled" or "not enrolled" -->
                                          <div class="" blur-loader="navButtonCtrl.showLoadingOverlay">
                                             <span>
                                             <img class="img-desktop" src="assets/images/offer_icon.png">
                                             <img class="img-mobile" src="assets/images/offer_icon.png">
                                             </span>
                                             <!-- all links except Optional Products -->
                                             <div class="indicator">
                                                <div class="nav-button-text">
                                                   Offers
                                                </div>
                                             </div>
                                             <!-- End loading overlay -->
                                          </div>
                                       </button>
                                       <!-- End button header -->
                                    </div>
                                    <!-- end navbutton -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </header>
   <!-- End hide until angular init -->
</div>
