<div class=""  style="min-height:500px">
  <div class="plan-review">
    <div class="tab-pane fade in active">
        <h4 class="head text-center">Plan Type</h4>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="mb-5 mb-lg-0">
                <div class="card-body">
                    <div class="claim-button-outer">

                        <button  type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: #fa9619; border-radius:15px; margin:15px; width:300px"  (click)="setAccountType(1)" title="Click Here">Funded</button>
                        <button  type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: rgb(43, 62, 79); border-radius:15px; margin:15px; width:300px"  (click)="setAccountType(2)" title="Click Here">UnFunded</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
