<div class=""  style="min-height:500px">
  <div class="plan-review">
  <div class="tab-pane fade in active">
      <h4 class="head text-center">Plan Review</h4>
    </div>
    <!-- <div class="col-md-12" style="padding:20px" *ngIf="!paymentData"> -->
      <div class='col-xs-12 col-lg-offset-1 col-lg-10' id="plan-review" *ngIf="paymentData">
        <!-- <h4 style="border-bottom: 2px solid #2b3e50; color: #000; font-size: 21px;">Plan Review</h4> -->
        <div class="row">
        <div class="col-xs-12 col-sm-6" *ngFor="let plan of paymentData">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:18px; font-weight: bold"> {{plan.PlanName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1 style="margin-bottom:5px; overflow:initial">
                          $ {{plan.PlanGrossRecurring + plan.PlanGrossInitial | number : '1.2-2'}}
                          <span style="font-size:24px; text-align:right">/1st month</span>
                          <!-- <span class="subscript"><small> /1st month </small></span> -->
                        </h1>
                        <!-- <small>1 month FREE trial</small> -->
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                              <span style="font-size:18px;">  No. of employees </span>
                            </td>
                            <td>
                                <span style="font-size:18px; font-weight:bold">{{plan.NoOfEmployees}}</span>
                            </td>
                        </tr>
                        <!-- <tr class="active">
                          <td> Initial Deposit  </td>
                          <td>
                              {{plan.PlanGrossInitial | number : '1.2-2'}}
                          </td>
                        </tr>

                        <tr class="">
                          <td>
                              Recurring deposits
                          </td>
                          <td>
                              {{plan.PlanGrossRecurring | number : '1.2-2'}}
                          </td>
                        </tr> -->
                        <tr class="active">
                          <td>
                             <span style="font-size:18px;"> Totals for initial deposit & recurring deposit </span>
                          </td>
                          <td>
                              <span style="font-size:18px; font-weight:bold">
                                ${{plan.PlanGrossInitial + plan.PlanGrossRecurring | number : '1.2-2'}}
                              </span>
                          </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <!-- <h4 class="col-md-6">Net Gross Initial : $ {{NetGrossInitial | number : '1.2-2'}}</h4>
        <h4 class="col-md-6">Net Gross Recurring : $ {{NetGrossRecurring | number : '1.2-2'}}</h4> -->
        <h4 class="col-sm-6">Total Due at Plan Start : $ {{TotalDueAmount | number : '1.2-2'}}</h4>
        <br>
        <div class="col-sm-6">
        <div class="form-group" >
          <label>When would you like to pull the amount from your account?</label>
           <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
            [(ngModel)]="paymentDate"  placeholder="MM/dd/yyyy" [disabled]="disabled"></my-date-picker>
         </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-12" *ngIf="paymentData">
    <div class="form-group text-center">
        <!-- <button class="btn btn-success btn-outline-rounded btn-info default-theme-next"> Submit</button> -->
        <button type="button"  class="dash-button dash-button--affirm loginFocusIndicator"
         style="margin-bottom:10px" (click)="updatePaymenDate()">
           <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
              <span *ngIf="!loading"  class="ng-binding" aria-hidden="false">
                  Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
              </span>
              <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
              <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                 <span class="button-loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                 </span>
              </span>
           </span>
        </button>
        <br>
      </div>
    </div>
    <div class="custom-clear"></div>
  </div>
</div>
<!-- <form #workForm="ngForm" class="editForm" novalidate>
    <div class="form-horizontal">
        <div class="tab-pane fade in active">
            <h4 class="head text-center">{{title}}

              <i id="lgn-tooltip" class="dash-tooltip" style="width:27%; position:absolute; top: 3rem;" tabindex="0" aria-describedby="ttlgn">
                 <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                    <div class="hiddenAODA">
                       Tooltip
                    </div>
                    Is this an individual plan or a group plan ( 20 or more people)
                 </span>
              </i>

            </h4>

            <br/>
            <div class='row'>
                <div class='col-xs-offset-4 col-xs-10 col-sm-offset-5 col-sm-4'>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Personal">
                                Personal
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" #work="ngModel" required name="work" [(ngModel)]="workType" value="Group">
                                Group
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-center space-20">
                <button class="btn btn-outline-rounded default-theme-previous" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;" class="fa fa-angle-left"></span> Previous</button>
                <button *ngIf="!isLoading"  class="btn btn-outline-rounded default-theme-next" [disabled]="!workForm.valid" (click)="goToNext(workForm)"> Next
                  <span style="margin-left:10px;" class="fa fa-angle-right"></span>
                </button>
                <button *ngIf="isLoading"  class="btn btn-outline-rounded default-theme-next" type="button">
                  <span class="">Please wait</span>
                  <span aria-hidden="true">
                     <span class="button-loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                        <div class="bounce3"></div>
                        <div class="bounce3"></div>
                     </span>
                  </span>
                </button>
            </div>
        </div>
    </div>
</form> -->
