

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="page-background">
         <div class="site-content">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xs-12">
                     <h1 class="profile__h1 border--bottom">
                        New Claim
                     </h1>
                     <p>We don't require original receipts but you can send them via mail, fax or email and we will file the receipts with your claim. Please reference the claim number provided when you save the claim. Remember if you do not send your receipts, it is your responsibility to keep original receipts and other claim documentation in your files as you may be required to show proof of the expense should Blendable Inc or Canada Revenue Agency conduct a review. Blendable will periodically require you to submit physical claim receipts for review.</p>
                  </div>
                  <div id="myStepWizard">
                     <div class="wrapper">
                        <div class="mycontainer" >
                           <div class="wrapper1 fadeInDown">
                              <div id="formContent">
                                 <div class="row">
                                    <div class="backlink pull-left" *ngIf="step!=2">
                                       <a (click)="goToPrevStep(step)">Back</a>
                                    </div>
                                    <div class="skiplink pull-right" *ngIf="step!=5">
                                       <a (click)="goToNextStep(step)">Next</a>
                                    </div>
                                    <div class="skiplink pull-right" *ngIf="step==5">
                                       <!-- <a (click)="goToStep(4)">Skip and Finish</a> -->
                                       <a (click)="saveClaimsToLocal(addClaimForm)">Submit and Add New</a>
                                    </div>
                                 </div>

                                 <form  [formGroup]="addClaimForm" (ngSubmit)="saveClaimDetail(addClaimForm)">
                                     <div  class="myContent" *ngIf="step==2">
                                        <div class="row">
                                           <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                                              <div class="">
                                                 <h3 class="text-center " style="margin-top:30px"><span></span><br/></h3>
                                              </div>
                                              <div class="text-center">
                                                 <div class="form-group row">
                                                    <label class=" col-sm-12">Claim Type</label>
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                       <select  required name="Claim type" class="form-control" formControlName="ClaimTypeId" name="ClaimTypeId">
                                                         <option value="" selected="selected">-Select-</option>
                                                         <option *ngFor="let c of claimTypes;" value="{{c.ClaimTypeId}}">{{c.ClaimType}}</option>
                                                         <option value="-1">Other</option>
                                                       </select>
                                                    </div>
                                                 </div>
                                                 <div class="form-group row" *ngIf="addClaimForm.controls['ClaimTypeId'].value == '-1'" >
                                                    <label class=" col-sm-12">Other Claim Type Name</label>
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                       <input type="text"  formControlName="OtherClaimType" name="OtherClaimType" placeholder="OtherClaimType Provider">
                                                    </div>
                                                 </div>
                                                 <div class="form-group row">
                                                    <label class=" col-sm-12">Service Provider</label>
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                       <input type="text"  formControlName="ServiceProvider" name="ServiceProvider" placeholder="Service Provider">
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="myContent" *ngIf="step==3" style="display:none">
                                        <div class="row" style="margin-top:25px">
                                           <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                                              <div class="container-fluid">
                                                 <div class="row" style="margin-top:5px">
                                                    <div class="text-center">
                                                       <div class="form-group row">
                                                          <label class="col-sm-12">Receipt Date</label>
                                                          <div class="col-sm-10 col-sm-offset-1">
                                                             <!-- <input type="text" class="text-center" id="member"> -->
                                                             <my-date-picker formControlName="ReceiptDate" name="ReceiptDate" [options]="myDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
                                                           </div>
                                                          </div>
                                                       </div>
                                                       <div class="form-group row">
                                                          <label class=" col-sm-12">Receipt#</label>
                                                          <div class="col-sm-10 col-sm-offset-1">
                                                             <input type="text" class="text-center" formControlName="ReceiptNo" name="ReceiptNo" id="ReceiptNo">
                                                          </div>
                                                       </div>
                                                       <div class="form-group row">
                                                          <!-- <label class=" col-sm-12">Upload Receipt#</label> -->
                                                          <div class="col-sm-10 col-sm-offset-1">
                                                             <!-- <i class="fa fa-paperclip attachment"  (click)="file.click()" aria-hidden="true"></i> -->
                                                             <img src="assets/images/file.png" width="100"  (click)="file.click()" title="upload receipt">
                                                             <input type="file" (change)="uploadFile($event)" style="display: none" id="profile_pic" #file  />
                                                             <!-- (change)="uploadFile($event)" -->
                                                              <br>
                                                              Uplaod Receipt File
                                                              <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                                                              <br>
                                                              <div *ngIf="fileName"  style="margin-left:5px; padding-bottom:35px">
                                                                  <a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank"><br>View Uploaded Receipt<br>  </a>
                                                              </div>
                                                                <br>
                                                              <br>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                     </div>

                                     <div class="myContent" *ngIf="step==4">
                                        <div class="row" style="margin-top:25px">
                                           <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                                              <!-- <h4 class="" style="padding-top:20px;">Didn’t we tell you we will make it quick. This is the last step…</h4> -->
                                              <div class="container-fluid">
                                                 <div class="row" style="margin-top:30px">
                                                    <div class="text-center">
                                                          <div class="form-group row">
                                                             <label class="col-sm-12">Amount</label>
                                                             <div class="col-sm-12 col-sm-offset-0">
                                                                <input type="text" class="form-control"  (keypress)="_keyPress($event)"  formControlName="Amount" name="Amount" id="Amount">
                                                             </div>
                                                          </div>
                                                          <div class="form-group row">
                                                             <label class=" col-sm-12">Claimed</label>
                                                             <div class="col-sm-12 col-sm-offset-0">
                                                                <input type="text" class="form-control"  (keypress)="_keyPress($event)" formControlName="ClaimAmt" name="ClaimAmt" id="ClaimAmt">
                                                             </div>
                                                          </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>

                                     <div class="myContent" *ngIf="step==5">
                                        <div class="row" style="margin-top:25px">
                                           <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                                              <!-- <h4 class="" style="padding-top:20px;">Didn’t we tell you we will make it quick. This is the last step…</h4> -->
                                              <div class="container-fluid">
                                                 <div class="row" style="margin-top:30px">
                                                    <div class="text-center">
                                                       <div class="form-group row">
                                                          <label class=" col-sm-12">Select Dependant</label>
                                                          <div class="col-sm-12 col-sm-offset-0">
                                                             <select class="text-center" formControlName="DependantId" name="DependantId" id="DependantId">
                                                                <option value="">-Select Dependant-</option>
                                                                <option value="-1">Myself </option>
                                                                <option *ngFor="let d of dependntsList;" value="{{d.DependantId}}">{{d.FirstName}} {{d.LastName}}</option>
                                                             </select>
                                                          </div>
                                                       </div>
                                                       <div class="form-group row">
                                                          <label class=" col-sm-12">Note</label>
                                                          <div class="col-sm-12 col-sm-offset-0">
                                                             <textarea class="form-control" formControlName="Note" name="Note" id="Note"></textarea>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <p style="text-align:justify">In order for eflex to adjudicate efficiently please complete all fields and upload a copy of each receipt submitted.
                                                      It takes 5-7 business days to reimburse the total claim amount back to your personal account.
                                                      Each electronic claim reimbursement will have a $2.75 bank fee charged to your eElex account.
                                                      We suggest you batch multiple claims to minimize this fee.<p>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>

                                     <div id="formFooter" style="height:75px">
                                        <!-- *ngIf="step<4 && selectedThemes.length == 3" -->
                                        <button type="button"  *ngIf="step<5" name="button" class="dash-button dash-button--affirm loginFocusIndicator"  (click)="goToNextStep(step)" style="margin-top:2px">Next</button>
                                        <button type="submit" name="button" [disabled]="!addClaimForm.valid"  class="dash-button dash-button--affirm loginFocusIndicator" *ngIf="step==5" (click)="submitClaim()" style="margin-top:2px">Submit</button>
                                     </div>
                               </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>



  <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="claimsReview ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" (click)="claimsReview = false;">&times;</button>
             <span class="modal-title">Review Claims</span>
          </div>

            <div class="modal-body">
              <div>
                <div class="panel panel-default"  *ngFor="let data of myClaims; let i=index; let odd=odd; let even=even;">
                  <div class="panel-heading">Claim - {{i+1}}</div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Claim Type</label>
                    <input type="text" [(ngModel)]="data.ClaimTypeId" />
                  </div>
                </div>

                  <div class="col-md-3">
                  <div class="form-group">
                    <label>Service Provider</label>
                    <input type="text" [(ngModel)]="data.ServiceProvider" />
                  </div>
                  </div>
                    <div class="col-md-3">
                  <div class="form-group">
                    <label>Receipt Date</label>
                    <input type="text" [(ngModel)]="data.ReceiptDate" />
                  </div>
                </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label>Receipt No</label>
                    <input type="text" [(ngModel)]="data.ReceiptNo" />
                  </div>
                </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label>Amount</label>
                    <input type="text" [(ngModel)]="data.Amount" />
                  </div>
                </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label>Claim Amt</label>
                    <input type="text" [(ngModel)]="data.ClaimAmt" />
                  </div>
                </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label>Dependant</label>
                    <input type="text" [(ngModel)]="data.DependantId" />
                  </div>
                </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label>Note</label>
                    <input type="text" [(ngModel)]="data.Note" />
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-6" style="display:none">
                 <table class="table">
                    <thead>
                       <tr>
                          <th>#</th>
                          <th>Claim Type</th>
                          <th>Service Provider</th>
                          <th>Receipt Date</th>
                          <th>Receipt No</th>
                          <th>Amount</th>
                          <th>Claim Amount</th>
                          <th>Dependant</th>
                          <th>Note</th>
                          <th>Action</th>
                       </tr>
                    </thead>
                    <tbody>
                      <tr class="" *ngFor="let data of myClaims; let i=index; let odd=odd; let even=even;"  [ngClass]=" odd == true ? 'table-success': 'table-active'">
                         <td>{{i+1}}</td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.ClaimTypeId}}</span>
                           <span *ngIf="data.isEditable">
                             <input type="text" [(ngModel)]="data.ClaimTypeId" />
                           </span>
                         </td>
                         <td>
                             <span *ngIf="!data.isEditable">{{data.ServiceProvider}}</span>
                             <span *ngIf="data.isEditable">
                                <input type="text"   [(ngModel)]="data.ServiceProvider" style="width:100px"/>
                              </span>
                         </td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.ReceiptDate}}</span>
                           <span *ngIf="data.isEditable"> <input type="text"   [(ngModel)]="data.ReceiptDate" style="width:100px"/></span>
                         </td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.ReceiptNo}}</span>
                           <span *ngIf="data.isEditable"> <input type="text"  [(ngModel)]="data.ReceiptNo" style="width:100px"/></span>
                         </td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.Amount}}</span>
                           <span *ngIf="data.isEditable"> <input type="text" OnlyNumber="true" [(ngModel)]="data.Amount" style="width:100px"/></span>
                         </td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.ClaimAmt}}</span>
                           <span *ngIf="data.isEditable"> <input type="text" OnlyNumber="true" [(ngModel)]="data.ClaimAmt" style="width:100px"/></span>
                         </td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.DependantId}}</span>
                           <span *ngIf="data.isEditable"> <input type="text" OnlyNumber="true" [(ngModel)]="data.DependantId" style="width:100px"/></span>
                         </td>
                         <td>
                           <span *ngIf="!data.isEditable">{{data.Note}}</span>
                           <span *ngIf="data.isEditable"> <input type="text" OnlyNumber="true" [(ngModel)]="data.Note" style="width:100px"/></span>
                         </td>
                         <td>
                           <button type="button" (click)="data.isEditable=!data.isEditable" *ngIf="!data.isEditable" class="btn btn-sm btn-inverse-primary" title="Detail">
                           <i class="fa fa-pencil"></i>
                           </button>
                           <button type="button"  *ngIf="data.isEditable" (click)="saveDateil(data)" class="btn btn-sm btn-inverse-success" title="Update">
                           <i class="fa fa-check"></i>
                           </button>
                         </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
           <div class="modal-footer">
             <button type="button" data-dismiss="modal" class="btn btn-default" (click)="claimsReview = false;">Submit for Review</button>
           </div>

       </div>
    </div>
  </div>
