<main role="main" id="content">
    <div class="bannerIParsys iparsys parsys">
        <div class="page-background">
            <div class="site-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 1">
                                How would you like to submit the claim ?
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 2">
                                {{selectedCalimType == 1 ? 'How much are you loading ? ': 'How much are you claiming ?' }}
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 3">
                                {{selectedCalimType == 1 ? 'Where are you planning to spend ?' : ' Where did you spend ?'}}
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 4">
                                Select a service
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 5">
                                Select a service provider
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 6">
                                Provide Receipt Detail
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 7">
                                Who will be using it ?
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 8">
                                Select Your Dependant
                            </h1>
                            <h1 class="profile__h1 border--bottom" *ngIf="step == 9">
                                Anything else you want to add ?
                            </h1>
                        </div>
                        <form  [formGroup]="addClaimForm" style="clear:both;">
                            <div id="myStepWizard">
                                <section class="pricing py-5 custom-submit-claim" *ngIf="step==1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12">
                                                <div class="mb-5 mb-lg-0">
                                                    <div class="card-body">
                                                        <div class="claim-button-outer">
                                                            <button *ngIf="isCardSuspended == false && isCardActive == true" type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: #fa9619; border-radius:15px; margin:15px; width:300px"  (click)="setClaimType(1)" title="Click Here">Load Card</button>
                                                            <button *ngIf="isCardSuspended == true && isCardActive == false" (click)="loadCardHover()" type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator disabled"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: #fa9619; border-radius:15px; margin:15px; width:300px" title="Click Here">Load Card</button>
                                                            <button type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: rgb(43, 62, 79); border-radius:15px; margin:15px; width:300px"  (click)="setClaimType(2)" title="Click Here">Manual Claim</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="wrapper">
                                    <div class="mycontainer"  *ngIf="step==2">
                                        <div class="wrapper1 fadeInDown">
                                            <div id="formContent">
                                                <section class="pricing py-5">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="mb-5 mb-lg-0">
                                                                    <div class="card-body">
                                                                        <div>
                                                                            <h5 class="head5">Total Amount (Including taxes) <span class="req">*</span></h5>
                                                                            <!-- <input type="text" class="form-control" maxlength="availableBalance"  (keypress)="_keyPress($event)" formControlName="Amount" name="Amount"> -->
                                                                            <input type="text" class="form-control" maxlength="availableBalance"  twoDecimalPlaces formControlName="Amount" name="Amount">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div id="formFooter">
                                                                <button type="button" *ngIf="!isLoading"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
                                                                <button type="button" *ngIf="step< 8 && selectedCalimType == 2" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px">Next <i class="fa fa-arrow-right"></i> </button>
                                                                <button type="submit" *ngIf="!isLoading && selectedCalimType == 1" name="button" [disabled]="!addClaimForm.valid"  class="dash-button dash-button--affirm" (click)="saveClaimDetail()" style="margin-top:2px">Submit</button>
                                                                <button *ngIf="isLoading && selectedCalimType == 1" [disabled]="true" type="button" data-dismiss="modal" class="dash-button dash-button--affirm">
                                                                Please wait
                                                                <span class="button-loading">
                                                                    <div class="bounce1"></div>
                                                                    <div class="bounce2"></div>
                                                                    <div class="bounce3"></div>
                                                                </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <section class="pricing py-5" *ngIf="step==3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12">
                                                <div class="mb-5 mb-lg-0">
                                                    <div class="card-body">
                                                        <div  class="claim-button-outer">
                                                            <button  type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: #fa9619; border-radius:15px; margin:15px" (click)="setPlanWhereSpend(1)">
                                                            medical health
                                                            </button>
                                                            <button  type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator hvr-grow"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px;  background-color: rgb(196, 192, 192); border-radius:15px; margin:15px" (click)="setPlanWhereSpend(2)">dental</button>
                                                            <button *ngIf="planDesign==2" type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator hvr-grow"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px;  background-color: hsl(100, 43%, 34%); border-radius:15px; margin:15px" (click)="setPlanWhereSpend(3)">wellness</button>
                                                            <button type="button" name="button" class="dash-button dash-button--affirm loginFocusIndicator hvr-grow"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: rgb(43, 62, 80); border-radius:15px; margin:15px" (click)="setPlanWhereSpend(4)">Others</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div id="formFooter" style="text-align:center">
                                            <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
                                            <!-- <button type="button"  *ngIf="step<6" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px">Next <i class="fa fa-arrow-right"></i> </button> -->
                                        </div>
                                    </div>
                                </section>
                                <div class="wrapper">
                                    <div class="mycontainer"  *ngIf="step==4">
                                        <div class="wrapper1 fadeInDown">
                                            <div id="formContent">
                                                <section class="pricing-1 py-5">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="custom-add-search">
                                                                <div  class="left-blk">
                                                                    <div class="input-group">
                                                                        <input class="form-control pull-right"[(ngModel)] = "searchServiceText"  [ngModelOptions]="{standalone: true}"   name="searchServiceText"  type="text"  (keyup.enter)="searchServicesByText()">
                                                                        <span class="" id="btn-addon2">
                                                                        <button class="btn btn-warning" type="button" (click)="searchServicesByText()" style="padding: 8px;display: block;background: #fa9619;color: #fff;">Search</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="rgt-blk">
                                                                    <button class="btn btn-success" (click)="otherServiceType(step)" name="button" style="float: right;margin-top:2px;display: block;background: #fa9619;border: 1px solid;" type="button"> <i class="fa fa-plus"></i> Add Other</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-xs-12">
                                                                <div class="mb-5 mb-lg-0" style="min-height:300px; overflow:auto;">
                                                                    <div class="card-body">
                                                                        <div style="height: 300px;overflow: auto;">
                                                                            <ul id="myUL">
                                                                                <ng-container  *ngFor="let data of serviceData | filterService: searchServiceText">
                                                                                    <li (click)="setServiceType(data.ServiceId, data.Title)">
                                                                                        <a href="javascript:void(0)"  [ngClass]="data.ServiceId == selectedServiceTypeId ? 'active-service' : '' ">{{data.Title}} <i *ngIf="data.ServiceId == selectedServiceTypeId" class="pull-right fa fa-check"></i></a>
                                                                                    </li>
                                                                                </ng-container>
                                                                                <li *ngIf="isServiceDataCall">
                                                                                    <i class="fa fa-spinner fa-2x fa-spin"></i><br>Loading..
                                                                                </li>
                                                                                <li *ngIf="noServiceData">No services found!</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div id="formFooter" style="padding: 0px 23px 13px 30px;">
                                                                        <button type="button"  name="button" class="dash-button dash-button--affirm"  (click)="otherServiceType(step)" style="margin-top:2px"> <i class="fa fa-plus"></i> Add Other</button>
                                                                        </div> -->
                                                                </div>
                                                            </div>
                                                            <!-- Pro Tier -->
                                                            <div class="col-lg-3">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div id="formFooter">
                                                                <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
                                                                <button type="button"  *ngIf="step<9" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px">Next <i class="fa fa-arrow-right"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <div class="mycontainer"  *ngIf="step==5">
                                        <div class="wrapper1 fadeInDown">
                                            <div id="formContent">
                                                <section class="pricing-1 py-5">
                                                    <div class="container">
                                                        <div class="row" style="font-size:16px">
                                                            <div class="custom-add-search">
                                                                <div  class="left-blk">
                                                                    <div class="input-group" *ngIf="selectedServiceTypeId == 4">
                                                                        <select class="form-control" name="otherTypeProvider" [(ngModel)] = "otherTypeProvider"  [ngModelOptions]="{standalone: true}" (change)="getOtherProvider()">
                                                                        <option value="">Select Type</option>
                                                                        <option value="pharmacy">Pharmacy</option>
                                                                        <option value="physiotherapist">Physiotherapist</option>
                                                                        <option value="department_store">Department Store</option>
                                                                        <option value="supermarket">Supermarket</option>
                                                                        <option value="grocery_or_supermarket">Grocery</option>
                                                                        <option value="night_club">Night Club</option>
                                                                        <option value="car_dealer">Car Dealer</option>
                                                                        <option value="car_rental">Car Rental</option>
                                                                        <option value="car_repair">Car Repair</option>
                                                                        <option value="car_wash">Car Wash</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <input class="form-control" id="btnaddon2" name="searchServiceProviderText" (ngModelChange)="searchEmpetyProvider()" (keyup.enter)="searchProvider()" [(ngModel)] = "searchServiceProviderText"  [ngModelOptions]="{standalone: true}"  type="text">
                                                                        <span class="" id="btn-addon2">
                                                                        <button class="btn btn-warning" type="button" (click)="searchProvider()" style="padding: 8px;display: block;background: #fa9619;color: #fff;">Search</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="rgt-blk">
                                                                    <button class="btn btn-success" (click)="otherProvider(step)" name="button" style="float: right;margin-top:2px;display: block;background: #fa9619;border: 1px solid;" type="button"> <i class="fa fa-plus"></i> Add Other</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 lft-provider">
                                                                <div id="provider_section">
                                                                    <div class="row">
                                                                        <span style="text-align:left" *ngIf="isProviderDataCall"><i class="fa fa-spinner fa-2x fa-spin"></i><br>Loading..</span>
                                                                        <h3 *ngIf="recentAddedProvider.length < 1 && recentProvider.length < 1 && nearByProvider.length < 1 && othersProvider.length < 1 && isProviderDataCall == false">
                                                                            No record found!
                                                                        </h3>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12" *ngIf="recentAddedProvider.length > 0"><b>Recently Added Providers</b></div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-2 col-xs-6 col-lg-4 provider-parts"  *ngFor="let data of recentAddedProvider; let i=index">
                                                                            <div class="profile-widget" [ngClass]="selectedProviderIndex == data.Name+'_'+i+'_'+'recent_added'  ? 'selected-provider' : ''" (click)="setServiceProvider(data,'recent_added',i)">
                                                                            <div class="profile-img">
                                                                                <a><img class="avatar" src="assets/images/user-profile.png" alt=""></a>
                                                                            </div>
                                                                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis">
                                                                                {{ (data.Name.length>50)? (data.Name | slice:0:50)+'..':(data.Name) }}
                                                                            </h4>
                                                                            <!-- <div class="small text-muted">{{data.Address}}</div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-12" *ngIf="recentProvider.length > 0">
                                                                        <b style="color: #000;font-size: 18px;">Recently Used Providers</b>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4 col-sm-2 col-xs-6 col-lg-4 provider-parts"  *ngFor="let data of recentProvider; let i=index">
                                                                        <div class="profile-widget" [ngClass]="selectedProviderIndex == data.Name+'_'+i+'_'+'recent_used'  ? 'selected-provider' : ''" (click)="setServiceProvider(data,'recent_used',i)">
                                                                        <div class="profile-img">
                                                                            <a><img class="avatar" src="assets/images/user-profile.png" alt=""></a>
                                                                        </div>
                                                                        <h4 class="user-name m-t-10 m-b-0 text-ellipsis">
                                                                            {{ (data.Name.length>50)? (data.Name | slice:0:50)+'..':(data.Name) }}
                                                                        </h4>
                                                                        <!-- <div class="small text-muted">{{data.Address}}</div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12" *ngIf="nearByProvider.length > 0"><b style="color: #000;font-size: 18px;">Near By Providers</b></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-2 col-xs-6 col-lg-4 provider-parts"  *ngFor="let data of nearByProvider; let i=index">
                                                                    <div class="profile-widget" [ngClass]="selectedProviderIndex == data.Name+'_'+i+'_'+'near_by'  ? 'selected-provider' : ''" (click)="setServiceProvider(data,'near_by',i)">
                                                                    <div class="profile-img">
                                                                        <a><img class="avatar" src="assets/images/user-profile.png" alt=""></a>
                                                                    </div>
                                                                    <h4 class="user-name m-t-10 m-b-0 text-ellipsis">
                                                                        {{ (data.Name.length>50)? (data.Name | slice:0:50)+'..':(data.Name) }}
                                                                    </h4>
                                                                    <!-- <div class="small text-muted">{{data.Address}}</div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12" *ngIf="othersProvider.length > 0"><b style="color: #000;font-size: 18px;">Other Providers</b></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-2 col-xs-6 col-lg-4 provider-parts"  *ngFor="let data of othersProvider; let i=index">
                                                                <div class="profile-widget" [ngClass]="selectedProviderIndex == data.Name+'_'+i+'_'+'other'  ? 'selected-provider' : ''" (click)="setServiceProvider(data,'other', i)">
                                                                <div class="profile-img">
                                                                    <a><img class="avatar" src="assets/images/user-profile.png" alt=""></a>
                                                                </div>
                                                                <h4 class="user-name m-t-10 m-b-0 text-ellipsis">
                                                                    {{ (data.Name.length>50)? (data.Name | slice:0:50)+'..':(data.Name) }}
                                                                </h4>
                                                                <!-- <div class="small text-muted">{{data.Address}}</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <!-- <button type="button"  name="button" class="dash-button dash-button--affirm"  (click)="otherProvider(step)" style="margin-top:2px"> <i class="fa fa-plus"></i> Add Other</button> -->
                                        </div>
                                        <!-- <div class="col-lg-4 col-xs-12 rgt-provider">
                                        <div class="table-content">
                                        <div class="chat-profile-img">
                                        <div class="edit-profile-img">
                                        <img class="avatar" src="assets/images/user-profile.png" alt="">
                                        </div>
                                        <h3 class="user-name" style="text-align:center">{{serviceProviderName}}</h3>
                                        </div>
                                        <div class="chat-profile-info">
                                        <ul class="user-det-list">
                                        <li>
                                        <span>Email:</span>
                                        <span class="pull-right text-muted">
                                        <input type="email" name="ProviderEmail" value="" formControlName="ProviderEmail">
                                        </span>
                                        </li>
                                        <li>
                                        <span>Contact:</span>
                                        <span class="pull-right text-muted">
                                        <input type="text" name="ProviderContactNo" maxlength="10" (keypress)="_keyPress($event)"  value=""  formControlName="ProviderContactNo">
                                        </span>
                                        </li>
                                        <li>
                                        <span>Address: </span>
                                        <span class="pull-right text-muted">
                                        <textarea name="ProviderAddress" disabled  formControlName="ProviderAddress" rows="4" cols="17"></textarea>
                                        </span>
                                        </li>

                                        </ul>
                                        </div>
                                        </div>
                                        </div> -->
                                    </div>
                                    <div class="row">
                                    <div class="col-xs-12">
                                    <div id="formFooter">
                                    <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
                                    <button type="button"  *ngIf="step<9" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px"> Next <i class="fa fa-arrow-right"></i> </button>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                                </section>
                            </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
            <div class="mycontainer"  *ngIf="step==6">
            <div class="wrapper1 fadeInDown">
            <div id="formContent">
            <section class="pricing py-5">
            <div class="container">
            <div class="row">
            <div class="col-lg-12 col-xs-12">
            <div class="mb-5 mb-lg-0">
            <div class="card-body">
            <div style="text-align:left;">
            <h5 class="head5" >Receipt Date <span class="req">*</span></h5>
            <!-- <input type="tex" class="form-control"  formControlName="search_provider" name="search_provider"> -->
            <my-date-picker formControlName="ReceiptDate" name="ReceiptDate" [options]="myDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
            <h5 class="head5" >Receipt Number</h5>
            <!-- <input type="tex" class="form-control"  formControlName="search_provider" name="search_provider"> -->
            <div class="input-group">
            <input type="text" formControlName="ReceiptNo" name="ReceiptNo" id="ReceiptNo">
            </div>
            <h5 class="head5" >Uplaod Receipt <span class="req">*</span></h5>
            <img src="assets/images/file.png" width="100"  (click)="file.click()" title="upload receipt">
            <input type="file" (change)="uploadFile($event,'manual_receipt')" style="display: none" id="profile_pic" #file  />
            <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
            <br>
            <div *ngIf="fileName"  style="margin-left:5px; padding-bottom:35px">
            <a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank"><br>View Receipt<br>  </a>
            </div>
            <br>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </section>
			<div class="container">
            <div class="row">
            <div class="col-xs-12">
            <div id="formFooter" style="height:75px; text-align:center;  margin-top: 20px;">
            <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
            <button type="button"  *ngIf="step<9" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px">Next <i class="fa fa-arrow-right"></i> </button>
            </div>
            </div>
            </div>
            </div>
			</div>
            </div>
            </div>
            </div>
            <section class="pricing py-5" *ngIf="step==7">
            <div class="container">
            <div class="row">
            <div class="col-lg-12 col-xs-12">
            <div class="mb-5 mb-lg-0">
            <div class="card-body">
            <div class="claim-button-outer">
            <button type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: #fa9619; border-radius:15px; margin:15px; width:300px"  (click)="setIsDependant(1)">Me</button>
            <button type="button" name="button" class="hvr-grow dash-button dash-button--affirm loginFocusIndicator"  style="margin-top:2px; padding: 35px 25px 50px 25px; font-size: 18px; background-color: rgb(43, 62, 79); border-radius:15px; margin:15px; width:300px"  (click)="setIsDependant(2)">My Dependant</button>
            </div>
            </div>
            </div>
            <div id="formFooter" style="text-align:center;  margin-top: 20px;">
            <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
            <button type="button"  *ngIf="step<9" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px">Next <i class="fa fa-arrow-right"></i> </button>
            </div>
            </div>
            </div>
            </div>
            </section>
            <div class="wrapper" *ngIf="step==8">
            <div class="mycontainer" >
            <div class="wrapper1 fadeInDown">
            <div class="col-lg-12" style="margin-bottom:20px; margin-top:20px;display: flex;justify-content: flex-end;">
            <button class="btn btn-success" (click)="otherDependant(step)" name="button" style="margin-top:2px;display: block;background: #fa9619;border: 1px solid;" type="button"> <i class="fa fa-plus"></i> Add Other</button>
            </div>
            <div id="formContent" style="max-width: 100%;">
            <div class="myContent">
            <section class="pricing py-5">
            <div class="container">
            <div class="row">
            <div class="col-md-12">
            <span style="text-align:center" *ngIf="dependntsList.length < 1"> No dependant found!</span>
            </div>
			</div>
            <div class="row">
            <div class="col-md-3 col-xs-6 col-lg-3 divi-parts"  *ngFor="let data of dependntsList">
            <div class="profile-widget" id="dep_{{data.DependentId}}" [ngClass]="data.DependentId == selectdDependantId ? 'selected-provider' : ''" (click)="setDependant(data)">
            <div class="profile-img">
            <a *ngIf="data.Gender =='Male'"><img class="avatar" src="assets/images/user-profile.png" alt=""></a>
            <a *ngIf="data.Gender !='Male'"><img class="avatar" src="assets/images/female_user.png" alt=""></a>
            </div>
            <h4 class="user-name m-t-10 m-b-0 text-ellipsis">{{data.FName}} {{data.LName}}</h4>
            <div class="small text-muted" [ngClass]="data.DependentId == selectdDependantId ? 'selected-provider' : ''">Relationship : {{data.Relationship}} <span *ngIf="data.OtherRelation !=''"> ( {{data.OtherRelation}} )</span></div>
            <div class="small text-muted" [ngClass]="data.DependentId == selectdDependantId ? 'selected-provider' : ''">DOB : {{data.DOB | mydate}}</div>
            </div>
            </div>
            </div>
            </div>
            </section>
            <div id="formFooter" style="padding: 0 15px; text-align:center;  margin-top: 20px;">
            <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
            <button type="button"  *ngIf="step<9" name="button" class="dash-button dash-button--affirm"  (click)="goToNextStep(step)" style="margin-top:2px">Next <i class="fa fa-arrow-right"></i> </button>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        <div class="wrapper"   *ngIf="step==9">
        <div class="mycontainer">
        <div class="wrapper1 fadeInDown">
        <div id="formContent">
        <section class="pricing py-5">
        <div class="container">
        <div class="row">
        <div class="col-lg-12 col-xs-12">
        <div class="mb-5 mb-lg-0" style="min-height:100px; overflow:auto;">
        <div class="card-body">
        <div style="text-align:center;">
        <textarea name="note" class="form-control" placeholder="Enter your note..." formControlName="Note"  rows="4" cols="8"></textarea>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        <div id="formFooter" style="padding: 0 15px; text-align:center;  margin-top: 20px;">
        <span *ngIf="!isLoading">
        <button type="button"  name="previous" class="dash-button default-theme-previous"  (click)="goToPrevStep(step)" style="margin-top:2px"> <i class="fa fa-arrow-left"></i> Previous</button>
        <button type="submit" name="button" [disabled]="!addClaimForm.valid"  class="dash-button dash-button--affirm" *ngIf="step==9" (click)="saveClaimDetail()" style="margin-top:2px">Submit</button>
        </span>
		<br />
        <button *ngIf="isLoading" [disabled]="true" type="button" data-dismiss="modal" class="dash-button dash-button--affirm">
        Please wait
        <span class="button-loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        </span>
        </button>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
</main>
<div class="modal animated slideInDown"  [style.display]="openAddProviderModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="openAddProviderModal = false;">&times;</button>
                <span class="modal-title">Service Provider Detail</span>
            </div>
            <div class="modal-body">
                <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
                <form #providerForm="ngForm" class="forgot-your-password__form">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="card number">Name <span class="req">*</span></label>
                            <input type="text" name="name"  value="" required [(ngModel)]="name">
                        </div>
                        <div class="col-md-6">
                            <label for="card number">Email</label>
                            <input type="email" name="email" value="" [(ngModel)]="email">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="card number">Contact Number <span class="req">*</span></label>
                            <input type="text" maxlength="10" (keypress)="_keyPress($event)" name="contact"  value="" required [(ngModel)]="contact">
                        </div>
                        <div class="col-md-6">
                            <label for="card number">Address <span class="req">*</span></label>
                            <input type="email" name="address" value="" required [(ngModel)]="address">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isServiceCall" [disabled]="!providerForm.valid" (click)="saveOtherProviderDetail(providerForm)" class="fadeInLeft header-secured__log-out button log-out" type="button">
                <span class="ng-binding">Submit</span>
                </button>
                <button *ngIf="isServiceCall" class="fadeInLeft header-secured__log-out button log-out" type="button">
                Please wait..
                </button>
                <button type="button" class="header-secured__log-out button log-out" data-dismiss="modal" (click)="openAddProviderModal = false;">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal animated slideInDown"  [style.display]="openAddServiceTypeModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="openAddServiceTypeModal = false;">&times;</button>
                <span class="modal-title">Add other service</span>
            </div>
            <div class="modal-body">
                <form #serviceForm="ngForm" class="forgot-your-password__form">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="card number">Service Name <span class="req">*</span></label>
                            <input type="text" name="serviceName"  value="" required [(ngModel)]="serviceName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isServiceCall" [disabled]="!serviceForm.valid" (click)="saveOtherService(serviceForm)" class="fadeInLeft header-secured__log-out button log-out" type="button">
                <span class="ng-binding">Submit</span>
                </button>
                <button *ngIf="isServiceCall" class="fadeInLeft header-secured__log-out button log-out" type="button">
                Please wait..
                </button>
                <button type="button" class="header-secured__log-out button log-out" data-dismiss="modal" (click)="openAddServiceTypeModal = false;">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal animated slideInDown"  [style.display]="cardLoadSuccess ? 'block' : 'none'">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="reciptModalClose()">&times;</button>
                <span class="modal-title">Card Loaded</span>
            </div>
            <div class="modal-body text-center">
                <!-- <img src="assets/images/load-success.gif" width="150"> -->
                <div id="outerContainer">
                    <div id="container">
                        <div class="item">
                            <!-- <b><h2 style="color:#fff; font-weight:bold" countUp [endVal]="cardLoadedAmount"> 0</h2></b> -->
                            <b>
                                <h2 style="color:#fff; font-weight:bold; font-size:24px" id="myTargetElement"> 0</h2>
                            </b>
                        </div>
                        <div class="circle" style="animation-delay: 0s"></div>
                        <div class="circle" style="animation-delay: 1s"></div>
                        <div class="circle" style="animation-delay: 2s"></div>
                        <div class="circle" style="animation-delay: 3s"></div>
                    </div>
                </div>
                <!-- <span style="font-weight:bold; border-radius:50%; background:#eee"> <h2 style="text-align:center">  0</h2> </span> -->
                <h2 style="text-align:center; font-size:24px">Success! Your card has been loaded. <br><br>  </h2>
                <div class="text-center" style="font-size:16px;">
                    <p>
                        <!-- Upload receipt now otherwise you can not able to load card after 2 days. -->
                        <!-- Upload the receipt within two days or else the card will be blocked -->
                        Please submit claim information within 48 hours to avoid a temporary suspension of your eFlex Payment Card.
                    </p>
                    <br>
                    <button type="button" class="btn btn-lg btn-primary" name="button" (click)="uploadClaimReceipt()"><i class="fa fa-upload"></i> Upload</button>
                    <button type="button"  class="btn btn-lg btn-danger" name="button" (click)="reciptModalClose()">Later</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal animated slideInDown"  [style.display]="openAddDepandentModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="openAddDepandentModal = false;">&times;</button>
                <span class="modal-title">Tell us about your dependant</span>
            </div>
            <div class="modal-body">
                <form #dependantForm="ngForm" class="forgot-your-password__form">
                    <div class="row form-group">
                        <div class="col-md-6"  [ngClass]="dependantType == '4' ? 'col-md-6' : 'col-md-12'">
                            <label for="card number">Dependant Type</label>
                            <select required [(ngModel)]="dependantType" name="dependantType" class="form-control">
                            <option value="">Select</option>
                            <option value="1">Spouse</option>
                            <option value="2">Son</option>
                            <option value="3">Daughter</option>
                            <option value="4">Other</option>
                            </select>
                        </div>
                        <div class="col-md-6"  *ngIf="dependantType == '4'">
                            <label for="card number">Relationship</label>
                            <input type="text" [(ngModel)]="dependantRelationship" name="dependantRelationship" placeholder="Relationship" id="dependantRelationship">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="card number">First Name <span class="req">*</span></label>
                            <input type="text"  name="dependantFName"  value="" required [(ngModel)]="dependantFName">
                        </div>
                        <div class="col-md-6">
                            <label for="card number">Last Name</label>
                            <input type="text" name="dependantLName" value="" [(ngModel)]="dependantLName">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="card number">Date of Birth <span class="req">*</span></label>
                            <my-date-picker name="dependantDob" required [(ngModel)]="dependantDob" [options]="dobDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
                        </div>
                        <div class="col-md-6">
                            <label for="card number">Gender <span class="req">*</span></label>
                            <label class="radio-inline">
                            <input type="radio" value="Female" required [(ngModel)]="dependantGender" name="dependantGender"><img src="assets/images/woman.png">
                            </label>
                            <label class="radio-inline">
                            <input type="radio" value="Male" name="dependantGender" required [(ngModel)]="dependantGender"><img src="assets/images/man-user.png">
                            </label>
                            <label class="radio-inline">
                            <input type="radio" value="Other" name="dependantGender" required [(ngModel)]="dependantGender"> Other
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isServiceCall" [disabled]="!dependantForm.valid" (click)="saveDependantDetail(dependantForm)"
                class="fadeInLeft header-secured__log-out button log-out" type="button">
                <span class="ng-binding">Submit</span>
                </button>
                <button *ngIf="isServiceCall" class="fadeInLeft header-secured__log-out button log-out" type="button">
                Please wait..
                </button>
                <button type="button" class="header-secured__log-out button log-out" data-dismiss="modal" (click)="openAddDepandentModal = false;">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal animated slideInDown" [style.display]="receiptModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="reciptModalClose()">&times;</button>
                <span class="modal-title"> Receipt Detail</span>
            </div>
            <div class="modal-body">
                <form class="forgot-your-password__form" #receiptForm="ngForm">
                    <div style="text-align:left; padding:15px">
                        <h5 class="head5" >Receipt Date <span class="required">*</span></h5>
                        <my-date-picker [(ngModel)]="LC_ReceiptDate" name="LC_ReceiptDate" [options]="myDatePickerOptions"  placeholder="MM/dd/yyyy"></my-date-picker>
                        <h5 class="head5" >Receipt Number</h5>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="LC_ReceiptNo"  name="LC_ReceiptNo" id="LC_ReceiptNo">
                        </div>
                        <h5 class="head5" >Uplaod Receipt <span class="required">*</span></h5>
                        <img src="assets/images/file.png" width="100"  (click)="fileInput.click()" title="upload receipt">
                        <input type="file" id="lc_file" name="lc_file"  (change)="uploadFile($event,'load_card_receipt')"  #fileInput style="display: none">
                        <br>
                        <div>
                            <p>File Format:  .jpg |.pdf |.png |.jpeg 5 MB Maximum <br></p>
                        </div>
                        <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i>
                        <br>{{uploadMsg}}
                        </span>
                        <br>
                        <div *ngIf="fileName"  style="margin-left:5px">
                            <a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank"><br>View Receipt<br>  </a>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button [disabled]="!receiptForm.valid" type="button" class="header-secured__log-out button log-out" (click)="submitLoadCardReceipt()">Submit</button>
                <button type="button" class="header-secured__log-out button log-out" data-dismiss="modal" (click)="reciptModalClose()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal animated slideInDown"  [style.display]="errorModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="errorModal = false">&times;</button>
                <span class="modal-title">Load Card Information</span>
            </div>
            <div class="modal-body text-center">
                <h2 style="text-align:center; font-size:24px" *ngIf="isExpired == true">
                    <!-- Please upload receipt of recent claims first and then you can able to load you card -->
                    <!-- Please upload the receipt for the recent claims to proceed -->
                    There are incomplete claims on your account. Please upload outstanding receipts before loading your card.
                </h2>
                <h2 style="text-align:center; font-size:24px" *ngIf="isExpired == false">
                    Please upload receipt of recent claims otherwise you cannot able to load you card after <span *ngIf="uploadTillDate != ''"> {{uploadTillDate | date: 'MMM d, y'}}</span>.
                </h2>
                <br>
                <div class="text-center" style="font-size:16px;">
                    <button type="button" class="btn btn-lg btn-primary" name="button" routerLink="/member-portal/claims"><i class="fa fa-upload"></i> Upload Now</button>
                    <button type="button"  class="btn btn-lg btn-danger" *ngIf="isExpired == false" name="button" (click)="uploadLater();">Later</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal animated slideInDown"  [style.display]="errorAmtModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="errorAmtModal = false">&times;</button>
                <span class="modal-title">Insufficient Amount</span>
            </div>
            <div class="modal-body text-center">
                <h2 style="text-align:center; font-size:18px">
                    Enter sufficient amount. Your available balance is ${{availableBalance}} <br><br>
                    <span *ngIf="applyClaimfee">Claim processing fee will be applicable ${{cpfAmount}} on the first claim of day. So that your total calim amount will be consider as ${{totalEnterdCliamAmount}}</span>
                </h2>
                <br>
                <div class="text-center" style="font-size:16px;">
                    <button type="button" class="btn btn-lg btn-primary" name="button" (click)="errorAmtModal = false">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal animated slideInDown"  [style.display]="isProviderInfoModel ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="isProviderInfoModel = false">&times;</button>
                <span class="modal-title">Service Provider Information</span>
            </div>
            <div class="modal-body">
              <form  [formGroup]="addClaimForm">
                <div class="chat-profile-img">
                  <div class="edit-profile-img">
                    <img class="avatar" src="assets/images/user-profile.png" >
                  </div>
                  <h3 class="user-name" style="text-align:center">{{serviceProviderName}}</h3>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="card number">Email</label>
                        <input type="email" class="form-control" name="ProviderEmail" value="" formControlName="ProviderEmail">
                    </div>
                    <div class="col-md-6">
                        <label for="card number">Contact Number </label>
                        <input type="text" class="form-control" name="ProviderContactNo" maxlength="10" (keypress)="_keyPress($event)"  formControlName="ProviderContactNo">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="card number">Address</label>
                        <textarea name="ProviderAddress" disabled  formControlName="ProviderAddress" rows="3" cols="17"></textarea>
                    </div>
                </div>
              </form>
              <div class="text-center" style="font-size:16px;">
                  <button type="button" class="btn btn-lg btn-primary" name="button" (click)="goToNextStep(step)"> Next</button>
                  <button type="button"  class="btn btn-lg btn-danger" name="button" (click)="isProviderInfoModel = false">Cancel</button>
              </div>
            </div>
        </div>
    </div>
</div>
