
<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-12">
                      <h1 class="profile__h1 border--bottom">
                        New Claim
                      </h1>
                      <p>We don't require original receipts but you can send them via mail, fax or email and we will file the receipts with your claim. Please reference the claim number provided when you save the claim. Remember if you do not send your receipts, it is your responsibility to keep original receipts and other claim documentation in your files as you may be required to show proof of the expense should Blendable Inc or Canada Revenue Agency conduct a review. Blendable will periodically require you to submit physical claim receipts for review.</p>
                  </div>

                  <form [formGroup]="employeeForm">
                    <div formArrayName="Employees" *ngFor="let employee of employeeForm.get('Employees')['controls']; let l = index;">
                        <div [formGroupName]="l" style="margin-left:-16px; margin-right:-16px;">
                              <div class="col-md-12">
                          <div class="panel panel-default">
                            <div class="panel-heading" style="color: #09090999 !important"> Receipt details


                                <button  *ngIf="employeeForm.controls.Employees.controls.length > 1"  type="button"  class="btn btn-danger pull-right"  (click)="deleteEmployee(l)" style="margin-right: 0px; display:block"><i class="fa fa-remove"> </i> </button>

                            </div>
                             <div class="panel-body">
                            <div class="form-group col-md-3">
                              <label for="email">Member / Dependant</label>
                              <select  required name="CompanyPlanId">
                                  <option value="">Member / Dependant</option>
                                  <option  value="">Thakur</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Receipt Date</label>
                                <input type="text" class="form-control" id="member" formControlName="Name" >

                                <!-- <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions" placeholder="MM/dd/yyyy"></my-date-picker> -->
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Receipt#</label>
                                <input type="text" class="form-control" id="member" formControlName="Name" >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Provider</label>
                                <input type="text" class="form-control" id="member" formControlName="Name" >
                            </div>

                            <div class="form-group col-md-6">
                              <label for="Service">Service Type</label>
                              <select  required name="CompanyPlanId">
                                  <option value="">Member / Dependant</option>
                                  <option  value="">Thakur</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Amount</label>
                                <input type="text" class="form-control" id="member" formControlName="Name" >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="email">Claimed</label>
                                <input type="text" class="form-control" id="member" formControlName="Name" >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="email">Note</label>
                                <textarea name="note" class="form-control"></textarea>
                            </div>



                          </div>
                        </div>
                      </div>
                        </div>
                    </div>
                    <div style="padding-top:10px; cursor:pointer">
                        <span  (click)="addMoreEmployee()"><img src="assets/images/plus-icon.png" > Add More </span>
                        <!-- <span style="margin-left:15px;"><img src="assets/images/upload-icon.png"> Upload a file </span> -->
                    </div>

                    <div class="text-center">
                      <button *ngIf="!isLoading" type="submit"  class="dash-button dash-button--affirm loginFocusIndicator"
                      [disabled]="!employeeForm.valid">
                         <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                            <span class="ng-binding" aria-hidden="false">Submit</span>

                         </span>
                      </button>

                      <button *ngIf="isLoading" type="button" class="dash-button dash-button--affirm loginFocusIndicator"
                      [disabled]="employeeForm.valid">
                         <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                            <span *ngIf="isLoading" class="" aria-hidden="true">Please wait</span>
                            <span *ngIf="isLoading" aria-hidden="true" class="ng-hide">
                               <span class="button-loading">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                               </span>
                            </span>
                         </span>
                      </button>
                    </div>
                  </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>


    <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" (click)="modal = false;">&times;</button>
               <span class="modal-title">Upload plan members csv file</span>
            </div>
            <div class="modal-body">
               <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
               <form class="forgot-your-password__form">
                  <div class="">
                     <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                       <b>File Format: (xlsx file formats, 5MB maximum) .<br></b><br></div>
                  </div>
                  <div class="forgot-your-password__login-options">
                    <fieldset class="forgot-your-password__fieldset">
                      <a class="btn btn-default" href="{{hostUrl}}/plan-members.xlsx" target="download">Download file format</a>
                      <br>
                    </fieldset>
                    <br>
                     <fieldset class="forgot-your-password__fieldset">

                       <input type="file" id="file" name="file"  (change)="uploadFile($event)" #fileInput>

                       <span *ngIf="uploadMsg" style="color:red"><i class="la la-spinner la-spin" style="font-size:24px"></i><br>{{uploadMsg}}</span>
                      <!-- <div id="email-errors" class="global-form-error-message forgot-your-password__fieldset--email-invalid forgot-your-password__email-invalid">ERROR: Please enter a valid email address to continue</div> -->
                     </fieldset>
                     <br>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal = false;">Close</button>
            </div>
         </div>
      </div>
    </div>


    <div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="importLoaderModal ? 'block' : 'none'" >
      <div class="modal-dialog" style="top:10%">
         <!-- Modal content-->
         <div class="modal-content">
            <!-- <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" (click)="importLoaderModal = false;">&times;</button>
               <span class="modal-title">Importing plan members</span>
            </div> -->
            <div class="modal-body">
               <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
               <form class="forgot-your-password__form" style="text-align: center; color: #fa9619
; font-size: 18px;">
                  <div class="">
                     <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;">
                      <i class="fa fa-spinner fa-spin" style="font-size:60px; color:#2b3e4f"></i><br>Please wait system importing member...
                    </div>
                  </div>
               </form>
            </div>
            <!-- <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" (click)="importLoaderModal = false;">Close</button>
            </div> -->
         </div>
      </div>
    </div>
