

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 col-xs-12">
                      <h1 class="profile__h1">
                        Claims for : {{name}}
                        <a  class="btn btn-md btn-default pull-right" routerLink="/employeer-portal/employees"><i class="fa fa-arrow-left"></i> Back</a>
                      </h1>
                  </div>
                  <!-- <div class="col-md-3 col-xs-12 col-sm-12">
                    <select class="form-contro dash-form__select--grey"  (change)="getClaimsByType()" id="claimType" [(ngModel)]="claimType" name="claimType">
                      <option value="-1">All</option>
                      <option value="1">Manual Claims</option>
                      <option value="0">Load Card</option>
                    </select>
                  </div>
                  <div class="col-md-1">
                    <a  class="btn btn-md btn-default pull-right" routerLink="../employees"><i class="fa fa-arrow-left"></i> Back</a>
                  </div> -->

                </div>
              <div>
                <div class="panel panel-default">
                   <div class="transactions__tab pending-tab">
                     <a id="upcoming_trns" class="transactions__tab__heading">

                      </a>
                      <div class="table-responsive">
                          <!-- infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="getClaimsList()" [scrollWindow]="true" -->
                        <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Date of claim</th>
                                <th>Claim for</th>
                                <th>Claim Amount</th>
                                <th>Status</th>
                                <th>Receipt</th>
                                <th>Claim Type</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="" *ngFor="let claim of claimsData; let i=index; let odd=odd; let even=even;"  [ngClass]=" odd == true ? 'table-success': 'table-active'">
                                 <td>{{i+1}}</td>
                                 <!-- <td>{{claim.Company}}</td> -->
                                 <td>
                                    {{claim.ClaimDt | mydate}}
                                 </td>
                                 <td>{{claim.Dependent == '' ? 'Self' : claim.Dependent}}</td>
                                 <td>${{claim.ClaimAmt | number: '1.2-2'}}</td>
                                 <td>{{claim.Status}}</td>
                                 <td>
                                   <span *ngIf="claim.FileName == '' || claim.FileName == null"> - </span>
                                   <a *ngIf="claim.FileName != '' && claim.FileName != null" href="{{hostUrl}}/{{companyId}}/{{claim.FileName}}" target="_blank">View Receipt</a>
                                 </td>
                                 <td>{{claim.IsManual == true ? 'Manual': 'Load On Card'}}</td>
                                 <td>
                                   <a  class="btn btn-sm btn-primary" (click)="openClaimDetail(claim)" href="javascript:void(0)" title="view detail"><i class="fa fa-view"></i> View</a>
                                 </td>
                              </tr>
                               <tr *ngIf="claimsData == [] || claimsData.length < 1">
                                  <td colspan="8"><span class="hvr-pulse text-center">No claims found!</span></td>
                               </tr>
                               <tr *ngIf="isLoading">
                                 <td class="text-center" colspan="8"><i class="fa fa-spinner fa-2x fa-spin"></i><br>Loading..</td>
                              </tr>
                            </tbody>
                         </table>
                     </div>
                   </div>
                 </div>
              </div>
            </div>

          </div>
        </div>
   </div>
 </main>

  <div class="modal animated slideInDown"  [style.display]="isClaimDetailModal ? 'block' : 'none'">
     <div class="modal-dialog">
        <div class="modal-content" *ngIf="claimDetails !=''">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="isClaimDetailModal = false;">&times;</button>
              <span class="modal-title">{{claimDetails.Employee}} - Claim Detail</span>
           </div>
           <div class="modal-body" style="height:400px; overflow:auto">
             <div class="popup">
               <table>
                 <tbody>
                  <tr>
                   <td class="right"><strong>Claim Date</strong></td>
                   <td class="left" id="date">{{claimDetails.ClaimDt | mydate}}</td>
                   </tr>
                   <tr>
                   <td class="right"><strong>Claimed Amount</strong></td>
                   <td class="left" id="s_name">${{claimDetails.ClaimAmt | number:'2.2'}}</td>
                   </tr>
                   <tr>
                     <td class="right"><strong>Claim for Self/Dependant</strong></td>
                     <td class="left" id="buyer_name">{{claimDetails.Dependent == '' ? 'Self' :'Dependent'}}</td>
                   </tr>
                   <tr *ngIf="claimDetails.Dependent">
                     <td class="right"><strong>Dependant Name</strong></td>
                     <td class="left" id="buyer_name">{{claimDetails.Dependent}}</td>
                   </tr>

                   <tr *ngIf="claimDetails.ClaimServiceDetails">
                      <td class="right"><strong>Service Name</strong></td>
                      <td class="left" id="buyer_name">
                        <span *ngIf="claimDetails.ClaimServiceDetails.ServiceName">{{claimDetails.ClaimServiceDetails.ServiceName}}</span>
                         <span *ngIf="!claimDetails.ClaimServiceDetails.ServiceName">-</span>
                       </td>
                   </tr>

                   <tr>
                      <td class="right"><strong>CRA Covered (%)</strong></td>
                      <td class="left" id="buyer_name">{{claimDetails.CRA}}</td>
                   </tr>
                   <tr>
                      <td class="right"><strong>Non CRA Covered (%)</strong></td>
                      <td class="left" id="buyer_name">{{claimDetails.NonCRA}}</td>
                   </tr>

                   <tr *ngIf="claimDetails.ClaimServiceDetails">
                     <td class="right"><strong>Service Provider</strong></td>
                     <td class="left" id="payment_type">
                        <span *ngIf="claimDetails.ClaimServiceDetails.ServiceProvider">
                          {{claimDetails.ClaimServiceDetails.ServiceProvider}}<br>
                          <span *ngIf="claimDetails.ClaimServiceDetails.Email">, {{claimDetails.ClaimServiceDetails.Email}}</span>
                          <span *ngIf="claimDetails.ClaimServiceDetails.Address">,{{claimDetails.ClaimServiceDetails.Address}}</span>
                          <span *ngIf="claimDetails.ClaimServiceDetails.PhoneNo">,{{claimDetails.ClaimServiceDetails.PhoneNo}}</span>
                        </span>
                        <span *ngIf="!claimDetails.ClaimServiceDetails.ServiceProvider">
                         -
                        </span>
                     </td>
                   </tr>

                   <tr *ngIf="claimDetails.ReceiptDT">
                     <td class="right"><strong>Receipt Date </strong></td>
                     <td class="left" id="date">{{claimDetails.ReceiptDT | mydate}}</td>
                   </tr>
                   <tr *ngIf="claimDetails.Receipt">
                     <td class="right"><strong>Receipt No</strong></td>
                     <td class="left" id="payment_amount">{{claimDetails.Receipt}}</td>
                   </tr>
                   <tr *ngIf="claimDetails.Note">
                     <td class="right"><strong>Note</strong></td>
                     <td class="left" id="payment_amount">{{claimDetails.Note}}</td>
                   </tr>
                 </tbody>
                 </table>
             </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="isClaimDetailModal = false;" data-dismiss="modal" (click)="planModal = false;">Close</button>
           </div>
        </div>
     </div>
  </div>
