<div class="tab-pane fade in active" style="min-height:500px">
  <div class="plan-register">
    <h3 class="head text-center">Plan & Payment Structure</h3>
    <!-- <h4 class="text-center">
        Made with <i class="fa fa-heart heart" style="color:#f48260;"></i> by <a href="https://www.cc28tech.com" target="_blank">Cathy Wun</a>. Check out the tutorials <a href="https://www.cc28tech.com/angular-multi-step-part-1" target="_blank">here.</a>
    </h4> -->

    <div class='col-md-12'>
      <h4 style="border-bottom: 2px solid #2b3e50; color: #000; font-size: 21px;"> Plan Structure</h4>
    </div>
    <div class="narrow text-center-2">
      <div class="col-md-12 for-top-marg">
        <div class="form-group">
          <div  class="col-md-4">
            <label>How many classes do you want ?</label>
          </div>
          <div  class="col-md-6" *ngIf="planTypeId == '2'">
            <select (change)="addClasses()" [(ngModel)]="classes" name="classes">
              <option value="">Select no of classes</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">16</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
            </select>
            <!-- <input type="number" max="10" min="1"> -->
          </div>
          <div  class="col-md-6" *ngIf="planTypeId == '1'">
            <select (change)="addClasses()" [(ngModel)]="classes" name="classes">
              <option value="">Select no of classes</option>
              <option value="1">1</option>
            </select>
          </div>
        </div>
      </div>

      <!-- for funded -->
      <div class="col-md-12" style="margin-top:30px" *ngIf="isFunded == true">
         <form [formGroup]="planForm">
           <div formArrayName="Plans" *ngFor="let plan of planForm.get('Plans')['controls']; let i = index; let last=last;  let first=first;" style="float:left">
             <div [formGroupName]="i" class="no-border">
               <div>
                 <!-- <h4 class=""><strong>Classes {{pager.index+1}} of {{pager.count}}</strong></h4> -->
                 <div class="col-md-12 checkbox" style="margin-left:24px !important;" *ngIf="!first">
                   <input *ngIf="!first" type="checkbox" (change)="setPlanSameAsA($event, plan)">

                   <h3 *ngIf="!first">Same as class A</h3>
                 </div>
                  <div class="col-lg-4">
                     <div class="panel panel-default no-min-height" style="min-height: 515px;">

                       <div class="panel-heading" >
                         <span *ngIf="isPlanEdit != i">{{plan.controls['Name'].value}}</span>
                         <span *ngIf="i == isPlanEdit" >
                           <input type="text" name="Name" style="width:90%;" formControlName="Name" value="">
                         </span>
                         <span>
                           <i  *ngIf="i != isPlanEdit"class="pull-right fa fa-pencil" (click)="isPlanEdit = i"></i>
                           <i style="margin-top:-10%" *ngIf="i == isPlanEdit" class="pull-right fa fa-check" (click)="isPlanEdit = -1"></i>
                         </span>
                       </div>
                        <div class="panel-body">
                            <div class="form-group">
                              <label for="email">Plan Start Date</label>
                               <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                                formControlName="PlanStartDt"  placeholder="MM/dd/yyyy"></my-date-picker>
                                <!-- <input type="text" class="form-control"   formControlName="PlanStartDt"  appDatePicker [options]="myOptions"> -->
                               <div class="alert alert-danger">
                                 <div class="error" *ngIf="plan.get('PlanStartDt').touched &&plan.get('PlanStartDt').hasError('required')">
                                    This field is required
                                  </div>
                               </div>
                          </div>
                          <div class="form-group">
                            <label for="email">Initial Deposit</label>
                            <input type="text" (keypress)="_keyPress($event)" (change)="InitialDeposit(plan)" class="form-control" required id="InitialDeposit" formControlName="InitialDeposit">
                            <div class="" style="font-size:16px">
                              This amount will be billed in addition to your recurring deposit at the start of your plan.
                              <div class="error" *ngIf="plan.get('InitialDeposit').touched &&plan.get('InitialDeposit').hasError('required')">
                                 <!-- This field is required -->
                               </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="Contribution"><b>Recurring Deposit</b></label>
                          </div>

                          <div class="radio">
                            <label><input type="radio" [name]="plan.ContributionSchedule" value="1" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 1"> Monthly
                              <input  *ngIf="plan.controls['ContributionSchedule'].value == '1'"  (keypress)="_keyPress($event)" required  formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" id="" name="RecurringDeposit" type="text" style="position: absolute;left: 100px;top: 0px; width: 67%;">
                            </label>
                            <label><input type="radio" [name]="plan.ContributionSchedule"  value="2" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 2"> Annually
                              <input *ngIf="plan.controls['ContributionSchedule'].value == '2'" id="" (keypress)="_keyPress($event)" required formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" name="RecurringDeposit" type="text" style="position: absolute;left: 100px; top: 29px; width: 67%;"></label>

                              <div class="error" *ngIf="plan.get('RecurringDeposit').touched &&plan.get('RecurringDeposit').hasError('required')">
                                 <!-- This field is required -->
                               </div>
                          </div>
                          <!-- <div class="form-group" style="margin-top:100px; border-top:1px solid;">
                            <label for="email">Total</label>

                          </div> -->
                        </div>

                      </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="panel panel-default" style="min-height: 515px;">
                      <div class="panel-heading"> Plan Detail</div>
                       <div class="panel-body">
                         <ul class="media-list push">
                             <li class="media">
                               <!-- <a href="page_ready_user_profile.html" class="pull-left">
                                   <img src="assets/images/todo.png" alt="Avatar" class="img-circle">
                               </a> -->
                                 <div class="media-body">
                                    <h4 >Plan Design
                                      <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                         <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                            <div class="hiddenAODA">
                                               Tooltip
                                            </div>
                                            Pick the plan that best suits your needs :
                                         </span>
                                      </i>
                                    </h4>
                                     <div class="radio">
                                       <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 1" [name]="plan.PlanDesign" value="1"> A plan that covers medical health and dental expenses only</label>
                                       <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 2" [name]="plan.PlanDesign" value="2"> A plan that covers medical health, dental and wellness (ex: gym membership, vitamins, etc)</label>
                                     </div>
                                 </div>
                             </li>

                             <li class="media">
                                 <div class="media-body">
                                   <h4 >Rollover
                                     <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                        <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                           <div class="hiddenAODA">
                                              Tooltip
                                           </div>
                                          <span style="margin-left:15px;">  Any unused funds at the plan year end will : </span>
                                        </span>
                                     </i>
                                   </h4>
                                     <div class="radio">
                                       <label><input type="radio" formControlName="RollOver"  (click)="setCarryForward($event, plan)"  [checked]="plan.controls['RollOver'].value == 3" [name]="plan.RollOver" value="3"> Revert to plan sponsor</label>
                                       <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 4" [name]="plan.RollOver" value="4"> Carry Forward to the benefit of the account holder</label>
                                     </div>
                                 </div>
                             </li>

                             <li class="media" *ngIf="plan.controls['RollOver'].value == 4">
                                 <div class="media-body">
                                     <h4>Carry Forward Period
                                       <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                          <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                             <div class="hiddenAODA">
                                                Tooltip
                                             </div>
                                            Funds revert back to the plan sponsor after :
                                          </span>
                                       </i>
                                     </h4>
                                     <div class="radio">
                                       <select formControlName="CarryForwardPeriod" [name]="plan.CarryForwardPeriod"  [attr.required]="plan.controls['RollOver'].value == 4" >
                                          <option value="">Select Period</option>
                                          <option value="12 Months">12 Months</option>
                                          <option value="24 Months">24 Months</option>
                                          <option value="Indefinite Rollover to the benefit of the account holder">Indefinite Rollover to the benefit of the account holder</option>
                                       </select>
                                     </div>
                                 </div>
                             </li>

                             <li class="media">
                                 <div class="media-body">
                                     <h4>Termination
                                       <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                          <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                             <div class="hiddenAODA">
                                                Tooltip
                                             </div>
                                             Any unused funds in the terminated employee's account will :
                                          </span>
                                       </i>
                                     </h4>
                                     <div class="radio">

                                       <label><input type="radio" formControlName="Termination"  [checked]="plan.controls['Termination'].value == 5" [name]="plan.Termination" value="5">Revert back to the employer</label>
                                       <label><input type="radio" formControlName="Termination" [checked]="plan.controls['Termination'].value == 6" [name]="plan.Termination" value="6"> Carry forward to the benefit of the account holder as per plan design</label>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                       </div>
                   </div>
                  </div>


                  <div class="col-md-12">
                    <div class="panel panel-default no-marg">
                      <div class="panel-heading"> Fees and Taxes Per Member ({{plan.controls['Name'].value}}) </div>
                       <div class="panel-body">
                         <div class="form-group" style="font-size:16px">
                           <div class="row col-md-8" style="margin-top:10px;"><p> Subtotal (before fees and taxes)  </p></div>
                           <div class="row col-md-4 pull-right" style="margin-top:10px">
                             <b>$ {{plan.controls['NetDeposit'].value | number : '1.2-2'}}</b>
                           </div>
                         </div>
                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8"><p> Administration fee ({{AdminFeePct}}% on contributions)  </p></div>
                            <div class="row col-md-4  pull-right"><b>$ {{plan.controls['AdministrationInitialFee'].value + plan.controls['AdministrationMonthlyFee'].value | number : '1.2-2'}}</b> </div>
                          </div>
                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8" style="font-size:16px"><p> Taxes on contributions and fees</p></div>
                          </div>
                          <div style="margin-left:15px; font-size:16px">
                              <div class="form-group">
                                <div class="row col-md-8">
                                  <p *ngIf="HST !=0">HST ({{HST}}% on admin fees)   </p>
                                  <p *ngIf="HST ==0">GST ({{GST}}% on admin fees)   </p>
                                </div>
                                <div class="row col-md-4 pull-right"><b>$ {{plan.controls['HSTInitial'].value + plan.controls['HSTMonthly'].value | number : '1.2-2'}}</b></div>
                              </div>
                              <div class="form-group">
                                <div class="row col-md-8"><p> Premium Tax ({{PPTax}}% on admin fee and contributions)</p></div>
                                <div class="row col-md-4 pull-right">
                                <b>  $ {{plan.controls['PremiumTaxInitial'].value + plan.controls['PremiumTaxMonthly'].value | number : '1.2-2'}}</b>
                                 </div>
                              </div>
                              <div class="form-group" *ngIf="planType == 'Group'">
                                <div class="row col-md-8"><p>RST ({{RSTax}}% on contributions)</p></div>
                                <div class="row col-md-4 pull-right">
                                  <b>$ {{plan.controls['RetailSalesTaxInitial'].value +   plan.controls['RetailSalesTaxMonthly'].value | number : '1.2-2'}}</b>
                                </div>
                              </div>
                          </div>


                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8" style="margin-top:10px">
                              Total (after fees and taxes)
                            </div>
                            <div class="row col-md-4 pull-right" style="margin-top:10px">
                              <b>$ {{plan.controls['TotatFeeAndTaxes'].value | number : '1.2-2'}}</b>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
        </form>
      </div>

      <!-- for UnFunded -->
      <div class="col-md-12" style="margin-top:30px" *ngIf="isFunded == false">
         <form [formGroup]="planForm">
           <div formArrayName="Plans" *ngFor="let plan of planForm.get('Plans')['controls']; let i = index; let last=last;  let first=first;" style="float:left">
             <div [formGroupName]="i" class="no-border">
               <div>
                 <!-- <h4 class=""><strong>Classes {{pager.index+1}} of {{pager.count}}</strong></h4> -->
                 <div class="col-md-12 checkbox" style="margin-left:24px !important;" *ngIf="!first">
                   <input *ngIf="!first" type="checkbox" (change)="setPlanSameAsA($event, plan)">

                   <h3 *ngIf="!first">Same as class A</h3>
                 </div>
                  <div class="col-lg-4">
                     <div class="panel panel-default no-min-height" style="min-height: 515px;">

                       <div class="panel-heading" >
                         <span *ngIf="isPlanEdit != i">{{plan.controls['Name'].value}}</span>
                         <span *ngIf="i == isPlanEdit" >
                           <input type="text" name="Name" style="width:90%;" formControlName="Name" value="">
                         </span>
                         <span>
                           <i  *ngIf="i != isPlanEdit"class="pull-right fa fa-pencil" (click)="isPlanEdit = i"></i>
                           <i style="margin-top:-10%" *ngIf="i == isPlanEdit" class="pull-right fa fa-check" (click)="isPlanEdit = -1"></i>
                         </span>
                       </div>
                        <div class="panel-body">
                            <div class="form-group">
                              <label for="email">Plan Start Date</label>
                               <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                                formControlName="PlanStartDt"  placeholder="MM/dd/yyyy"></my-date-picker>
                                <!-- <input type="text" class="form-control"   formControlName="PlanStartDt"  appDatePicker [options]="myOptions"> -->
                               <div class="alert alert-danger">
                                 <div class="error" *ngIf="plan.get('PlanStartDt').touched &&plan.get('PlanStartDt').hasError('required')">
                                    This field is required
                                  </div>
                               </div>
                          </div>
                          <div class="form-group">
                            <label for="email">Total Amount</label>
                            <input type="text" (keypress)="_keyPress($event)" (change)="InitialDeposit(plan)" class="form-control" required id="InitialDeposit" formControlName="InitialDeposit">
                            <div class="" style="font-size:16px">
                              This amount will be billed in addition to your recurring deposit at the start of your plan.
                              <div class="error" *ngIf="plan.get('InitialDeposit').touched &&plan.get('InitialDeposit').hasError('required')">
                                 <!-- This field is required -->
                               </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="Contribution"><b>Recurring Deposit</b></label>
                          </div>

                          <div class="radio">
                            <label><input type="radio" [name]="plan.ContributionSchedule" value="1" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 1"> Monthly
                              <input  *ngIf="plan.controls['ContributionSchedule'].value == '1'"  (keypress)="_keyPress($event)" required  formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" id="" name="RecurringDeposit" type="text" style="position: absolute;left: 100px;top: 0px; width: 67%;">
                            </label>
                            <label><input type="radio" [name]="plan.ContributionSchedule"  value="2" formControlName="ContributionSchedule"  [checked]="plan.controls['ContributionSchedule'].value == 2"> Annually
                              <input *ngIf="plan.controls['ContributionSchedule'].value == '2'" id="" (keypress)="_keyPress($event)" required formControlName="RecurringDeposit" (change)="RecurringDeposit(plan)" name="RecurringDeposit" type="text" style="position: absolute;left: 100px; top: 29px; width: 67%;"></label>

                              <div class="error" *ngIf="plan.get('RecurringDeposit').touched &&plan.get('RecurringDeposit').hasError('required')">
                                 <!-- This field is required -->
                               </div>
                          </div>
                          <!-- <div class="form-group" style="margin-top:100px; border-top:1px solid;">
                            <label for="email">Total</label>

                          </div> -->
                        </div>

                      </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="panel panel-default" style="min-height: 515px;">
                      <div class="panel-heading"> Plan Detail</div>
                       <div class="panel-body">
                         <ul class="media-list push">
                             <li class="media">
                               <!-- <a href="page_ready_user_profile.html" class="pull-left">
                                   <img src="assets/images/todo.png" alt="Avatar" class="img-circle">
                               </a> -->
                                 <div class="media-body">
                                    <h4 >Plan Design
                                      <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                         <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                            <div class="hiddenAODA">
                                               Tooltip
                                            </div>
                                            Pick the plan that best suits your needs :
                                         </span>
                                      </i>
                                    </h4>
                                     <div class="radio">
                                       <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 1" [name]="plan.PlanDesign" value="1"> A plan that covers medical health and dental expenses only</label>
                                       <label><input type="radio" formControlName="PlanDesign"  [checked]="plan.controls['PlanDesign'].value == 2" [name]="plan.PlanDesign" value="2"> A plan that covers medical health, dental and wellness (ex: gym membership, vitamins, etc)</label>
                                     </div>
                                 </div>
                             </li>

                             <li class="media">
                                 <div class="media-body">
                                   <h4 >Rollover
                                     <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                        <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                           <div class="hiddenAODA">
                                              Tooltip
                                           </div>
                                          <span style="margin-left:15px;">  Any unused funds at the plan year end will : </span>
                                        </span>
                                     </i>
                                   </h4>
                                     <div class="radio">
                                       <label><input type="radio" formControlName="RollOver"  (click)="setCarryForward($event, plan)"  [checked]="plan.controls['RollOver'].value == 3" [name]="plan.RollOver" value="3"> Revert to plan sponsor</label>
                                       <label><input type="radio" formControlName="RollOver"  [checked]="plan.controls['RollOver'].value == 4" [name]="plan.RollOver" value="4"> Carry Forward to the benefit of the account holder</label>
                                     </div>
                                 </div>
                             </li>

                             <li class="media" *ngIf="plan.controls['RollOver'].value == 4">
                                 <div class="media-body">
                                     <h4>Carry Forward Period
                                       <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                          <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                             <div class="hiddenAODA">
                                                Tooltip
                                             </div>
                                            Funds revert back to the plan sponsor after :
                                          </span>
                                       </i>
                                     </h4>
                                     <div class="radio">
                                       <select formControlName="CarryForwardPeriod" [name]="plan.CarryForwardPeriod"  [attr.required]="plan.controls['RollOver'].value == 4" >
                                          <option value="">Select Period</option>
                                          <option value="12 Months">12 Months</option>
                                          <option value="24 Months">24 Months</option>
                                          <option value="Indefinite Rollover to the benefit of the account holder">Indefinite Rollover to the benefit of the account holder</option>
                                       </select>
                                     </div>
                                 </div>
                             </li>

                             <li class="media">
                                 <div class="media-body">
                                     <h4>Termination
                                       <i id="lgn-tooltip" class="dash-tooltip" tabindex="0" aria-describedby="ttlgn">
                                          <span class="dash-tooltip__hint tooltip-center" id="ttlgn" role="tooltip">
                                             <div class="hiddenAODA">
                                                Tooltip
                                             </div>
                                             Any unused funds in the terminated employee's account will :
                                          </span>
                                       </i>
                                     </h4>
                                     <div class="radio">

                                       <label><input type="radio" formControlName="Termination"  [checked]="plan.controls['Termination'].value == 5" [name]="plan.Termination" value="5">Revert back to the employer</label>
                                       <label><input type="radio" formControlName="Termination" [checked]="plan.controls['Termination'].value == 6" [name]="plan.Termination" value="6"> Carry forward to the benefit of the account holder as per plan design</label>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                       </div>
                   </div>
                  </div>


                  <div class="col-md-12">
                    <div class="panel panel-default no-marg">
                      <div class="panel-heading"> Fees and Taxes Per Member ({{plan.controls['Name'].value}}) </div>
                       <div class="panel-body">
                         <div class="form-group" style="font-size:16px">
                           <div class="row col-md-8" style="margin-top:10px;"><p> Subtotal (before fees and taxes)  </p></div>
                           <div class="row col-md-4 pull-right" style="margin-top:10px">
                             <b>$ {{plan.controls['NetDeposit'].value | number : '1.2-2'}}</b>
                           </div>
                         </div>
                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8"><p> Administration fee ({{AdminFeePct}}% on contributions)  </p></div>
                            <div class="row col-md-4  pull-right"><b>$ {{plan.controls['AdministrationInitialFee'].value + plan.controls['AdministrationMonthlyFee'].value | number : '1.2-2'}}</b> </div>
                          </div>
                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8" style="font-size:16px"><p> Taxes on contributions and fees</p></div>
                          </div>
                          <div style="margin-left:15px; font-size:16px">
                              <div class="form-group">
                                <div class="row col-md-8">
                                  <p *ngIf="HST !=0">HST ({{HST}}% on admin fees)   </p>
                                  <p *ngIf="HST ==0">GST ({{GST}}% on admin fees)   </p>
                                </div>
                                <div class="row col-md-4 pull-right"><b>$ {{plan.controls['HSTInitial'].value + plan.controls['HSTMonthly'].value | number : '1.2-2'}}</b></div>
                              </div>
                              <div class="form-group">
                                <div class="row col-md-8"><p> Premium Tax ({{PPTax}}% on admin fee and contributions)</p></div>
                                <div class="row col-md-4 pull-right">
                                <b>  $ {{plan.controls['PremiumTaxInitial'].value + plan.controls['PremiumTaxMonthly'].value | number : '1.2-2'}}</b>
                                 </div>
                              </div>
                              <div class="form-group" *ngIf="planType == 'Group'">
                                <div class="row col-md-8"><p>RST ({{RSTax}}% on contributions)</p></div>
                                <div class="row col-md-4 pull-right">
                                  <b>$ {{plan.controls['RetailSalesTaxInitial'].value +   plan.controls['RetailSalesTaxMonthly'].value | number : '1.2-2'}}</b>
                                </div>
                              </div>
                          </div>


                          <div class="form-group" style="font-size:16px">
                            <div class="row col-md-8" style="margin-top:10px">
                              Total (after fees and taxes)
                            </div>
                            <div class="row col-md-4 pull-right" style="margin-top:10px">
                              <b>$ {{plan.controls['TotatFeeAndTaxes'].value | number : '1.2-2'}}</b>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
        </form>
      </div>

      <div class="col-xs-12 custom-clear text-center for-plan-btns">
        <button *ngIf="!isLoading" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-bottom:10px"  (click)="saveDetail(planForm)" [disabled]="!planForm.valid" type="button">
          Next <span style="margin-left:10px;" class="fa fa-angle-right"></span>
        </button>
        <button *ngIf="isLoading" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-bottom:10px" type="button">
          <span  class="">Please wait</span>
          <span  aria-hidden="true">
             <span class="button-loading">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
                <div class="bounce3"></div>
                <div class="bounce3"></div>
             </span>
          </span>
        </button>
      </div>
      <div class="custom-clear"></div>
    </div>
</div>
