<div class="container">
  <div class="boo-wrapper">
    <!-- <div class="boo">
      <div class="face"></div>
    </div>
    <div class="shadow"></div> -->
    <img src="assets/images/no-internet.gif">

    <!-- <h1 style="text-align:center">Whoops!</h1> -->
    <p style="text-align:center">
      You are not connected to internet.
    </p>
  </div>
</div>
