<section style="background:#ecf0f1;">
    <div class="container">
        <div class="text-center" style="padding-top:15px;">
            <img src="assets/images/EclipseLogo.png">
            <p *ngIf="loginUserName" style="font-size:18px; color: #2b3e4f; font-weight:bold"> Welcome, {{loginUserName}}</p>
            <button type="button" class="header-secured__log-out button log-out logoutButtonFocusIndicator" (click)="logOut()">
              Logout
            </button>
        </div>
        <div class="board">
        <div class="row">
          <div class="tab-pane fade in active">
              <h4 class="head text-center">Payment Overview</h4>
            </div>
            <br/>
            <div class="col-md-12" style="padding:20px" *ngIf="paymentData">
                <div class="col-xs-12 col-md-6" *ngFor="let plan of paymentData">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> {{plan.PlanName}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="the-price">
                                <h1 style="margin-bottom:5px;">
                                  CAD {{plan.PlanGrossRecurring + plan.PlanGrossInitial | number : '1.2-2'}}<span class="subscript"><small> /1st month </small></span></h1>
                                <!-- <small>1 month FREE trial</small> -->
                            </div>
                            <table class="table">
                                <tr>
                                    <td>
                                        No Of Employees
                                    </td>
                                    <td>
                                        {{plan.NoOfEmployees}}
                                    </td>

                                </tr>
                                <tr class="active">
                                  <td>
                                    Plan Gross Initial Amount
                                  </td>
                                  <td>
                                      {{plan.PlanGrossInitial | number : '1.2-2'}}
                                  </td>
                                </tr>

                                <tr class="">
                                  <td>
                                    Plan Gross Recurring Amount
                                  </td>
                                  <td>
                                      {{plan.PlanGrossRecurring | number : '1.2-2'}}
                                  </td>
                                </tr>
                            </table>
                        </div>
                        <!-- <div class="panel-footer">
                            <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">First Time Total {{plan.PlanGrossRecurring + plan.PlanGrossInitial}} </a>

                        </div> -->
                    </div>
                </div>
                <br>
                <h4 class="col-md-6">Net Gross Initial : CAD {{NetGrossInitial | number : '1.2-2'}}</h4>
                <h4 class="col-md-6">Net Gross Recurring : CAD {{NetGrossRecurring | number : '1.2-2'}}</h4>
                <br>
                <div class="col-md-6">
                <div class="form-group" >
                  <label>When would you like to pull the amount from your account?</label>
                   <my-date-picker name="PlanStartDt" [options]="myDatePickerOptions"
                    [(ngModel)]="paymentDate"  placeholder="MM/dd/yyyy" [disabled]="disabled"></my-date-picker>
                    <!-- <input type="text" class="form-control"   formControlName="PlanStartDt"  appDatePicker [options]="myOptions"> -->

                 </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-12" *ngIf="paymentData">
            <div class="form-group text-center">
                <!-- <button class="btn btn-success btn-outline-rounded btn-info default-theme-next"> Submit</button> -->
                <button type="button"  class="dash-button dash-button--affirm loginFocusIndicator"
                 style="margin-bottom:10px" (click)="updatePaymenDate()">
                   <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                      <span *ngIf="!loading"  class="ng-binding" aria-hidden="false">Continue</span>
                      <span *ngIf="loading" class="" aria-hidden="true">Please wait</span>
                      <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                         <span class="button-loading">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                         </span>
                      </span>
                   </span>
                </button>
                <br>
              </div>
            </div>

        </div>
      </div>
      </div>
</section>
