
	<div class="limiter">
		<div class="container-login100" id="login_bg_outer">
			<div class="col-md-8" id="login_bg_inner">
			     <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
						 <div class="top30" style="">
             		<img routerLink="/join-us" src="assets/images/eflex-logo-white.png">
						 		<sup class="fa fa-lock" style="color:#fff"> Secure</sup><br>
						 </div>
						 <div class="support" style="">
							 <h4>
									Convenience. Cost Savings. Flexibility.</h4>
								<h3>
										Three simple ways eFlex is redefining health benefits in Canada.
								</h3>
								<br>
								<h3 style="color:#fff; font-size: 28px; font-weight: bold;"> Support</h3>
								<p><i class="fa fa-phone"></i> 1-855-440-3993</p>
						 </div>
						 <!-- <div class="saturn_3">
							<img src="assets/images/icon_cloud.png">
							</div> -->
           </div>
			</div>

			<div id="loginForm" class="col-md-4 wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form padding_form" [style.min-height.px]="screenHeight-100"  #loginForm="ngForm"(ngSubmit)="login(loginForm)">
					<span class="login100-form-title p-b-59" style="padding-top: 10px; padding-bottom:22px; font-weight:bold; color:#263e58">
						Login
					</span>
					<!-- <p style="color:#b1a9a9;font-size:16px; margin-top:-5px">Welcome to Eflex wrold!</p> -->
          <br>
					<br>
			    <div class="form-group">
			      <input type="text" id="username" name="username" autocomplete="off" required [(ngModel)]="username">
			      <span class="bar_line"></span>
			      <label>Username</label>
			    </div>

					<div class="form-group">
					 <input type="password" id="loginPassword" autocomplete="off" required [(ngModel)]="password" name="password">
					 <span class="fa fa-fw fa-eye field-astric toggle-password" (click)="togglePassword()"></span>
					 <span class="bar_line"></span>
					 <label>Password</label>
					 <br>

					 <p class="body-copy--medium">
							<a class="dash-link" (click)="openModal(1)" style="color: #fbb424;">
							Forgot Password
							</a>
					 </p>
				 </div>
					<br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
              <button *ngIf="!loading" [disabled]="!loginForm.valid" class="dash-button dash-button--affirm" type="submit">
                    <span  aria-hidden="false" class="ng-binding">Login</span>
              </button>

              <button *ngIf="loading" type="button" class="dash-button dash-button--affirm" [disabled]="!loginForm.valid">
                 <span class="ng-isolate-scope">
                    <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                    <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                       <span class="button-loading">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                       </span>
                    </span>
                 </span>
              </button>
						</div>
						<br>
						<p class="body-copy--medium"  style="padding-bottom: 20px;color:#b1a9a9; font-size:16px;">
							 Create an account ? <a class="dash-link" style="color:#fbb424" routerLink="/broker">Click here</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

  <section style="background:#449aba; display:none; height:100%;">
    <div class="col-md-12" style="background:#2b3e50; display:block; padding-right: 1px;
    padding-left: 1px;">
        <div class="board-2">
          <div class="col-md-2" style="background:#2b3e50; color:#fff; min-height: inherit">
            <img src="assets/images/eflex-logo-white.png" routerLink="/">
            <sup style="" class="fa fa-lock"> Secure Setup</sup>
          </div>

            <div class="col-md-10" style="background:#fff; padding-bottom:60px; overflow:auto" [style.min-height.px]="screenHeight - minusHeight">
              <div class="parsys responsivegrid">
                 <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12  ">
                    <div class="responsivegrid aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--default--4">
                       <div class="aem-Grid aem-Grid--default--4 aem-Grid--tablet--6 aem-Grid--phone--12  ">
                          <div class="lgn-form aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--default--4">
                             <div class="horrible-ie-wrapper">
                                <div id="log-in" class="dash-content-box
                                   dash-content-box--bordered
                                   dash-content-box--matched-height
                                   ct-triangles-img">
                                   <form  class="dash-form--fill-space" #loginForm="ngForm"(ngSubmit)="login(loginForm)" >
                                      <h2 class="log-in-trusted__heading">Sign In</h2>
                                      <!-- Sign In -->
                                      <div>
                                           <div id="log-in__input-username--section" class="dash-form__section">
                                            <label class="dash-form__field-label" for="username">
                                            Username
                                            </label>
                                            <input id="username" name="username" autocomplete="off" required [(ngModel)]="username" class="dash-form__field ng-trim-ignore" placeholder="enter your username" required type="text">
                                          </div>
                                         <div id="log-in__input-password--section" class="dash-form__section">
                                            <label class="dash-form__field-label" for="loginPassword">
                                            Password
                                            </label>
                                            <input id="loginPassword" autocomplete="off" required [(ngModel)]="password" name="password" placeholder="enter your password" class="dash-form__field ng-trim-ignore" required="" autocomplete="off" type="password">
                                            <p class="body-copy--medium" (click)="openModal(1)">
                                               <a class="dash-link">
                                               Forgot Password
                                               </a>
                                            </p>
                                         </div>
                                      </div>
                                      <button type="submit" class="dash-button dash-button--affirm dash-button--fill-width loginFocusIndicator"
                                      [disabled]="!loginForm.valid">
                                         <span default-text="Sign In" loading-text="Loading" class="ng-isolate-scope">
                                            <span  class="ng-binding" aria-hidden="false">Sign In</span>
                                            <span *ngIf="loading" class="" aria-hidden="true">Loading</span>
                                            <span *ngIf="loading" aria-hidden="true" class="ng-hide">
                                               <span class="button-loading">
                                                  <div class="bounce1"></div>
                                                  <div class="bounce2"></div>
                                                  <div class="bounce3"></div>
                                               </span>
                                            </span>
                                         </span>
                                      </button>
                                   </form>
                                </div>
                             </div>
                          </div>
                          <div class="new section aem-Grid-newComponent">
                             <div class="new newpar">
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="responsivegrid aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--8 aem-GridColumn--tablet--6">
                       <div class="aem-Grid aem-Grid--default--8 aem-Grid--tablet--6 aem-Grid--phone--12  ">
                          <div class="glb-enrol-now aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--newline aem-GridColumn--default--8 aem-GridColumn--tablet--6">
                             <div class="horrible-ie-wrapper">
                                <div class="dash-content-box          dash-content-box--borderless          dash-content-box--matched-height" style="border:1px solid; box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);">
                                   <div class="ie-flex-child log-in-enroll-subheading">
                                      <!-- Items inside this layer won't flex to fill space -->
                                      <h2>
                                         Enrol Today <!--KEY:LGN0027-->
                                      </h2>
                                      <p class="body-copy--large">
                                         We've made it easy for you to manage your account.
                                         Enrol today to enjoy convenient features from your home computer, phone
                                         or tablet. <!--KEY:LGN0028-->
                                      </p>
                                   </div>
                                   <ul class="log-in-trusted__list">
                                      <li class="log-in-trusted__item log-in-trusted__item--save-time">
                                         <div class="log-in-trusted__item__description body-copy--large">
                                            Save time <!--KEY:LGN0029,LGN0030,LGN0031-->
                                         </div>
                                      </li>
                                      <li class="log-in-trusted__item log-in-trusted__item--access">
                                         <div class="log-in-trusted__item__description body-copy--large">
                                            Access your account on any device <!--KEY:LGN0029,LGN0030,LGN0031-->
                                         </div>
                                      </li>
                                      <li class="log-in-trusted__item log-in-trusted__item--density">
                                         <div class="log-in-trusted__item__description body-copy--large">
                                            Everything you need in one place <!--KEY:LGN0029,LGN0030,LGN0031-->
                                         </div>
                                      </li>
                                   </ul>
                                   <button class="dash-button dash-button--affirm loginFocusIndicator" routerLink="/broker">
                                      Enrol<!--KEY:LGN0032-->
                                   </button>
                                </div>
                             </div>
                          </div>
                          <div class="new section aem-Grid-newComponent">
                             <div class="new newpar">
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="new section aem-Grid-newComponent">
                       <div class="new newpar">
                       </div>
                    </div>
                 </div>
              </div>

            </div>
        </div>
        <!-- <div class="col-md-12" style="bottom:0px; background: #2c3e50;">
            <app-footer></app-footer>
        </div> -->
    </div>
  </section>


<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="modal ? 'block' : 'none'">
<div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" (click)="modal = false;">&times;</button>
         <h4 class="modal-title">Forgot Your Password?</h4>
      </div>
      <div class="modal-body">
         <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
         <form class="forgot-your-password__form" #forgetForm="ngForm" (ngSubmit)="sendMail(forgetForm)">
            <div class="forgot-your-password__paragraph forgot-your-password__paragraph__content">
               <div class="htmleditor-text-wrapper " style="letter-spacing: 0.0em;"><b>Enter your  username  below, and we’ll send you an email in your registered email address.<br></b><br></div>
            </div>
            <div class="forgot-your-password__login-options">
               <fieldset class="forgot-your-password__fieldset">
                  <div class="forgot-your-password__paragraph--label-wrapper">
                     <label for="forgot-your-password__text-input--email" class="global-form-label global-form-label--required">
                       Username :
                     </label>
                  </div>
                 <input class="form-control input-md" #fusername="ngModel" required id="fusername" name="fusername" type="text" placeholder="joe_root"
                  [(ngModel)]="forgetForm.fusername">
                     <div class="alert alert-danger" [hidden]="fusername.valid">Please enter your username</div>

               </fieldset>
               <br>
               <div class="forgot-your-password__button-wrapper clear">
                 <button type="submit" class="dash-button dash-button--affirm loginFocusIndicator"
                 [disabled]="!forgetForm.valid">
                    <span default-text="send password" loading-text="Loading" class="ng-isolate-scope">
                       <span  class="ng-binding" aria-hidden="false">send password</span>
                       <span *ngIf="forgetLoading" class="" aria-hidden="true">Loading</span>
                       <span *ngIf="forgetLoading" aria-hidden="true" class="ng-hide">
                          <span class="button-loading">
                             <div class="bounce1"></div>
                             <div class="bounce2"></div>
                             <div class="bounce3"></div>
                          </span>
                       </span>
                    </span>
                 </button>
               </div>

            </div>
         </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal = false;">Close</button>
      </div>
   </div>
</div>
</div>

<div class="modal animated slideInDown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [style.display]="inactiveModal ? 'block' : 'none'" >
<div class="modal-dialog" style="top:10%">
   <!-- Modal content-->
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" (click)="inactiveModal = false;">&times;</button>
         <span class="modal-title">Account Status</span>
      </div>
      <div class="modal-body">
         <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
         <form class="forgot-your-password__form" style="text-align: center; color: red; font-weight: bold; font-size: 18px;">
            <div class="">
               <div class="htmleditor-text-wrapper" style="letter-spacing: 0.0em;">
                Your account has been marked inactive by the company owner.
                <br>
                Contact to eFlex : Thanks
              </div>
            </div>
         </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" (click)="inactiveModal = false;">Close</button>
      </div>
   </div>
</div>
</div>

<!-- <app-footer></app-footer> -->
