
<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-12">
                      <h1 class="profile__h1 border--bottom">
                          Help
                      </h1>
                  </div>
                </div>
                <div class="row-1">

                  <div id="frame" class="custom-chat">
                    <div id="sidepanel">
                      <div id="search">
                        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                        <input type="text" placeholder="Search by name..." [(ngModel)]="searchUser" name="searchUser" style="color:#fff !important" />
                      </div>
                      <div id="contacts">
                        <ul>
                          <ng-container *ngFor="let user of usersData | filterUser: searchUser">
                          <li class="contact"  [ngClass]="activeUser == user.UserId ? 'active':''" (click)="getMessages(user)">
                            <div class="wrap" >
                              <!-- <span class="contact-status online"></span> -->
                              <img src="assets/images/user-profile.png" alt="" />
                              <div class="unread_count" *ngIf="user.UnreadCount">
                                <i class="unread_count_text">{{user.UnreadCount}}</i>
                              </div>
                              <div class="meta">
                                <p class="name">{{user.Name}} {{user.UserTypeId == 2 && user.CompanyId != -1 ? '(Plan Admin)':''}}</p>
                                <p class="preview" style="margin-left:45px;" *ngIf="user.LatestMsgObj">
                                  <!-- {{user.LatestMsgObj.LatestMsg}}  -->
                                  {{textDecode(user.LatestMsgObj.LatestMsg)}}
                                  <br> {{user.LatestMsgObj.LatestMsgDate | datetime}}</p>
                              </div>
                            </div>
                          </li>
                        </ng-container>

                        </ul>
                      </div>

                    </div>
                    <div class="content">
                      <div class="contact-profile">
                        <img src="assets/images/user-profile.png" alt="" />
                        <h3>{{conversationsUserName}} {{recipientUserTypeId== 1 ? '(Owner)':''}}</h3>
                        <!-- <div class="social-media">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div> -->
                      </div>
                      <div class="messages" id="fixed" #scrollMe  (scroll)="onScroll()" >
                          <!--  (scroll)="onScroll()" [scrollTop]="scrollMe.scrollHeight"-->
                        <ul *ngIf="messagesData">
                          <li  *ngFor="let msg of messagesData | filterUnique; trackBy: MsgId" [ngClass]="msg.AmISender == true ? 'replies' : 'sent'">
                            <img src="assets/images/demo-user.png" alt="" />
                            <p>
                              {{textDecode(msg.Msg)}}
                              <!-- {{msg.Msg}} -->

                              <span *ngIf="msg.MsgFile"><a  href="{{hostUrl}}/{{companyId}}/{{msg.MsgFile}}" target="_blank"><br>
                                <img src="assets/images/attachment-icon.png"><br>
                               </a>
                               </span>
                               <br><span style="font-size:10px;">{{msg.MsgDate  | datetime}}</span></p>
                            <br>
                          </li>
                        </ul>
                        <h4 *ngIf="messagesData.length < 1" style="margin-top:10%; text-align:center">No Conversations</h4>
                      </div>
                      <div class="message-input">
                        <div class="wrap">
                              <!-- [onEnter]="onEnterFunction" -->
                          <!-- <input type="text" placeholder="Enter your message..."  (keyup.enter)="sendMessage()" [(ngModel)]="messageText" required name="messageText"/> -->
                          <emoji-input
                            [(model)]="messageText"
                            [textArea]="{cols: 10, rows: 1}"
                            [popupAnchor]="'bottom'"
                            (setPopupAction)="setPopupAction($event)">
                          </emoji-input>
                          <i (click)="openPopup()" class="fa fa-smile-o" style="font-size: 24px; bottom:4px; position: absolute;right: 95px; color: #fa9619;"></i>

                          <i class="fa fa-paperclip attachment"  (click)="file.click()" aria-hidden="true"></i>
                          <input type="file" style="display: none" id="profile_pic" #file (change)="uploadFile($event)" />

                          <button *ngIf="isServiceCall == false" type="button" class="submit" (click)="sendMessage()">Send</button>
                          <button disabled *ngIf="isServiceCall == true" class="submit" type="button">Sending...</button>
                      </div><br>
                      <!-- <div class="" *ngIf="uploadMsg"   style="margin-left:5px;">
                            {{uploadMsg}}<i class="fa fa-spinner fa-2x fa-spin"></i>
                      </div>
                      <div *ngIf="fileName"  style="margin-left: 5px;position: absolute; bottom: 10px; left: 10px;">
                          <a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank"><br>View attachment<br>  </a>
                      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>



    <div class="modal animated slideInDown"  [style.display]="openAttachmentModal ? 'block' : 'none'">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" (click)="cancelAttachment()">&times;</button>
               <span class="modal-title">Attachment</span>
            </div>
            <div class="modal-body">
               <!-- <p>Enter your email address below, and we’ll send you an email with instructions on how to reset your password.</p> -->
               <form  class="forgot-your-password__form">
                 <div  class="row form-group" style="text-align: center; height: 200px; margin: 0px auto;">
                   <div class="" *ngIf="uploadMsg"   style="margin-left:5px;">
                         <i class="fa fa-spinner fa-3x fa-spin"></i><br> {{uploadMsg}}
                   </div>

                   <div *ngIf="fileName && fileType =='pdf'"  style="text-align: center; height: 200px; margin: 0px auto;">
                       <i class="fa fa-file fa-4x"></i>
                       <a  href="{{hostUrl}}/{{companyId}}/{{fileName}}" target="_blank"><br>Click here to view attachment<br>  </a>
                   </div>
                    <img *ngIf="fileName && fileType !='pdf'"  src="{{hostUrl}}/{{companyId}}/{{fileName}}"  class="img-responsive" style="text-align: center; height: 200px; margin: 0px auto;">
                  </div>
                 <div class="row form-group">
                     <div class="col-md-12">
                       <!-- <emoji-input style="width:100%"
                         [(model)]="messageText"
                         [textArea]="{cols: 10, rows: 1}"
                         [popupAnchor]="'bottom'"
                         (setPopupAction)="setPopupAction($event)">
                       </emoji-input> -->
                       <input style="margin-top:10px" type="text" placeholder="Enter your message..." [(ngModel)]="messageText" name="messageText"/>
                       <!-- <i (click)="openPopup()" class="fa fa-smile-o" style="font-size: 24px; top: 35px; position: absolute;right: 20px; color: #fa9619;"></i> -->

                    </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
              <button *ngIf="!isServiceCall" (click)="sendAttachmentMsg()" class="fadeInLeft header-secured__log-out button log-out" type="button">
                   <span class="ng-binding">Send</span>
             </button>
              <button *ngIf="isServiceCall" class="fadeInLeft header-secured__log-out button log-out" type="button">
                  Please wait..
              </button>
              <button type="button" class="btn btn-danger" style="text-transform: uppercase;" data-dismiss="modal" (click)="cancelAttachment()">Cancel</button>
            </div>
         </div>
      </div>
    </div>
