
  <section style="background:#449aba; display:block; height:100%;">
    <div class="col-md-12" style="background:#2b3e50; display:block; padding-right:0px;
    padding-left: 0px;">

        <div class="board-2">
          <div class="col-md-3 col-lg-2 hidden-xs register-personal-left" style="background:#2b3e50; color:#fff;" [style.min-height.px]="screenHeight-20">
            <div class="for-top-logo">
            <img src="assets/images/eflex-logo-white.png" routerLink="/" style="padding-top:10px">
            <sup class="fa fa-lock" style="margin-left:80px"> Secure</sup>
          </div>
              <div class="right-support">
               <h2 class="title">Support</h2>
               <div class="contact-box">
                  <a href="tel:1-855-440-3993" style="color: #fff; text-align:left; font-size:16px">
                    <i class="fa fa-phone"></i> 1-855-440-3993
                  </a>
               </div>

               <div class="help-text-container" style="margin-top:60px">

                     <div class="help-text-box">
                       <p style="font-size:20px; font-weight:bold" *ngIf="companyId == -1">To Register, You will need:  </p>
                        <p style="font-size:20px; font-weight:bold" *ngIf="companyId != -1">To complete account setup, you will need:  </p>
                        <ul class="help-text-list">
                           <li *ngIf="companyId == -1">- Legal company information (Including Name and Address)</li>
                           <ng-container *ngIf="companyId != -1">
                           <li>- List of all active employees eligible for eFlex account (with emails) </li>
                           <li>- Void cheque for PAP details</li>
                           </ng-container>
                        </ul>
                     </div>

               </div>
              </div>
          </div>
          <!--for mobile  -->
          <div class="col-md-3 col-lg-2 hidden-lg hidden-md hidden-sm register-personal-left" style="background:#2b3e50; color:#fff;">
            <div class="for-top-logo">
            <img src="assets/images/eflex-logo-white.png" routerLink="/" style="padding-top:10px">
            <sup class="fa fa-lock" style="margin-left:80px"> Secure</sup>
          </div>
              <div class="right-support">
               <h2 class="title">Support</h2>
               <div class="contact-box">
                  <a href="tel:1-855-440-3993" style="color: #fff; text-align:left; font-size:16px">
                    <i class="fa fa-phone"></i> 1-855-440-3993
                  </a>
               </div>

               <div class="help-text-container" style="margin-top:60px">

                     <div class="help-text-box">
                       <p style="font-size:20px; font-weight:bold" *ngIf="companyId == -1">To Register, You will need:  </p>
                        <p style="font-size:20px; font-weight:bold" *ngIf="companyId != -1">To complete account setup, you will need:  </p>
                        <ul class="help-text-list">
                           <li *ngIf="companyId == -1">- Legal company information (Including Name and Address)</li>
                           <ng-container *ngIf="companyId != -1">
                           <li>- List of all active employees eligible for eFlex account (with emails) </li>
                           <li>- Void cheque for PAP details</li>
                           </ng-container>
                        </ul>
                     </div>

               </div>
              </div>
          </div>

            <div class="col-md-9 col-lg-10 register-personal-rgt" id="reg_panel" [style.min-height.px]="screenHeight - 20" style="background:#fff; padding-bottom: 30px; overflow:auto">
                <msw-navbar></msw-navbar>
                <div style="box-shadow: 3px 4px 14px 0px #a9a5a5; border-radius: 10px;">
                  <router-outlet></router-outlet>
                </div>
            </div>

              <div id="mybutton" *ngIf="loginUserName">
                <button class="feedback" (click)="isChat = !isChat"><i class="fa fa-comment"></i> Help</button>
              </div>
              <div class="chat-box" [style.display]="isChat ?'block':'none'">
                  <div class="header">
                      <select class="" style="width:150px" [(ngModel)]="eflexUserId" name="eflexUserId" (change)="getMessage()">
                          <option value="-1" >Select eFlex Admin</option>
                          <option *ngFor="let user of adminUsers" value="{{user.UserId}}">{{user.FirstName}} {{user.LastName}}</option>
                      </select>
                      <button class="pull-right" (click)="isChat = !isChat"><i class="fa fa-close"></i></button>
                  </div>
                  <div id="messages" class="messages">
                      <ul>
                        <ng-container *ngFor="let message of messagesData;">
                          <li *ngIf="message.AmISender == false">
                              <span class="left">{{this.textDecode(message.Msg)}}</span>
                              <div class="clear"></div>
                          </li>

                          <li *ngIf="message.AmISender == true">
                            <span class="right">{{this.textDecode(message.Msg)}}</span>
                            <div class="clear"></div>
                          </li>
                        </ng-container>
                      </ul>
                      <div class="clear"></div>
                  </div>
                  <div class="type_msg">
                    <div class="input_msg_write">
                      <input type="text" class="write_msg" placeholder="Type a message"  (keyup.enter)="sendMessage()" [(ngModel)]="messageText" required name="messageText"/>
                      <button class="msg_send_btn" type="button" (click)="sendMessage()" ><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                  </div>
              </div>
        </div>
        <!-- <div class="col-md-12" style="bottom:0px; background: #2c3e50;">
            <app-footer></app-footer>
        </div> -->
    </div>
  </section>
