.default-theme-btn{
  background: #2c3e50 !important;
  color: #fff;
}
.feedback {
  background-color : #fa9619;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: 4px;
  right: 5px;
  z-index: 1
}

.chat-box
   {
       width: 360px;
       position: fixed;
       bottom: 15px;
       right: 5px;
       z-index: 9999;
   }

   .header
   {
       padding: 10px;
       color: white;
       font-size: 14px;
       font-weight: bold;
       background-color: #2b3e4f;
   }

   .messages
   {
       padding: 10px;
       height: 300px;
       background-color: green;
       background-color: rgb(237, 239, 244);
       border-width: 1px;
       border-color: black;
       border-style: solid;
       overflow-y: scroll;
   }

   .messages ul
   {
       padding: 0px;
       list-style-type: none;
   }

   .messages ul li
   {
       height: auto;
       margin-bottom: 10px;
       clear: both;
       padding-left: 10px;
       padding-right: 10px;
   }

   .messages ul li span
   {
       display: inline-block;
       max-width: 200px;
       background-color: white;
       padding: 5px;
       border-radius: 4px;
       position: relative;
       border-width: 1px;
       border-style: solid;
       border-color: grey;
   }

   .messages ul li span.left
   {
       float: left;
   }

   .messages ul li span.left:after
   {
       content: "";
       display: inline-block;
       position: absolute;
       left: -8.5px;
       top: 7px;
       height: 0px;
       width: 0px;
       border-top: 8px solid transparent;
       border-bottom: 8px solid transparent;
       border-right: 8px solid white;
   }

   .messages ul li span.left:before
   {
       content: "";
       display: inline-block;
       position: absolute;
       left: -9px;
       top: 7px;
       height: 0px;
       width: 0px;
       border-top: 8px solid transparent;
       border-bottom: 8px solid transparent;
       border-right: 8px solid black;
   }

   .messages ul li span.right:after
   {
       content: "";
       display: inline-block;
       position: absolute;
       right: -8px;
       top: 6px;
       height: 0px;
       width: 0px;
       border-top: 8px solid transparent;
       border-bottom: 8px solid transparent;
       border-left: 8px solid #dbedfe;
   }

   .messages ul li span.right:before
   {
       content: "";
       display: inline-block;
       position: absolute;
       right: -9px;
       top: 6px;
       height: 0px;
       width: 0px;
       border-top: 8px solid transparent;
       border-bottom: 8px solid transparent;
       border-left: 8px solid black;
   }

   .messages ul li span.right
   {
       float: right;
       background-color: #dbedfe;
   }

   .clear
   {
       clear: both;
   }

   .input-box
   {
       background-color: white;
       height: 50px;
       padding: 0px;
   }

   .input-box textarea
   {
       padding: 0px;
       /* width: 278px; */
       height: 100%;
       display: inline-block;
       outline: 0px;
       border-width: 0px;
       resize: none;
       border-width: 1px;
       border-color: black;
       border-style: solid;
       font-size: 12px;
       padding: 10px;
       border-top-width: 0px;
   }

   .input_msg_write input {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     border: medium none;
     color: #4c4c4c;
     font-size: 15px;
     min-height: 48px;
     width: 100%;
   }

   .type_msg {border-top: 1px solid #c4c4c4;position: relative; background: #fff;
    border: 1px solid;}
   .msg_send_btn {
     background: #fa9619
 none repeat scroll 0 0;
     border: medium none;
     border-radius: 50%;
     color: #fff;
     cursor: pointer;
     font-size: 17px;
     height: 33px;
     position: absolute;
     right: 2px;
     top: 11px;
     width: 33px;
   }
   .messaging { padding: 0 0 50px 0;}
   .msg_history {
     height: 516px;
     overflow-y: auto;
   }

  .right-support{
    margin-top: 35px;
  }

.right-support > .title{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.right-support > .contact-box {
    border-bottom: 1px solid #99958d;
    padding: 5px 0;
    margin-bottom: 20px;
    margin-top: 0px
}
.help-text-list > li{
  font-size: 16px;
  padding-bottom: 15px;
}
