
<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
     <div class="page-background">
          <div class="site-content">

            <div class="container-fluid">
              <div class="row">
                  <div class="col-xs-12">
                      <h1 class="profile__h1 border--bottom">
                          Offers <!-- MESSAGE: Settings -->
                      </h1>
                      <div class="text-center">
                        <!-- <h3 style="text-align:center; font-size:25px">  Coming soon!! </h3> -->
                        <img src="assets/images/coming-soon.gif">
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
