

<main role="main" id="content">
   <div class="bannerIParsys iparsys parsys">
      <div class="iparys_inherited">
         <div class="glb-responsivegrid-container parbase section">
            <div class="landingBanner">
               <div class="container responsivegrid">
                  <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12  ">
                     <div class="name-component aem-GridColumn aem-GridColumn--default--12">
                        <section class="ncc-name" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div class="" style="position: relative;">
                              <div style="">
                                 {{companyName}}
                                 <!-- {{userName}} -->

                              </div>
                              <!-- End loading overlay -->
                           </div>
                        </section>
                     </div>
                     <div class="glb-rewards-information parbase aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6">
                        <section class="glb-rewards-containe" id="glb-rewards-container" style="position: relative;">
                           <!-- Begin loading overlay -->
                           <div class="" style="position: relative;">
                              <div class="glb-rewards-div">
                                 <div class="container-fluid glb-rewards-div-content" >
                                    <div class="row">
                                       <div class="">
                                          <!-- <div class="row">
                                             <div class="col-md-12 col-xs-12 rewardsTitle" role="heading" aria-level="2">

                                                 eflex Point
                                             </div>
                                             <div class="col-md-12 col-xs-12 rewards-card ng-binding">
                                                 <span>**** **** ****</span>
                                                 123
                                             </div>
                                             </div> -->
                                       </div>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rewardsValue" *ngIf="isShowButton">
                                          ${{amountDue | number : '1.2-2'}}
                                       </div>
                                       <div class="row rewardsTextADO">
                                         Available Balance
                                      </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="page-background">
      <div class="site-content member-content">
         <div class="row">
           <div class="col-md-6">

             <div  class="ct-square donut_deskTop-no" >
                <div class="ct-chart-donut" [chart]="plansChart"></div>

                <div class="outer">
                  <div class="l1">
                     <div style="">
                      Claims <br>
                      ${{claimedAmt | number : '1.2-2'}}
                     </div>
                  </div>
                  <div class="l2">
                     <div style="">
                      Available Balance<br>${{balanceAmt | number : '1.2-2'}}
                     </div>
                  </div>
                  <div class="l3">
                     <div style="">
                      Adjustment <br>${{adjAmt | number : '1.2-2'}}
                     </div>
                  </div>

             </div>
              <div class="text-center" *ngIf="isShowButton" style="padding:10px;">
                  <button routerLink="../add-claim"  name="button" class="dash-button dash-button--affirm loginFocusIndicator" style="margin-top:2px">Load card</button>
              </div>

             </div>
           </div>
            <div class="col-md-6">
               <div class="row-1" style="padding:10px">
                 <div class="panel panel-default">
                    <div class="transactions__tab pending-tab">
                       <span id="upcoming_trns" class="transactions__tab__heading_yellow" (click)="isPending =!isPending">
                       Pending Transactions <span class="pull-right"  [ngClass]="isPending == true ? 'fa fa-minus' : 'fa fa-plus'" style="margin-top:15px"></span>
                       </span>
                       <div [ngClass]="isPending == true ? 'show': 'hide'" class="table-responsive">
                          <table class="table">
                             <tbody>
                                <tr *ngFor="let utrans of pendingTransaction; ">
                                   <td style="width:20%">{{utrans.Date | mydate}}
                                     <!-- {{utrans.Date | mydate}} -->
                                   </td>
                                   <td>{{utrans.Details}}</td>
                                   <td>{{utrans.PaymentType}}</td>
                                   <td>{{utrans.TypeId}}</td>
                                   <ng-container *ngIf="utrans.ClaimId > 0 && utrans.ClaimReceipt == '' && utrans.PaymentType == 'WDR'; then thenBlock; else elseBlock"></ng-container>
                                   <ng-template #thenBlock>
                                     <td  style="background-color:#fa9619; color:#fff">
                                      <a routerLink="../update-claim-detail/{{utrans.ClaimId}}" style="color:#fff"> ${{utrans.Amount | number : '1.2-2'}}</a>
                                     </td>
                                   </ng-template>
                                   <ng-template #elseBlock>
                                     <td>
                                      <span> ${{utrans.Amount | number : '1.2-2'}}</span>
                                     </td>
                                   </ng-template>
                                   <td>

                                   </td>
                                </tr>
                                <tr *ngIf="pendingTransaction == ''">
                                  <td colspan="3">No transactions</td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>

                        <div class="panel panel-default">
                           <div class="transactions__tab pending-tab">
                              <a  id="pending" class="transactions__tab__heading" [ngClass]="isCurrent == true ? 'transactions__tab__heading--open-children' : 'transactions__tab__heading--has-children'" (click)="isCurrent =!isCurrent">
                              Current Transactions
                              </a>

                              <div [ngClass]="isCurrent == true ? 'show': 'hide'" class="table-responsive">
                                 <table class="table">
                                    <tbody>
                                       <tr *ngFor="let utrans of currentTransaction;">
                                          <td style="width:20%">{{utrans.Date | mydate}}</td>
                                          <td>{{utrans.Details}}</td>
                                          <td>{{utrans.PaymentType}}</td>
                                          <td>{{utrans.TypeId}}</td>
                                          <!-- <td>${{utrans.Amount | number : '1.2-2'}}</td> -->
                                          <ng-container *ngIf="utrans.ClaimId > 0 && utrans.ClaimReceipt == '' && utrans.PaymentType == 'WDR'; then thenBlock; else elseBlock"></ng-container>
                                          <ng-template #thenBlock>
                                            <td  style="background-color:#fa9619; color:#fff">
                                            <a routerLink="../update-claim-detail/{{utrans.ClaimId}}" style="color:#fff"> ${{utrans.Amount | number : '1.2-2'}}</a>
                                            </td>
                                          </ng-template>
                                          <ng-template #elseBlock>
                                            <td>
                                             <span> ${{utrans.Amount | number : '1.2-2'}}</span>
                                            </td>
                                          </ng-template>
                                       </tr>
                                       <tr *ngIf="currentTransaction == ''">
                                         <td colspan="3">No transactions</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</main>
