.outer{
  position: absolute;
  border-radius: 50%;
  width: 243px;
  height: 241px;
  background: #dedede;
  overflow: hidden;
  top: 77px;
  left: 29.5%;
}
.rewardsTextADO{
    font-weight: 600;
    font-size: 1.25em;
    font-family: Lato;
}
.donut_deskTop{
  position: relative; display:block; top:-182px;
}
rect :fill{
  fill-opacity: 0.1 !important;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .donut_deskTop{
  position: relative; display:block; top:0px !important;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }

}

@media only screen and (max-width: 1440px) and (max-height: 2960px) and (orientation: portrait) {
  .outer{
    left:27.5%;
  }
  .balWheelText {
    font-size: 16px; }
  #topText {
    top: -30px;
    /* padding: 30px 75px 25px 80px; */
    padding: 36px 75px 25px 127px;
    margin-left: -5px; }
  #centerText {
    padding: 15px 85px 25px 124px;
    margin-top: 12px;
    margin-left: -8px; }
  #bottomText {
    top: 37px;
    margin-left: -15px;
    padding: 15px 70px 30px 133px; } }

/*This targets Samsung Galaxy Tab 2  */
@media only screen and (min-device-width: 600px) and (max-device-width: 768px) and (orientation: portrait) {
  .balWheelText {
    font-size: 16px; }
  #topText {
    top: -23px;
    padding: 30px 96px 25px 109px;
    margin-left: -21px; }
  #centerText {
    padding: 20px 110px 25px 122px;
    margin-top: 12px;
    margin-left: -25px; }
  #bottomText {
    top: 37px;
    margin-left: -20px;
    padding: 15px 90px 30px 108px; } }

/* Nexus 6p portrait START*/
@media only screen and (min-width: 412px) and (max-width: 435px) and (min-height: 732px) and (max-height: 773px) and (orientation: portrait) {
  .balWheelText {
    font-size: 14px; }
  .balWheelText span {
    font-size: 16px; }
  #topText {
    top: -28px;
    padding: 30px 85px 25px 88px;
    margin-left: -15px; }
  #centerText {
    padding: 18px 93px 30px 100px;
    margin-top: 15px;
    margin-left: -15px; }
  #bottomText {
    top: 40px;
    margin-left: -10px;
    padding: 15px 72px 30px 82px; } }

/* Nexus 6p portrait END*/
/*Galaxy S5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }
  #topText {
    top: -38px;
    padding: 30px 70px 25px 70px;
    margin-left: 0px; }
  #centerText {
    padding: 15px 70px 25px 79px;
    margin-top: 12px;
    margin-left: -8px; }
  #bottomText {
    top: 46px;
    margin-left: 7px;
    padding: 10px 60px 30px 58px; }
  .fr #centerText {
    padding-top: 5px; }
  .fr #bottomText {
    top: 37px;
    padding-top: 1px; } }

/* samsung s7 portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio: 4) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
  /* CSS GO HERE */
  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }
  #topText {
    top: -38px;
    padding: 30px 70px 25px 70px;
    margin-left: 0px; }
  #centerText {
    padding: 15px 70px 25px 79px;
    margin-top: 12px;
    margin-left: -8px; }
  #bottomText {
    top: 46px;
    margin-left: 7px;
    padding: 10px 60px 30px 58px; } }

/**
 * Build path settings
 */
/**
 * Breakpoints (There are no common breakpoints so these are just a suggestion)
 */
/*iPhone 5 & 5S in portrait  */
/*iPhone 6 in portrait  */
/*iPhone 6 Plus in portrait  */
/*Nexus 6P in portrait  */
/* CSS target for IE10+ browsers */
/**
 * Font Stacks
 */
/**
 * Color Stacks
 */
/**
 * Font Icons
 */
/*
 * Nav Colors
 */
/* Colors for the hamburger menu */
/**
 * Foundation for Sites by ZURB
 * Version 6.2.1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation site settings
 */
/*iPhone 5 & 5S in portrait START   */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }
  .pieChart {
    width: 100%;
    margin: 0px;
    padding: 0em;
    min-height: auto; }
  .ct-slice-donut {
    stroke-width: 20px !important; }
  g.ct-series.ct-series-a.ct-fill-donut path,
  g.ct-series.ct-series-b.ct-fill-donut path,
  g.ct-series.ct-series-c.ct-fill-donut path {
    stroke: #fff;
    stroke-width: 30px !important;
    stroke-linejoin: round; }
  .balWheelText {
    font-size: 12px; }
  .balWheelText span {
    font-size: 14px; }
  #bottomText {
    top: 46px;
    margin-left: 20px;
    padding: 4px 60px 30px 45px; }
  #centerText {
    padding: 8px 60px 25px 60px;
    margin-top: 14px;
    margin-left: 9px; }
  #topText {
    top: -45px;
    padding: 30px 60px 25px 60px;
    margin-left: 5px; } }

/*iPhone 5 & 5S in portrait END   */
/*iPhone 6 in portrait START   */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }
  .balWheelText {
    font-size: 14px; }
  .balWheelText span {
    font-size: 16px; }
  #topText {
    top: -39px;
    padding: 30px 70px 25px 70px;
    margin-left: -4px; }
  #centerText {
    padding: 18px 80px 25px 80px;
    margin-top: 17px;
    margin-left: -7px; }
  #bottomText {
    top: 46px;
    margin-left: 2px;
    padding: 8px 60px 30px 60px; } }

/*iPhone 6 in portrait END   */
/*iPhone 6 Plus in portrait START   */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }
  .balWheelText {
    font-size: 14px; }
  .balWheelText span {
    font-size: 18px; }
  #topText {
    top: -29px;
    padding: 30px 85px 25px 85px;
    margin-left: 0px; }
  #centerText {
    padding: 18px 95px 25px 95px;
    margin-top: 17px;
    margin-left: -7px; }
  #bottomText {
    top: 38px;
    margin-left: -2px;
    padding: 8px 80px 30px 80px; } }

/*iPhone 6 Plus in portrait END   */



.balWheelText {
  background-color: #fff;
  /* padding: 1.5625em 7.5em 1.5625em 7.5em; */
  padding: 2.5625em 7.5em 2.5625em 8.5em;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 0.9375em;
  margin-left: -0.3125em;
  font-weight: bold; }

.balWheelText span {
  /* font-size: 1.875em; */
  font-size: 16px;
  font-weight: bold; }

.balWheelText .dueDate {
  font-size: 0.75em;
  font-weight: bold;
  top: -0.3125em;
  position: relative; }

.ct-square > svg {
  z-index: 2; }

#topText {
  background-color: #ef3239;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  top: -0.1875em;
  position: relative;
  padding-bottom: 0.9375em; }

#centerText {
  background-color: #5f6263; }

#bottomText {
  background-color: #00b356;
  padding-top: 0.8125em;
  /* border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em; */
  top: 0.3125em;
  position: relative; }

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #5f6263; }

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #ef3239; }

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
  stroke: #00b356; }

g.ct-series.ct-series-a.ct-fill-donut path,
g.ct-series.ct-series-b.ct-fill-donut path,
g.ct-series.ct-series-c.ct-fill-donut path {
  stroke: #fff;
  stroke-width: 80px !important;
  stroke-linejoin: round; }

.tooltipster-base {
  border: 0px solid #5d5d5d !important;
  padding: 3px;
  border-radius: 2px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2); }

.chart-loader {
  min-height: inherit;
  padding-top: 50%;
  background-color: #fff;
  position: relative; }

/*Responsive styles for browsers*/
@media (max-width: 990px) {
  .ct-slice-donut {
    stroke-width: 60px !important; }
  g.ct-series.ct-series-a.ct-fill-donut path,
  g.ct-series.ct-series-b.ct-fill-donut path,
  g.ct-series.ct-series-c.ct-fill-donut path {
    stroke: #fff;
    stroke-width: 70px !important;
    stroke-linejoin: round; }
  .balWheelText span {
    font-size: 25px; }
  .balWheelText {
    padding: 25px 110px;
    font-size: 15px;
    margin-left: 7px; }
  #topText {
    top: -16px;
    padding: 25px 107px 25px 134px;
    margin-left: -20px;
    position: relative; }
  #centerText {
    padding: 19px 126px 30px 126px;
    margin-left: -6px;
    margin-top: 4px;
    position: relative; }
  #bottomText {
    padding: 10px 110px 30px 125px;
    top: 14px;
    margin-left: -11px;
    position: relative; } }

@media (max-width: 950px) {
  .balWheelText span {
    font-size: 21px; } }

@media (max-width: 900px) {
  .balWheelText span {
    font-size: 20px; }
  #bottomText {
    top: 21px; }
  #centerText {
    padding: 15px 126px 30px 126px;
    margin-top: 7px; }
  .pieChart {
    min-height: auto; } }

@media (max-width: 870px) {
  .ct-slice-donut {
    stroke-width: 50px !important; }
  g.ct-series.ct-series-a.ct-fill-donut path,
  g.ct-series.ct-series-b.ct-fill-donut path,
  g.ct-series.ct-series-c.ct-fill-donut path {
    stroke: #fff;
    stroke-width: 60px !important;
    stroke-linejoin: round; }
  .balWheelText {
    font-size: 14px; }
  .balWheelText span {
    font-size: 17px; }
  #bottomText {
    top: 23px;
    padding: 6px 100px 30px 100px;
    margin-left: 5px;
    border-bottom-left-radius: 12em;
    border-bottom-right-radius: 12em; }
  #centerText {
    padding: 10px 90px 30px 95px;
    margin-top: 7px;
    margin-left: 0px; }
  #topText {
    top: -21px;
    padding: 25px 90px 25px 100px;
    margin-left: -2px;
    position: relative;
    border-top-left-radius: 12em;
    border-top-right-radius: 12em; } }

@media (max-width: 872px) {
  #bottomText {
    top: 27px;
    margin-left: 3px; }
  #centerText {
    padding: 10px 90px 30px 95px;
    margin-top: 10px;
    margin-left: 0px; }
  #topText {
    top: -21px;
    padding: 30px 90px 30px 100px;
    margin-left: -2px;
    position: relative;
    border-top-left-radius: 12em;
    border-top-right-radius: 12em; } }

@media (max-width: 830px) {
  #topText {
    padding: 25px 90px 30px 100px; } }

/*BELOW 768 BREAKPOINT STYLES ----------- START   */
@media (max-width: 768px) {
  .donut_deskTop{
    position: relative; display:block; top:0px !important;
  }
  .ct-slice-donut {
    stroke-width: 30px !important; }
  g.ct-series.ct-series-a.ct-fill-donut path,
  g.ct-series.ct-series-b.ct-fill-donut path,
  g.ct-series.ct-series-c.ct-fill-donut path {
    stroke: #fff;
    stroke-width: 40px !important;
    stroke-linejoin: round; }
  .balWheelText {
    font-size: 18px; }
  .balWheelText span {
    font-size: 22px; }
  #bottomText {
    top: 30px;
    margin-left: 3px;
    padding: 12px 100px 30px 100px; }
  #centerText {
    padding: 16px 100px 25px 100px;
    margin-top: 0px;
    margin-left: -3px; }
  #topText {
    top: -27px;
    padding: 30px 90px 25px 100px;
    margin-left: -2px; }

    .outer{
      left: 35%;
    }
   }

@media (max-width: 460px) {
  .balWheelText {
    font-size: 15px; }
  .balWheelText span {
    font-size: 20px; }
    .outer{
      left: 23%;
    }


   }

@media (max-width: 430px) {
  .balWheelText span {
    font-size: 18px; }
  #bottomText {
    top: 38px;
    margin-left: 25px;
    padding: 10px 90px 30px 65px; }
  #centerText {
    padding: 17px 100px 25px 100px;
    margin-top: 7px;
    margin-left: -2px; }
  #topText {
    top: -32px;
    padding: 30px 90px 25px 100px;
    margin-left: -4px; } }

@media (max-width: 415px) {
  .balWheelText {
    font-size: 12px; }
  .balWheelText span {
    font-size: 15px; }
  #bottomText {
    top: 10px;
      margin-left: 0px;
      padding: 20px 88px 41px 100px;
  }
  #centerText {
    padding: 17px 100px 25px 100px;
    margin-top: 7px;
    margin-left: -2px; }
  #topText {
    top: -32px;
    padding: 50px 104px 25px 100px;
    margin-left: -4px; } }

@media (max-width: 390px) {
  .ct-fill-donut-label{
        left: -25px !important;
  }
  .balWheelText {
    font-size: 12px; }
  .balWheelText span {
    font-size: 14px; }
  #bottomText {
    top: -13px;
  padding: 31px 100px 25px 80px;
  margin-left: 23px; }
  #centerText {
    padding: 14px 120px 25px 80px;
  margin-top: 6px;
  margin-left: 25px; }
  #topText {
    top: 0px;
padding: 23px 141px 65px 90px;
margin-left: 12px; }
  .pieChart {
    width: 100%;
    margin: 1em auto;
    padding: 0em;
    min-height: 32.1875em; }

    .outer{
      position: absolute;
      border-radius: 50%;
      width: 225px;
      height: 225px;
      background: #dedede;
      overflow: hidden;
      top: 85px;
      left: 6.4em;
      left: 22%
    }
    .rewardsValue {
      padding: 10px 0px 0px 10px;
      text-align: center;
  }

  }

    /* .balWheelText {
    	background-color: #a75151;
    	padding: 1.5625em 7.5em 1.5625em 7.5em;
    	z-index: 1;
    	text-align: center;
    	color: #fff;
    	font-size: 0.9375em;
    	margin-left: -0.3125em;
    	font-weight: bold;
    } */

  .l1{
    width: 100%;
    height: 80px;
    background: #fa9619
;
    overflow: hidden;
    float: left;
    text-align: center;
    color: #fff;
    z-index: -999;
    padding-top: 13px;
    padding-bottom: 0px;
  }
  .l2{
    width: 100%;
    height: 80px;
    background: #5f6263;
    overflow: hidden;
    float: left;
    text-align: center;
    color: #fff;
    z-index: -999;
    padding-top: 12px;
    padding-bottom: 0px;
  }
  .l3{
    width: 100%;
    height: 90px;
    background: #2b3e4f;
    overflow: hidden;
    float: left;
    text-align: center;
    color: #fff;
    z-index: -999;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  @media only screen and (max-width: 767px){
    .rewardsValue, .cashValue {
        padding: 10px 0px 0px 0px;
        text-align: center;
    }
  }
